<tr class="row1 class-5 class-9 class-8 not-common is-equipment">
	<td data-raw="-3 Kordel der beißenden Kälte"><a href="http://portal.wow-alive.de/item/47084" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_belt_52.jpg");'> </span> <strong>Kordel der beißenden Kälte</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="258"> 258 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Gürtel <em>(Stoff)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="3"> Heroisch 25 </td>
</tr>
<tr class="row2 class-7 not-common is-equipment">
	<td data-raw="-3 Stiefel der bebenden Erde"><a href="http://portal.wow-alive.de/item/47090" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_boots_chain_06.jpg");'> </span> <strong>Stiefel der bebenden Erde</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Füße <em>(Kette)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
</tr>
<tr class="row1 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common">
	<td data-raw="-3 Muster: Schwarze Chitinarmschienen"><a href="http://portal.wow-alive.de/item/47629" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_04.jpg");'> </span> <strong>Muster: Schwarze Chitinarmschienen</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="85"> 85 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="1"> Sehr Niedrig </td>
	<td data-raw="1 2 3"> Mehrere </td>
</tr>
<tr class="row2 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common">
	<td data-raw="-3 Muster: Juwelenbesetzte Armschienen des Zauberers"><a href="http://portal.wow-alive.de/item/47639" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_04.jpg");'> </span> <strong>Muster: Juwelenbesetzte Armschienen des Zauberers</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="85"> 85 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="1"> Sehr Niedrig </td>
	<td data-raw="1 2 3"> Mehrere </td>
</tr>
<tr class="row1 class-3 class-7 not-common is-equipment">
	<td data-raw="-3 Armschienen des stillen Massakers"><a href="http://portal.wow-alive.de/item/47442" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_bracer_38.jpg");'> </span> <strong>Armschienen des stillen Massakers</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="258"> 258 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Handgelenke <em>(Kette)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="3"> Heroisch 25 </td>
</tr>
<tr class="row2 class-5 class-9 class-7 class-11 class-8 not-common is-equipment">
	<td data-raw="-3 Klinge des Sonnenhäscherjüngers"><a href="http://portal.wow-alive.de/item/47874" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_weapon_shortblade_93.jpg");'> </span> <strong>Klinge des Sonnenhäscherjüngers</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="232"> 232 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Waffenhand <em>(Dolch)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="0"> Normal 10 </td>
</tr>
<tr class="row1 class-5 class-9 class-8 not-common is-equipment">
	<td data-raw="-3 Sandalen des Sonnenhäschermagus&#39;"><a href="http://portal.wow-alive.de/item/47873" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_boots_cloth_17.jpg");'> </span> <strong>Sandalen des Sonnenhäschermagus&#39;</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="232"> 232 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Füße <em>(Stoff)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="0"> Normal 10 </td>
</tr>
<tr class="row2 class-3 class-7 class-4 class-11 not-common is-equipment">
	<td data-raw="-3 Band der gleichgültigen Aggression"><a href="http://portal.wow-alive.de/item/47443" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_jewelry_ring_65.jpg");'> </span> <strong>Band der gleichgültigen Aggression</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="258"> 258 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Finger </td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="3"> Heroisch 25 </td>
</tr>
<tr class="row1 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common is-equipment">
	<td data-raw="-3 Talisman der flüchtigen Macht"><a href="http://portal.wow-alive.de/item/47946" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_jewelry_necklace_27.jpg");'> </span> <strong>Talisman der flüchtigen Macht</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Schmuck </td>
	<td data-raw="4"> Hoch </td>
	<td data-raw="2"> Heroisch 10 </td>
</tr>
<tr class="row2 class-3 class-7 not-common is-equipment">
	<td data-raw="-3 Armschienen des stillen Massakers"><a href="http://portal.wow-alive.de/item/47281" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_bracer_38.jpg");'> </span> <strong>Armschienen des stillen Massakers</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Handgelenke <em>(Kette)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
</tr>
<tr class="row1 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common">
	<td data-raw="-3 Muster: Drachenschuppenarmschienen des Kreuzfahrers"><a href="http://portal.wow-alive.de/item/47648" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_04.jpg");'> </span> <strong>Muster: Drachenschuppenarmschienen des Kreuzfahrers</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="85"> 85 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="1"> Sehr Niedrig </td>
	<td data-raw="1 2 3"> Mehrere </td>
</tr>
<tr class="row2 class-1 class-2 class-6 class-11 not-common is-equipment">
	<td data-raw="-3 Eifer der Frosterben"><a href="http://portal.wow-alive.de/item/47949" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_jewelry_talisman_02.jpg");'> </span> <strong>Eifer der Frosterben</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Schmuck </td>
	<td data-raw="4"> Hoch </td>
	<td data-raw="2"> Heroisch 10 </td>
</tr>
<tr class="row1 class-7 class-2 not-common is-equipment">
	<td data-raw="-3 Bastion der Reinheit"><a href="http://portal.wow-alive.de/item/47085" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_shield_69.jpg");'> </span> <strong>Bastion der Reinheit</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="258"> 258 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Schild </td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="3"> Heroisch 25 </td>
</tr>
<tr class="row2 class-2 not-common is-equipment">
	<td data-raw="-3 Unterarmschienen des zerbrochenen Bunds"><a href="http://portal.wow-alive.de/item/47093" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_bracer_28b.jpg");'> </span> <strong>Unterarmschienen des zerbrochenen Bunds</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Handgelenke <em>(Platte)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
</tr>
<tr class="row1 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common">
	<td data-raw="-3 Muster: Armschienen des schnellen Todes"><a href="http://portal.wow-alive.de/item/47647" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_04.jpg");'> </span> <strong>Muster: Armschienen des schnellen Todes</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="85"> 85 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="1"> Sehr Niedrig </td>
	<td data-raw="1 2 3"> Mehrere </td>
</tr>
<tr class="row2 class-3 class-7 not-common is-equipment">
	<td data-raw="-3 Helm des Silbernen Waldläufers"><a href="http://portal.wow-alive.de/item/47942" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_helmet_95.jpg");'> </span> <strong>Helm des Silbernen Waldläufers</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Kopf <em>(Kette)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="2"> Heroisch 10 </td>
</tr>
<tr class="row1 class-7 not-common is-equipment">
	<td data-raw="-3 Stiefel der bebenden Erde"><a href="http://portal.wow-alive.de/item/47099" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_boots_chain_06.jpg");'> </span> <strong>Stiefel der bebenden Erde</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="258"> 258 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Füße <em>(Kette)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="3"> Heroisch 25 </td>
</tr>
<tr class="row2 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common is-equipment">
	<td data-raw="-3 Fetisch der flüchtigen Macht"><a href="http://portal.wow-alive.de/item/48018" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_jewelry_necklace_27.jpg");'> </span> <strong>Fetisch der flüchtigen Macht</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Schmuck </td>
	<td data-raw="4"> Hoch </td>
	<td data-raw="2"> Heroisch 10 </td>
</tr>
<tr class="row1 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common">
	<td data-raw="-3 Muster: Königliche Mondgespinstrobe"><a href="http://portal.wow-alive.de/item/47657" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_04.jpg");'> </span> <strong>Muster: Königliche Mondgespinstrobe</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="85"> 85 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="1"> Sehr Niedrig </td>
	<td data-raw="1 2 3"> Mehrere </td>
</tr>
<tr class="row2 class-5 class-9 class-7 class-2 class-11 class-8 not-common is-equipment">
	<td data-raw="-3 Bindendes Licht"><a href="http://portal.wow-alive.de/item/47947" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_misc_rune_11.jpg");'> </span> <strong>Bindendes Licht</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Schmuck </td>
	<td data-raw="4"> Hoch </td>
	<td data-raw="2"> Heroisch 10 </td>
</tr>
<tr class="row1 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common">
	<td data-raw="-3 Pläne: Sonnengeschmiedete Armschienen"><a href="http://portal.wow-alive.de/item/47627" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_04.jpg");'> </span> <strong>Pläne: Sonnengeschmiedete Armschienen</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="85"> 85 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="1"> Sehr Niedrig </td>
	<td data-raw="1 2 3"> Mehrere </td>
</tr>
<tr class="row2 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common">
	<td data-raw="-3 Pläne: Saronitschwertbrecher"><a href="http://portal.wow-alive.de/item/47641" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_04.jpg");'> </span> <strong>Pläne: Saronitschwertbrecher</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="85"> 85 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="1"> Sehr Niedrig </td>
	<td data-raw="1 2 3"> Mehrere </td>
</tr>
<tr class="row1 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common">
	<td data-raw="-3 Muster: Merlins Robe"><a href="http://portal.wow-alive.de/item/47638" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_04.jpg");'> </span> <strong>Muster: Merlins Robe</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="85"> 85 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="1"> Sehr Niedrig </td>
	<td data-raw="1 2 3"> Mehrere </td>
</tr>
<tr class="row2 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common">
	<td data-raw="-3 Muster: Roben der Mondfinsternis"><a href="http://portal.wow-alive.de/item/47652" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_04.jpg");'> </span> <strong>Muster: Roben der Mondfinsternis</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="85"> 85 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="1"> Sehr Niedrig </td>
	<td data-raw="1 2 3"> Mehrere </td>
</tr>
<tr class="row1 class-7 not-common is-equipment">
	<td data-raw="-3 Gamaschen des verborgenen Hasses"><a href="http://portal.wow-alive.de/item/47450" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_pants_mail_28.jpg");'> </span> <strong>Gamaschen des verborgenen Hasses</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="258"> 258 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Beine <em>(Kette)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="3"> Heroisch 25 </td>
</tr>
<tr class="row2 class-1 class-2 class-6 not-common is-equipment">
	<td data-raw="-3 Gürtel der blutigen Narben"><a href="http://portal.wow-alive.de/item/47444" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_belt_46b.jpg");'> </span> <strong>Gürtel der blutigen Narben</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="258"> 258 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Gürtel <em>(Platte)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="3"> Heroisch 25 </td>
</tr>
<tr class="row1 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common">
	<td data-raw="-3 Pläne: Titanklingenplatte"><a href="http://portal.wow-alive.de/item/47624" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_04.jpg");'> </span> <strong>Pläne: Titanklingenplatte</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="85"> 85 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="1"> Sehr Niedrig </td>
	<td data-raw="1 2 3"> Mehrere </td>
</tr>
<tr class="row2 class-1 class-2 class-6 not-common is-equipment">
	<td data-raw="-3 Gesichtsschutz des Silbernen Champions"><a href="http://portal.wow-alive.de/item/47943" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_helmet_25.jpg");'> </span> <strong>Gesichtsschutz des Silbernen Champions</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Kopf <em>(Platte)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="2"> Heroisch 10 </td>
</tr>
<tr class="row1 class-5 class-9 class-7 class-2 class-11 class-8 not-common is-equipment">
	<td data-raw="-3 Bindendes Gestein"><a href="http://portal.wow-alive.de/item/48019" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_misc_rune_11.jpg");'> </span> <strong>Bindendes Gestein</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Schmuck </td>
	<td data-raw="4"> Hoch </td>
	<td data-raw="2"> Heroisch 10 </td>
</tr>
<tr class="row2 class-1 class-2 class-6 not-common is-equipment">
	<td data-raw="-3 Gurt der blutigen Narben"><a href="http://portal.wow-alive.de/item/47076" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_belt_48c.jpg");'> </span> <strong>Gurt der blutigen Narben</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="258"> 258 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Gürtel <em>(Platte)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="3"> Heroisch 25 </td>
</tr>
<tr class="row1 class-4 class-11 not-common is-equipment">
	<td data-raw="-3 Eiswandlertreter"><a href="http://portal.wow-alive.de/item/47445" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_boots_leather_04a.jpg");'> </span> <strong>Eiswandlertreter</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="258"> 258 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Füße <em>(Leder)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="3"> Heroisch 25 </td>
</tr>
<tr class="row2 class-1 class-2 class-6 not-common is-equipment">
	<td data-raw="-3 Schulterstücke des Silbernen Verteidigers"><a href="http://portal.wow-alive.de/item/47944" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_shoulder_20.jpg");'> </span> <strong>Schulterstücke des Silbernen Verteidigers</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Schultern <em>(Platte)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="2"> Heroisch 10 </td>
</tr>
<tr class="row1 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common">
	<td data-raw="-3 Pläne: Brustplatte des Weißen Ritters"><a href="http://portal.wow-alive.de/item/47640" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_04.jpg");'> </span> <strong>Pläne: Brustplatte des Weißen Ritters</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="85"> 85 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="1"> Sehr Niedrig </td>
	<td data-raw="1 2 3"> Mehrere </td>
</tr>
<tr class="row2 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common">
	<td data-raw="-3 Muster: Armschützer des Mondschattens"><a href="http://portal.wow-alive.de/item/47653" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_04.jpg");'> </span> <strong>Muster: Armschützer des Mondschattens</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="85"> 85 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="1"> Sehr Niedrig </td>
	<td data-raw="1 2 3"> Mehrere </td>
</tr>
<tr class="row1 class-7 not-common is-equipment">
	<td data-raw="-3 Beinschützer des verborgenen Hasses"><a href="http://portal.wow-alive.de/item/47083" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_pants_mail_25.jpg");'> </span> <strong>Beinschützer des verborgenen Hasses</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Beine <em>(Kette)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
</tr>
<tr class="row2 class-4 class-11 not-common is-equipment">
	<td data-raw="-3 Treter des Eiswandlers"><a href="http://portal.wow-alive.de/item/47077" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_boots_leather_02.jpg");'> </span> <strong>Treter des Eiswandlers</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="258"> 258 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Füße <em>(Leder)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="3"> Heroisch 25 </td>
</tr>
<tr class="row1 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common">
	<td data-raw="-3 Muster: Juwelenbesetzte Armschienen des Zauberers"><a href="http://portal.wow-alive.de/item/47654" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_04.jpg");'> </span> <strong>Muster: Juwelenbesetzte Armschienen des Zauberers</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="85"> 85 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="1"> Sehr Niedrig </td>
	<td data-raw="1 2 3"> Mehrere </td>
</tr>
<tr class="row2 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common">
	<td data-raw="-3 Muster: Königliche Mondgespinstarmschienen"><a href="http://portal.wow-alive.de/item/47637" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_04.jpg");'> </span> <strong>Muster: Königliche Mondgespinstarmschienen</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="85"> 85 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="1"> Sehr Niedrig </td>
	<td data-raw="1 2 3"> Mehrere </td>
</tr>
<tr class="row1 class-1 class-2 class-6 class-11 not-common is-equipment">
	<td data-raw="-3 Etriggs Schwur"><a href="http://portal.wow-alive.de/item/48021" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_jewelry_talisman_02.jpg");'> </span> <strong>Etriggs Schwur</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Schmuck </td>
	<td data-raw="4"> Hoch </td>
	<td data-raw="2"> Heroisch 10 </td>
</tr>
<tr class="row2 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common">
	<td data-raw="-3 Muster: Knochener Rittersbannpanzer"><a href="http://portal.wow-alive.de/item/47651" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_04.jpg");'> </span> <strong>Muster: Knochener Rittersbannpanzer</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="85"> 85 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="1"> Sehr Niedrig </td>
	<td data-raw="1 2 3"> Mehrere </td>
</tr>
<tr class="row1 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common">
	<td data-raw="-3 Muster: Drachenschuppenarmschienen des Kreuzfahrers"><a href="http://portal.wow-alive.de/item/47631" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_04.jpg");'> </span> <strong>Muster: Drachenschuppenarmschienen des Kreuzfahrers</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="85"> 85 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="1"> Sehr Niedrig </td>
	<td data-raw="1 2 3"> Mehrere </td>
</tr>
<tr class="row2 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common is-equipment">
	<td data-raw="-3 Vitalität des Molochs"><a href="http://portal.wow-alive.de/item/47451" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scarab_crystal.jpg");'> </span> <strong>Vitalität des Molochs</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="258"> 258 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Schmuck </td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="3"> Heroisch 25 </td>
</tr>
<tr class="row1 class-1 class-2 class-6 not-common is-equipment">
	<td data-raw="-3 Gurt der blutigen Narben"><a href="http://portal.wow-alive.de/item/47072" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_belt_48c.jpg");'> </span> <strong>Gurt der blutigen Narben</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Gürtel <em>(Platte)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
</tr>
<tr class="row2 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common">
	<td data-raw="-3 Muster: Drachenschuppenbrustplatte des Kreuzfahrers"><a href="http://portal.wow-alive.de/item/47630" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_04.jpg");'> </span> <strong>Muster: Drachenschuppenbrustplatte des Kreuzfahrers</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="85"> 85 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="1"> Sehr Niedrig </td>
	<td data-raw="1 2 3"> Mehrere </td>
</tr>
<tr class="row1 class-1 class-2 class-6 not-common is-equipment">
	<td data-raw="-3 Heldenbrustplatte der Frosterben"><a href="http://portal.wow-alive.de/item/47082" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_chest_plate_24.jpg");'> </span> <strong>Heldenbrustplatte der Frosterben</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Brust <em>(Platte)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
</tr>
<tr class="row2 class-1 class-2 class-6 class-11 not-common is-equipment">
	<td data-raw="-3 Etriggs Schwur"><a href="http://portal.wow-alive.de/item/47882" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_jewelry_talisman_02.jpg");'> </span> <strong>Etriggs Schwur</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="232"> 232 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Schmuck </td>
	<td data-raw="4"> Hoch </td>
	<td data-raw="0"> Normal 10 </td>
</tr>
<tr class="row1 class-1 class-2 class-6 not-common is-equipment">
	<td data-raw="-3 Die Gerechte"><a href="http://portal.wow-alive.de/item/47069" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_axe_103.jpg");'> </span> <strong>Die Gerechte</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Zweihändig <em>(Axt)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
</tr>
<tr class="row2 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common">
	<td data-raw="-3 Muster: Armschienen des schnellen Todes"><a href="http://portal.wow-alive.de/item/47635" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_04.jpg");'> </span> <strong>Muster: Armschienen des schnellen Todes</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="85"> 85 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="1"> Sehr Niedrig </td>
	<td data-raw="1 2 3"> Mehrere </td>
</tr>
<tr class="row1 class-7 class-2 not-common is-equipment">
	<td data-raw="-3 Bastion der Reinheit"><a href="http://portal.wow-alive.de/item/47079" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_shield_69.jpg");'> </span> <strong>Bastion der Reinheit</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Schild </td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
</tr>
<tr class="row2 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common">
	<td data-raw="-3 Muster: Königliche Mondgespinstarmschienen"><a href="http://portal.wow-alive.de/item/47656" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_04.jpg");'> </span> <strong>Muster: Königliche Mondgespinstarmschienen</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="85"> 85 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="1"> Sehr Niedrig </td>
	<td data-raw="1 2 3"> Mehrere </td>
</tr>
<tr class="row1 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common">
	<td data-raw="-3 Muster: Armschützer des Mondschattens"><a href="http://portal.wow-alive.de/item/47633" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_04.jpg");'> </span> <strong>Muster: Armschützer des Mondschattens</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="85"> 85 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="1"> Sehr Niedrig </td>
	<td data-raw="1 2 3"> Mehrere </td>
</tr>
<tr class="row2 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common" style="display: none">
	<td data-raw="-3 Muster: Verwunschene nerubische Brustplatte"><a href="http://portal.wow-alive.de/item/47628" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_04.jpg");'> </span> <strong>Muster: Verwunschene nerubische Brustplatte</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="85"> 85 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="1"> Sehr Niedrig </td>
	<td data-raw="1 2 3"> Mehrere </td>
</tr>
<tr class="row1 class-7 not-common is-equipment" style="display: none">
	<td data-raw="-3 Gamaschen des verborgenen Hasses"><a href="http://portal.wow-alive.de/item/47289" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_pants_mail_28.jpg");'> </span> <strong>Gamaschen des verborgenen Hasses</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Beine <em>(Kette)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
</tr>
<tr class="row2 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common is-equipment" style="display: none">
	<td data-raw="-3 Satrinas hemmender Skarabäus"><a href="http://portal.wow-alive.de/item/47080" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scarab_crystal.jpg");'> </span> <strong>Satrinas hemmender Skarabäus</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Schmuck </td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
</tr>
<tr class="row1 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common" style="display: none">
	<td data-raw="-3 Muster: Königliche Mondgespinstrobe"><a href="http://portal.wow-alive.de/item/47636" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_04.jpg");'> </span> <strong>Muster: Königliche Mondgespinstrobe</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="85"> 85 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="1"> Sehr Niedrig </td>
	<td data-raw="1 2 3"> Mehrere </td>
</tr>
<tr class="row2 class-1 class-7 class-2 class-4 class-6 class-11 not-common is-equipment" style="display: none">
	<td data-raw="-3 Ruf des Siegers"><a href="http://portal.wow-alive.de/item/47725" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_misc_horn_04.jpg");'> </span> <strong>Ruf des Siegers</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="232"> 232 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Schmuck </td>
	<td data-raw="4"> Hoch </td>
	<td data-raw="0"> Normal 10 </td>
</tr>
<tr class="row1 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common" style="display: none">
	<td data-raw="-3 Muster: Roben der Mondfinsternis"><a href="http://portal.wow-alive.de/item/47632" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_04.jpg");'> </span> <strong>Muster: Roben der Mondfinsternis</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="85"> 85 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="1"> Sehr Niedrig </td>
	<td data-raw="1 2 3"> Mehrere </td>
</tr>
<tr class="row2 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common" style="display: none">
	<td data-raw="-3 Muster: Verwunschene nerubische Brustplatte"><a href="http://portal.wow-alive.de/item/47650" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_04.jpg");'> </span> <strong>Muster: Verwunschene nerubische Brustplatte</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="85"> 85 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="1"> Sehr Niedrig </td>
	<td data-raw="1 2 3"> Mehrere </td>
</tr>
<tr class="row1 class-4 class-11 not-common is-equipment" style="display: none">
	<td data-raw="-3 Handschuhe des Silbernen Assassinen"><a href="http://portal.wow-alive.de/item/47945" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_gauntlets_77a.jpg");'> </span> <strong>Handschuhe des Silbernen Assassinen</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Hände <em>(Leder)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="2"> Heroisch 10 </td>
</tr>
<tr class="row2 class-5 class-9 class-8 not-common is-equipment" style="display: none">
	<td data-raw="-3 Kordel der beißenden Kälte"><a href="http://portal.wow-alive.de/item/47081" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_belt_52.jpg");'> </span> <strong>Kordel der beißenden Kälte</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Gürtel <em>(Stoff)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
</tr>
<tr class="row1 class-3 class-7 not-common is-equipment" style="display: none">
	<td data-raw="-3 Armschienen des unbeschreiblichen Massakers"><a href="http://portal.wow-alive.de/item/47073" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_bracer_32a.jpg");'> </span> <strong>Armschienen des unbeschreiblichen Massakers</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Handgelenke <em>(Kette)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
</tr>
<tr class="row2 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common" style="display: none">
	<td data-raw="-3 Pläne: Sonnengeschmiedete Brustplatte"><a href="http://portal.wow-alive.de/item/47626" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_04.jpg");'> </span> <strong>Pläne: Sonnengeschmiedete Brustplatte</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="85"> 85 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="1"> Sehr Niedrig </td>
	<td data-raw="1 2 3"> Mehrere </td>
</tr>
<tr class="row1 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common" style="display: none">
	<td data-raw="-3 Muster: Merlins Robe"><a href="http://portal.wow-alive.de/item/47655" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_04.jpg");'> </span> <strong>Muster: Merlins Robe</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="85"> 85 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="1"> Sehr Niedrig </td>
	<td data-raw="1 2 3"> Mehrere </td>
</tr>
<tr class="row2 class-1 class-2 class-6 not-common is-equipment" style="display: none">
	<td data-raw="-3 Die Gerechte"><a href="http://portal.wow-alive.de/item/47078" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_axe_103.jpg");'> </span> <strong>Die Gerechte</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="258"> 258 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Zweihändig <em>(Axt)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="3"> Heroisch 25 </td>
</tr>
<tr class="row1 class-3 class-7 class-4 class-11 not-common is-equipment" style="display: none">
	<td data-raw="-3 Ring der gleichgültigen Aggression"><a href="http://portal.wow-alive.de/item/47075" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_jewelry_ring_65.jpg");'> </span> <strong>Ring der gleichgültigen Aggression</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="258"> 258 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Finger </td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="3"> Heroisch 25 </td>
</tr>
<tr class="row2 class-5 class-9 class-8 not-common is-equipment" style="display: none">
	<td data-raw="-3 Sandalen der trauernden Witwe"><a href="http://portal.wow-alive.de/item/47293" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_boots_cloth_23.jpg");'> </span> <strong>Sandalen der trauernden Witwe</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Füße <em>(Stoff)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
</tr>
<tr class="row1 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common" style="display: none">
	<td data-raw="-3 Trophäe des Kreuzzugs"><a href="http://portal.wow-alive.de/item/47242" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_misc_trophy_argent.jpg");'> </span> <strong>Trophäe des Kreuzzugs</strong> </a></td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="6"> Garantiert </td>
	<td data-raw="1 3"> 25 Spieler </td>
</tr>
<tr class="row2 class-5 class-9 class-7 class-2 class-11 class-8 not-common is-equipment" style="display: none">
	<td data-raw="-3 Umhang der Verschiebung"><a href="http://portal.wow-alive.de/item/47089" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_misc_cape_16.jpg");'> </span> <strong>Umhang der Verschiebung</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Rücken </td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
</tr>
<tr class="row1 class-5 class-9 class-8 not-common is-equipment" style="display: none">
	<td data-raw="-3 Gürtel der beißenden Kälte"><a href="http://portal.wow-alive.de/item/47286" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_belt_52.jpg");'> </span> <strong>Gürtel der beißenden Kälte</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Gürtel <em>(Stoff)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
</tr>
<tr class="row2 class-4 class-11 not-common is-equipment" style="display: none">
	<td data-raw="-3 Treter des Eiswandlers"><a href="http://portal.wow-alive.de/item/47071" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_boots_leather_02.jpg");'> </span> <strong>Treter des Eiswandlers</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Füße <em>(Leder)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
</tr>
<tr class="row1 class-1 class-2 class-6 class-11 not-common is-equipment" style="display: none">
	<td data-raw="-3 Eifer der Frosterben"><a href="http://portal.wow-alive.de/item/47727" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_jewelry_talisman_02.jpg");'> </span> <strong>Eifer der Frosterben</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="232"> 232 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Schmuck </td>
	<td data-raw="4"> Hoch </td>
	<td data-raw="0"> Normal 10 </td>
</tr>
<tr class="row2 class-3 class-7 not-common is-equipment" style="display: none">
	<td data-raw="-3 Helm des Silbernen Waldläufers"><a href="http://portal.wow-alive.de/item/47718" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_helmet_95.jpg");'> </span> <strong>Helm des Silbernen Waldläufers</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="232"> 232 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Kopf <em>(Kette)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="0"> Normal 10 </td>
</tr>
<tr class="row1 class-5 class-9 class-7 class-11 class-8 not-common is-equipment" style="display: none">
	<td data-raw="-3 Klinge des Silbernen Jüngers"><a href="http://portal.wow-alive.de/item/47724" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_weapon_shortblade_99.jpg");'> </span> <strong>Klinge des Silbernen Jüngers</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="232"> 232 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Waffenhand <em>(Dolch)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="0"> Normal 10 </td>
</tr>
<tr class="row2 class-1 class-2 class-6 not-common is-equipment" style="display: none">
	<td data-raw="-3 Heldenbrustplatte der Frostwölfe"><a href="http://portal.wow-alive.de/item/47288" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_chest_plate_24.jpg");'> </span> <strong>Heldenbrustplatte der Frostwölfe</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Brust <em>(Platte)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
</tr>
<tr class="row1 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common is-equipment" style="display: none">
	<td data-raw="-3 Fetisch der flüchtigen Macht"><a href="http://portal.wow-alive.de/item/47879" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_jewelry_necklace_27.jpg");'> </span> <strong>Fetisch der flüchtigen Macht</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="232"> 232 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Schmuck </td>
	<td data-raw="4"> Hoch </td>
	<td data-raw="0"> Normal 10 </td>
</tr>
<tr class="row2 class-1 class-2 class-6 not-common is-equipment" style="display: none">
	<td data-raw="-3 Schulterstücke des Sonnenhäscherverteidigers"><a href="http://portal.wow-alive.de/item/48016" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_shoulder_73.jpg");'> </span> <strong>Schulterstücke des Sonnenhäscherverteidigers</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Schultern <em>(Platte)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="2"> Heroisch 10 </td>
</tr>
<tr class="row1 class-5 class-9 class-7 class-2 class-11 class-8 not-common is-equipment" style="display: none">
	<td data-raw="-3 Umhang der Verschiebung"><a href="http://portal.wow-alive.de/item/47095" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_misc_cape_16.jpg");'> </span> <strong>Umhang der Verschiebung</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="258"> 258 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Rücken </td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="3"> Heroisch 25 </td>
</tr>
<tr class="row2 class-11 not-common is-equipment" style="display: none">
	<td data-raw="-3 Robe der zerschlagenen Gefolgschaft"><a href="http://portal.wow-alive.de/item/47453" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_chest_leather_18b.jpg");'> </span> <strong>Robe der zerschlagenen Gefolgschaft</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="258"> 258 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Brust <em>(Leder)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="3"> Heroisch 25 </td>
</tr>
<tr class="row1 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common" style="display: none">
	<td data-raw="-3 Pläne: Brustplatte des Weißen Ritters"><a href="http://portal.wow-alive.de/item/47622" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_04.jpg");'> </span> <strong>Pläne: Brustplatte des Weißen Ritters</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="85"> 85 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="1"> Sehr Niedrig </td>
	<td data-raw="1 2 3"> Mehrere </td>
</tr>
<tr class="row2 class-5 class-9 class-8 not-common is-equipment" style="display: none">
	<td data-raw="-3 Sandalen des Silbernen Magus"><a href="http://portal.wow-alive.de/item/47721" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_boots_cloth_17.jpg");'> </span> <strong>Sandalen des Silbernen Magus</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="232"> 232 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Füße <em>(Stoff)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="0"> Normal 10 </td>
</tr>
<tr class="row1 class-5 class-9 class-7 class-2 class-11 class-8 not-common is-equipment" style="display: none">
	<td data-raw="-3 Tuch der Verschiebung"><a href="http://portal.wow-alive.de/item/47452" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_misc_cape_18.jpg");'> </span> <strong>Tuch der Verschiebung</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="258"> 258 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Rücken </td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="3"> Heroisch 25 </td>
</tr>
<tr class="row2 class-3 class-7 class-4 class-11 not-common is-equipment" style="display: none">
	<td data-raw="-3 Ring der gleichgültigen Aggression"><a href="http://portal.wow-alive.de/item/47070" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_jewelry_ring_65.jpg");'> </span> <strong>Ring der gleichgültigen Aggression</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Finger </td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
</tr>
<tr class="row1 class-1 class-7 class-2 class-4 class-6 class-11 not-common is-equipment" style="display: none">
	<td data-raw="-3 Rache der Verlassenen"><a href="http://portal.wow-alive.de/item/48020" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_misc_horn_04.jpg");'> </span> <strong>Rache der Verlassenen</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Schmuck </td>
	<td data-raw="4"> Hoch </td>
	<td data-raw="2"> Heroisch 10 </td>
</tr>
<tr class="row2 class-11 not-common is-equipment" style="display: none">
	<td data-raw="-3 Robe der zerschlagenen Gefolgschaft"><a href="http://portal.wow-alive.de/item/47292" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_chest_leather_18b.jpg");'> </span> <strong>Robe der zerschlagenen Gefolgschaft</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Brust <em>(Leder)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
</tr>
<tr class="row1 class-3 class-7 not-common is-equipment" style="display: none">
	<td data-raw="-3 Armschienen des unbeschreiblichen Massakers"><a href="http://portal.wow-alive.de/item/47074" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_bracer_32a.jpg");'> </span> <strong>Armschienen des unbeschreiblichen Massakers</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="258"> 258 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Handgelenke <em>(Kette)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="3"> Heroisch 25 </td>
</tr>
<tr class="row2 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common" style="display: none">
	<td data-raw="-3 Pläne: Titanstachelschützer"><a href="http://portal.wow-alive.de/item/47645" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_04.jpg");'> </span> <strong>Pläne: Titanstachelschützer</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="85"> 85 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="1"> Sehr Niedrig </td>
	<td data-raw="1 2 3"> Mehrere </td>
</tr>
<tr class="row1 class-5 class-9 class-7 class-11 class-8 not-common is-equipment" style="display: none">
	<td data-raw="-3 Klinge des Sonnenhäscherjüngers"><a href="http://portal.wow-alive.de/item/48013" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_weapon_shortblade_93.jpg");'> </span> <strong>Klinge des Sonnenhäscherjüngers</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Waffenhand <em>(Dolch)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="2"> Heroisch 10 </td>
</tr>
<tr class="row2 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common" style="display: none">
	<td data-raw="-3 Muster: Knochener Rittersbannpanzer"><a href="http://portal.wow-alive.de/item/47634" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_04.jpg");'> </span> <strong>Muster: Knochener Rittersbannpanzer</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="85"> 85 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="1"> Sehr Niedrig </td>
	<td data-raw="1 2 3"> Mehrere </td>
</tr>
<tr class="row1 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common" style="display: none">
	<td data-raw="-3 Pläne: Saronitschwertbrecher"><a href="http://portal.wow-alive.de/item/47623" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_04.jpg");'> </span> <strong>Pläne: Saronitschwertbrecher</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="85"> 85 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="1"> Sehr Niedrig </td>
	<td data-raw="1 2 3"> Mehrere </td>
</tr>
<tr class="row2 class-7 class-2 not-common is-equipment" style="display: none">
	<td data-raw="-3 Bastion der Entschlossenheit"><a href="http://portal.wow-alive.de/item/47287" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_shield_70.jpg");'> </span> <strong>Bastion der Entschlossenheit</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Schild </td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
</tr>
<tr class="row1 class-7 not-common is-equipment" style="display: none">
	<td data-raw="-3 Sabatons der bebenden Erde"><a href="http://portal.wow-alive.de/item/47456" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_boots_chain_06.jpg");'> </span> <strong>Sabatons der bebenden Erde</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="258"> 258 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Füße <em>(Kette)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="3"> Heroisch 25 </td>
</tr>
<tr class="row2 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common" style="display: none">
	<td data-raw="-3 Pläne: Titanklingenplatte"><a href="http://portal.wow-alive.de/item/47644" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_04.jpg");'> </span> <strong>Pläne: Titanklingenplatte</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="85"> 85 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="1"> Sehr Niedrig </td>
	<td data-raw="1 2 3"> Mehrere </td>
</tr>
<tr class="row1 class-5 class-9 class-8 not-common is-equipment" style="display: none">
	<td data-raw="-3 Sandalen des Sonnenhäschermagus&#39;"><a href="http://portal.wow-alive.de/item/48012" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_boots_cloth_17.jpg");'> </span> <strong>Sandalen des Sonnenhäschermagus&#39;</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Füße <em>(Stoff)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="2"> Heroisch 10 </td>
</tr>
<tr class="row2 class-1 class-2 class-6 not-common is-equipment" style="display: none">
	<td data-raw="-3 Schulterstücke des Silbernen Verteidigers"><a href="http://portal.wow-alive.de/item/47720" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_shoulder_20.jpg");'> </span> <strong>Schulterstücke des Silbernen Verteidigers</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="232"> 232 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Schultern <em>(Platte)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="0"> Normal 10 </td>
</tr>
<tr class="row1 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common" style="display: none">
	<td data-raw="-3 Pläne: Sonnengeschmiedete Brustplatte"><a href="http://portal.wow-alive.de/item/47643" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_04.jpg");'> </span> <strong>Pläne: Sonnengeschmiedete Brustplatte</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="85"> 85 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="1"> Sehr Niedrig </td>
	<td data-raw="1 2 3"> Mehrere </td>
</tr>
<tr class="row2 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common is-equipment" style="display: none">
	<td data-raw="-3 Satrinas hemmender Skarabäus"><a href="http://portal.wow-alive.de/item/47088" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scarab_crystal.jpg");'> </span> <strong>Satrinas hemmender Skarabäus</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="258"> 258 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Schmuck </td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="3"> Heroisch 25 </td>
</tr>
<tr class="row1 class-2 not-common is-equipment" style="display: none">
	<td data-raw="-3 Armschienen des zerbrochenen Bundes"><a href="http://portal.wow-alive.de/item/47455" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_bracer_32.jpg");'> </span> <strong>Armschienen des zerbrochenen Bundes</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="258"> 258 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Handgelenke <em>(Platte)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="3"> Heroisch 25 </td>
</tr>
<tr class="row2 class-5 class-9 class-8 not-common is-equipment" style="display: none">
	<td data-raw="-3 Sandalen des Silbernen Magus"><a href="http://portal.wow-alive.de/item/47940" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_boots_cloth_17.jpg");'> </span> <strong>Sandalen des Silbernen Magus</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Füße <em>(Stoff)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="2"> Heroisch 10 </td>
</tr>
<tr class="row1 class-4 class-11 not-common is-equipment" style="display: none">
	<td data-raw="-3 Handschuhe des Assassinen der Sonnenhäscher"><a href="http://portal.wow-alive.de/item/47878" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_gauntlets_78a.jpg");'> </span> <strong>Handschuhe des Assassinen der Sonnenhäscher</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="232"> 232 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Hände <em>(Leder)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="0"> Normal 10 </td>
</tr>
<tr class="row2 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common" style="display: none">
	<td data-raw="-3 Pläne: Titanstachelschützer"><a href="http://portal.wow-alive.de/item/47625" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_04.jpg");'> </span> <strong>Pläne: Titanstachelschützer</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="85"> 85 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="1"> Sehr Niedrig </td>
	<td data-raw="1 2 3"> Mehrere </td>
</tr>
<tr class="row1 class-7 not-common is-equipment" style="display: none">
	<td data-raw="-3 Beinschützer des verborgenen Hasses"><a href="http://portal.wow-alive.de/item/47087" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_pants_mail_25.jpg");'> </span> <strong>Beinschützer des verborgenen Hasses</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="258"> 258 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Beine <em>(Kette)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="3"> Heroisch 25 </td>
</tr>
<tr class="row2 class-5 class-9 class-8 not-common is-equipment" style="display: none">
	<td data-raw="-3 Sandalen der trauernden Witwe"><a href="http://portal.wow-alive.de/item/47454" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_boots_cloth_23.jpg");'> </span> <strong>Sandalen der trauernden Witwe</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="258"> 258 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Füße <em>(Stoff)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="3"> Heroisch 25 </td>
</tr>
<tr class="row1 class-1 class-2 class-6 not-common is-equipment" style="display: none">
	<td data-raw="-3 Gürtel der blutigen Narben"><a href="http://portal.wow-alive.de/item/47283" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_belt_46b.jpg");'> </span> <strong>Gürtel der blutigen Narben</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Gürtel <em>(Platte)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
</tr>
<tr class="row2 class-1 class-2 class-6 not-common is-equipment" style="display: none">
	<td data-raw="-3 Gesichtsschutz des Silbernen Champions"><a href="http://portal.wow-alive.de/item/47717" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_helmet_25.jpg");'> </span> <strong>Gesichtsschutz des Silbernen Champions</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="232"> 232 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Kopf <em>(Platte)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="0"> Normal 10 </td>
</tr>
<tr class="row1 class-1 class-7 class-2 class-4 class-6 class-11 not-common is-equipment" style="display: none">
	<td data-raw="-3 Rache der Verlassenen"><a href="http://portal.wow-alive.de/item/47881" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_misc_horn_04.jpg");'> </span> <strong>Rache der Verlassenen</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="232"> 232 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Schmuck </td>
	<td data-raw="4"> Hoch </td>
	<td data-raw="0"> Normal 10 </td>
</tr>
<tr class="row2 class-1 class-2 class-6 not-common is-equipment" style="display: none">
	<td data-raw="-3 Heldenbrustplatte der Frosterben"><a href="http://portal.wow-alive.de/item/47086" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_chest_plate_24.jpg");'> </span> <strong>Heldenbrustplatte der Frosterben</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="258"> 258 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Brust <em>(Platte)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="3"> Heroisch 25 </td>
</tr>
<tr class="row1 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common is-equipment" style="display: none">
	<td data-raw="-3 Talisman der flüchtigen Macht"><a href="http://portal.wow-alive.de/item/47726" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_jewelry_necklace_27.jpg");'> </span> <strong>Talisman der flüchtigen Macht</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="232"> 232 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Schmuck </td>
	<td data-raw="4"> Hoch </td>
	<td data-raw="0"> Normal 10 </td>
</tr>
<tr class="row2 class-3 class-7 class-4 class-11 not-common is-equipment" style="display: none">
	<td data-raw="-3 Band der gleichgültigen Aggression"><a href="http://portal.wow-alive.de/item/47282" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_jewelry_ring_65.jpg");'> </span> <strong>Band der gleichgültigen Aggression</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Finger </td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
</tr>
<tr class="row1 class-5 class-9 class-7 class-2 class-11 class-8 not-common is-equipment" style="display: none">
	<td data-raw="-3 Bindendes Gestein"><a href="http://portal.wow-alive.de/item/47880" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_misc_rune_11.jpg");'> </span> <strong>Bindendes Gestein</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="232"> 232 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Schmuck </td>
	<td data-raw="4"> Hoch </td>
	<td data-raw="0"> Normal 10 </td>
</tr>
<tr class="row2 class-4 class-11 not-common is-equipment" style="display: none">
	<td data-raw="-3 Handschuhe des Silbernen Assassinen"><a href="http://portal.wow-alive.de/item/47719" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_gauntlets_77a.jpg");'> </span> <strong>Handschuhe des Silbernen Assassinen</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="232"> 232 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Hände <em>(Leder)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="0"> Normal 10 </td>
</tr>
<tr class="row1 class-1 class-2 class-6 not-common is-equipment" style="display: none">
	<td data-raw="-3 Doppelklingenschlächter"><a href="http://portal.wow-alive.de/item/47285" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_axe_106.jpg");'> </span> <strong>Doppelklingenschlächter</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Zweihändig <em>(Axt)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
</tr>
<tr class="row2 class-1 class-2 class-6 not-common is-equipment" style="display: none">
	<td data-raw="-3 Gesichtsschutz des Sonnenhäscherchampions"><a href="http://portal.wow-alive.de/item/48015" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_helmet_130.jpg");'> </span> <strong>Gesichtsschutz des Sonnenhäscherchampions</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Kopf <em>(Platte)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="2"> Heroisch 10 </td>
</tr>
<tr class="row1 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common" style="display: none">
	<td data-raw="-3 Pläne: Sonnengeschmiedete Armschienen"><a href="http://portal.wow-alive.de/item/47642" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_04.jpg");'> </span> <strong>Pläne: Sonnengeschmiedete Armschienen</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="85"> 85 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="1"> Sehr Niedrig </td>
	<td data-raw="1 2 3"> Mehrere </td>
</tr>
<tr class="row2 class-1 class-2 class-6 not-common is-equipment" style="display: none">
	<td data-raw="-3 Schulterstücke des Sonnenhäscherverteidigers"><a href="http://portal.wow-alive.de/item/47877" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_shoulder_73.jpg");'> </span> <strong>Schulterstücke des Sonnenhäscherverteidigers</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="232"> 232 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Schultern <em>(Platte)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="0"> Normal 10 </td>
</tr>
<tr class="row1 class-5 class-9 class-8 not-common is-equipment" style="display: none">
	<td data-raw="-3 Stiefel der trauernden Witwe"><a href="http://portal.wow-alive.de/item/47092" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_boots_cloth_23.jpg");'> </span> <strong>Stiefel der trauernden Witwe</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Füße <em>(Stoff)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
</tr>
<tr class="row2 class-2 not-common is-equipment" style="display: none">
	<td data-raw="-3 Unterarmschienen des zerbrochenen Bunds"><a href="http://portal.wow-alive.de/item/47098" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_bracer_28b.jpg");'> </span> <strong>Unterarmschienen des zerbrochenen Bunds</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="258"> 258 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Handgelenke <em>(Platte)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="3"> Heroisch 25 </td>
</tr>
<tr class="row1 class-1 class-2 class-6 not-common is-equipment" style="display: none">
	<td data-raw="-3 Gesichtsschutz des Sonnenhäscherchampions"><a href="http://portal.wow-alive.de/item/47876" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_helmet_130.jpg");'> </span> <strong>Gesichtsschutz des Sonnenhäscherchampions</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="232"> 232 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Kopf <em>(Platte)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="0"> Normal 10 </td>
</tr>
<tr class="row2 class-5 class-9 class-7 class-11 class-8 not-common is-equipment" style="display: none">
	<td data-raw="-3 Klinge des Silbernen Jüngers"><a href="http://portal.wow-alive.de/item/47941" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_weapon_shortblade_99.jpg");'> </span> <strong>Klinge des Silbernen Jüngers</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Waffenhand <em>(Dolch)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="2"> Heroisch 10 </td>
</tr>
<tr class="row1 class-3 class-7 not-common is-equipment" style="display: none">
	<td data-raw="-3 Helm der Sonnenhäscherwaldläufers"><a href="http://portal.wow-alive.de/item/47875" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_helmet_100.jpg");'> </span> <strong>Helm der Sonnenhäscherwaldläufers</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="232"> 232 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Kopf <em>(Kette)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="0"> Normal 10 </td>
</tr>
<tr class="row2 class-7 not-common is-equipment" style="display: none">
	<td data-raw="-3 Sabatons der bebenden Erde"><a href="http://portal.wow-alive.de/item/47295" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_boots_chain_06.jpg");'> </span> <strong>Sabatons der bebenden Erde</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Füße <em>(Kette)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
</tr>
<tr class="row1 class-1 class-2 class-6 not-common is-equipment" style="display: none">
	<td data-raw="-3 Heldenbrustplatte der Frostwölfe"><a href="http://portal.wow-alive.de/item/47449" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_chest_plate_24.jpg");'> </span> <strong>Heldenbrustplatte der Frostwölfe</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="258"> 258 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Brust <em>(Platte)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="3"> Heroisch 25 </td>
</tr>
<tr class="row2 class-1 class-7 class-2 class-4 class-6 class-11 not-common is-equipment" style="display: none">
	<td data-raw="-3 Ruf des Siegers"><a href="http://portal.wow-alive.de/item/47948" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_misc_horn_04.jpg");'> </span> <strong>Ruf des Siegers</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Schmuck </td>
	<td data-raw="4"> Hoch </td>
	<td data-raw="2"> Heroisch 10 </td>
</tr>
<tr class="row1 class-11 not-common is-equipment" style="display: none">
	<td data-raw="-3 Weste der zerschlagenen Gefolgschaft"><a href="http://portal.wow-alive.de/item/47094" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_chest_leather_12.jpg");'> </span> <strong>Weste der zerschlagenen Gefolgschaft</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Brust <em>(Leder)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
</tr>
<tr class="row2 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common is-equipment" style="display: none">
	<td data-raw="-3 Vitalität des Molochs"><a href="http://portal.wow-alive.de/item/47290" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scarab_crystal.jpg");'> </span> <strong>Vitalität des Molochs</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Schmuck </td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
</tr>
<tr class="row1 class-5 class-9 class-7 class-2 class-11 class-8 not-common is-equipment" style="display: none">
	<td data-raw="-3 Bindendes Licht"><a href="http://portal.wow-alive.de/item/47728" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_misc_rune_11.jpg");'> </span> <strong>Bindendes Licht</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="232"> 232 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Schmuck </td>
	<td data-raw="4"> Hoch </td>
	<td data-raw="0"> Normal 10 </td>
</tr>
<tr class="row2 class-4 class-11 not-common is-equipment" style="display: none">
	<td data-raw="-3 Eiswandlertreter"><a href="http://portal.wow-alive.de/item/47284" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_boots_leather_04a.jpg");'> </span> <strong>Eiswandlertreter</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Füße <em>(Leder)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
</tr>
<tr class="row1 class-1 class-2 class-6 not-common is-equipment" style="display: none">
	<td data-raw="-3 Doppelklingenschlächter"><a href="http://portal.wow-alive.de/item/47446" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_axe_106.jpg");'> </span> <strong>Doppelklingenschlächter</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="258"> 258 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Zweihändig <em>(Axt)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="3"> Heroisch 25 </td>
</tr>
<tr class="row2 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common" style="display: none">
	<td data-raw="-3 Muster: Drachenschuppenbrustplatte des Kreuzfahrers"><a href="http://portal.wow-alive.de/item/47649" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_04.jpg");'> </span> <strong>Muster: Drachenschuppenbrustplatte des Kreuzfahrers</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="85"> 85 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="1"> Sehr Niedrig </td>
	<td data-raw="1 2 3"> Mehrere </td>
</tr>
<tr class="row1 class-5 class-9 class-7 class-2 class-11 class-8 not-common is-equipment" style="display: none">
	<td data-raw="-3 Tuch der Verschiebung"><a href="http://portal.wow-alive.de/item/47291" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_misc_cape_18.jpg");'> </span> <strong>Tuch der Verschiebung</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Rücken </td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
</tr>
<tr class="row2 class-3 class-7 not-common is-equipment" style="display: none">
	<td data-raw="-3 Helm der Sonnenhäscherwaldläufers"><a href="http://portal.wow-alive.de/item/48014" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_helmet_100.jpg");'> </span> <strong>Helm der Sonnenhäscherwaldläufers</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Kopf <em>(Kette)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="2"> Heroisch 10 </td>
</tr>
<tr class="row1 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common" style="display: none">
	<td data-raw="-3 Muster: Schwarze Chitinarmschienen"><a href="http://portal.wow-alive.de/item/47646" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_04.jpg");'> </span> <strong>Muster: Schwarze Chitinarmschienen</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="85"> 85 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="1"> Sehr Niedrig </td>
	<td data-raw="1 2 3"> Mehrere </td>
</tr>
<tr class="row2 class-11 not-common is-equipment" style="display: none">
	<td data-raw="-3 Weste der zerschlagenen Gefolgschaft"><a href="http://portal.wow-alive.de/item/47096" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_chest_leather_12.jpg");'> </span> <strong>Weste der zerschlagenen Gefolgschaft</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="258"> 258 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Brust <em>(Leder)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="3"> Heroisch 25 </td>
</tr>
<tr class="row1 class-5 class-9 class-8 not-common is-equipment" style="display: none">
	<td data-raw="-3 Gürtel der beißenden Kälte"><a href="http://portal.wow-alive.de/item/47447" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_belt_52.jpg");'> </span> <strong>Gürtel der beißenden Kälte</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="258"> 258 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Gürtel <em>(Stoff)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="3"> Heroisch 25 </td>
</tr>
<tr class="row2 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common" style="display: none">
	<td data-raw="-4 Kugel des Kreuzfahrers"><a href="http://portal.wow-alive.de/item/47556" class="item-link color-q3"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/spell_holy_rune.jpg");'> </span> <strong>Kugel des Kreuzfahrers</strong> </a></td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="5"> Sehr Hoch </td>
	<td data-raw="1 2 3"> Mehrere </td>
</tr>
<tr class="row1 class-4 class-11 not-common is-equipment" style="display: none">
	<td data-raw="-3 Handschuhe des Assassinen der Sonnenhäscher"><a href="http://portal.wow-alive.de/item/48017" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_gauntlets_78a.jpg");'> </span> <strong>Handschuhe des Assassinen der Sonnenhäscher</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Hände <em>(Leder)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="2"> Heroisch 10 </td>
</tr>
<tr class="row2 class-2 not-common is-equipment" style="display: none">
	<td data-raw="-3 Armschienen des zerbrochenen Bundes"><a href="http://portal.wow-alive.de/item/47294" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_bracer_32.jpg");'> </span> <strong>Armschienen des zerbrochenen Bundes</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Handgelenke <em>(Platte)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
</tr>
<tr class="row1 class-5 class-9 class-8 not-common is-equipment" style="display: none">
	<td data-raw="-3 Stiefel der trauernden Witwe"><a href="http://portal.wow-alive.de/item/47097" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_boots_cloth_23.jpg");'> </span> <strong>Stiefel der trauernden Witwe</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="258"> 258 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Füße <em>(Stoff)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="3"> Heroisch 25 </td>
</tr>
<tr class="row2 class-7 class-2 not-common is-equipment" style="display: none">
	<td data-raw="-3 Bastion der Entschlossenheit"><a href="http://portal.wow-alive.de/item/47448" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_shield_70.jpg");'> </span> <strong>Bastion der Entschlossenheit</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="258"> 258 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Schild </td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="3"> Heroisch 25 </td>
</tr>
