<tr class="row1 class-1 class-2 not-common is-equipment">
	<td data-raw="-3 Einsame Barriere"><a href="http://portal.wow-alive.de/item/47421" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_shield_71.jpg");'> </span> <strong>Einsame Barriere</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="258"> 258 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Schild </td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="3"> Heroisch 25 </td>
</tr>
<tr class="row2 class-4 class-11 not-common is-equipment">
	<td data-raw="-3 Gamaschen der gebrochenen Bestie"><a href="http://portal.wow-alive.de/item/46975" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_pants_leather_28.jpg");'> </span> <strong>Gamaschen der gebrochenen Bestie</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="258"> 258 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Beine <em>(Leder)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="3"> Heroisch 25 </td>
</tr>
<tr class="row1 class-5 class-9 class-7 class-11 class-8 not-common is-equipment">
	<td data-raw="-3 Haken von Tarasque"><a href="http://portal.wow-alive.de/item/47261" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_weapon_shortblade_93.jpg");'> </span> <strong>Haken von Tarasque</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Waffenhand <em>(Dolch)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
</tr>
<tr class="row2 class-5 class-9 class-8 not-common is-equipment">
	<td data-raw="-3 Stab der gefangenen Seelen"><a href="http://portal.wow-alive.de/item/47922" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_wand_15.jpg");'> </span> <strong>Stab der gefangenen Seelen</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Fernkampf <em>(Zauberstab)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="2"> Heroisch 10 </td>
</tr>
<tr class="row1 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common">
	<td data-raw="-3 Muster: Schwarze Chitinarmschienen"><a href="http://portal.wow-alive.de/item/47629" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_04.jpg");'> </span> <strong>Muster: Schwarze Chitinarmschienen</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="85"> 85 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="1"> Sehr Niedrig </td>
	<td data-raw="1 2 3"> Mehrere </td>
</tr>
<tr class="row2 class-1 class-2 class-6 not-common is-equipment">
	<td data-raw="-3 Gürtel des Pfählers"><a href="http://portal.wow-alive.de/item/47859" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_belt_46b.jpg");'> </span> <strong>Gürtel des Pfählers</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="232"> 232 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Gürtel <em>(Platte)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="0"> Normal 10 </td>
</tr>
<tr class="row1 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common">
	<td data-raw="-3 Muster: Juwelenbesetzte Armschienen des Zauberers"><a href="http://portal.wow-alive.de/item/47639" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_04.jpg");'> </span> <strong>Muster: Juwelenbesetzte Armschienen des Zauberers</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="85"> 85 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="1"> Sehr Niedrig </td>
	<td data-raw="1 2 3"> Mehrere </td>
</tr>
<tr class="row2 class-5 class-9 class-8 not-common is-equipment">
	<td data-raw="-3 Eisheulers Bindungen"><a href="http://portal.wow-alive.de/item/47994" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_belt_52.jpg");'> </span> <strong>Eisheulers Bindungen</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Gürtel <em>(Stoff)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="2"> Heroisch 10 </td>
</tr>
<tr class="row1 class-5 class-9 class-8 not-common is-equipment">
	<td data-raw="-3 Gürtel des finsteren Nebels"><a href="http://portal.wow-alive.de/item/47258" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_belt_52.jpg");'> </span> <strong>Gürtel des finsteren Nebels</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Gürtel <em>(Stoff)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
</tr>
<tr class="row2 class-1 class-2 class-6 not-common is-equipment">
	<td data-raw="-3 Schreckensmaularmschienen"><a href="http://portal.wow-alive.de/item/47852" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_bracer_32b.jpg");'> </span> <strong>Schreckensmaularmschienen</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="232"> 232 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Handgelenke <em>(Platte)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="0"> Normal 10 </td>
</tr>
<tr class="row1 class-5 class-9 class-7 class-11 class-8 not-common is-equipment">
	<td data-raw="-3 Klinge von Tarasque"><a href="http://portal.wow-alive.de/item/46979" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_weapon_shortblade_99.jpg");'> </span> <strong>Klinge von Tarasque</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Waffenhand <em>(Dolch)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
</tr>
<tr class="row2 class-5 class-9 class-8 not-common is-equipment">
	<td data-raw="-3 Eisheulers Sattelgurt"><a href="http://portal.wow-alive.de/item/47617" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_belt_52.jpg");'> </span> <strong>Eisheulers Sattelgurt</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="232"> 232 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Gürtel <em>(Stoff)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="0"> Normal 10 </td>
</tr>
<tr class="row1 class-4 class-11 not-common is-equipment">
	<td data-raw="-3 Beinwickel der gebrochenen Bestie"><a href="http://portal.wow-alive.de/item/47259" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_pants_leather_30a.jpg");'> </span> <strong>Beinwickel der gebrochenen Bestie</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Beine <em>(Leder)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
</tr>
<tr class="row2 class-5 class-9 class-8 not-common is-equipment">
	<td data-raw="-3 Fließende Gewänder des Aufstiegs"><a href="http://portal.wow-alive.de/item/46993" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_chest_cloth_75.jpg");'> </span> <strong>Fließende Gewänder des Aufstiegs</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="258"> 258 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Brust <em>(Stoff)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="3"> Heroisch 25 </td>
</tr>
<tr class="row1 class-1 class-2 class-6 not-common is-equipment">
	<td data-raw="-3 Stulpen des aufkochenden Zorns"><a href="http://portal.wow-alive.de/item/47609" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_gauntlets_53.jpg");'> </span> <strong>Stulpen des aufkochenden Zorns</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="232"> 232 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Hände <em>(Platte)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="0"> Normal 10 </td>
</tr>
<tr class="row2 class-1 class-2 not-common is-equipment">
	<td data-raw="-3 Einsame Barriere"><a href="http://portal.wow-alive.de/item/47260" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_shield_71.jpg");'> </span> <strong>Einsame Barriere</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Schild </td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
</tr>
<tr class="row1 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common">
	<td data-raw="-3 Muster: Drachenschuppenarmschienen des Kreuzfahrers"><a href="http://portal.wow-alive.de/item/47648" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_04.jpg");'> </span> <strong>Muster: Drachenschuppenarmschienen des Kreuzfahrers</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="85"> 85 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="1"> Sehr Niedrig </td>
	<td data-raw="1 2 3"> Mehrere </td>
</tr>
<tr class="row2 class-1 class-2 class-6 not-common is-equipment">
	<td data-raw="-3 Halsberge der gewaltigen Monstrosität"><a href="http://portal.wow-alive.de/item/47254" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_chest_plate_23.jpg");'> </span> <strong>Halsberge der gewaltigen Monstrosität</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Brust <em>(Platte)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
</tr>
<tr class="row1 class-7 not-common is-equipment">
	<td data-raw="-3 Schulterschützer des Geisterwandlers"><a href="http://portal.wow-alive.de/item/47616" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_shoulder_107.jpg");'> </span> <strong>Schulterschützer des Geisterwandlers</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="232"> 232 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Schultern <em>(Kette)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="0"> Normal 10 </td>
</tr>
<tr class="row2 class-3 class-7 not-common is-equipment">
	<td data-raw="-3 Armschienen des nördlichen Pirschers"><a href="http://portal.wow-alive.de/item/47850" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_bracer_38.jpg");'> </span> <strong>Armschienen des nördlichen Pirschers</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="232"> 232 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Handgelenke <em>(Kette)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="0"> Normal 10 </td>
</tr>
<tr class="row1 class-11 not-common is-equipment">
	<td data-raw="-3 Schulterstücke der eiszeitlichen Wildnis"><a href="http://portal.wow-alive.de/item/47996" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_shoulder_109b.jpg");'> </span> <strong>Schulterstücke der eiszeitlichen Wildnis</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Schultern <em>(Leder)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="2"> Heroisch 10 </td>
</tr>
<tr class="row2 class-4 class-11 not-common is-equipment">
	<td data-raw="-3 Beinwickel der gebrochenen Bestie"><a href="http://portal.wow-alive.de/item/47420" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_pants_leather_30a.jpg");'> </span> <strong>Beinwickel der gebrochenen Bestie</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="258"> 258 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Beine <em>(Leder)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="3"> Heroisch 25 </td>
</tr>
<tr class="row1 class-3 class-7 class-4 class-11 not-common is-equipment">
	<td data-raw="-3 Umhang des ungezähmten Raubtiers"><a href="http://portal.wow-alive.de/item/47257" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_misc_cape_18.jpg");'> </span> <strong>Umhang des ungezähmten Raubtiers</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Rücken </td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
</tr>
<tr class="row2 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common">
	<td data-raw="-3 Muster: Armschienen des schnellen Todes"><a href="http://portal.wow-alive.de/item/47647" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_04.jpg");'> </span> <strong>Muster: Armschienen des schnellen Todes</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="85"> 85 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="1"> Sehr Niedrig </td>
	<td data-raw="1 2 3"> Mehrere </td>
</tr>
<tr class="row1 class-2 not-common is-equipment">
	<td data-raw="-3 Sabatons des Mutigen"><a href="http://portal.wow-alive.de/item/47263" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_boots_plate_09.jpg");'> </span> <strong>Sabatons des Mutigen</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Füße <em>(Platte)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
</tr>
<tr class="row2 class-1 class-2 class-6 not-common is-equipment">
	<td data-raw="-3 Gürtel des Pfählers"><a href="http://portal.wow-alive.de/item/47998" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_belt_46b.jpg");'> </span> <strong>Gürtel des Pfählers</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Gürtel <em>(Platte)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="2"> Heroisch 10 </td>
</tr>
<tr class="row1 class-5 class-9 class-7 class-2 class-11 class-8 not-common is-equipment">
	<td data-raw="-3 Tuch der erfrischenden Winde"><a href="http://portal.wow-alive.de/item/47256" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_misc_cape_18.jpg");'> </span> <strong>Tuch der erfrischenden Winde</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Rücken </td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
</tr>
<tr class="row2 class-4 class-11 not-common is-equipment">
	<td data-raw="-3 Ätzschlundstiefel"><a href="http://portal.wow-alive.de/item/47608" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_boots_leather_02.jpg");'> </span> <strong>Ätzschlundstiefel</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="232"> 232 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Füße <em>(Leder)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="0"> Normal 10 </td>
</tr>
<tr class="row1 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common">
	<td data-raw="-3 Muster: Königliche Mondgespinstrobe"><a href="http://portal.wow-alive.de/item/47657" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_04.jpg");'> </span> <strong>Muster: Königliche Mondgespinstrobe</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="85"> 85 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="1"> Sehr Niedrig </td>
	<td data-raw="1 2 3"> Mehrere </td>
</tr>
<tr class="row2 class-1 class-2 class-6 class-11 not-common is-equipment">
	<td data-raw="-3 Fleischfressendes Band"><a href="http://portal.wow-alive.de/item/47920" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_jewelry_ring_53naxxramas.jpg");'> </span> <strong>Fleischfressendes Band</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Finger </td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="2"> Heroisch 10 </td>
</tr>
<tr class="row1 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common">
	<td data-raw="-3 Pläne: Sonnengeschmiedete Armschienen"><a href="http://portal.wow-alive.de/item/47627" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_04.jpg");'> </span> <strong>Pläne: Sonnengeschmiedete Armschienen</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="85"> 85 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="1"> Sehr Niedrig </td>
	<td data-raw="1 2 3"> Mehrere </td>
</tr>
<tr class="row2 class-4 class-11 not-common is-equipment">
	<td data-raw="-3 Ätzschlundtreter"><a href="http://portal.wow-alive.de/item/47992" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_boots_leather_03a.jpg");'> </span> <strong>Ätzschlundtreter</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Füße <em>(Leder)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="2"> Heroisch 10 </td>
</tr>
<tr class="row1 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common">
	<td data-raw="-3 Pläne: Saronitschwertbrecher"><a href="http://portal.wow-alive.de/item/47641" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_04.jpg");'> </span> <strong>Pläne: Saronitschwertbrecher</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="85"> 85 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="1"> Sehr Niedrig </td>
	<td data-raw="1 2 3"> Mehrere </td>
</tr>
<tr class="row2 class-1 class-2 class-6 not-common is-equipment">
	<td data-raw="-3 Gurt des Pfählers"><a href="http://portal.wow-alive.de/item/47614" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_belt_50.jpg");'> </span> <strong>Gurt des Pfählers</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="232"> 232 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Gürtel <em>(Platte)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="0"> Normal 10 </td>
</tr>
<tr class="row1 class-11 not-common is-equipment">
	<td data-raw="-3 Stiefel des unablässigen Sturms"><a href="http://portal.wow-alive.de/item/46988" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_boots_leather01.jpg");'> </span> <strong>Stiefel des unablässigen Sturms</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Füße <em>(Leder)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
</tr>
<tr class="row2 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common">
	<td data-raw="-3 Muster: Merlins Robe"><a href="http://portal.wow-alive.de/item/47638" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_04.jpg");'> </span> <strong>Muster: Merlins Robe</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="85"> 85 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="1"> Sehr Niedrig </td>
	<td data-raw="1 2 3"> Mehrere </td>
</tr>
<tr class="row1 class-11 not-common is-equipment">
	<td data-raw="-3 Stiefel des harschen Winters"><a href="http://portal.wow-alive.de/item/47262" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_boots_leather_04b.jpg");'> </span> <strong>Stiefel des harschen Winters</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Füße <em>(Leder)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
</tr>
<tr class="row2 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common">
	<td data-raw="-3 Muster: Roben der Mondfinsternis"><a href="http://portal.wow-alive.de/item/47652" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_04.jpg");'> </span> <strong>Muster: Roben der Mondfinsternis</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="85"> 85 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="1"> Sehr Niedrig </td>
	<td data-raw="1 2 3"> Mehrere </td>
</tr>
<tr class="row1 class-1 class-2 class-6 class-11 not-common is-equipment">
	<td data-raw="-3 Fleischfressendes Band"><a href="http://portal.wow-alive.de/item/47578" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_jewelry_ring_53naxxramas.jpg");'> </span> <strong>Fleischfressendes Band</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="232"> 232 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Finger </td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="0"> Normal 10 </td>
</tr>
<tr class="row2 class-1 class-2 class-6 not-common is-equipment">
	<td data-raw="-3 Brustplatte der gewaltigen Monstrosität"><a href="http://portal.wow-alive.de/item/46968" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_chest_plate20.jpg");'> </span> <strong>Brustplatte der gewaltigen Monstrosität</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="258"> 258 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Brust <em>(Platte)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="3"> Heroisch 25 </td>
</tr>
<tr class="row1 class-4 class-11 not-common is-equipment">
	<td data-raw="-3 Ätzschlundstiefel"><a href="http://portal.wow-alive.de/item/47919" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_boots_leather_02.jpg");'> </span> <strong>Ätzschlundstiefel</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Füße <em>(Leder)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="2"> Heroisch 10 </td>
</tr>
<tr class="row2 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common">
	<td data-raw="-3 Pläne: Titanklingenplatte"><a href="http://portal.wow-alive.de/item/47624" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_04.jpg");'> </span> <strong>Pläne: Titanklingenplatte</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="85"> 85 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="1"> Sehr Niedrig </td>
	<td data-raw="1 2 3"> Mehrere </td>
</tr>
<tr class="row1 class-1 class-2 class-6 not-common is-equipment">
	<td data-raw="-3 Knochenschmetternde Unterarmschienen"><a href="http://portal.wow-alive.de/item/47253" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_bracer_30b.jpg");'> </span> <strong>Knochenschmetternde Unterarmschienen</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Handgelenke <em>(Platte)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
</tr>
<tr class="row2 class-1 class-2 class-6 class-11 not-common is-equipment">
	<td data-raw="-3 Ring des wilden Temperaments"><a href="http://portal.wow-alive.de/item/47252" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_jewelry_ring_76.jpg");'> </span> <strong>Ring des wilden Temperaments</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Finger </td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
</tr>
<tr class="row1 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common">
	<td data-raw="-3 Pläne: Brustplatte des Weißen Ritters"><a href="http://portal.wow-alive.de/item/47640" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_04.jpg");'> </span> <strong>Pläne: Brustplatte des Weißen Ritters</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="85"> 85 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="1"> Sehr Niedrig </td>
	<td data-raw="1 2 3"> Mehrere </td>
</tr>
<tr class="row2 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common">
	<td data-raw="-3 Muster: Armschützer des Mondschattens"><a href="http://portal.wow-alive.de/item/47653" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_04.jpg");'> </span> <strong>Muster: Armschützer des Mondschattens</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="85"> 85 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="1"> Sehr Niedrig </td>
	<td data-raw="1 2 3"> Mehrere </td>
</tr>
<tr class="row1 class-3 class-7 class-4 class-11 not-common is-equipment">
	<td data-raw="-3 Halsband der endlosen Qual"><a href="http://portal.wow-alive.de/item/47988" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_jewelry_necklace_ahnqiraj_02.jpg");'> </span> <strong>Halsband der endlosen Qual</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Hals </td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="2"> Heroisch 10 </td>
</tr>
<tr class="row2 class-11 not-common is-equipment">
	<td data-raw="-3 Schulterstücke der eiszeitlichen Wildnis"><a href="http://portal.wow-alive.de/item/47857" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_shoulder_109b.jpg");'> </span> <strong>Schulterstücke der eiszeitlichen Wildnis</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="232"> 232 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Schultern <em>(Leder)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="0"> Normal 10 </td>
</tr>
<tr class="row1 class-3 class-7 not-common is-equipment">
	<td data-raw="-3 Kürass der Böswilligkeit"><a href="http://portal.wow-alive.de/item/47251" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_chest_mail_03.jpg");'> </span> <strong>Kürass der Böswilligkeit</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Brust <em>(Kette)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
</tr>
<tr class="row2 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common">
	<td data-raw="-3 Muster: Königliche Mondgespinstarmschienen"><a href="http://portal.wow-alive.de/item/47637" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_04.jpg");'> </span> <strong>Muster: Königliche Mondgespinstarmschienen</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="85"> 85 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="1"> Sehr Niedrig </td>
	<td data-raw="1 2 3"> Mehrere </td>
</tr>
<tr class="row1 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common">
	<td data-raw="-3 Muster: Juwelenbesetzte Armschienen des Zauberers"><a href="http://portal.wow-alive.de/item/47654" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_04.jpg");'> </span> <strong>Muster: Juwelenbesetzte Armschienen des Zauberers</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="85"> 85 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="1"> Sehr Niedrig </td>
	<td data-raw="1 2 3"> Mehrere </td>
</tr>
<tr class="row2 class-4 class-11 not-common is-equipment" style="display: none">
	<td data-raw="-3 Gamaschen der gebrochenen Bestie"><a href="http://portal.wow-alive.de/item/46974" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_pants_leather_28.jpg");'> </span> <strong>Gamaschen der gebrochenen Bestie</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Beine <em>(Leder)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
</tr>
<tr class="row1 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common" style="display: none">
	<td data-raw="-3 Muster: Drachenschuppenarmschienen des Kreuzfahrers"><a href="http://portal.wow-alive.de/item/47631" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_04.jpg");'> </span> <strong>Muster: Drachenschuppenarmschienen des Kreuzfahrers</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="85"> 85 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="1"> Sehr Niedrig </td>
	<td data-raw="1 2 3"> Mehrere </td>
</tr>
<tr class="row2 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common" style="display: none">
	<td data-raw="-3 Muster: Knochener Rittersbannpanzer"><a href="http://portal.wow-alive.de/item/47651" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_04.jpg");'> </span> <strong>Muster: Knochener Rittersbannpanzer</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="85"> 85 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="1"> Sehr Niedrig </td>
	<td data-raw="1 2 3"> Mehrere </td>
</tr>
<tr class="row1 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common" style="display: none">
	<td data-raw="-3 Muster: Drachenschuppenbrustplatte des Kreuzfahrers"><a href="http://portal.wow-alive.de/item/47630" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_04.jpg");'> </span> <strong>Muster: Drachenschuppenbrustplatte des Kreuzfahrers</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="85"> 85 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="1"> Sehr Niedrig </td>
	<td data-raw="1 2 3"> Mehrere </td>
</tr>
<tr class="row2 class-5 class-9 class-8 not-common is-equipment" style="display: none">
	<td data-raw="-3 Fließende Gewänder des Aufstiegs"><a href="http://portal.wow-alive.de/item/46992" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_chest_cloth_75.jpg");'> </span> <strong>Fließende Gewänder des Aufstiegs</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Brust <em>(Stoff)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
</tr>
<tr class="row1 class-1 class-2 class-6 class-11 not-common is-equipment" style="display: none">
	<td data-raw="-3 Gormoks Band"><a href="http://portal.wow-alive.de/item/47993" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_jewelry_ring_53naxxramas.jpg");'> </span> <strong>Gormoks Band</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Finger </td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="2"> Heroisch 10 </td>
</tr>
<tr class="row2 class-5 class-9 class-7 class-2 class-11 class-8 not-common is-equipment" style="display: none">
	<td data-raw="-3 Schal der erfrischenden Winde"><a href="http://portal.wow-alive.de/item/46977" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_misc_cape_16.jpg");'> </span> <strong>Schal der erfrischenden Winde</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="258"> 258 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Rücken </td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="3"> Heroisch 25 </td>
</tr>
<tr class="row1 class-7 not-common is-equipment" style="display: none">
	<td data-raw="-3 Schulterstücke des Geistwandlers"><a href="http://portal.wow-alive.de/item/47860" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_shoulder_67.jpg");'> </span> <strong>Schulterstücke des Geistwandlers</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="232"> 232 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Schultern <em>(Kette)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="0"> Normal 10 </td>
</tr>
<tr class="row2 class-3 class-7 class-4 class-11 not-common is-equipment" style="display: none">
	<td data-raw="-3 Halsband der unaufhörlichen Qual"><a href="http://portal.wow-alive.de/item/47915" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_jewelry_necklace_ahnqiraj_02.jpg");'> </span> <strong>Halsband der unaufhörlichen Qual</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Hals </td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="2"> Heroisch 10 </td>
</tr>
<tr class="row1 class-1 class-2 class-6 not-common is-equipment" style="display: none">
	<td data-raw="-3 Stulpen des brodelnden Zorns"><a href="http://portal.wow-alive.de/item/47990" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_gauntlets_62.jpg");'> </span> <strong>Stulpen des brodelnden Zorns</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Hände <em>(Platte)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="2"> Heroisch 10 </td>
</tr>
<tr class="row2 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common" style="display: none">
	<td data-raw="-3 Muster: Armschienen des schnellen Todes"><a href="http://portal.wow-alive.de/item/47635" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_04.jpg");'> </span> <strong>Muster: Armschienen des schnellen Todes</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="85"> 85 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="1"> Sehr Niedrig </td>
	<td data-raw="1 2 3"> Mehrere </td>
</tr>
<tr class="row1 class-2 not-common is-equipment" style="display: none">
	<td data-raw="-3 Stiefel des Mutigen"><a href="http://portal.wow-alive.de/item/46986" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_boots_plate_11.jpg");'> </span> <strong>Stiefel des Mutigen</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="258"> 258 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Füße <em>(Platte)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="3"> Heroisch 25 </td>
</tr>
<tr class="row2 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common" style="display: none">
	<td data-raw="-3 Muster: Königliche Mondgespinstarmschienen"><a href="http://portal.wow-alive.de/item/47656" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_04.jpg");'> </span> <strong>Muster: Königliche Mondgespinstarmschienen</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="85"> 85 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="1"> Sehr Niedrig </td>
	<td data-raw="1 2 3"> Mehrere </td>
</tr>
<tr class="row1 class-1 class-2 class-6 not-common is-equipment" style="display: none">
	<td data-raw="-3 Stulpen des brodelnden Zorns"><a href="http://portal.wow-alive.de/item/47851" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_gauntlets_62.jpg");'> </span> <strong>Stulpen des brodelnden Zorns</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="232"> 232 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Hände <em>(Platte)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="0"> Normal 10 </td>
</tr>
<tr class="row2 class-1 class-2 class-6 not-common is-equipment" style="display: none">
	<td data-raw="-3 Schreckensmaularmschienen"><a href="http://portal.wow-alive.de/item/47991" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_bracer_32b.jpg");'> </span> <strong>Schreckensmaularmschienen</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Handgelenke <em>(Platte)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="2"> Heroisch 10 </td>
</tr>
<tr class="row1 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common" style="display: none">
	<td data-raw="-3 Muster: Armschützer des Mondschattens"><a href="http://portal.wow-alive.de/item/47633" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_04.jpg");'> </span> <strong>Muster: Armschützer des Mondschattens</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="85"> 85 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="1"> Sehr Niedrig </td>
	<td data-raw="1 2 3"> Mehrere </td>
</tr>
<tr class="row2 class-11 not-common is-equipment" style="display: none">
	<td data-raw="-3 Stiefel des harschen Winters"><a href="http://portal.wow-alive.de/item/47423" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_boots_leather_04b.jpg");'> </span> <strong>Stiefel des harschen Winters</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="258"> 258 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Füße <em>(Leder)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="3"> Heroisch 25 </td>
</tr>
<tr class="row1 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common" style="display: none">
	<td data-raw="-3 Muster: Verwunschene nerubische Brustplatte"><a href="http://portal.wow-alive.de/item/47628" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_04.jpg");'> </span> <strong>Muster: Verwunschene nerubische Brustplatte</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="85"> 85 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="1"> Sehr Niedrig </td>
	<td data-raw="1 2 3"> Mehrere </td>
</tr>
<tr class="row2 class-5 class-9 class-8 not-common is-equipment" style="display: none">
	<td data-raw="-3 Szepter der gefangenen Seelen"><a href="http://portal.wow-alive.de/item/47856" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_wand_31.jpg");'> </span> <strong>Szepter der gefangenen Seelen</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="232"> 232 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Fernkampf <em>(Zauberstab)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="0"> Normal 10 </td>
</tr>
<tr class="row1 class-5 class-9 class-8 not-common is-equipment" style="display: none">
	<td data-raw="-3 Fließende Roben des Aufstiegs"><a href="http://portal.wow-alive.de/item/47264" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_chest_cloth_73.jpg");'> </span> <strong>Fließende Roben des Aufstiegs</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Brust <em>(Stoff)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
</tr>
<tr class="row2 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common" style="display: none">
	<td data-raw="-3 Muster: Königliche Mondgespinstrobe"><a href="http://portal.wow-alive.de/item/47636" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_04.jpg");'> </span> <strong>Muster: Königliche Mondgespinstrobe</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="85"> 85 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="1"> Sehr Niedrig </td>
	<td data-raw="1 2 3"> Mehrere </td>
</tr>
<tr class="row1 class-11 not-common is-equipment" style="display: none">
	<td data-raw="-3 Stiefel des unablässigen Sturms"><a href="http://portal.wow-alive.de/item/46989" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_boots_leather01.jpg");'> </span> <strong>Stiefel des unablässigen Sturms</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="258"> 258 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Füße <em>(Leder)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="3"> Heroisch 25 </td>
</tr>
<tr class="row2 class-1 class-2 class-6 class-11 not-common is-equipment" style="display: none">
	<td data-raw="-3 Band des wilden Temperaments"><a href="http://portal.wow-alive.de/item/46966" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_jewelry_ring_76.jpg");'> </span> <strong>Band des wilden Temperaments</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="258"> 258 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Finger </td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="3"> Heroisch 25 </td>
</tr>
<tr class="row1 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common" style="display: none">
	<td data-raw="-3 Muster: Roben der Mondfinsternis"><a href="http://portal.wow-alive.de/item/47632" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_04.jpg");'> </span> <strong>Muster: Roben der Mondfinsternis</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="85"> 85 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="1"> Sehr Niedrig </td>
	<td data-raw="1 2 3"> Mehrere </td>
</tr>
<tr class="row2 class-5 class-9 class-7 class-11 class-8 not-common is-equipment" style="display: none">
	<td data-raw="-3 Haken von Tarasque"><a href="http://portal.wow-alive.de/item/47422" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_weapon_shortblade_93.jpg");'> </span> <strong>Haken von Tarasque</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="258"> 258 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Waffenhand <em>(Dolch)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="3"> Heroisch 25 </td>
</tr>
<tr class="row1 class-4 class-11 not-common is-equipment" style="display: none">
	<td data-raw="-3 Ätzschlundtreter"><a href="http://portal.wow-alive.de/item/47853" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_boots_leather_03a.jpg");'> </span> <strong>Ätzschlundtreter</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="232"> 232 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Füße <em>(Leder)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="0"> Normal 10 </td>
</tr>
<tr class="row2 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common" style="display: none">
	<td data-raw="-3 Muster: Verwunschene nerubische Brustplatte"><a href="http://portal.wow-alive.de/item/47650" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_04.jpg");'> </span> <strong>Muster: Verwunschene nerubische Brustplatte</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="85"> 85 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="1"> Sehr Niedrig </td>
	<td data-raw="1 2 3"> Mehrere </td>
</tr>
<tr class="row1 class-7 not-common is-equipment" style="display: none">
	<td data-raw="-3 Bindungen des Eisgräbers"><a href="http://portal.wow-alive.de/item/47265" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_belt_47a.jpg");'> </span> <strong>Bindungen des Eisgräbers</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Gürtel <em>(Kette)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
</tr>
<tr class="row2 class-5 class-9 class-7 class-11 class-8 not-common is-equipment" style="display: none">
	<td data-raw="-3 Klinge von Tarasque"><a href="http://portal.wow-alive.de/item/46980" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_weapon_shortblade_99.jpg");'> </span> <strong>Klinge von Tarasque</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="258"> 258 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Waffenhand <em>(Dolch)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="3"> Heroisch 25 </td>
</tr>
<tr class="row1 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common" style="display: none">
	<td data-raw="-3 Pläne: Sonnengeschmiedete Brustplatte"><a href="http://portal.wow-alive.de/item/47626" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_04.jpg");'> </span> <strong>Pläne: Sonnengeschmiedete Brustplatte</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="85"> 85 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="1"> Sehr Niedrig </td>
	<td data-raw="1 2 3"> Mehrere </td>
</tr>
<tr class="row2 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common" style="display: none">
	<td data-raw="-3 Muster: Merlins Robe"><a href="http://portal.wow-alive.de/item/47655" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_04.jpg");'> </span> <strong>Muster: Merlins Robe</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="85"> 85 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="1"> Sehr Niedrig </td>
	<td data-raw="1 2 3"> Mehrere </td>
</tr>
<tr class="row1 class-7 not-common is-equipment" style="display: none">
	<td data-raw="-3 Schulterstücke des Geistwandlers"><a href="http://portal.wow-alive.de/item/47999" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_shoulder_67.jpg");'> </span> <strong>Schulterstücke des Geistwandlers</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Schultern <em>(Kette)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="2"> Heroisch 10 </td>
</tr>
<tr class="row2 class-7 not-common is-equipment" style="display: none">
	<td data-raw="-3 Bindungen des Eisgräbers"><a href="http://portal.wow-alive.de/item/47426" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_belt_47a.jpg");'> </span> <strong>Bindungen des Eisgräbers</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="258"> 258 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Gürtel <em>(Kette)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="3"> Heroisch 25 </td>
</tr>
<tr class="row1 class-1 class-2 class-6 not-common is-equipment" style="display: none">
	<td data-raw="-3 Knochenschmetternde Unterarmschienen"><a href="http://portal.wow-alive.de/item/47414" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_bracer_30b.jpg");'> </span> <strong>Knochenschmetternde Unterarmschienen</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="258"> 258 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Handgelenke <em>(Platte)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="3"> Heroisch 25 </td>
</tr>
<tr class="row2 class-2 not-common is-equipment" style="display: none">
	<td data-raw="-3 Sabatons des Mutigen"><a href="http://portal.wow-alive.de/item/47424" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_boots_plate_09.jpg");'> </span> <strong>Sabatons des Mutigen</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="258"> 258 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Füße <em>(Platte)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="3"> Heroisch 25 </td>
</tr>
<tr class="row1 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common" style="display: none">
	<td data-raw="-3 Trophäe des Kreuzzugs"><a href="http://portal.wow-alive.de/item/47242" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_misc_trophy_argent.jpg");'> </span> <strong>Trophäe des Kreuzzugs</strong> </a></td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="6"> Garantiert </td>
	<td data-raw="1 3"> 25 Spieler </td>
</tr>
<tr class="row2 class-5 class-9 class-8 not-common is-equipment" style="display: none">
	<td data-raw="-3 Eisheulers Bindungen"><a href="http://portal.wow-alive.de/item/47855" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_belt_52.jpg");'> </span> <strong>Eisheulers Bindungen</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="232"> 232 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Gürtel <em>(Stoff)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="0"> Normal 10 </td>
</tr>
<tr class="row1 class-3 class-7 class-4 class-11 not-common is-equipment" style="display: none">
	<td data-raw="-3 Stahlklingenbrecher"><a href="http://portal.wow-alive.de/item/46969" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_weapon_shortblade_95.jpg");'> </span> <strong>Stahlklingenbrecher</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="258"> 258 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Einhändig <em>(Dolch)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="3"> Heroisch 25 </td>
</tr>
<tr class="row2 class-3 class-7 not-common is-equipment" style="display: none">
	<td data-raw="-3 Armbänder des nördlichen Pirschers"><a href="http://portal.wow-alive.de/item/47916" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_bracer_32a.jpg");'> </span> <strong>Armbänder des nördlichen Pirschers</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Handgelenke <em>(Kette)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="2"> Heroisch 10 </td>
</tr>
<tr class="row1 class-5 class-9 class-8 not-common is-equipment" style="display: none">
	<td data-raw="-3 Stab der gefangenen Seelen"><a href="http://portal.wow-alive.de/item/47612" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_wand_15.jpg");'> </span> <strong>Stab der gefangenen Seelen</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="232"> 232 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Fernkampf <em>(Zauberstab)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="0"> Normal 10 </td>
</tr>
<tr class="row2 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common" style="display: none">
	<td data-raw="-3 Pläne: Brustplatte des Weißen Ritters"><a href="http://portal.wow-alive.de/item/47622" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_04.jpg");'> </span> <strong>Pläne: Brustplatte des Weißen Ritters</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="85"> 85 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="1"> Sehr Niedrig </td>
	<td data-raw="1 2 3"> Mehrere </td>
</tr>
<tr class="row1 class-3 class-7 not-common is-equipment" style="display: none">
	<td data-raw="-3 Armbänder des nördlichen Pirschers"><a href="http://portal.wow-alive.de/item/47610" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_bracer_32a.jpg");'> </span> <strong>Armbänder des nördlichen Pirschers</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="232"> 232 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Handgelenke <em>(Kette)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="0"> Normal 10 </td>
</tr>
<tr class="row2 class-1 class-2 class-6 not-common is-equipment" style="display: none">
	<td data-raw="-3 Brustplatte der gewaltigen Monstrosität"><a href="http://portal.wow-alive.de/item/46962" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_chest_plate20.jpg");'> </span> <strong>Brustplatte der gewaltigen Monstrosität</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Brust <em>(Platte)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
</tr>
<tr class="row1 class-5 class-9 class-8 not-common is-equipment" style="display: none">
	<td data-raw="-3 Fließende Roben des Aufstiegs"><a href="http://portal.wow-alive.de/item/47425" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_chest_cloth_73.jpg");'> </span> <strong>Fließende Roben des Aufstiegs</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="258"> 258 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Brust <em>(Stoff)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="3"> Heroisch 25 </td>
</tr>
<tr class="row2 class-1 class-2 class-6 not-common is-equipment" style="display: none">
	<td data-raw="-3 Halsberge der gewaltigen Monstrosität"><a href="http://portal.wow-alive.de/item/47415" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_chest_plate_23.jpg");'> </span> <strong>Halsberge der gewaltigen Monstrosität</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="258"> 258 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Brust <em>(Platte)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="3"> Heroisch 25 </td>
</tr>
<tr class="row1 class-3 class-7 class-4 class-11 not-common is-equipment" style="display: none">
	<td data-raw="-3 Halsband der endlosen Qual"><a href="http://portal.wow-alive.de/item/47849" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_jewelry_necklace_ahnqiraj_02.jpg");'> </span> <strong>Halsband der endlosen Qual</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="232"> 232 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Hals </td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="0"> Normal 10 </td>
</tr>
<tr class="row2 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common" style="display: none">
	<td data-raw="-3 Pläne: Titanstachelschützer"><a href="http://portal.wow-alive.de/item/47645" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_04.jpg");'> </span> <strong>Pläne: Titanstachelschützer</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="85"> 85 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="1"> Sehr Niedrig </td>
	<td data-raw="1 2 3"> Mehrere </td>
</tr>
<tr class="row1 class-1 class-2 class-6 class-11 not-common is-equipment" style="display: none">
	<td data-raw="-3 Band des wilden Temperaments"><a href="http://portal.wow-alive.de/item/46959" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_jewelry_ring_76.jpg");'> </span> <strong>Band des wilden Temperaments</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Finger </td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
</tr>
<tr class="row2 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common" style="display: none">
	<td data-raw="-3 Pläne: Saronitschwertbrecher"><a href="http://portal.wow-alive.de/item/47623" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_04.jpg");'> </span> <strong>Pläne: Saronitschwertbrecher</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="85"> 85 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="1"> Sehr Niedrig </td>
	<td data-raw="1 2 3"> Mehrere </td>
</tr>
<tr class="row1 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common" style="display: none">
	<td data-raw="-3 Muster: Knochener Rittersbannpanzer"><a href="http://portal.wow-alive.de/item/47634" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_04.jpg");'> </span> <strong>Muster: Knochener Rittersbannpanzer</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="85"> 85 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="1"> Sehr Niedrig </td>
	<td data-raw="1 2 3"> Mehrere </td>
</tr>
<tr class="row2 class-1 class-2 class-6 not-common is-equipment" style="display: none">
	<td data-raw="-3 Knochenschmetternde Armplatten"><a href="http://portal.wow-alive.de/item/46967" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_bracer_27b.jpg");'> </span> <strong>Knochenschmetternde Armplatten</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="258"> 258 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Handgelenke <em>(Platte)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="3"> Heroisch 25 </td>
</tr>
<tr class="row1 class-3 class-7 not-common is-equipment" style="display: none">
	<td data-raw="-3 Brustplatte der Böswilligkeit"><a href="http://portal.wow-alive.de/item/46960" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_chest_mail_07.jpg");'> </span> <strong>Brustplatte der Böswilligkeit</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Brust <em>(Kette)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
</tr>
<tr class="row2 class-1 class-2 not-common is-equipment" style="display: none">
	<td data-raw="-3 Kristallplattenwall"><a href="http://portal.wow-alive.de/item/46964" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_shield_68.jpg");'> </span> <strong>Kristallplattenwall</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="258"> 258 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Schild </td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="3"> Heroisch 25 </td>
</tr>
<tr class="row1 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common" style="display: none">
	<td data-raw="-3 Pläne: Titanklingenplatte"><a href="http://portal.wow-alive.de/item/47644" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_04.jpg");'> </span> <strong>Pläne: Titanklingenplatte</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="85"> 85 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="1"> Sehr Niedrig </td>
	<td data-raw="1 2 3"> Mehrere </td>
</tr>
<tr class="row2 class-7 not-common is-equipment" style="display: none">
	<td data-raw="-3 Gürtel des Eisgräbers"><a href="http://portal.wow-alive.de/item/46991" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_belt_47a.jpg");'> </span> <strong>Gürtel des Eisgräbers</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="258"> 258 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Gürtel <em>(Kette)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="3"> Heroisch 25 </td>
</tr>
<tr class="row1 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common" style="display: none">
	<td data-raw="-3 Pläne: Sonnengeschmiedete Brustplatte"><a href="http://portal.wow-alive.de/item/47643" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_04.jpg");'> </span> <strong>Pläne: Sonnengeschmiedete Brustplatte</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="85"> 85 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="1"> Sehr Niedrig </td>
	<td data-raw="1 2 3"> Mehrere </td>
</tr>
<tr class="row2 class-3 class-7 class-4 class-11 not-common is-equipment" style="display: none">
	<td data-raw="-3 Stahlklingenbrecher"><a href="http://portal.wow-alive.de/item/46958" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_weapon_shortblade_95.jpg");'> </span> <strong>Stahlklingenbrecher</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Einhändig <em>(Dolch)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
</tr>
<tr class="row1 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common" style="display: none">
	<td data-raw="-3 Pläne: Titanstachelschützer"><a href="http://portal.wow-alive.de/item/47625" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_04.jpg");'> </span> <strong>Pläne: Titanstachelschützer</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="85"> 85 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="1"> Sehr Niedrig </td>
	<td data-raw="1 2 3"> Mehrere </td>
</tr>
<tr class="row2 class-3 class-7 not-common is-equipment" style="display: none">
	<td data-raw="-3 Brustplatte der Böswilligkeit"><a href="http://portal.wow-alive.de/item/46965" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_chest_mail_07.jpg");'> </span> <strong>Brustplatte der Böswilligkeit</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="258"> 258 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Brust <em>(Kette)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="3"> Heroisch 25 </td>
</tr>
<tr class="row1 class-3 class-7 class-4 class-11 not-common is-equipment" style="display: none">
	<td data-raw="-3 Tuch des ungezähmten Raubtiers"><a href="http://portal.wow-alive.de/item/46971" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_misc_cape_16.jpg");'> </span> <strong>Tuch des ungezähmten Raubtiers</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="258"> 258 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Rücken </td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="3"> Heroisch 25 </td>
</tr>
<tr class="row2 class-1 class-2 class-6 not-common is-equipment" style="display: none">
	<td data-raw="-3 Stulpen des aufkochenden Zorns"><a href="http://portal.wow-alive.de/item/47917" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_gauntlets_53.jpg");'> </span> <strong>Stulpen des aufkochenden Zorns</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Hände <em>(Platte)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="2"> Heroisch 10 </td>
</tr>
<tr class="row1 class-1 class-2 class-6 class-11 not-common is-equipment" style="display: none">
	<td data-raw="-3 Gormoks Band"><a href="http://portal.wow-alive.de/item/47854" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_jewelry_ring_53naxxramas.jpg");'> </span> <strong>Gormoks Band</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="232"> 232 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Finger </td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="0"> Normal 10 </td>
</tr>
<tr class="row2 class-3 class-7 not-common is-equipment" style="display: none">
	<td data-raw="-3 Armschienen des nördlichen Pirschers"><a href="http://portal.wow-alive.de/item/47989" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_bracer_38.jpg");'> </span> <strong>Armschienen des nördlichen Pirschers</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Handgelenke <em>(Kette)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="2"> Heroisch 10 </td>
</tr>
<tr class="row1 class-1 class-2 class-6 not-common is-equipment" style="display: none">
	<td data-raw="-3 Schreckensmaularmschützer"><a href="http://portal.wow-alive.de/item/47918" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_bracer_32.jpg");'> </span> <strong>Schreckensmaularmschützer</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Handgelenke <em>(Platte)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="2"> Heroisch 10 </td>
</tr>
<tr class="row2 class-2 not-common is-equipment" style="display: none">
	<td data-raw="-3 Gurt der gefrorenen Weite"><a href="http://portal.wow-alive.de/item/47858" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_belt_51.jpg");'> </span> <strong>Gurt der gefrorenen Weite</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="232"> 232 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Gürtel <em>(Platte)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="0"> Normal 10 </td>
</tr>
<tr class="row1 class-5 class-9 class-7 class-2 class-11 class-8 not-common is-equipment" style="display: none">
	<td data-raw="-3 Schal der erfrischenden Winde"><a href="http://portal.wow-alive.de/item/46976" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_misc_cape_16.jpg");'> </span> <strong>Schal der erfrischenden Winde</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Rücken </td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
</tr>
<tr class="row2 class-3 class-7 class-4 class-11 not-common is-equipment" style="display: none">
	<td data-raw="-3 Halsband der unaufhörlichen Qual"><a href="http://portal.wow-alive.de/item/47607" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_jewelry_necklace_ahnqiraj_02.jpg");'> </span> <strong>Halsband der unaufhörlichen Qual</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="232"> 232 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Hals </td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="0"> Normal 10 </td>
</tr>
<tr class="row1 class-5 class-9 class-8 not-common is-equipment" style="display: none">
	<td data-raw="-3 Szepter der gefangenen Seelen"><a href="http://portal.wow-alive.de/item/47995" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_wand_31.jpg");'> </span> <strong>Szepter der gefangenen Seelen</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Fernkampf <em>(Zauberstab)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="2"> Heroisch 10 </td>
</tr>
<tr class="row2 class-11 not-common is-equipment" style="display: none">
	<td data-raw="-3 Schulterpolster der eiszeitlichen Wildnis"><a href="http://portal.wow-alive.de/item/47923" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_shoulder_89.jpg");'> </span> <strong>Schulterpolster der eiszeitlichen Wildnis</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Schultern <em>(Leder)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="2"> Heroisch 10 </td>
</tr>
<tr class="row1 class-1 class-2 class-6 class-11 not-common is-equipment" style="display: none">
	<td data-raw="-3 Ring des wilden Temperaments"><a href="http://portal.wow-alive.de/item/47413" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_jewelry_ring_76.jpg");'> </span> <strong>Ring des wilden Temperaments</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="258"> 258 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Finger </td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="3"> Heroisch 25 </td>
</tr>
<tr class="row2 class-7 not-common is-equipment" style="display: none">
	<td data-raw="-3 Gürtel des Eisgräbers"><a href="http://portal.wow-alive.de/item/46990" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_belt_47a.jpg");'> </span> <strong>Gürtel des Eisgräbers</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Gürtel <em>(Kette)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
</tr>
<tr class="row1 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common" style="display: none">
	<td data-raw="-3 Pläne: Sonnengeschmiedete Armschienen"><a href="http://portal.wow-alive.de/item/47642" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_04.jpg");'> </span> <strong>Pläne: Sonnengeschmiedete Armschienen</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="85"> 85 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="1"> Sehr Niedrig </td>
	<td data-raw="1 2 3"> Mehrere </td>
</tr>
<tr class="row2 class-3 class-7 not-common is-equipment" style="display: none">
	<td data-raw="-3 Kürass der Böswilligkeit"><a href="http://portal.wow-alive.de/item/47412" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_chest_mail_03.jpg");'> </span> <strong>Kürass der Böswilligkeit</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="258"> 258 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Brust <em>(Kette)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="3"> Heroisch 25 </td>
</tr>
<tr class="row1 class-5 class-9 class-8 not-common is-equipment" style="display: none">
	<td data-raw="-3 Eisheulers Sattelgurt"><a href="http://portal.wow-alive.de/item/47921" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_belt_52.jpg");'> </span> <strong>Eisheulers Sattelgurt</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Gürtel <em>(Stoff)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="2"> Heroisch 10 </td>
</tr>
<tr class="row2 class-2 not-common is-equipment" style="display: none">
	<td data-raw="-3 Gürtel der gefrorenen Weite"><a href="http://portal.wow-alive.de/item/47924" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_belt_49b.jpg");'> </span> <strong>Gürtel der gefrorenen Weite</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Gürtel <em>(Platte)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="2"> Heroisch 10 </td>
</tr>
<tr class="row1 class-3 class-7 class-4 class-11 not-common is-equipment" style="display: none">
	<td data-raw="-3 Tuch des ungezähmten Raubtiers"><a href="http://portal.wow-alive.de/item/46970" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_misc_cape_16.jpg");'> </span> <strong>Tuch des ungezähmten Raubtiers</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Rücken </td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
</tr>
<tr class="row2 class-2 not-common is-equipment" style="display: none">
	<td data-raw="-3 Gürtel der gefrorenen Weite"><a href="http://portal.wow-alive.de/item/47615" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_belt_49b.jpg");'> </span> <strong>Gürtel der gefrorenen Weite</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="232"> 232 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Gürtel <em>(Platte)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="0"> Normal 10 </td>
</tr>
<tr class="row1 class-2 not-common is-equipment" style="display: none">
	<td data-raw="-3 Stiefel des Mutigen"><a href="http://portal.wow-alive.de/item/46985" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_boots_plate_11.jpg");'> </span> <strong>Stiefel des Mutigen</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Füße <em>(Platte)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
</tr>
<tr class="row2 class-5 class-9 class-7 class-2 class-11 class-8 not-common is-equipment" style="display: none">
	<td data-raw="-3 Tuch der erfrischenden Winde"><a href="http://portal.wow-alive.de/item/47417" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_misc_cape_18.jpg");'> </span> <strong>Tuch der erfrischenden Winde</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="258"> 258 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Rücken </td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="3"> Heroisch 25 </td>
</tr>
<tr class="row1 class-3 class-7 class-4 class-11 not-common is-equipment" style="display: none">
	<td data-raw="-3 Umhang des ungezähmten Raubtiers"><a href="http://portal.wow-alive.de/item/47418" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_misc_cape_18.jpg");'> </span> <strong>Umhang des ungezähmten Raubtiers</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="258"> 258 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Rücken </td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="3"> Heroisch 25 </td>
</tr>
<tr class="row2 class-7 not-common is-equipment" style="display: none">
	<td data-raw="-3 Schulterschützer des Geisterwandlers"><a href="http://portal.wow-alive.de/item/47926" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_shoulder_107.jpg");'> </span> <strong>Schulterschützer des Geisterwandlers</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Schultern <em>(Kette)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="2"> Heroisch 10 </td>
</tr>
<tr class="row1 class-1 class-2 class-6 not-common is-equipment" style="display: none">
	<td data-raw="-3 Schreckensmaularmschützer"><a href="http://portal.wow-alive.de/item/47611" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_bracer_32.jpg");'> </span> <strong>Schreckensmaularmschützer</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="232"> 232 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Handgelenke <em>(Platte)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="0"> Normal 10 </td>
</tr>
<tr class="row2 class-5 class-9 class-8 not-common is-equipment" style="display: none">
	<td data-raw="-3 Kordel des finsteren Nebels"><a href="http://portal.wow-alive.de/item/46972" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_belt_52.jpg");'> </span> <strong>Kordel des finsteren Nebels</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Gürtel <em>(Stoff)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
</tr>
<tr class="row1 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common" style="display: none">
	<td data-raw="-3 Muster: Drachenschuppenbrustplatte des Kreuzfahrers"><a href="http://portal.wow-alive.de/item/47649" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_04.jpg");'> </span> <strong>Muster: Drachenschuppenbrustplatte des Kreuzfahrers</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="85"> 85 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="1"> Sehr Niedrig </td>
	<td data-raw="1 2 3"> Mehrere </td>
</tr>
<tr class="row2 class-3 class-7 class-4 class-11 not-common is-equipment" style="display: none">
	<td data-raw="-3 Stygischer Klingenbrecher"><a href="http://portal.wow-alive.de/item/47255" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_weapon_shortblade_94.jpg");'> </span> <strong>Stygischer Klingenbrecher</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Einhändig <em>(Dolch)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
</tr>
<tr class="row1 class-5 class-9 class-8 not-common is-equipment" style="display: none">
	<td data-raw="-3 Gürtel des finsteren Nebels"><a href="http://portal.wow-alive.de/item/47419" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_belt_52.jpg");'> </span> <strong>Gürtel des finsteren Nebels</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="258"> 258 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Gürtel <em>(Stoff)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="3"> Heroisch 25 </td>
</tr>
<tr class="row2 class-3 class-7 class-4 class-11 not-common is-equipment" style="display: none">
	<td data-raw="-3 Stygischer Klingenbrecher"><a href="http://portal.wow-alive.de/item/47416" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_weapon_shortblade_94.jpg");'> </span> <strong>Stygischer Klingenbrecher</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="258"> 258 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Einhändig <em>(Dolch)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="3"> Heroisch 25 </td>
</tr>
<tr class="row1 class-1 class-2 class-6 not-common is-equipment" style="display: none">
	<td data-raw="-3 Gurt des Pfählers"><a href="http://portal.wow-alive.de/item/47925" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_belt_50.jpg");'> </span> <strong>Gurt des Pfählers</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Gürtel <em>(Platte)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="2"> Heroisch 10 </td>
</tr>
<tr class="row2 class-1 class-2 class-6 not-common is-equipment" style="display: none">
	<td data-raw="-3 Knochenschmetternde Armplatten"><a href="http://portal.wow-alive.de/item/46961" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_bracer_27b.jpg");'> </span> <strong>Knochenschmetternde Armplatten</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Handgelenke <em>(Platte)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
</tr>
<tr class="row1 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common" style="display: none">
	<td data-raw="-3 Muster: Schwarze Chitinarmschienen"><a href="http://portal.wow-alive.de/item/47646" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_04.jpg");'> </span> <strong>Muster: Schwarze Chitinarmschienen</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="85"> 85 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="1"> Sehr Niedrig </td>
	<td data-raw="1 2 3"> Mehrere </td>
</tr>
<tr class="row2 class-2 not-common is-equipment" style="display: none">
	<td data-raw="-3 Gurt der gefrorenen Weite"><a href="http://portal.wow-alive.de/item/47997" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_belt_51.jpg");'> </span> <strong>Gurt der gefrorenen Weite</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Gürtel <em>(Platte)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="2"> Heroisch 10 </td>
</tr>
<tr class="row1 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common" style="display: none">
	<td data-raw="-4 Kugel des Kreuzfahrers"><a href="http://portal.wow-alive.de/item/47556" class="item-link color-q3"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/spell_holy_rune.jpg");'> </span> <strong>Kugel des Kreuzfahrers</strong> </a></td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="5"> Sehr Hoch </td>
	<td data-raw="1 2 3"> Mehrere </td>
</tr>
<tr class="row2 class-11 not-common is-equipment" style="display: none">
	<td data-raw="-3 Schulterpolster der eiszeitlichen Wildnis"><a href="http://portal.wow-alive.de/item/47613" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_shoulder_89.jpg");'> </span> <strong>Schulterpolster der eiszeitlichen Wildnis</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="232"> 232 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Schultern <em>(Leder)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="0"> Normal 10 </td>
</tr>
<tr class="row1 class-5 class-9 class-8 not-common is-equipment" style="display: none">
	<td data-raw="-3 Kordel des finsteren Nebels"><a href="http://portal.wow-alive.de/item/46973" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_belt_52.jpg");'> </span> <strong>Kordel des finsteren Nebels</strong> <span class="icon-heroic-skull"></span> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="258"> 258 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Gürtel <em>(Stoff)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="3"> Heroisch 25 </td>
</tr>
<tr class="row2 class-1 class-2 not-common is-equipment" style="display: none">
	<td data-raw="-3 Kristallplattenwall"><a href="http://portal.wow-alive.de/item/46963" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_shield_68.jpg");'> </span> <strong>Kristallplattenwall</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Schild </td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
</tr>
