
<tr class="row1 class-1 class-2 class-6 not-common is-equipment">
	<td data-raw="-3 Beinschützer der Drachenbrut"><a href="http://portal.wow-alive.de/item/40446" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_pants_plate_21.jpg");'> </span> <strong>Beinschützer der Drachenbrut</strong> </a></td>
	<td class="align-center" data-raw="213"> 213 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Beine <em>(Platte)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
	<td><a href="/wow/de/zone/the-obsidian-sanctum/sartharion" data-npc="28860">Sartharion</a></td>
</tr>
<tr class="row2 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8">
	<td data-raw="-6 Froststoff"><a href="http://portal.wow-alive.de/item/33470" class="item-link color-q1"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_fabric_soulcloth.jpg");'> </span> <strong>Froststoff</strong> </a></td>
	<td class="align-center" data-raw="70"> 70 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="0 1"> Normal </td>
	<td></td>
</tr>
<tr class="row1 class-5 class-9 class-7 class-2 class-11 class-8">
	<td data-raw="-6 Runenverzierter Manatrank"><a href="http://portal.wow-alive.de/item/33448" class="item-link color-q1"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_alchemy_elixir_02.jpg");'> </span> <strong>Runenverzierter Manatrank</strong> </a></td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td class="align-center" data-raw="70"> 70 </td>
	<td> Verbrauchbar </td>
	<td data-raw="0"> Extrem Niedrig </td>
	<td data-raw="0 1"> Normal </td>
	<td></td>
</tr>
<tr class="row2 class-5 class-9 class-7 class-11 class-8 not-common is-equipment">
	<td data-raw="-3 Stab der Zurückhaltung"><a href="http://portal.wow-alive.de/item/40455" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_staff_81.jpg");'> </span> <strong>Stab der Zurückhaltung</strong> </a></td>
	<td class="align-center" data-raw="213"> 213 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Zweihändig <em>(Stab)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
	<td><a href="/wow/de/zone/the-obsidian-sanctum/sartharion" data-npc="28860">Sartharion</a></td>
</tr>
<tr class="row1 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8">
	<td data-raw="-5 Rezept: Mammut von letzter Woche"><a href="http://portal.wow-alive.de/item/43508" class="item-link color-q2"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_06.jpg");'> </span> <strong>Rezept: Mammut von letzter Woche</strong> </a></td>
	<td class="align-center" data-raw="75"> 75 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="0"> Extrem Niedrig </td>
	<td data-raw="0 1"> Normal </td>
	<td></td>
</tr>
<tr class="row2 class-3 class-7 class-4 class-11 not-common is-equipment">
	<td data-raw="-3 Purpurroter Stahl"><a href="http://portal.wow-alive.de/item/40429" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_weapon_hand_18.jpg");'> </span> <strong>Purpurroter Stahl</strong> </a></td>
	<td class="align-center" data-raw="200"> 200 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Waffenhand <em>(Faustwaffe)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="0"> Normal 10 </td>
	<td><a href="/wow/de/zone/the-obsidian-sanctum/sartharion" data-npc="28860">Sartharion</a></td>
</tr>
<tr class="row1 class-5 class-9 class-2 not-common is-equipment">
	<td data-raw="-3 Stulpen des verlorenen Eroberers"><a href="http://portal.wow-alive.de/item/40628" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_gauntlets_27.jpg");'> </span> <strong>Stulpen des verlorenen Eroberers</strong> </a></td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Verbrauchbar </td>
	<td data-raw="4"> Hoch </td>
	<td data-raw="1"> Normal 25 </td>
	<td><a href="/wow/de/zone/the-obsidian-sanctum/sartharion" data-npc="28860">Sartharion</a></td>
</tr>
<tr class="row2 class-4 class-6 class-11 class-8 not-common is-equipment">
	<td data-raw="-3 Handschuhe des verlorenen Bezwingers"><a href="http://portal.wow-alive.de/item/40615" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_gauntlets_27.jpg");'> </span> <strong>Handschuhe des verlorenen Bezwingers</strong> </a></td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Verbrauchbar </td>
	<td data-raw="4"> Hoch </td>
	<td data-raw="0"> Normal 10 </td>
	<td></td>
</tr>
<tr class="row1 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8">
	<td data-raw="-6 Runenverzierter Heiltrank"><a href="http://portal.wow-alive.de/item/33447" class="item-link color-q1"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_alchemy_elixir_05.jpg");'> </span> <strong>Runenverzierter Heiltrank</strong> </a></td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td class="align-center" data-raw="70"> 70 </td>
	<td> Verbrauchbar </td>
	<td data-raw="1"> Sehr Niedrig </td>
	<td data-raw="0 1"> Normal </td>
	<td></td>
</tr>
<tr class="row2 class-4 class-11 not-common is-equipment">
	<td data-raw="-3 Schulterpolster des Verbergens"><a href="http://portal.wow-alive.de/item/40437" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_shoulder_73.jpg");'> </span> <strong>Schulterpolster des Verbergens</strong> </a></td>
	<td class="align-center" data-raw="213"> 213 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Schultern <em>(Leder)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
	<td><a href="/wow/de/zone/the-obsidian-sanctum/sartharion" data-npc="28860">Sartharion</a></td>
</tr>
<tr class="row1 class-1 class-2 class-6 class-11">
	<td data-raw="-6 Rolle des Schutzes VII"><a href="http://portal.wow-alive.de/item/43467" class="item-link color-q1"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_07.jpg");'> </span> <strong>Rolle des Schutzes VII</strong> </a></td>
	<td class="align-center" data-raw="70"> 70 </td>
	<td class="align-center" data-raw="70"> 70 </td>
	<td> Verbrauchbar </td>
	<td data-raw="0"> Extrem Niedrig </td>
	<td data-raw="0 1"> Normal </td>
	<td></td>
</tr>
<tr class="row2 class-3 class-1 class-7 not-common is-equipment">
	<td data-raw="-3 Handschuhe des verlorenen Beschützers"><a href="http://portal.wow-alive.de/item/40614" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_gauntlets_27.jpg");'> </span> <strong>Handschuhe des verlorenen Beschützers</strong> </a></td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Verbrauchbar </td>
	<td data-raw="4"> Hoch </td>
	<td data-raw="0"> Normal 10 </td>
	<td></td>
</tr>
<tr class="row1 class-2 not-common is-equipment">
	<td data-raw="-3 Brustplatte der Großen Aspekte"><a href="http://portal.wow-alive.de/item/40453" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_chest_plate18.jpg");'> </span> <strong>Brustplatte der Großen Aspekte</strong> </a></td>
	<td class="align-center" data-raw="213"> 213 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Brust <em>(Platte)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
	<td><a href="/wow/de/zone/the-obsidian-sanctum/sartharion" data-npc="28860">Sartharion</a></td>
</tr>
<tr class="row2 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common">
	<td data-raw="-3 Große Beutetasche"><a href="http://portal.wow-alive.de/item/43346" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_misc_bag_17.jpg");'> </span> <strong>Große Beutetasche</strong> </a></td>
	<td class="align-center" data-raw="1"> 1 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="6"> Garantiert </td>
	<td data-raw="1"> Normal 25 </td>
	<td><a href="/wow/de/zone/the-obsidian-sanctum/sartharion" data-npc="28860">Sartharion</a></td>
</tr>
<tr class="row1 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8">
	<td data-raw="-5 Rezept: Schlechte Muscheln"><a href="http://portal.wow-alive.de/item/43509" class="item-link color-q2"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_06.jpg");'> </span> <strong>Rezept: Schlechte Muscheln</strong> </a></td>
	<td class="align-center" data-raw="75"> 75 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="0"> Extrem Niedrig </td>
	<td data-raw="0 1"> Normal </td>
	<td></td>
</tr>
<tr class="row2 class-1 class-2 class-6 not-common is-equipment">
	<td data-raw="-3 Titanenausguck"><a href="http://portal.wow-alive.de/item/40428" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_helmet_110.jpg");'> </span> <strong>Titanenausguck</strong> </a></td>
	<td class="align-center" data-raw="200"> 200 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Kopf <em>(Platte)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="0"> Normal 10 </td>
	<td><a href="/wow/de/zone/the-obsidian-sanctum/sartharion" data-npc="28860">Sartharion</a></td>
</tr>
<tr class="row1 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8">
	<td data-raw="-4 Eine Anleitung zum Plündern nordischer Stoffe"><a href="http://portal.wow-alive.de/item/43876" class="item-link color-q3"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_misc_book_02.jpg");'> </span> <strong>Eine Anleitung zum Plündern nordischer Stoffe</strong> </a></td>
	<td class="align-center" data-raw="70"> 70 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="0 1"> Normal </td>
	<td></td>
</tr>
<tr class="row2 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8">
	<td data-raw="-6 Rolle der Ausdauer VII"><a href="http://portal.wow-alive.de/item/37093" class="item-link color-q1"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_07.jpg");'> </span> <strong>Rolle der Ausdauer VII</strong> </a></td>
	<td class="align-center" data-raw="70"> 70 </td>
	<td class="align-center" data-raw="70"> 70 </td>
	<td> Verbrauchbar </td>
	<td data-raw="0"> Extrem Niedrig </td>
	<td data-raw="0 1"> Normal </td>
	<td></td>
</tr>
<tr class="row1 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8">
	<td data-raw="-6 Honigminztee"><a href="http://portal.wow-alive.de/item/33445" class="item-link color-q1"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_drink_25_honeytea.jpg");'> </span> <strong>Honigminztee</strong> </a></td>
	<td class="align-center" data-raw="85"> 85 </td>
	<td class="align-center" data-raw="75"> 75 </td>
	<td> Verbrauchbar </td>
	<td data-raw="1"> Sehr Niedrig </td>
	<td data-raw="0 1"> Normal </td>
	<td></td>
</tr>
<tr class="row2 class-5 class-9 class-7 class-2 class-11 class-8 not-common is-equipment">
	<td data-raw="-3 Kreis der arkanen Ströme"><a href="http://portal.wow-alive.de/item/40427" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/spell_arcane_blast.jpg");'> </span> <strong>Kreis der arkanen Ströme</strong> </a></td>
	<td class="align-center" data-raw="200"> 200 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Hals </td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="0"> Normal 10 </td>
	<td><a href="/wow/de/zone/the-obsidian-sanctum/sartharion" data-npc="28860">Sartharion</a></td>
</tr>
<tr class="row1 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common">
	<td data-raw="-3 Beutetasche"><a href="http://portal.wow-alive.de/item/43347" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_misc_bag_17.jpg");'> </span> <strong>Beutetasche</strong> </a></td>
	<td class="align-center" data-raw="1"> 1 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="6"> Garantiert </td>
	<td data-raw="0"> Normal 10 </td>
	<td><a href="/wow/de/zone/the-obsidian-sanctum/sartharion" data-npc="28860">Sartharion</a></td>
</tr>
<tr class="row2 class-3 class-1 class-7 not-common is-equipment">
	<td data-raw="-3 Stulpen des verlorenen Beschützers"><a href="http://portal.wow-alive.de/item/40629" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_gauntlets_27.jpg");'> </span> <strong>Stulpen des verlorenen Beschützers</strong> </a></td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Verbrauchbar </td>
	<td data-raw="4"> Hoch </td>
	<td data-raw="1"> Normal 25 </td>
	<td><a href="/wow/de/zone/the-obsidian-sanctum/sartharion" data-npc="28860">Sartharion</a></td>
</tr>
<tr class="row1 class-5 class-9 class-7 class-2 class-11 class-8 not-common is-equipment">
	<td data-raw="-3 Majestätische Drachenstatuette"><a href="http://portal.wow-alive.de/item/40430" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_misc_head_dragon_green.jpg");'> </span> <strong>Majestätische Drachenstatuette</strong> </a></td>
	<td class="align-center" data-raw="200"> 200 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Schmuck </td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="0"> Normal 10 </td>
	<td><a href="/wow/de/zone/the-obsidian-sanctum/sartharion" data-npc="28860">Sartharion</a></td>
</tr>
<tr class="row2 class-3 class-7 not-common is-equipment">
	<td data-raw="-3 Hyalinhelm des Scharfschützen"><a href="http://portal.wow-alive.de/item/40451" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_helmet_18.jpg");'> </span> <strong>Hyalinhelm des Scharfschützen</strong> </a></td>
	<td class="align-center" data-raw="213"> 213 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Kopf <em>(Kette)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
	<td><a href="/wow/de/zone/the-obsidian-sanctum/sartharion" data-npc="28860">Sartharion</a></td>
</tr>
<tr class="row1 class-5 class-9 class-7 class-2 class-11 class-8">
	<td data-raw="-6 Rolle der Intelligenz VII"><a href="http://portal.wow-alive.de/item/37091" class="item-link color-q1"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_01.jpg");'> </span> <strong>Rolle der Intelligenz VII</strong> </a></td>
	<td class="align-center" data-raw="70"> 70 </td>
	<td class="align-center" data-raw="70"> 70 </td>
	<td> Verbrauchbar </td>
	<td data-raw="0"> Extrem Niedrig </td>
	<td data-raw="0 1"> Normal </td>
	<td></td>
</tr>
<tr class="row2 class-5 class-9 class-7 class-2 class-11 class-8 not-common is-equipment">
	<td data-raw="-3 Illustration der Drachenseele"><a href="http://portal.wow-alive.de/item/40432" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_offhand_hyjal_d_01.jpg");'> </span> <strong>Illustration der Drachenseele</strong> </a></td>
	<td class="align-center" data-raw="213"> 213 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Schmuck </td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
	<td><a href="/wow/de/zone/the-obsidian-sanctum/sartharion" data-npc="28860">Sartharion</a></td>
</tr>
<tr class="row1 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8">
	<td data-raw="-7 Dicke Fellkleidungsfetzen"><a href="http://portal.wow-alive.de/item/43852" class="item-link color-q0"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_misc_pelt_arctic_02.jpg");'> </span> <strong>Dicke Fellkleidungsfetzen</strong> </a></td>
	<td class="align-center" data-raw="70"> 70 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="0 1"> Normal </td>
	<td></td>
</tr>
<tr class="row2 class-3 class-7 class-4 class-11">
	<td data-raw="-6 Rolle der Beweglichkeit VII"><a href="http://portal.wow-alive.de/item/43463" class="item-link color-q1"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_02.jpg");'> </span> <strong>Rolle der Beweglichkeit VII</strong> </a></td>
	<td class="align-center" data-raw="70"> 70 </td>
	<td class="align-center" data-raw="70"> 70 </td>
	<td> Verbrauchbar </td>
	<td data-raw="0"> Extrem Niedrig </td>
	<td data-raw="0 1"> Normal </td>
	<td></td>
</tr>
<tr class="row1 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8">
	<td data-raw="-5 Rezept: Geisterhering"><a href="http://portal.wow-alive.de/item/43510" class="item-link color-q2"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_06.jpg");'> </span> <strong>Rezept: Geisterhering</strong> </a></td>
	<td class="align-center" data-raw="75"> 75 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="0"> Extrem Niedrig </td>
	<td data-raw="0 1"> Normal </td>
	<td></td>
</tr>
<tr class="row2 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common is-equipment">
	<td data-raw="-3 Furor der fünf Schwärme"><a href="http://portal.wow-alive.de/item/40431" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/spell_shadow_rainoffire.jpg");'> </span> <strong>Furor der fünf Schwärme</strong> </a></td>
	<td class="align-center" data-raw="213"> 213 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Schmuck </td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
	<td><a href="/wow/de/zone/the-obsidian-sanctum/sartharion" data-npc="28860">Sartharion</a></td>
</tr>
<tr class="row1 class-5 class-9 class-2 not-common is-equipment">
	<td data-raw="-3 Handschuhe des verlorenen Eroberers"><a href="http://portal.wow-alive.de/item/40613" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_gauntlets_27.jpg");'> </span> <strong>Handschuhe des verlorenen Eroberers</strong> </a></td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Verbrauchbar </td>
	<td data-raw="4"> Hoch </td>
	<td data-raw="0"> Normal 10 </td>
	<td></td>
</tr>
<tr class="row2 class-4 class-6 class-11 class-8 not-common is-equipment">
	<td data-raw="-3 Stulpen des verlorenen Bezwingers"><a href="http://portal.wow-alive.de/item/40630" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_gauntlets_27.jpg");'> </span> <strong>Stulpen des verlorenen Bezwingers</strong> </a></td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Verbrauchbar </td>
	<td data-raw="4"> Hoch </td>
	<td data-raw="1"> Normal 25 </td>
	<td><a href="/wow/de/zone/the-obsidian-sanctum/sartharion" data-npc="28860">Sartharion</a></td>
</tr>
<tr class="row1 class-5 class-9 class-7 class-2 class-11 class-8 not-common is-equipment">
	<td data-raw="-3 Wyrmruhband"><a href="http://portal.wow-alive.de/item/40433" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_jewelry_ring_67.jpg");'> </span> <strong>Wyrmruhband</strong> </a></td>
	<td class="align-center" data-raw="213"> 213 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Finger </td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
	<td><a href="/wow/de/zone/the-obsidian-sanctum/sartharion" data-npc="28860">Sartharion</a></td>
</tr>
<tr class="row2 class-7 not-common is-equipment">
	<td data-raw="-3 Schulterklappen der Versammlungskammer"><a href="http://portal.wow-alive.de/item/40438" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_shoulder_80.jpg");'> </span> <strong>Schulterklappen der Versammlungskammer</strong> </a></td>
	<td class="align-center" data-raw="213"> 213 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Schultern <em>(Kette)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
	<td><a href="/wow/de/zone/the-obsidian-sanctum/sartharion" data-npc="28860">Sartharion</a></td>
</tr>
<tr class="row1 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8">
	<td data-raw="-5 Handbuch: Schwerer Froststoffverband"><a href="http://portal.wow-alive.de/item/39152" class="item-link color-q2"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_misc_book_03.jpg");'> </span> <strong>Handbuch: Schwerer Froststoffverband</strong> </a></td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="4"> Hoch </td>
	<td data-raw="0 1"> Normal </td>
	<td></td>
</tr>
<tr class="row2 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8">
	<td data-raw="-6 Gesalzenes Wildbret"><a href="http://portal.wow-alive.de/item/33454" class="item-link color-q1"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_misc_food_107_venison.jpg");'> </span> <strong>Gesalzenes Wildbret</strong> </a></td>
	<td class="align-center" data-raw="75"> 75 </td>
	<td class="align-center" data-raw="65"> 65 </td>
	<td> Verbrauchbar </td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="0 1"> Normal </td>
	<td></td>
</tr>
<tr class="row1 class-5 class-9 class-7 class-2 class-11 class-8">
	<td data-raw="-6 Rolle der Willenskraft VII"><a href="http://portal.wow-alive.de/item/37097" class="item-link color-q1"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_01.jpg");'> </span> <strong>Rolle der Willenskraft VII</strong> </a></td>
	<td class="align-center" data-raw="70"> 70 </td>
	<td class="align-center" data-raw="70"> 70 </td>
	<td> Verbrauchbar </td>
	<td data-raw="0"> Extrem Niedrig </td>
	<td data-raw="0 1"> Normal </td>
	<td></td>
</tr>
<tr class="row2 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common is-equipment">
	<td data-raw="-3 Tasche aus Drachenhaut"><a href="http://portal.wow-alive.de/item/43345" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_misc_bag_26_spellfire.jpg");'> </span> <strong>Tasche aus Drachenhaut</strong> </a></td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Behälter <em>(22)</em></td>
	<td data-raw="6"> Garantiert </td>
	<td data-raw="0 1"> Normal </td>
	<td><a href="/wow/de/zone/the-obsidian-sanctum/sartharion" data-npc="28860">Sartharion</a></td>
</tr>
<tr class="row1 class-11 not-common is-equipment">
	<td data-raw="-3 Mantelung der ewigen Schildwache"><a href="http://portal.wow-alive.de/item/40439" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_shoulder_73.jpg");'> </span> <strong>Mantelung der ewigen Schildwache</strong> </a></td>
	<td class="align-center" data-raw="213"> 213 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Schultern <em>(Leder)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
	<td><a href="/wow/de/zone/the-obsidian-sanctum/sartharion" data-npc="28860">Sartharion</a></td>
</tr>
<tr class="row2 class-1 class-2 class-6 class-11">
	<td data-raw="-6 Rolle der Stärke VII"><a href="http://portal.wow-alive.de/item/43465" class="item-link color-q1"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_02.jpg");'> </span> <strong>Rolle der Stärke VII</strong> </a></td>
	<td class="align-center" data-raw="70"> 70 </td>
	<td class="align-center" data-raw="70"> 70 </td>
	<td> Verbrauchbar </td>
	<td data-raw="0"> Extrem Niedrig </td>
	<td data-raw="0 1"> Normal </td>
	<td></td>
</tr>
<tr class="row1 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8">
	<td data-raw="-5 Rezept: Leckeres Törtchen"><a href="http://portal.wow-alive.de/item/43507" class="item-link color-q2"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_06.jpg");'> </span> <strong>Rezept: Leckeres Törtchen</strong> </a></td>
	<td class="align-center" data-raw="75"> 75 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="0"> Extrem Niedrig </td>
	<td data-raw="0 1"> Normal </td>
	<td></td>
</tr>
<tr class="row2 class-1 class-2 class-6 not-common is-equipment">
	<td data-raw="-3 Siegel des Pakts"><a href="http://portal.wow-alive.de/item/40426" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_jewelry_ring_70.jpg");'> </span> <strong>Siegel des Pakts</strong> </a></td>
	<td class="align-center" data-raw="200"> 200 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Finger </td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="0"> Normal 10 </td>
	<td><a href="/wow/de/zone/the-obsidian-sanctum/sartharion" data-npc="28860">Sartharion</a></td>
</tr>
