
<tr class="row1 class-6 not-common is-equipment">
	<td data-raw="-3 Frostgeschmiedeter Großhelm"><a href="http://portal.wow-alive.de/item/49467" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_helmet_146.jpg");'> </span> <strong>Frostgeschmiedeter Großhelm</strong> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Kopf <em>(Platte)</em></td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="1"> Normal 25 </td>
	<td><a href="/wow/de/zone/onyxias-lair/onyxia" data-npc="10184">Onyxia</a></td>
</tr>
<tr class="row2 class-1 not-common is-equipment">
	<td data-raw="-3 Helm des Zorns"><a href="http://portal.wow-alive.de/item/49478" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_helmet_71.jpg");'> </span> <strong>Helm des Zorns</strong> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Kopf <em>(Platte)</em></td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="1"> Normal 25 </td>
	<td><a href="/wow/de/zone/onyxias-lair/onyxia" data-npc="10184">Onyxia</a></td>
</tr>
<tr class="row1 class-5 class-9 class-7 class-2 class-11 class-8 not-common is-equipment">
	<td data-raw="-3 Fließendes Saphirontuch"><a href="http://portal.wow-alive.de/item/49491" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_misc_cape_16.jpg");'> </span> <strong>Fließendes Saphirontuch</strong> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Rücken </td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="1"> Normal 25 </td>
	<td><a href="/wow/de/zone/onyxias-lair/onyxia" data-npc="10184">Onyxia</a></td>
</tr>
<tr class="row2 class-5 class-9 class-7 class-2 class-11 class-8 not-common is-equipment">
	<td data-raw="-3 Geläuterter Splitter der Schuppe"><a href="http://portal.wow-alive.de/item/49310" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_misc_monsterscales_15.jpg");'> </span> <strong>Geläuterter Splitter der Schuppe</strong> </a></td>
	<td class="align-center" data-raw="232"> 232 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Schmuck </td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="0"> Normal 10 </td>
	<td><a href="/wow/de/zone/onyxias-lair/onyxia" data-npc="10184">Onyxia</a></td>
</tr>
<tr class="row1 class-3 class-1 class-7 class-2 class-4 class-6 not-common is-equipment">
	<td data-raw="-3 Machterfüllter Todesbringer"><a href="http://portal.wow-alive.de/item/49297" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_axe_09.jpg");'> </span> <strong>Machterfüllter Todesbringer</strong> </a></td>
	<td class="align-center" data-raw="232"> 232 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Einhändig <em>(Axt)</em></td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="0"> Normal 10 </td>
	<td><a href="/wow/de/zone/onyxias-lair/onyxia" data-npc="10184">Onyxia</a></td>
</tr>
<tr class="row2 class-6 not-common is-equipment">
	<td data-raw="-3 Frostgeschmiedeter Helm"><a href="http://portal.wow-alive.de/item/49466" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_helmet_146.jpg");'> </span> <strong>Frostgeschmiedeter Helm</strong> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Kopf <em>(Platte)</em></td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="1"> Normal 25 </td>
	<td><a href="/wow/de/zone/onyxias-lair/onyxia" data-npc="10184">Onyxia</a></td>
</tr>
<tr class="row1 class-7 not-common is-equipment">
	<td data-raw="-3 Blick der zehn Stürme"><a href="http://portal.wow-alive.de/item/49329" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_helmet_69.jpg");'> </span> <strong>Blick der zehn Stürme</strong> </a></td>
	<td class="align-center" data-raw="232"> 232 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Kopf <em>(Kette)</em></td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="0"> Normal 10 </td>
	<td><a href="/wow/de/zone/onyxias-lair/onyxia" data-npc="10184">Onyxia</a></td>
</tr>
<tr class="row2 class-11 not-common is-equipment">
	<td data-raw="-3 Sturmgrimms Bedeckung"><a href="http://portal.wow-alive.de/item/49473" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_helmet_09.jpg");'> </span> <strong>Sturmgrimms Bedeckung</strong> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Kopf <em>(Leder)</em></td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="1"> Normal 25 </td>
	<td><a href="/wow/de/zone/onyxias-lair/onyxia" data-npc="10184">Onyxia</a></td>
</tr>
<tr class="row1 class-5 class-9 class-7 class-11 class-8 not-common is-equipment">
	<td data-raw="-3 Gewetzter Fangzahn der Mystiker"><a href="http://portal.wow-alive.de/item/49494" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_weapon_shortblade_06.jpg");'> </span> <strong>Gewetzter Fangzahn der Mystiker</strong> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Waffenhand <em>(Dolch)</em></td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="1"> Normal 25 </td>
	<td><a href="/wow/de/zone/onyxias-lair/onyxia" data-npc="10184">Onyxia</a></td>
</tr>
<tr class="row2 class-11 not-common is-equipment">
	<td data-raw="-3 Sturmgrimms Helm"><a href="http://portal.wow-alive.de/item/49328" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_helmet_09.jpg");'> </span> <strong>Sturmgrimms Helm</strong> </a></td>
	<td class="align-center" data-raw="232"> 232 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Kopf <em>(Leder)</em></td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="0"> Normal 10 </td>
	<td><a href="/wow/de/zone/onyxias-lair/onyxia" data-npc="10184">Onyxia</a></td>
</tr>
<tr class="row1 class-1 class-2 class-6 class-11 not-common is-equipment">
	<td data-raw="-3 Signifikanter Ring der Bindung"><a href="http://portal.wow-alive.de/item/49489" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_jewelry_ring_13.jpg");'> </span> <strong>Signifikanter Ring der Bindung</strong> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Finger </td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="1"> Normal 25 </td>
	<td><a href="/wow/de/zone/onyxias-lair/onyxia" data-npc="10184">Onyxia</a></td>
</tr>
<tr class="row2 class-11 not-common is-equipment">
	<td data-raw="-3 Sturmgrimms Krone"><a href="http://portal.wow-alive.de/item/49472" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_helmet_09.jpg");'> </span> <strong>Sturmgrimms Krone</strong> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Kopf <em>(Leder)</em></td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="1"> Normal 25 </td>
	<td><a href="/wow/de/zone/onyxias-lair/onyxia" data-npc="10184">Onyxia</a></td>
</tr>
<tr class="row1 class-2 not-common is-equipment">
	<td data-raw="-3 Krone des Richturteils"><a href="http://portal.wow-alive.de/item/49476" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_helmet_74.jpg");'> </span> <strong>Krone des Richturteils</strong> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Kopf <em>(Platte)</em></td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="1"> Normal 25 </td>
	<td><a href="/wow/de/zone/onyxias-lair/onyxia" data-npc="10184">Onyxia</a></td>
</tr>
<tr class="row2 class-5 not-common is-equipment">
	<td data-raw="-3 Aurora der Erhabenheit"><a href="http://portal.wow-alive.de/item/49482" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_helmet_24.jpg");'> </span> <strong>Aurora der Erhabenheit</strong> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Kopf <em>(Stoff)</em></td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="1"> Normal 25 </td>
	<td><a href="/wow/de/zone/onyxias-lair/onyxia" data-npc="10184">Onyxia</a></td>
</tr>
<tr class="row1 class-7 not-common is-equipment">
	<td data-raw="-3 Krone der zehn Stürme"><a href="http://portal.wow-alive.de/item/49469" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_helmet_69.jpg");'> </span> <strong>Krone der zehn Stürme</strong> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Kopf <em>(Kette)</em></td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="1"> Normal 25 </td>
	<td><a href="/wow/de/zone/onyxias-lair/onyxia" data-npc="10184">Onyxia</a></td>
</tr>
<tr class="row2 class-11 not-common is-equipment">
	<td data-raw="-3 Sturmgrimms Geweih"><a href="http://portal.wow-alive.de/item/49327" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_helmet_09.jpg");'> </span> <strong>Sturmgrimms Geweih</strong> </a></td>
	<td class="align-center" data-raw="232"> 232 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Kopf <em>(Leder)</em></td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="0"> Normal 10 </td>
	<td><a href="/wow/de/zone/onyxias-lair/onyxia" data-npc="10184">Onyxia</a></td>
</tr>
<tr class="row1 class-4 not-common is-equipment">
	<td data-raw="-3 Blutfangmaske"><a href="http://portal.wow-alive.de/item/49322" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_helmet_41.jpg");'> </span> <strong>Blutfangmaske</strong> </a></td>
	<td class="align-center" data-raw="232"> 232 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Kopf <em>(Leder)</em></td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="0"> Normal 10 </td>
	<td><a href="/wow/de/zone/onyxias-lair/onyxia" data-npc="10184">Onyxia</a></td>
</tr>
<tr class="row2 class-2 not-common is-equipment">
	<td data-raw="-3 Topfhelm des Richturteils"><a href="http://portal.wow-alive.de/item/49475" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_helmet_74.jpg");'> </span> <strong>Topfhelm des Richturteils</strong> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Kopf <em>(Platte)</em></td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="1"> Normal 25 </td>
	<td><a href="/wow/de/zone/onyxias-lair/onyxia" data-npc="10184">Onyxia</a></td>
</tr>
<tr class="row1 class-2 not-common is-equipment">
	<td data-raw="-3 Helm des Richturteils"><a href="http://portal.wow-alive.de/item/49325" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_helmet_74.jpg");'> </span> <strong>Helm des Richturteils</strong> </a></td>
	<td class="align-center" data-raw="232"> 232 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Kopf <em>(Platte)</em></td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="0"> Normal 10 </td>
	<td><a href="/wow/de/zone/onyxias-lair/onyxia" data-npc="10184">Onyxia</a></td>
</tr>
<tr class="row2 class-9 class-2 class-8 not-common is-equipment">
	<td data-raw="-3 Glitzernde Magierklinge des Azurlieds"><a href="http://portal.wow-alive.de/item/49298" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_sword_39.jpg");'> </span> <strong>Glitzernde Magierklinge des Azurlieds</strong> </a></td>
	<td class="align-center" data-raw="232"> 232 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Waffenhand <em>(Schwert)</em></td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="0"> Normal 10 </td>
	<td><a href="/wow/de/zone/onyxias-lair/onyxia" data-npc="10184">Onyxia</a></td>
</tr>
<tr class="row1 class-5 class-9 class-7 class-2 class-11 class-8 not-common is-equipment">
	<td data-raw="-3 Glänzender Splitter der Schuppe"><a href="http://portal.wow-alive.de/item/49488" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_misc_monsterscales_15.jpg");'> </span> <strong>Glänzender Splitter der Schuppe</strong> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Schmuck </td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="1"> Normal 25 </td>
	<td><a href="/wow/de/zone/onyxias-lair/onyxia" data-npc="10184">Onyxia</a></td>
</tr>
<tr class="row2 class-1 class-2 class-6 class-11 not-common is-equipment">
	<td data-raw="-3 Runenverzierter Ring der Bindung"><a href="http://portal.wow-alive.de/item/49309" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_jewelry_ring_13.jpg");'> </span> <strong>Runenverzierter Ring der Bindung</strong> </a></td>
	<td class="align-center" data-raw="232"> 232 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Finger </td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="0"> Normal 10 </td>
	<td><a href="/wow/de/zone/onyxias-lair/onyxia" data-npc="10184">Onyxia</a></td>
</tr>
<tr class="row1 class-4 not-common is-equipment">
	<td data-raw="-3 Blutfangkapuze"><a href="http://portal.wow-alive.de/item/49477" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_helmet_41.jpg");'> </span> <strong>Blutfangkapuze</strong> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Kopf <em>(Leder)</em></td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="1"> Normal 25 </td>
	<td><a href="/wow/de/zone/onyxias-lair/onyxia" data-npc="10184">Onyxia</a></td>
</tr>
<tr class="row2 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common">
	<td data-raw="-3 Onyxias Kopf"><a href="http://portal.wow-alive.de/item/49644" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_misc_head_dragon_01.jpg");'> </span> <strong>Onyxias Kopf</strong> <span class="icon-faction-0"></span> </a></td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Verbrauchbar </td>
	<td data-raw="6"> Garantiert </td>
	<td data-raw="0 1"> Normal </td>
	<td><a href="/wow/de/zone/onyxias-lair/onyxia" data-npc="10184">Onyxia</a></td>
</tr>
<tr class="row1 class-5 class-9 class-7 class-2 class-11 class-8 not-common is-equipment">
	<td data-raw="-3 Zauberfoliant des veralteten Grundsteins"><a href="http://portal.wow-alive.de/item/49490" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_misc_book_07.jpg");'> </span> <strong>Zauberfoliant des veralteten Grundsteins</strong> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> In Schildhand geführt </td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="1"> Normal 25 </td>
	<td><a href="/wow/de/zone/onyxias-lair/onyxia" data-npc="10184">Onyxia</a></td>
</tr>
<tr class="row2 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common is-equipment">
	<td data-raw="-3 Geläuterter Splitter der Flamme"><a href="http://portal.wow-alive.de/item/49463" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_misc_monsterscales_15.jpg");'> </span> <strong>Geläuterter Splitter der Flamme</strong> </a></td>
	<td class="align-center" data-raw="232"> 232 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Schmuck </td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="0"> Normal 10 </td>
	<td><a href="/wow/de/zone/onyxias-lair/onyxia" data-npc="10184">Onyxia</a></td>
</tr>
<tr class="row1 class-3 not-common">
	<td data-raw="-3 Sehne eines ausgewachsenen schwarzen Drachen"><a href="http://portal.wow-alive.de/item/18705" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/spell_holy_dispelmagic.jpg");'> </span> <strong>Sehne eines ausgewachsenen schwarzen Drachen</strong> </a></td>
	<td class="align-center" data-raw="71"> 71 </td>
	<td class="align-center" data-raw="60"> 60 </td>
	<td> Verbrauchbar </td>
	<td data-raw="6"> Garantiert </td>
	<td data-raw="0 1"> Normal </td>
	<td><a href="/wow/de/zone/onyxias-lair/onyxia" data-npc="10184">Onyxia</a></td>
</tr>
<tr class="row2 class-3 not-common is-equipment">
	<td data-raw="-3 Langläufiger Blasterwerfer"><a href="http://portal.wow-alive.de/item/49493" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_weapon_rifle_09.jpg");'> </span> <strong>Langläufiger Blasterwerfer</strong> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Fernkampf <em>(Schusswaffe)</em></td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="1"> Normal 25 </td>
	<td><a href="/wow/de/zone/onyxias-lair/onyxia" data-npc="10184">Onyxia</a></td>
</tr>
<tr class="row1 class-5 class-9 class-7 class-2 class-11 class-8 not-common is-equipment">
	<td data-raw="-3 Zauberfoliant des antiken Grundsteins"><a href="http://portal.wow-alive.de/item/49308" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_misc_book_07.jpg");'> </span> <strong>Zauberfoliant des antiken Grundsteins</strong> </a></td>
	<td class="align-center" data-raw="232"> 232 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> In Schildhand geführt </td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="0"> Normal 10 </td>
	<td><a href="/wow/de/zone/onyxias-lair/onyxia" data-npc="10184">Onyxia</a></td>
</tr>
<tr class="row2 class-3 class-1 class-5 class-9 class-7 class-4 class-11 class-8 not-common is-equipment">
	<td data-raw="-3 Verrosteter Räuderipper"><a href="http://portal.wow-alive.de/item/49437" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_weapon_shortblade_18.jpg");'> </span> <strong>Verrosteter Räuderipper</strong> </a></td>
	<td class="align-center" data-raw="232"> 232 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Einhändig <em>(Dolch)</em></td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="0"> Normal 10 </td>
	<td><a href="/wow/de/zone/onyxias-lair/onyxia" data-npc="10184">Onyxia</a></td>
</tr>
<tr class="row1 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common is-equipment">
	<td data-raw="-3 Vergrößerter Rucksack aus Onyxias Haut"><a href="http://portal.wow-alive.de/item/49295" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_misc_bag_22.jpg");'> </span> <strong>Vergrößerter Rucksack aus Onyxias Haut</strong> </a></td>
	<td class="align-center" data-raw="55"> 55 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Behälter <em>(22)</em></td>
	<td data-raw="6"> Garantiert </td>
	<td data-raw="0 1"> Normal </td>
	<td><a href="/wow/de/zone/onyxias-lair/onyxia" data-npc="10184">Onyxia</a></td>
</tr>
<tr class="row2 class-6 not-common is-equipment">
	<td data-raw="-3 Frostgeschmiedeter Ringhelm"><a href="http://portal.wow-alive.de/item/49332" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_helmet_146.jpg");'> </span> <strong>Frostgeschmiedeter Ringhelm</strong> </a></td>
	<td class="align-center" data-raw="232"> 232 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Kopf <em>(Platte)</em></td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="0"> Normal 10 </td>
	<td><a href="/wow/de/zone/onyxias-lair/onyxia" data-npc="10184">Onyxia</a></td>
</tr>
<tr class="row1 class-9 not-common is-equipment">
	<td data-raw="-3 Schädelbedeckung der Nemesis"><a href="http://portal.wow-alive.de/item/49315" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_helmet_08.jpg");'> </span> <strong>Schädelbedeckung der Nemesis</strong> </a></td>
	<td class="align-center" data-raw="232"> 232 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Kopf <em>(Stoff)</em></td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="0"> Normal 10 </td>
	<td><a href="/wow/de/zone/onyxias-lair/onyxia" data-npc="10184">Onyxia</a></td>
</tr>
<tr class="row2 class-8 not-common is-equipment">
	<td data-raw="-3 Kapuze des Netherwinds"><a href="http://portal.wow-alive.de/item/49318" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_helmet_70.jpg");'> </span> <strong>Kapuze des Netherwinds</strong> </a></td>
	<td class="align-center" data-raw="232"> 232 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Kopf <em>(Stoff)</em></td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="0"> Normal 10 </td>
	<td><a href="/wow/de/zone/onyxias-lair/onyxia" data-npc="10184">Onyxia</a></td>
</tr>
<tr class="row1 class-1 class-2 class-6 class-11 not-common is-equipment">
	<td data-raw="-3 Eskhandars Bindungen"><a href="http://portal.wow-alive.de/item/49492" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_belt_12.jpg");'> </span> <strong>Eskhandars Bindungen</strong> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Hals </td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="1"> Normal 25 </td>
	<td><a href="/wow/de/zone/onyxias-lair/onyxia" data-npc="10184">Onyxia</a></td>
</tr>
<tr class="row2 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common">
	<td data-raw="-3 Aschgrauer Sack voller Edelsteine"><a href="http://portal.wow-alive.de/item/49294" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_misc_bag_10_black.jpg");'> </span> <strong>Aschgrauer Sack voller Edelsteine</strong> </a></td>
	<td class="align-center" data-raw="1"> 1 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="6"> Garantiert </td>
	<td data-raw="0 1"> Normal </td>
	<td><a href="/wow/de/zone/onyxias-lair/onyxia" data-npc="10184">Onyxia</a></td>
</tr>
<tr class="row1 class-1 not-common is-equipment">
	<td data-raw="-3 Großhelm des Zorns"><a href="http://portal.wow-alive.de/item/49321" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_helmet_71.jpg");'> </span> <strong>Großhelm des Zorns</strong> </a></td>
	<td class="align-center" data-raw="232"> 232 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Kopf <em>(Platte)</em></td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="0"> Normal 10 </td>
	<td><a href="/wow/de/zone/onyxias-lair/onyxia" data-npc="10184">Onyxia</a></td>
</tr>
<tr class="row2 class-7 not-common is-equipment">
	<td data-raw="-3 Gugel der zehn Stürme"><a href="http://portal.wow-alive.de/item/49330" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_helmet_69.jpg");'> </span> <strong>Gugel der zehn Stürme</strong> </a></td>
	<td class="align-center" data-raw="232"> 232 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Kopf <em>(Kette)</em></td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="0"> Normal 10 </td>
	<td><a href="/wow/de/zone/onyxias-lair/onyxia" data-npc="10184">Onyxia</a></td>
</tr>
<tr class="row1 class-8 not-common is-equipment">
	<td data-raw="-3 Krone des Netherwinds"><a href="http://portal.wow-alive.de/item/49481" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_helmet_70.jpg");'> </span> <strong>Krone des Netherwinds</strong> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Kopf <em>(Stoff)</em></td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="1"> Normal 25 </td>
	<td><a href="/wow/de/zone/onyxias-lair/onyxia" data-npc="10184">Onyxia</a></td>
</tr>
<tr class="row2 class-1 class-2 class-6 not-common is-equipment">
	<td data-raw="-3 Wuchtige scharfkantige Obsidianklinge"><a href="http://portal.wow-alive.de/item/49299" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_sword_28.jpg");'> </span> <strong>Wuchtige scharfkantige Obsidianklinge</strong> </a></td>
	<td class="align-center" data-raw="232"> 232 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Zweihändig <em>(Schwert)</em></td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="0"> Normal 10 </td>
	<td><a href="/wow/de/zone/onyxias-lair/onyxia" data-npc="10184">Onyxia</a></td>
</tr>
<tr class="row1 class-9 class-2 class-8 not-common is-equipment">
	<td data-raw="-3 Polierte Magierklinge des Azurlieds"><a href="http://portal.wow-alive.de/item/49499" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_sword_39.jpg");'> </span> <strong>Polierte Magierklinge des Azurlieds</strong> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Waffenhand <em>(Schwert)</em></td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="1"> Normal 25 </td>
	<td><a href="/wow/de/zone/onyxias-lair/onyxia" data-npc="10184">Onyxia</a></td>
</tr>
<tr class="row2 class-3 class-11 not-common is-equipment">
	<td data-raw="-3 Zurückeroberter Schattenschlag"><a href="http://portal.wow-alive.de/item/49302" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_spear_08.jpg");'> </span> <strong>Zurückeroberter Schattenschlag</strong> </a></td>
	<td class="align-center" data-raw="232"> 232 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Zweihändig <em>(Stangenwaffe)</em></td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="0"> Normal 10 </td>
	<td><a href="/wow/de/zone/onyxias-lair/onyxia" data-npc="10184">Onyxia</a></td>
</tr>
<tr class="row1 class-7 not-common is-equipment">
	<td data-raw="-3 Helmkappe der zehn Stürme"><a href="http://portal.wow-alive.de/item/49331" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_helmet_69.jpg");'> </span> <strong>Helmkappe der zehn Stürme</strong> </a></td>
	<td class="align-center" data-raw="232"> 232 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Kopf <em>(Kette)</em></td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="0"> Normal 10 </td>
	<td><a href="/wow/de/zone/onyxias-lair/onyxia" data-npc="10184">Onyxia</a></td>
</tr>
<tr class="row2 class-5 class-9 class-7 class-11 class-8 not-common is-equipment">
	<td data-raw="-3 Geschärfter Fangzahn der Mystiker"><a href="http://portal.wow-alive.de/item/49304" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_weapon_shortblade_06.jpg");'> </span> <strong>Geschärfter Fangzahn der Mystiker</strong> </a></td>
	<td class="align-center" data-raw="232"> 232 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Waffenhand <em>(Dolch)</em></td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="0"> Normal 10 </td>
	<td><a href="/wow/de/zone/onyxias-lair/onyxia" data-npc="10184">Onyxia</a></td>
</tr>
<tr class="row1 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common is-equipment">
	<td data-raw="-3 Glänzender Splitter der Flamme"><a href="http://portal.wow-alive.de/item/49464" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_misc_monsterscales_15.jpg");'> </span> <strong>Glänzender Splitter der Flamme</strong> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Schmuck </td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="1"> Normal 25 </td>
	<td><a href="/wow/de/zone/onyxias-lair/onyxia" data-npc="10184">Onyxia</a></td>
</tr>
<tr class="row2 class-5 not-common is-equipment">
	<td data-raw="-3 Heiligenschein der Erhabenheit"><a href="http://portal.wow-alive.de/item/49483" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_helmet_24.jpg");'> </span> <strong>Heiligenschein der Erhabenheit</strong> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Kopf <em>(Stoff)</em></td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="1"> Normal 25 </td>
	<td><a href="/wow/de/zone/onyxias-lair/onyxia" data-npc="10184">Onyxia</a></td>
</tr>
<tr class="row1 class-1 class-2 class-6 not-common is-equipment">
	<td data-raw="-3 Schimmerndes Quel&#39;Serrar"><a href="http://portal.wow-alive.de/item/49303" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_sword_01.jpg");'> </span> <strong>Schimmerndes Quel&#39;Serrar</strong> </a></td>
	<td class="align-center" data-raw="232"> 232 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Einhändig <em>(Schwert)</em></td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="0"> Normal 10 </td>
	<td><a href="/wow/de/zone/onyxias-lair/onyxia" data-npc="10184">Onyxia</a></td>
</tr>
<tr class="row2 class-3 class-11 not-common is-equipment">
	<td data-raw="-3 Verstärkter Schattenschlag"><a href="http://portal.wow-alive.de/item/49496" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_spear_08.jpg");'> </span> <strong>Verstärkter Schattenschlag</strong> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Zweihändig <em>(Stangenwaffe)</em></td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="1"> Normal 25 </td>
	<td><a href="/wow/de/zone/onyxias-lair/onyxia" data-npc="10184">Onyxia</a></td>
</tr>
<tr class="row1 class-3 not-common is-equipment">
	<td data-raw="-3 Kurzläufiger Blasterwerfer"><a href="http://portal.wow-alive.de/item/49305" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_weapon_rifle_09.jpg");'> </span> <strong>Kurzläufiger Blasterwerfer</strong> </a></td>
	<td class="align-center" data-raw="232"> 232 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Fernkampf <em>(Schusswaffe)</em></td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="0"> Normal 10 </td>
	<td><a href="/wow/de/zone/onyxias-lair/onyxia" data-npc="10184">Onyxia</a></td>
</tr>
<tr class="row2 class-5 not-common is-equipment">
	<td data-raw="-3 Reif der Erhabenheit"><a href="http://portal.wow-alive.de/item/49316" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_helmet_24.jpg");'> </span> <strong>Reif der Erhabenheit</strong> </a></td>
	<td class="align-center" data-raw="232"> 232 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Kopf <em>(Stoff)</em></td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="0"> Normal 10 </td>
	<td><a href="/wow/de/zone/onyxias-lair/onyxia" data-npc="10184">Onyxia</a></td>
</tr>
<tr class="row1 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8">
	<td data-raw="-6 Drakonisch für Dummies"><a href="http://portal.wow-alive.de/item/21108" class="item-link color-q1"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_misc_stonetablet_03.jpg");'> </span> <strong>Drakonisch für Dummies</strong> </a></td>
	<td class="align-center" data-raw="1"> 1 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="6"> Garantiert </td>
	<td data-raw="0 1"> Normal </td>
	<td><a href="/wow/de/zone/onyxias-lair/onyxia" data-npc="10184">Onyxia</a></td>
</tr>
<tr class="row2 class-9 not-common is-equipment" style="display: none">
	<td data-raw="-3 Schädelkappe der Nemesis"><a href="http://portal.wow-alive.de/item/49484" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_helmet_08.jpg");'> </span> <strong>Schädelkappe der Nemesis</strong> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Kopf <em>(Stoff)</em></td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="1"> Normal 25 </td>
	<td><a href="/wow/de/zone/onyxias-lair/onyxia" data-npc="10184">Onyxia</a></td>
</tr>
<tr class="row1 class-6 not-common is-equipment" style="display: none">
	<td data-raw="-3 Frostgeschmiedeter Helm"><a href="http://portal.wow-alive.de/item/49333" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_helmet_146.jpg");'> </span> <strong>Frostgeschmiedeter Helm</strong> </a></td>
	<td class="align-center" data-raw="232"> 232 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Kopf <em>(Platte)</em></td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="0"> Normal 10 </td>
	<td><a href="/wow/de/zone/onyxias-lair/onyxia" data-npc="10184">Onyxia</a></td>
</tr>
<tr class="row2 class-3 not-common is-equipment" style="display: none">
	<td data-raw="-3 Visier des Drachenjägers"><a href="http://portal.wow-alive.de/item/49319" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_helmet_05.jpg");'> </span> <strong>Visier des Drachenjägers</strong> </a></td>
	<td class="align-center" data-raw="232"> 232 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Kopf <em>(Kette)</em></td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="0"> Normal 10 </td>
	<td><a href="/wow/de/zone/onyxias-lair/onyxia" data-npc="10184">Onyxia</a></td>
</tr>
<tr class="row1 class-1 class-2 class-6 not-common is-equipment" style="display: none">
	<td data-raw="-3 Brüniertes Quel&#39;Serrar"><a href="http://portal.wow-alive.de/item/49495" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_sword_01.jpg");'> </span> <strong>Brüniertes Quel&#39;Serrar</strong> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Einhändig <em>(Schwert)</em></td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="1"> Normal 25 </td>
	<td><a href="/wow/de/zone/onyxias-lair/onyxia" data-npc="10184">Onyxia</a></td>
</tr>
<tr class="row2 class-1 class-2 class-6 class-11 not-common is-equipment" style="display: none">
	<td data-raw="-3 Eskhandars Halsreif"><a href="http://portal.wow-alive.de/item/49306" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_belt_12.jpg");'> </span> <strong>Eskhandars Halsreif</strong> </a></td>
	<td class="align-center" data-raw="232"> 232 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Hals </td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="0"> Normal 10 </td>
	<td><a href="/wow/de/zone/onyxias-lair/onyxia" data-npc="10184">Onyxia</a></td>
</tr>
<tr class="row1 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common" style="display: none">
	<td data-raw="-3 Onyxias Kopf"><a href="http://portal.wow-alive.de/item/49643" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_misc_head_dragon_01.jpg");'> </span> <strong>Onyxias Kopf</strong> <span class="icon-faction-1"></span> </a></td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Verbrauchbar </td>
	<td data-raw="6"> Garantiert </td>
	<td data-raw="0 1"> Normal </td>
	<td><a href="/wow/de/zone/onyxias-lair/onyxia" data-npc="10184">Onyxia</a></td>
</tr>
<tr class="row2 class-7 not-common is-equipment" style="display: none">
	<td data-raw="-3 Helm der zehn Stürme"><a href="http://portal.wow-alive.de/item/49470" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_helmet_69.jpg");'> </span> <strong>Helm der zehn Stürme</strong> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Kopf <em>(Kette)</em></td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="1"> Normal 25 </td>
	<td><a href="/wow/de/zone/onyxias-lair/onyxia" data-npc="10184">Onyxia</a></td>
</tr>
<tr class="row1 class-2 not-common is-equipment" style="display: none">
	<td data-raw="-3 Kapuze des Richturteils"><a href="http://portal.wow-alive.de/item/49474" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_helmet_74.jpg");'> </span> <strong>Kapuze des Richturteils</strong> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Kopf <em>(Platte)</em></td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="1"> Normal 25 </td>
	<td><a href="/wow/de/zone/onyxias-lair/onyxia" data-npc="10184">Onyxia</a></td>
</tr>
<tr class="row2 class-5 not-common is-equipment" style="display: none">
	<td data-raw="-3 Kronenreif der Erhabenheit"><a href="http://portal.wow-alive.de/item/49317" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_helmet_24.jpg");'> </span> <strong>Kronenreif der Erhabenheit</strong> </a></td>
	<td class="align-center" data-raw="232"> 232 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Kopf <em>(Stoff)</em></td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="0"> Normal 10 </td>
	<td><a href="/wow/de/zone/onyxias-lair/onyxia" data-npc="10184">Onyxia</a></td>
</tr>
<tr class="row1 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common" style="display: none">
	<td data-raw="-3 Zügel des Drachen von Onyxia"><a href="http://portal.wow-alive.de/item/49636" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/achievement_boss_onyxia.jpg");'> </span> <strong>Zügel des Drachen von Onyxia</strong> </a></td>
	<td class="align-center" data-raw="70"> 70 </td>
	<td class="align-center" data-raw="70"> 70 </td>
	<td> Verbrauchbar </td>
	<td data-raw="0"> Extrem Niedrig </td>
	<td data-raw="0 1"> Normal </td>
	<td><a href="/wow/de/zone/onyxias-lair/onyxia" data-npc="10184">Onyxia</a></td>
</tr>
<tr class="row2 class-1 class-2 class-6 not-common is-equipment" style="display: none">
	<td data-raw="-3 Geschärfte scharfkantige Obsidianklinge"><a href="http://portal.wow-alive.de/item/49498" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_sword_28.jpg");'> </span> <strong>Geschärfte scharfkantige Obsidianklinge</strong> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Zweihändig <em>(Schwert)</em></td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="1"> Normal 25 </td>
	<td><a href="/wow/de/zone/onyxias-lair/onyxia" data-npc="10184">Onyxia</a></td>
</tr>
<tr class="row1 class-3 class-1 class-9 class-2 class-4 class-6 class-8 not-common is-equipment" style="display: none">
	<td data-raw="-3 Angesengter Vis&#39;kag der Blutvergießer"><a href="http://portal.wow-alive.de/item/49296" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_sword_18.jpg");'> </span> <strong>Angesengter Vis&#39;kag der Blutvergießer</strong> </a></td>
	<td class="align-center" data-raw="232"> 232 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Einhändig <em>(Schwert)</em></td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="0"> Normal 10 </td>
	<td><a href="/wow/de/zone/onyxias-lair/onyxia" data-npc="10184">Onyxia</a></td>
</tr>
<tr class="row2 class-2 not-common is-equipment" style="display: none">
	<td data-raw="-3 Helm des Richtspruchs"><a href="http://portal.wow-alive.de/item/49324" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_helmet_74.jpg");'> </span> <strong>Helm des Richtspruchs</strong> </a></td>
	<td class="align-center" data-raw="232"> 232 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Kopf <em>(Platte)</em></td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="0"> Normal 10 </td>
	<td><a href="/wow/de/zone/onyxias-lair/onyxia" data-npc="10184">Onyxia</a></td>
</tr>
<tr class="row1 class-2 not-common is-equipment" style="display: none">
	<td data-raw="-3 Bedeckung des Richturteils"><a href="http://portal.wow-alive.de/item/49323" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_helmet_74.jpg");'> </span> <strong>Bedeckung des Richturteils</strong> </a></td>
	<td class="align-center" data-raw="232"> 232 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Kopf <em>(Platte)</em></td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="0"> Normal 10 </td>
	<td><a href="/wow/de/zone/onyxias-lair/onyxia" data-npc="10184">Onyxia</a></td>
</tr>
<tr class="row2 class-3 not-common is-equipment" style="display: none">
	<td data-raw="-3 Helm des Drachenjägers"><a href="http://portal.wow-alive.de/item/49480" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_helmet_05.jpg");'> </span> <strong>Helm des Drachenjägers</strong> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Kopf <em>(Kette)</em></td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="1"> Normal 25 </td>
	<td><a href="/wow/de/zone/onyxias-lair/onyxia" data-npc="10184">Onyxia</a></td>
</tr>
<tr class="row1 class-3 class-1 class-7 class-2 class-4 class-6 not-common is-equipment" style="display: none">
	<td data-raw="-3 Wütender Todesbringer"><a href="http://portal.wow-alive.de/item/49500" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_axe_09.jpg");'> </span> <strong>Wütender Todesbringer</strong> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Einhändig <em>(Axt)</em></td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="1"> Normal 25 </td>
	<td><a href="/wow/de/zone/onyxias-lair/onyxia" data-npc="10184">Onyxia</a></td>
</tr>
<tr class="row2 class-1 not-common is-equipment" style="display: none">
	<td data-raw="-3 Helm des Zorns"><a href="http://portal.wow-alive.de/item/49479" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_helmet_71.jpg");'> </span> <strong>Helm des Zorns</strong> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Kopf <em>(Platte)</em></td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="1"> Normal 25 </td>
	<td><a href="/wow/de/zone/onyxias-lair/onyxia" data-npc="10184">Onyxia</a></td>
</tr>
<tr class="row1 class-5 class-9 class-7 class-2 class-11 class-8 not-common is-equipment" style="display: none">
	<td data-raw="-3 Wallendes Saphirontuch"><a href="http://portal.wow-alive.de/item/49307" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_misc_cape_16.jpg");'> </span> <strong>Wallendes Saphirontuch</strong> </a></td>
	<td class="align-center" data-raw="232"> 232 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Rücken </td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="0"> Normal 10 </td>
	<td><a href="/wow/de/zone/onyxias-lair/onyxia" data-npc="10184">Onyxia</a></td>
</tr>
<tr class="row2 class-7 not-common is-equipment" style="display: none">
	<td data-raw="-3 Kopfschutz der zehn Stürme"><a href="http://portal.wow-alive.de/item/49468" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_helmet_69.jpg");'> </span> <strong>Kopfschutz der zehn Stürme</strong> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Kopf <em>(Kette)</em></td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="1"> Normal 25 </td>
	<td><a href="/wow/de/zone/onyxias-lair/onyxia" data-npc="10184">Onyxia</a></td>
</tr>
<tr class="row1 class-1 not-common is-equipment" style="display: none">
	<td data-raw="-3 Gesichtsschutz des Zorns"><a href="http://portal.wow-alive.de/item/49320" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_helmet_71.jpg");'> </span> <strong>Gesichtsschutz des Zorns</strong> </a></td>
	<td class="align-center" data-raw="232"> 232 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Kopf <em>(Platte)</em></td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="0"> Normal 10 </td>
	<td><a href="/wow/de/zone/onyxias-lair/onyxia" data-npc="10184">Onyxia</a></td>
</tr>
<tr class="row2 class-11 not-common is-equipment" style="display: none">
	<td data-raw="-3 Sturmgrimms Decke"><a href="http://portal.wow-alive.de/item/49471" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_helmet_09.jpg");'> </span> <strong>Sturmgrimms Decke</strong> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Kopf <em>(Leder)</em></td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="1"> Normal 25 </td>
	<td><a href="/wow/de/zone/onyxias-lair/onyxia" data-npc="10184">Onyxia</a></td>
</tr>
<tr class="row1 class-11 not-common is-equipment" style="display: none">
	<td data-raw="-3 Sturmgrimms Kapuze"><a href="http://portal.wow-alive.de/item/49326" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_helmet_09.jpg");'> </span> <strong>Sturmgrimms Kapuze</strong> </a></td>
	<td class="align-center" data-raw="232"> 232 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Kopf <em>(Leder)</em></td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="0"> Normal 10 </td>
	<td><a href="/wow/de/zone/onyxias-lair/onyxia" data-npc="10184">Onyxia</a></td>
</tr>
<tr class="row2 class-3 class-1 class-5 class-9 class-7 class-4 class-11 class-8 not-common is-equipment" style="display: none">
	<td data-raw="-3 Stumpfer Räuderipper"><a href="http://portal.wow-alive.de/item/49465" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_weapon_shortblade_18.jpg");'> </span> <strong>Stumpfer Räuderipper</strong> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Einhändig <em>(Dolch)</em></td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="1"> Normal 25 </td>
	<td><a href="/wow/de/zone/onyxias-lair/onyxia" data-npc="10184">Onyxia</a></td>
</tr>
<tr class="row1 class-3 class-1 class-9 class-2 class-4 class-6 class-8 not-common is-equipment" style="display: none">
	<td data-raw="-3 Getemperter Vis&#39;kag der Blutvergießer"><a href="http://portal.wow-alive.de/item/49501" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_sword_18.jpg");'> </span> <strong>Getemperter Vis&#39;kag der Blutvergießer</strong> </a></td>
	<td class="align-center" data-raw="245"> 245 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Einhändig <em>(Schwert)</em></td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="1"> Normal 25 </td>
	<td><a href="/wow/de/zone/onyxias-lair/onyxia" data-npc="10184">Onyxia</a></td>
</tr>
