
<tr class="row1 class-5 class-9 class-8 not-common is-equipment">
	<td data-raw="-3 Arkanische Trampler"><a href="http://portal.wow-alive.de/item/40558" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_boots_cloth_16.jpg");'> </span> <strong>Arkanische Trampler</strong> </a></td>
	<td class="align-center" data-raw="226"> 226 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Füße <em>(Stoff)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
	<td><a href="/wow/de/zone/the-eye-of-eternity/malygos" data-npc="28859">Malygos</a></td>
</tr>
<tr class="row2 class-4 class-11 not-common is-equipment">
	<td data-raw="-3 Brustharnisch des Eremiten"><a href="http://portal.wow-alive.de/item/40539" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_chest_leather_01.jpg");'> </span> <strong>Brustharnisch des Eremiten</strong> </a></td>
	<td class="align-center" data-raw="226"> 226 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Brust <em>(Leder)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
	<td><a href="/wow/de/zone/the-eye-of-eternity/malygos" data-npc="28859">Malygos</a></td>
</tr>
<tr class="row1 class-11 not-common is-equipment">
	<td data-raw="-3 Fußstapfen von Malygos"><a href="http://portal.wow-alive.de/item/40519" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_boots_chain_13.jpg");'> </span> <strong>Fußstapfen von Malygos</strong> </a></td>
	<td class="align-center" data-raw="213"> 213 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Füße <em>(Leder)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="0"> Normal 10 </td>
	<td><a href="/wow/de/zone/the-eye-of-eternity/malygos" data-npc="28859">Malygos</a></td>
</tr>
<tr class="row2 class-3 class-7 class-4 class-11 not-common is-equipment">
	<td data-raw="-3 Sognadelring"><a href="http://portal.wow-alive.de/item/40474" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_jewelry_ring_78.jpg");'> </span> <strong>Sognadelring</strong> </a></td>
	<td class="align-center" data-raw="213"> 213 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Finger </td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="0"> Normal 10 </td>
	<td><a href="/wow/de/zone/the-eye-of-eternity/malygos" data-npc="28859">Malygos</a></td>
</tr>
<tr class="row1 class-1 class-7 class-2 class-4 class-6 class-11 not-common is-equipment">
	<td data-raw="-3 Mal des Norgannon"><a href="http://portal.wow-alive.de/item/40531" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/ability_hunter_readiness.jpg");'> </span> <strong>Mal des Norgannon</strong> </a></td>
	<td class="align-center" data-raw="226"> 226 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Schmuck </td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
	<td><a href="/wow/de/zone/the-eye-of-eternity/malygos" data-npc="28859">Malygos</a></td>
</tr>
<tr class="row2 class-1 class-2 class-6 not-common is-equipment">
	<td data-raw="-3 Sabatons der Melancholie"><a href="http://portal.wow-alive.de/item/40591" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_boots_plate_06.jpg");'> </span> <strong>Sabatons der Melancholie</strong> </a></td>
	<td class="align-center" data-raw="226"> 226 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Füße <em>(Platte)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
	<td><a href="/wow/de/zone/the-eye-of-eternity/malygos" data-npc="28859">Malygos</a></td>
</tr>
<tr class="row1 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common">
	<td data-raw="-6 Herz der Magie"><a href="http://portal.wow-alive.de/item/44651" class="item-link color-q1"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_misc_gem_sapphire_01.jpg");'> </span> <strong>Herz der Magie</strong> </a></td>
	<td class="align-center" data-raw="1"> 1 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="6"> Garantiert </td>
	<td data-raw="1"> Normal 25 </td>
	<td><a href="javascript:;" data-fansite="object|194159" class="fansite-link float-right"> </a> Herz der Magie </td>
</tr>
<tr class="row2 class-5 class-9 class-7 class-2 class-11 class-8 not-common is-equipment">
	<td data-raw="-3 Halskette der glitzernden Kammer"><a href="http://portal.wow-alive.de/item/40486" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_jewelry_necklace_32.jpg");'> </span> <strong>Halskette der glitzernden Kammer</strong> </a></td>
	<td class="align-center" data-raw="213"> 213 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Hals </td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="0"> Normal 10 </td>
	<td><a href="/wow/de/zone/the-eye-of-eternity/malygos" data-npc="28859">Malygos</a></td>
</tr>
<tr class="row1 class-5 class-9 class-8 not-common is-equipment">
	<td data-raw="-3 Kapuze der Rationalität"><a href="http://portal.wow-alive.de/item/40562" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_helmet_133.jpg");'> </span> <strong>Kapuze der Rationalität</strong> </a></td>
	<td class="align-center" data-raw="226"> 226 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Kopf <em>(Stoff)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
	<td><a href="/wow/de/zone/the-eye-of-eternity/malygos" data-npc="28859">Malygos</a></td>
</tr>
<tr class="row2 class-7 not-common is-equipment">
	<td data-raw="-3 Tunika des Artefaktwächters"><a href="http://portal.wow-alive.de/item/40588" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_chest_chain_11.jpg");'> </span> <strong>Tunika des Artefaktwächters</strong> </a></td>
	<td class="align-center" data-raw="226"> 226 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Brust <em>(Kette)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
	<td><a href="/wow/de/zone/the-eye-of-eternity/malygos" data-npc="28859">Malygos</a></td>
</tr>
<tr class="row1 class-11 not-common is-equipment">
	<td data-raw="-3 Schiftung der Katatonie"><a href="http://portal.wow-alive.de/item/40594" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_shoulder_75.jpg");'> </span> <strong>Schiftung der Katatonie</strong> </a></td>
	<td class="align-center" data-raw="226"> 226 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Schultern <em>(Leder)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
	<td><a href="/wow/de/zone/the-eye-of-eternity/malygos" data-npc="28859">Malygos</a></td>
</tr>
<tr class="row2 class-3 class-4 not-common is-equipment">
	<td data-raw="-3 Hagelsturm"><a href="http://portal.wow-alive.de/item/40491" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_sword_122.jpg");'> </span> <strong>Hagelsturm</strong> </a></td>
	<td class="align-center" data-raw="213"> 213 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Einhändig <em>(Schwert)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="0"> Normal 10 </td>
	<td><a href="/wow/de/zone/the-eye-of-eternity/malygos" data-npc="28859">Malygos</a></td>
</tr>
<tr class="row1 class-5 class-9 class-7 class-2 class-11 class-8 not-common is-equipment">
	<td data-raw="-3 Lebendige Eiskristalle"><a href="http://portal.wow-alive.de/item/40532" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_datacrystal09.jpg");'> </span> <strong>Lebendige Eiskristalle</strong> </a></td>
	<td class="align-center" data-raw="226"> 226 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Schmuck </td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
	<td><a href="/wow/de/zone/the-eye-of-eternity/malygos" data-npc="28859">Malygos</a></td>
</tr>
<tr class="row2 class-5 class-9 class-8 not-common is-equipment">
	<td data-raw="-3 Schneedeckenrobe"><a href="http://portal.wow-alive.de/item/40194" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_chest_cloth_73.jpg");'> </span> <strong>Schneedeckenrobe</strong> </a></td>
	<td class="align-center" data-raw="226"> 226 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Brust <em>(Stoff)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
	<td><a href="/wow/de/zone/the-eye-of-eternity/malygos" data-npc="28859">Malygos</a></td>
</tr>
<tr class="row1 class-7 not-common is-equipment">
	<td data-raw="-3 Handschuhe des Winterspektakels"><a href="http://portal.wow-alive.de/item/40564" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_gauntlets_15.jpg");'> </span> <strong>Handschuhe des Winterspektakels</strong> </a></td>
	<td class="align-center" data-raw="226"> 226 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Hände <em>(Kette)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
	<td><a href="/wow/de/zone/the-eye-of-eternity/malygos" data-npc="28859">Malygos</a></td>
</tr>
<tr class="row2 class-1 class-2 class-6 not-common is-equipment">
	<td data-raw="-3 Beinplatten der Souveränität"><a href="http://portal.wow-alive.de/item/40589" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_pants_plate_21.jpg");'> </span> <strong>Beinplatten der Souveränität</strong> </a></td>
	<td class="align-center" data-raw="226"> 226 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Beine <em>(Platte)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
	<td><a href="/wow/de/zone/the-eye-of-eternity/malygos" data-npc="28859">Malygos</a></td>
</tr>
<tr class="row1 class-3 class-7 not-common is-equipment">
	<td data-raw="-3 Helm des Blauen Aspekts"><a href="http://portal.wow-alive.de/item/40543" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_helmet_18.jpg");'> </span> <strong>Helm des Blauen Aspekts</strong> </a></td>
	<td class="align-center" data-raw="226"> 226 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Kopf <em>(Kette)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
	<td><a href="/wow/de/zone/the-eye-of-eternity/malygos" data-npc="28859">Malygos</a></td>
</tr>
<tr class="row2 class-2 not-common is-equipment">
	<td data-raw="-3 Schulterstücke des erhöhten Horts"><a href="http://portal.wow-alive.de/item/40590" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_shoulder_75.jpg");'> </span> <strong>Schulterstücke des erhöhten Horts</strong> </a></td>
	<td class="align-center" data-raw="226"> 226 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Schultern <em>(Platte)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
	<td><a href="/wow/de/zone/the-eye-of-eternity/malygos" data-npc="28859">Malygos</a></td>
</tr>
<tr class="row1 class-5 class-7 class-2 class-11 not-common is-equipment">
	<td data-raw="-3 Eiszapfenszepter"><a href="http://portal.wow-alive.de/item/40488" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_mace_77.jpg");'> </span> <strong>Eiszapfenszepter</strong> </a></td>
	<td class="align-center" data-raw="213"> 213 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Waffenhand <em>(Streitkolben)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="0"> Normal 10 </td>
	<td><a href="/wow/de/zone/the-eye-of-eternity/malygos" data-npc="28859">Malygos</a></td>
</tr>
<tr class="row2 class-5 class-9 class-8 not-common is-equipment">
	<td data-raw="-3 Robe des Spruchwirkers"><a href="http://portal.wow-alive.de/item/40526" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_chest_cloth_73.jpg");'> </span> <strong>Robe des Spruchwirkers</strong> </a></td>
	<td class="align-center" data-raw="213"> 213 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Brust <em>(Stoff)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="0"> Normal 10 </td>
	<td><a href="/wow/de/zone/the-eye-of-eternity/malygos" data-npc="28859">Malygos</a></td>
</tr>
<tr class="row1 class-2 not-common is-equipment">
	<td data-raw="-3 Fokussierende Energieschulterklappen"><a href="http://portal.wow-alive.de/item/40511" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_shoulder_73.jpg");'> </span> <strong>Fokussierende Energieschulterklappen</strong> </a></td>
	<td class="align-center" data-raw="213"> 213 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Schultern <em>(Platte)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="0"> Normal 10 </td>
	<td><a href="/wow/de/zone/the-eye-of-eternity/malygos" data-npc="28859">Malygos</a></td>
</tr>
<tr class="row2 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common">
	<td data-raw="-3 Zügel des Blaudrachen"><a href="http://portal.wow-alive.de/item/43953" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/ability_mount_drake_blue.jpg");'> </span> <strong>Zügel des Blaudrachen</strong> </a></td>
	<td class="align-center" data-raw="70"> 70 </td>
	<td class="align-center" data-raw="70"> 70 </td>
	<td> Verbrauchbar </td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="0 1"> Normal </td>
	<td><a href="/wow/de/zone/the-eye-of-eternity/malygos" data-npc="28859">Malygos</a></td>
</tr>
<tr class="row1 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common">
	<td data-raw="-6 Herz der Magie"><a href="http://portal.wow-alive.de/item/44650" class="item-link color-q1"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_misc_gem_sapphire_01.jpg");'> </span> <strong>Herz der Magie</strong> </a></td>
	<td class="align-center" data-raw="1"> 1 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="6"> Garantiert </td>
	<td data-raw="0"> Normal 10 </td>
	<td><a href="javascript:;" data-fansite="object|194158" class="fansite-link float-right"> </a> Herz der Magie </td>
</tr>
<tr class="row2 class-3 class-11 not-common is-equipment">
	<td data-raw="-3 Schwarzes Eis"><a href="http://portal.wow-alive.de/item/40497" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_weapon_halberd17.jpg");'> </span> <strong>Schwarzes Eis</strong> </a></td>
	<td class="align-center" data-raw="213"> 213 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Zweihändig <em>(Stangenwaffe)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="0"> Normal 10 </td>
	<td><a href="/wow/de/zone/the-eye-of-eternity/malygos" data-npc="28859">Malygos</a></td>
</tr>
<tr class="row1 class-5 class-9 class-7 class-11 class-8 not-common is-equipment">
	<td data-raw="-3 Großstab des Nexus"><a href="http://portal.wow-alive.de/item/40489" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_staff_83.jpg");'> </span> <strong>Großstab des Nexus</strong> </a></td>
	<td class="align-center" data-raw="213"> 213 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Zweihändig <em>(Stab)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="0"> Normal 10 </td>
	<td><a href="/wow/de/zone/the-eye-of-eternity/malygos" data-npc="28859">Malygos</a></td>
</tr>
<tr class="row2 class-5 class-9 class-8 not-common is-equipment">
	<td data-raw="-3 Mantelung der Dissemination"><a href="http://portal.wow-alive.de/item/40555" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_shoulder_72.jpg");'> </span> <strong>Mantelung der Dissemination</strong> </a></td>
	<td class="align-center" data-raw="226"> 226 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Schultern <em>(Stoff)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
	<td><a href="/wow/de/zone/the-eye-of-eternity/malygos" data-npc="28859">Malygos</a></td>
</tr>
<tr class="row1 class-5 class-9 class-8 not-common is-equipment">
	<td data-raw="-3 Leine der rücksichtslosen Magie"><a href="http://portal.wow-alive.de/item/40561" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_belt_10.jpg");'> </span> <strong>Leine der rücksichtslosen Magie</strong> </a></td>
	<td class="align-center" data-raw="226"> 226 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Gürtel <em>(Stoff)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
	<td><a href="/wow/de/zone/the-eye-of-eternity/malygos" data-npc="28859">Malygos</a></td>
</tr>
<tr class="row2 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common">
	<td data-raw="-3 Zügel des Azurblauen Drachen"><a href="http://portal.wow-alive.de/item/43952" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/ability_mount_drake_azure.jpg");'> </span> <strong>Zügel des Azurblauen Drachen</strong> </a></td>
	<td class="align-center" data-raw="70"> 70 </td>
	<td class="align-center" data-raw="70"> 70 </td>
	<td> Verbrauchbar </td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="0 1"> Normal </td>
	<td><a href="/wow/de/zone/the-eye-of-eternity/malygos" data-npc="28859">Malygos</a></td>
</tr>
<tr class="row1 class-2 not-common is-equipment">
	<td data-raw="-3 Stiefel der heilenden Energien"><a href="http://portal.wow-alive.de/item/40592" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_boots_chain_08.jpg");'> </span> <strong>Stiefel der heilenden Energien</strong> </a></td>
	<td class="align-center" data-raw="226"> 226 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Füße <em>(Platte)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
	<td><a href="/wow/de/zone/the-eye-of-eternity/malygos" data-npc="28859">Malygos</a></td>
</tr>
<tr class="row2 class-5 class-9 class-8 not-common is-equipment">
	<td data-raw="-3 Gamaschen des übermütigen Zauberwirkers"><a href="http://portal.wow-alive.de/item/40560" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_pants_cloth_24.jpg");'> </span> <strong>Gamaschen des übermütigen Zauberwirkers</strong> </a></td>
	<td class="align-center" data-raw="226"> 226 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Beine <em>(Stoff)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
	<td><a href="/wow/de/zone/the-eye-of-eternity/malygos" data-npc="28859">Malygos</a></td>
</tr>
<tr class="row1 class-3 class-7 not-common is-equipment">
	<td data-raw="-3 Stiefel des erneuerten Schwarms"><a href="http://portal.wow-alive.de/item/40549" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_boots_leather_02.jpg");'> </span> <strong>Stiefel des erneuerten Schwarms</strong> </a></td>
	<td class="align-center" data-raw="226"> 226 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Füße <em>(Kette)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
	<td><a href="/wow/de/zone/the-eye-of-eternity/malygos" data-npc="28859">Malygos</a></td>
</tr>
<tr class="row2 class-11 not-common is-equipment">
	<td data-raw="-3 Dünne Geduldsfäden"><a href="http://portal.wow-alive.de/item/40566" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_belt_25.jpg");'> </span> <strong>Dünne Geduldsfäden</strong> </a></td>
	<td class="align-center" data-raw="226"> 226 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Gürtel <em>(Leder)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
	<td><a href="/wow/de/zone/the-eye-of-eternity/malygos" data-npc="28859">Malygos</a></td>
</tr>
<tr class="row1 class-4 class-11 not-common is-equipment">
	<td data-raw="-3 Bereifte Handschuhe der Schlagfertigkeit"><a href="http://portal.wow-alive.de/item/40541" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_gauntlets_22.jpg");'> </span> <strong>Bereifte Handschuhe der Schlagfertigkeit</strong> </a></td>
	<td class="align-center" data-raw="226"> 226 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Hände <em>(Leder)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
	<td><a href="/wow/de/zone/the-eye-of-eternity/malygos" data-npc="28859">Malygos</a></td>
</tr>
<tr class="row2 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common">
	<td data-raw="-6 Gefängnisummantelung"><a href="http://portal.wow-alive.de/item/35668" class="item-link color-q1"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_misc_armorkit_19.jpg");'> </span> <strong>Gefängnisummantelung</strong> </a></td>
	<td class="align-center" data-raw="1"> 1 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="6"> Garantiert </td>
	<td data-raw=""></td>
	<td><a href="javascript:;" data-fansite="npc|25716|General Cerulean" class="fansite-link float-right"> </a> General Cerulean </td>
</tr>
<tr class="row1 class-1 class-2 not-common is-equipment">
	<td data-raw="-3 Barrikade der Ewigkeit"><a href="http://portal.wow-alive.de/item/40475" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_shield_60.jpg");'> </span> <strong>Barrikade der Ewigkeit</strong> </a></td>
	<td class="align-center" data-raw="213"> 213 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Schild </td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="0"> Normal 10 </td>
	<td><a href="/wow/de/zone/the-eye-of-eternity/malygos" data-npc="28859">Malygos</a></td>
</tr>
