
<tr class="row1 class-1 class-2 class-6 class-11 not-common is-equipment">
	<td data-raw="-3 Penumbraanhänger"><a href="http://portal.wow-alive.de/item/54581" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_jewelry_necklace_48.jpg");'> </span> <strong>Penumbraanhänger</strong> <span class="icon-heroic-skull"></span> </a></td>
	<td class="align-center" data-raw="284"> 284 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Hals </td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="3"> Heroisch 25 </td>
	<td><a href="/wow/de/zone/the-ruby-sanctum/halion" data-npc="39863">Halion</a></td>
</tr>
<tr class="row2 class-5 class-9 class-7 class-2 class-11 class-8">
	<td data-raw="-6 Runenverzierter Manatrank"><a href="http://portal.wow-alive.de/item/33448" class="item-link color-q1"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_alchemy_elixir_02.jpg");'> </span> <strong>Runenverzierter Manatrank</strong> </a></td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td class="align-center" data-raw="70"> 70 </td>
	<td> Verbrauchbar </td>
	<td data-raw="0"> Extrem Niedrig </td>
	<td data-raw="0 1"> Normal </td>
	<td></td>
</tr>
<tr class="row1 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8">
	<td data-raw="-5 Rezept: Mammut von letzter Woche"><a href="http://portal.wow-alive.de/item/43508" class="item-link color-q2"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_06.jpg");'> </span> <strong>Rezept: Mammut von letzter Woche</strong> </a></td>
	<td class="align-center" data-raw="75"> 75 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="0"> Extrem Niedrig </td>
	<td data-raw="0 1"> Normal </td>
	<td></td>
</tr>
<tr class="row2 class-7 class-4 class-11 not-common is-equipment">
	<td data-raw="-3 Baltharus&#39; Gabe"><a href="http://portal.wow-alive.de/item/54557" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_jewelry_amulet_06.jpg");'> </span> <strong>Baltharus&#39; Gabe</strong> <span class="icon-heroic-skull"></span> </a></td>
	<td class="align-center" data-raw="271"> 271 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Hals </td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="2"> Heroisch 10 </td>
	<td><a href="/wow/de/zone/the-ruby-sanctum/halion" data-npc="39863">Halion</a></td>
</tr>
<tr class="row1 class-1 class-2 class-6 not-common is-equipment">
	<td data-raw="-3 Treter der bevorstehenden Wiederbelebung"><a href="http://portal.wow-alive.de/item/53129" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_boots_plate_12.jpg");'> </span> <strong>Treter der bevorstehenden Wiederbelebung</strong> </a></td>
	<td class="align-center" data-raw="271"> 271 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Füße <em>(Platte)</em></td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="1"> Normal 25 </td>
	<td><a href="/wow/de/zone/the-ruby-sanctum/halion" data-npc="39863">Halion</a></td>
</tr>
<tr class="row2 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8">
	<td data-raw="-6 Runenverzierter Heiltrank"><a href="http://portal.wow-alive.de/item/33447" class="item-link color-q1"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_alchemy_elixir_05.jpg");'> </span> <strong>Runenverzierter Heiltrank</strong> </a></td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td class="align-center" data-raw="70"> 70 </td>
	<td> Verbrauchbar </td>
	<td data-raw="1"> Sehr Niedrig </td>
	<td data-raw="0 1"> Normal </td>
	<td></td>
</tr>
<tr class="row1 class-1 class-2 class-6 class-11">
	<td data-raw="-6 Rolle des Schutzes VII"><a href="http://portal.wow-alive.de/item/43467" class="item-link color-q1"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_07.jpg");'> </span> <strong>Rolle des Schutzes VII</strong> </a></td>
	<td class="align-center" data-raw="70"> 70 </td>
	<td class="align-center" data-raw="70"> 70 </td>
	<td> Verbrauchbar </td>
	<td data-raw="0"> Extrem Niedrig </td>
	<td data-raw="0 1"> Normal </td>
	<td></td>
</tr>
<tr class="row2 class-11 not-common is-equipment">
	<td data-raw="-3 Wechselbalghandschuhe"><a href="http://portal.wow-alive.de/item/54560" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_gauntlets_83.jpg");'> </span> <strong>Wechselbalghandschuhe</strong> <span class="icon-heroic-skull"></span> </a></td>
	<td class="align-center" data-raw="271"> 271 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Hände <em>(Leder)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="2"> Heroisch 10 </td>
	<td><a href="/wow/de/zone/the-ruby-sanctum/halion" data-npc="39863">Halion</a></td>
</tr>
<tr class="row1 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8">
	<td data-raw="-5 Rezept: Schlechte Muscheln"><a href="http://portal.wow-alive.de/item/43509" class="item-link color-q2"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_06.jpg");'> </span> <strong>Rezept: Schlechte Muscheln</strong> </a></td>
	<td class="align-center" data-raw="75"> 75 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="0"> Extrem Niedrig </td>
	<td data-raw="0 1"> Normal </td>
	<td></td>
</tr>
<tr class="row2 class-5 class-9 class-8 not-common is-equipment">
	<td data-raw="-3 Ekelhafter Gürtel"><a href="http://portal.wow-alive.de/item/53118" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_belt_66green.jpg");'> </span> <strong>Ekelhafter Gürtel</strong> </a></td>
	<td class="align-center" data-raw="258"> 258 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Gürtel <em>(Stoff)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="0"> Normal 10 </td>
	<td><a href="/wow/de/zone/the-ruby-sanctum/halion" data-npc="39863">Halion</a></td>
</tr>
<tr class="row1 class-1 class-2 class-6 class-11 not-common is-equipment">
	<td data-raw="-3 Zarithrians Opfergabe"><a href="http://portal.wow-alive.de/item/54567" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/item_icecrownringb.jpg");'> </span> <strong>Zarithrians Opfergabe</strong> <span class="icon-heroic-skull"></span> </a></td>
	<td class="align-center" data-raw="271"> 271 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Finger </td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="2"> Heroisch 10 </td>
	<td><a href="/wow/de/zone/the-ruby-sanctum/halion" data-npc="39863">Halion</a></td>
</tr>
<tr class="row2 class-5 class-9 class-8 not-common is-equipment">
	<td data-raw="-3 Armschienen der feurigen Nacht"><a href="http://portal.wow-alive.de/item/54582" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_bracer_45.jpg");'> </span> <strong>Armschienen der feurigen Nacht</strong> <span class="icon-heroic-skull"></span> </a></td>
	<td class="align-center" data-raw="284"> 284 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Handgelenke <em>(Stoff)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="3"> Heroisch 25 </td>
	<td><a href="/wow/de/zone/the-ruby-sanctum/halion" data-npc="39863">Halion</a></td>
</tr>
<tr class="row1 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8">
	<td data-raw="-4 Eine Anleitung zum Plündern nordischer Stoffe"><a href="http://portal.wow-alive.de/item/43876" class="item-link color-q3"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_misc_book_02.jpg");'> </span> <strong>Eine Anleitung zum Plündern nordischer Stoffe</strong> </a></td>
	<td class="align-center" data-raw="70"> 70 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="0 1"> Normal </td>
	<td></td>
</tr>
<tr class="row2 class-1 class-2 class-6 not-common is-equipment">
	<td data-raw="-3 Vormarsch der Apokalypse"><a href="http://portal.wow-alive.de/item/53125" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_boots_plate_12.jpg");'> </span> <strong>Vormarsch der Apokalypse</strong> </a></td>
	<td class="align-center" data-raw="271"> 271 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Füße <em>(Platte)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
	<td><a href="/wow/de/zone/the-ruby-sanctum/halion" data-npc="39863">Halion</a></td>
</tr>
<tr class="row1 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8">
	<td data-raw="-6 Honigminztee"><a href="http://portal.wow-alive.de/item/33445" class="item-link color-q1"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_drink_25_honeytea.jpg");'> </span> <strong>Honigminztee</strong> </a></td>
	<td class="align-center" data-raw="85"> 85 </td>
	<td class="align-center" data-raw="75"> 75 </td>
	<td> Verbrauchbar </td>
	<td data-raw="1"> Sehr Niedrig </td>
	<td data-raw="0 1"> Normal </td>
	<td></td>
</tr>
<tr class="row2 class-11 not-common is-equipment">
	<td data-raw="-3 Armschienen des Phasenwandlers"><a href="http://portal.wow-alive.de/item/53134" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_bracer_40.jpg");'> </span> <strong>Armschienen des Phasenwandlers</strong> </a></td>
	<td class="align-center" data-raw="271"> 271 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Handgelenke <em>(Leder)</em></td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="1"> Normal 25 </td>
	<td><a href="/wow/de/zone/the-ruby-sanctum/halion" data-npc="39863">Halion</a></td>
</tr>
<tr class="row1 class-5 class-9 class-7 class-2 class-11 class-8 not-common is-equipment">
	<td data-raw="-3 Umhang der brennenden Dämmerung"><a href="http://portal.wow-alive.de/item/54583" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_misc_cape_16.jpg");'> </span> <strong>Umhang der brennenden Dämmerung</strong> <span class="icon-heroic-skull"></span> </a></td>
	<td class="align-center" data-raw="284"> 284 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Rücken </td>
	<td data-raw="4"> Hoch </td>
	<td data-raw="3"> Heroisch 25 </td>
	<td><a href="/wow/de/zone/the-ruby-sanctum/halion" data-npc="39863">Halion</a></td>
</tr>
<tr class="row2 class-4 class-11 not-common is-equipment">
	<td data-raw="-3 Schattenarmbänder"><a href="http://portal.wow-alive.de/item/54580" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_bracer_41.jpg");'> </span> <strong>Schattenarmbänder</strong> <span class="icon-heroic-skull"></span> </a></td>
	<td class="align-center" data-raw="284"> 284 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Handgelenke <em>(Leder)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="3"> Heroisch 25 </td>
	<td><a href="/wow/de/zone/the-ruby-sanctum/halion" data-npc="39863">Halion</a></td>
</tr>
<tr class="row1 class-1 class-2 class-6 not-common is-equipment">
	<td data-raw="-3 Armschienen des Erben"><a href="http://portal.wow-alive.de/item/53112" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_bracer_42.jpg");'> </span> <strong>Armschienen des Erben</strong> </a></td>
	<td class="align-center" data-raw="258"> 258 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Handgelenke <em>(Platte)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="0"> Normal 10 </td>
	<td><a href="/wow/de/zone/the-ruby-sanctum/halion" data-npc="39863">Halion</a></td>
</tr>
<tr class="row2 class-2 not-common is-equipment">
	<td data-raw="-3 Schritte der Vorahnung"><a href="http://portal.wow-alive.de/item/53487" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_boots_plate_14.jpg");'> </span> <strong>Schritte der Vorahnung</strong> </a></td>
	<td class="align-center" data-raw="271"> 271 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Füße <em>(Platte)</em></td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="1"> Normal 25 </td>
	<td><a href="/wow/de/zone/the-ruby-sanctum/halion" data-npc="39863">Halion</a></td>
</tr>
<tr class="row1 class-2 not-common is-equipment">
	<td data-raw="-3 Schritte der Vorahnung"><a href="http://portal.wow-alive.de/item/54586" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_boots_plate_14.jpg");'> </span> <strong>Schritte der Vorahnung</strong> <span class="icon-heroic-skull"></span> </a></td>
	<td class="align-center" data-raw="284"> 284 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Füße <em>(Platte)</em></td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="3"> Heroisch 25 </td>
	<td><a href="/wow/de/zone/the-ruby-sanctum/halion" data-npc="39863">Halion</a></td>
</tr>
<tr class="row2 class-1 class-2 class-6 class-11 not-common is-equipment">
	<td data-raw="-3 Versteinerte Zwielichtschuppe"><a href="http://portal.wow-alive.de/item/54571" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_misc_rubysanctum3.jpg");'> </span> <strong>Versteinerte Zwielichtschuppe</strong> </a></td>
	<td class="align-center" data-raw="271"> 271 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Schmuck </td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
	<td><a href="/wow/de/zone/the-ruby-sanctum/halion" data-npc="39863">Halion</a></td>
</tr>
<tr class="row1 class-3 class-7 class-4 class-11 not-common is-equipment">
	<td data-raw="-3 Siegel des Zwielichts"><a href="http://portal.wow-alive.de/item/54576" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/item_icecrownringc.jpg");'> </span> <strong>Siegel des Zwielichts</strong> <span class="icon-heroic-skull"></span> </a></td>
	<td class="align-center" data-raw="284"> 284 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Finger </td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="3"> Heroisch 25 </td>
	<td><a href="/wow/de/zone/the-ruby-sanctum/halion" data-npc="39863">Halion</a></td>
</tr>
<tr class="row2 class-2 not-common is-equipment">
	<td data-raw="-3 Ersatzgürtel"><a href="http://portal.wow-alive.de/item/53121" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_belt_70.jpg");'> </span> <strong>Ersatzgürtel</strong> </a></td>
	<td class="align-center" data-raw="258"> 258 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Gürtel <em>(Platte)</em></td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="0"> Normal 10 </td>
	<td><a href="/wow/de/zone/the-ruby-sanctum/halion" data-npc="39863">Halion</a></td>
</tr>
<tr class="row1 class-5 class-9 class-8 not-common is-equipment">
	<td data-raw="-3 Armschienen der feurigen Nacht"><a href="http://portal.wow-alive.de/item/53486" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_bracer_45.jpg");'> </span> <strong>Armschienen der feurigen Nacht</strong> </a></td>
	<td class="align-center" data-raw="271"> 271 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Handgelenke <em>(Stoff)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
	<td><a href="/wow/de/zone/the-ruby-sanctum/halion" data-npc="39863">Halion</a></td>
</tr>
<tr class="row2 class-4 class-11 not-common is-equipment">
	<td data-raw="-3 Zwielichtiges Wams"><a href="http://portal.wow-alive.de/item/54561" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_chest_leather_22.jpg");'> </span> <strong>Zwielichtiges Wams</strong> <span class="icon-heroic-skull"></span> </a></td>
	<td class="align-center" data-raw="271"> 271 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Brust <em>(Leder)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="2"> Heroisch 10 </td>
	<td><a href="/wow/de/zone/the-ruby-sanctum/halion" data-npc="39863">Halion</a></td>
</tr>
<tr class="row1 class-3 class-7 not-common is-equipment">
	<td data-raw="-3 Zwielichtschuppenschultern"><a href="http://portal.wow-alive.de/item/54566" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_shoulder_113.jpg");'> </span> <strong>Zwielichtschuppenschultern</strong> <span class="icon-heroic-skull"></span> </a></td>
	<td class="align-center" data-raw="271"> 271 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Schultern <em>(Kette)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="2"> Heroisch 10 </td>
	<td><a href="/wow/de/zone/the-ruby-sanctum/halion" data-npc="39863">Halion</a></td>
</tr>
<tr class="row2 class-4 class-11 not-common is-equipment">
	<td data-raw="-3 Zwielichtiges Wams"><a href="http://portal.wow-alive.de/item/53114" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_chest_leather_22.jpg");'> </span> <strong>Zwielichtiges Wams</strong> </a></td>
	<td class="align-center" data-raw="258"> 258 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Brust <em>(Leder)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="0"> Normal 10 </td>
	<td><a href="/wow/de/zone/the-ruby-sanctum/halion" data-npc="39863">Halion</a></td>
</tr>
<tr class="row1 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8">
	<td data-raw="-7 Dicke Fellkleidungsfetzen"><a href="http://portal.wow-alive.de/item/43852" class="item-link color-q0"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_misc_pelt_arctic_02.jpg");'> </span> <strong>Dicke Fellkleidungsfetzen</strong> </a></td>
	<td class="align-center" data-raw="70"> 70 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="0 1"> Normal </td>
	<td></td>
</tr>
<tr class="row2 class-3 class-7 not-common is-equipment">
	<td data-raw="-3 Wiederkehrende Schritte"><a href="http://portal.wow-alive.de/item/53127" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_boots_mail_06.jpg");'> </span> <strong>Wiederkehrende Schritte</strong> </a></td>
	<td class="align-center" data-raw="271"> 271 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Füße <em>(Kette)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
	<td><a href="/wow/de/zone/the-ruby-sanctum/halion" data-npc="39863">Halion</a></td>
</tr>
<tr class="row1 class-3 class-7 class-4 class-11 not-common is-equipment">
	<td data-raw="-3 Siegel des Zwielichts"><a href="http://portal.wow-alive.de/item/53133" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/item_icecrownringc.jpg");'> </span> <strong>Siegel des Zwielichts</strong> </a></td>
	<td class="align-center" data-raw="271"> 271 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Finger </td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
	<td><a href="/wow/de/zone/the-ruby-sanctum/halion" data-npc="39863">Halion</a></td>
</tr>
<tr class="row2 class-3 class-7 class-4 class-11">
	<td data-raw="-6 Rolle der Beweglichkeit VII"><a href="http://portal.wow-alive.de/item/43463" class="item-link color-q1"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_02.jpg");'> </span> <strong>Rolle der Beweglichkeit VII</strong> </a></td>
	<td class="align-center" data-raw="70"> 70 </td>
	<td class="align-center" data-raw="70"> 70 </td>
	<td> Verbrauchbar </td>
	<td data-raw="0"> Extrem Niedrig </td>
	<td data-raw="0 1"> Normal </td>
	<td></td>
</tr>
<tr class="row1 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8">
	<td data-raw="-5 Rezept: Geisterhering"><a href="http://portal.wow-alive.de/item/43510" class="item-link color-q2"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_06.jpg");'> </span> <strong>Rezept: Geisterhering</strong> </a></td>
	<td class="align-center" data-raw="75"> 75 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="0"> Extrem Niedrig </td>
	<td data-raw="0 1"> Normal </td>
	<td></td>
</tr>
<tr class="row2 class-1 class-2 class-6 not-common is-equipment">
	<td data-raw="-3 Armschienen des Erben"><a href="http://portal.wow-alive.de/item/54559" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_bracer_42.jpg");'> </span> <strong>Armschienen des Erben</strong> <span class="icon-heroic-skull"></span> </a></td>
	<td class="align-center" data-raw="271"> 271 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Handgelenke <em>(Platte)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="2"> Heroisch 10 </td>
	<td><a href="/wow/de/zone/the-ruby-sanctum/halion" data-npc="39863">Halion</a></td>
</tr>
<tr class="row1 class-4 class-11 not-common is-equipment">
	<td data-raw="-3 Schattenarmbänder"><a href="http://portal.wow-alive.de/item/53126" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_bracer_41.jpg");'> </span> <strong>Schattenarmbänder</strong> </a></td>
	<td class="align-center" data-raw="271"> 271 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Handgelenke <em>(Leder)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
	<td><a href="/wow/de/zone/the-ruby-sanctum/halion" data-npc="39863">Halion</a></td>
</tr>
<tr class="row2 class-7 not-common is-equipment">
	<td data-raw="-3 Gürtel der gespaltenen Form"><a href="http://portal.wow-alive.de/item/53488" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_belt_83.jpg");'> </span> <strong>Gürtel der gespaltenen Form</strong> </a></td>
	<td class="align-center" data-raw="271"> 271 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Gürtel <em>(Kette)</em></td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="1"> Normal 25 </td>
	<td><a href="/wow/de/zone/the-ruby-sanctum/halion" data-npc="39863">Halion</a></td>
</tr>
<tr class="row1 class-7 not-common is-equipment">
	<td data-raw="-3 Stiefel des gespaltenen Daseins"><a href="http://portal.wow-alive.de/item/54558" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_boots_mail_10.jpg");'> </span> <strong>Stiefel des gespaltenen Daseins</strong> <span class="icon-heroic-skull"></span> </a></td>
	<td class="align-center" data-raw="271"> 271 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Füße <em>(Kette)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="2"> Heroisch 10 </td>
	<td><a href="/wow/de/zone/the-ruby-sanctum/halion" data-npc="39863">Halion</a></td>
</tr>
<tr class="row2 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8">
	<td data-raw="-5 Handbuch: Schwerer Froststoffverband"><a href="http://portal.wow-alive.de/item/39152" class="item-link color-q2"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_misc_book_03.jpg");'> </span> <strong>Handbuch: Schwerer Froststoffverband</strong> </a></td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="4"> Hoch </td>
	<td data-raw="0 1"> Normal </td>
	<td></td>
</tr>
<tr class="row1 class-7 not-common is-equipment">
	<td data-raw="-3 Gürtel der gespaltenen Form"><a href="http://portal.wow-alive.de/item/54587" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_belt_83.jpg");'> </span> <strong>Gürtel der gespaltenen Form</strong> <span class="icon-heroic-skull"></span> </a></td>
	<td class="align-center" data-raw="284"> 284 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Gürtel <em>(Kette)</em></td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="3"> Heroisch 25 </td>
	<td><a href="/wow/de/zone/the-ruby-sanctum/halion" data-npc="39863">Halion</a></td>
</tr>
<tr class="row2 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common is-equipment">
	<td data-raw="-3 Geschärfte Zwielichtschuppe"><a href="http://portal.wow-alive.de/item/54590" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_misc_rubysanctum4.jpg");'> </span> <strong>Geschärfte Zwielichtschuppe</strong> <span class="icon-heroic-skull"></span> </a></td>
	<td class="align-center" data-raw="284"> 284 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Schmuck </td>
	<td data-raw="4"> Hoch </td>
	<td data-raw="3"> Heroisch 25 </td>
	<td><a href="/wow/de/zone/the-ruby-sanctum/halion" data-npc="39863">Halion</a></td>
</tr>
<tr class="row1 class-5 class-9 class-7 class-2 class-11 class-8 not-common is-equipment">
	<td data-raw="-3 Savianas Tribut"><a href="http://portal.wow-alive.de/item/53116" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/item_icecrownringc.jpg");'> </span> <strong>Savianas Tribut</strong> </a></td>
	<td class="align-center" data-raw="258"> 258 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Finger </td>
	<td data-raw="4"> Hoch </td>
	<td data-raw="0"> Normal 10 </td>
	<td><a href="/wow/de/zone/the-ruby-sanctum/halion" data-npc="39863">Halion</a></td>
</tr>
<tr class="row2 class-1 class-2 class-6 class-11">
	<td data-raw="-6 Rolle der Stärke VII"><a href="http://portal.wow-alive.de/item/43465" class="item-link color-q1"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_02.jpg");'> </span> <strong>Rolle der Stärke VII</strong> </a></td>
	<td class="align-center" data-raw="70"> 70 </td>
	<td class="align-center" data-raw="70"> 70 </td>
	<td> Verbrauchbar </td>
	<td data-raw="0"> Extrem Niedrig </td>
	<td data-raw="0 1"> Normal </td>
	<td></td>
</tr>
<tr class="row1 class-5 class-9 class-7 class-2 class-11 class-8 not-common is-equipment">
	<td data-raw="-3 Leuchtende Zwielichtschuppe"><a href="http://portal.wow-alive.de/item/54573" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_misc_rubysanctum1.jpg");'> </span> <strong>Leuchtende Zwielichtschuppe</strong> </a></td>
	<td class="align-center" data-raw="271"> 271 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Schmuck </td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
	<td><a href="/wow/de/zone/the-ruby-sanctum/halion" data-npc="39863">Halion</a></td>
</tr>
<tr class="row2 class-1 class-2 class-6 class-11 not-common is-equipment">
	<td data-raw="-3 Penumbraanhänger"><a href="http://portal.wow-alive.de/item/53132" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_jewelry_necklace_48.jpg");'> </span> <strong>Penumbraanhänger</strong> </a></td>
	<td class="align-center" data-raw="271"> 271 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Hals </td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="1"> Normal 25 </td>
	<td><a href="/wow/de/zone/the-ruby-sanctum/halion" data-npc="39863">Halion</a></td>
</tr>
<tr class="row1 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8">
	<td data-raw="-6 Froststoff"><a href="http://portal.wow-alive.de/item/33470" class="item-link color-q1"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_fabric_soulcloth.jpg");'> </span> <strong>Froststoff</strong> </a></td>
	<td class="align-center" data-raw="70"> 70 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="0 1"> Normal </td>
	<td></td>
</tr>
<tr class="row2 class-11 not-common is-equipment">
	<td data-raw="-3 Wechselbalghandschuhe"><a href="http://portal.wow-alive.de/item/53117" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_gauntlets_83.jpg");'> </span> <strong>Wechselbalghandschuhe</strong> </a></td>
	<td class="align-center" data-raw="258"> 258 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Hände <em>(Leder)</em></td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="0"> Normal 10 </td>
	<td><a href="/wow/de/zone/the-ruby-sanctum/halion" data-npc="39863">Halion</a></td>
</tr>
<tr class="row1 class-1 class-2 class-6 not-common is-equipment">
	<td data-raw="-3 Treter des Abkömmlings"><a href="http://portal.wow-alive.de/item/53111" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_boots_plate_12.jpg");'> </span> <strong>Treter des Abkömmlings</strong> </a></td>
	<td class="align-center" data-raw="258"> 258 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Füße <em>(Platte)</em></td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="0"> Normal 10 </td>
	<td><a href="/wow/de/zone/the-ruby-sanctum/halion" data-npc="39863">Halion</a></td>
</tr>
<tr class="row2 class-5 class-9 class-8 not-common is-equipment">
	<td data-raw="-3 Ekelhafter Gürtel"><a href="http://portal.wow-alive.de/item/54562" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_belt_66green.jpg");'> </span> <strong>Ekelhafter Gürtel</strong> <span class="icon-heroic-skull"></span> </a></td>
	<td class="align-center" data-raw="271"> 271 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Gürtel <em>(Stoff)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="2"> Heroisch 10 </td>
	<td><a href="/wow/de/zone/the-ruby-sanctum/halion" data-npc="39863">Halion</a></td>
</tr>
<tr class="row1 class-5 class-9 class-7 class-2 class-11 class-8 not-common is-equipment">
	<td data-raw="-3 Verkohlte Zwielichtschuppe"><a href="http://portal.wow-alive.de/item/54572" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_misc_rubysanctum2.jpg");'> </span> <strong>Verkohlte Zwielichtschuppe</strong> </a></td>
	<td class="align-center" data-raw="271"> 271 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Schmuck </td>
	<td data-raw="4"> Hoch </td>
	<td data-raw="1"> Normal 25 </td>
	<td><a href="/wow/de/zone/the-ruby-sanctum/halion" data-npc="39863">Halion</a></td>
</tr>
<tr class="row2 class-5 class-9 class-7 class-2 class-11 class-8 not-common is-equipment">
	<td data-raw="-3 Leuchtende Zwielichtschuppe"><a href="http://portal.wow-alive.de/item/54589" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_misc_rubysanctum1.jpg");'> </span> <strong>Leuchtende Zwielichtschuppe</strong> <span class="icon-heroic-skull"></span> </a></td>
	<td class="align-center" data-raw="284"> 284 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Schmuck </td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="3"> Heroisch 25 </td>
	<td><a href="/wow/de/zone/the-ruby-sanctum/halion" data-npc="39863">Halion</a></td>
</tr>
<tr class="row1 class-5 class-9 class-7 class-2 class-11 class-8 not-common is-equipment">
	<td data-raw="-3 Umhang der brennenden Dämmerung"><a href="http://portal.wow-alive.de/item/53489" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_misc_cape_16.jpg");'> </span> <strong>Umhang der brennenden Dämmerung</strong> </a></td>
	<td class="align-center" data-raw="271"> 271 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Rücken </td>
	<td data-raw="4"> Hoch </td>
	<td data-raw="1"> Normal 25 </td>
	<td><a href="/wow/de/zone/the-ruby-sanctum/halion" data-npc="39863">Halion</a></td>
</tr>
<tr class="row2 class-1 class-2 class-6 class-11 not-common is-equipment" style="display: none">
	<td data-raw="-3 Zarithrians Opfergabe"><a href="http://portal.wow-alive.de/item/53110" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/item_icecrownringb.jpg");'> </span> <strong>Zarithrians Opfergabe</strong> </a></td>
	<td class="align-center" data-raw="258"> 258 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Finger </td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="0"> Normal 10 </td>
	<td><a href="/wow/de/zone/the-ruby-sanctum/halion" data-npc="39863">Halion</a></td>
</tr>
<tr class="row1 class-5 class-9 class-7 class-2 class-11 class-8 not-common is-equipment" style="display: none">
	<td data-raw="-3 Verkohlte Zwielichtschuppe"><a href="http://portal.wow-alive.de/item/54588" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_misc_rubysanctum2.jpg");'> </span> <strong>Verkohlte Zwielichtschuppe</strong> <span class="icon-heroic-skull"></span> </a></td>
	<td class="align-center" data-raw="284"> 284 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Schmuck </td>
	<td data-raw="4"> Hoch </td>
	<td data-raw="3"> Heroisch 25 </td>
	<td><a href="/wow/de/zone/the-ruby-sanctum/halion" data-npc="39863">Halion</a></td>
</tr>
<tr class="row2 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8" style="display: none">
	<td data-raw="-6 Rolle der Ausdauer VII"><a href="http://portal.wow-alive.de/item/37093" class="item-link color-q1"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_07.jpg");'> </span> <strong>Rolle der Ausdauer VII</strong> </a></td>
	<td class="align-center" data-raw="70"> 70 </td>
	<td class="align-center" data-raw="70"> 70 </td>
	<td> Verbrauchbar </td>
	<td data-raw="0"> Extrem Niedrig </td>
	<td data-raw="0 1"> Normal </td>
	<td></td>
</tr>
<tr class="row1 class-5 class-9 class-7 class-2 class-11 class-8 not-common is-equipment" style="display: none">
	<td data-raw="-3 Bedeckung der Abduktion"><a href="http://portal.wow-alive.de/item/53115" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_misc_cape_20.jpg");'> </span> <strong>Bedeckung der Abduktion</strong> </a></td>
	<td class="align-center" data-raw="258"> 258 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Rücken </td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="0"> Normal 10 </td>
	<td><a href="/wow/de/zone/the-ruby-sanctum/halion" data-npc="39863">Halion</a></td>
</tr>
<tr class="row2 class-1 class-2 class-6 class-11 not-common is-equipment" style="display: none">
	<td data-raw="-3 Versteinerte Zwielichtschuppe"><a href="http://portal.wow-alive.de/item/54591" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_misc_rubysanctum3.jpg");'> </span> <strong>Versteinerte Zwielichtschuppe</strong> <span class="icon-heroic-skull"></span> </a></td>
	<td class="align-center" data-raw="284"> 284 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Schmuck </td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="3"> Heroisch 25 </td>
	<td><a href="/wow/de/zone/the-ruby-sanctum/halion" data-npc="39863">Halion</a></td>
</tr>
<tr class="row1 class-5 class-9 class-7 class-2 class-11 class-8 not-common is-equipment" style="display: none">
	<td data-raw="-3 Ring der phasenweisen Regeneration"><a href="http://portal.wow-alive.de/item/53490" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/item_icecrownringb.jpg");'> </span> <strong>Ring der phasenweisen Regeneration</strong> </a></td>
	<td class="align-center" data-raw="271"> 271 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Finger </td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="1"> Normal 25 </td>
	<td><a href="/wow/de/zone/the-ruby-sanctum/halion" data-npc="39863">Halion</a></td>
</tr>
<tr class="row2 class-3 class-7 not-common is-equipment" style="display: none">
	<td data-raw="-3 Wiederkehrende Schritte"><a href="http://portal.wow-alive.de/item/54577" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_boots_mail_06.jpg");'> </span> <strong>Wiederkehrende Schritte</strong> <span class="icon-heroic-skull"></span> </a></td>
	<td class="align-center" data-raw="284"> 284 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Füße <em>(Kette)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="3"> Heroisch 25 </td>
	<td><a href="/wow/de/zone/the-ruby-sanctum/halion" data-npc="39863">Halion</a></td>
</tr>
<tr class="row1 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8 not-common is-equipment" style="display: none">
	<td data-raw="-3 Geschärfte Zwielichtschuppe"><a href="http://portal.wow-alive.de/item/54569" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_misc_rubysanctum4.jpg");'> </span> <strong>Geschärfte Zwielichtschuppe</strong> </a></td>
	<td class="align-center" data-raw="271"> 271 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Schmuck </td>
	<td data-raw="4"> Hoch </td>
	<td data-raw="1"> Normal 25 </td>
	<td><a href="/wow/de/zone/the-ruby-sanctum/halion" data-npc="39863">Halion</a></td>
</tr>
<tr class="row2 class-5 class-9 class-7 class-2 class-11 class-8" style="display: none">
	<td data-raw="-6 Rolle der Intelligenz VII"><a href="http://portal.wow-alive.de/item/37091" class="item-link color-q1"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_01.jpg");'> </span> <strong>Rolle der Intelligenz VII</strong> </a></td>
	<td class="align-center" data-raw="70"> 70 </td>
	<td class="align-center" data-raw="70"> 70 </td>
	<td> Verbrauchbar </td>
	<td data-raw="0"> Extrem Niedrig </td>
	<td data-raw="0 1"> Normal </td>
	<td></td>
</tr>
<tr class="row1 class-5 class-9 class-7 class-2 class-11 class-8 not-common is-equipment" style="display: none">
	<td data-raw="-3 Ring der phasenweisen Regeneration"><a href="http://portal.wow-alive.de/item/54585" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/item_icecrownringb.jpg");'> </span> <strong>Ring der phasenweisen Regeneration</strong> <span class="icon-heroic-skull"></span> </a></td>
	<td class="align-center" data-raw="284"> 284 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Finger </td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="3"> Heroisch 25 </td>
	<td><a href="/wow/de/zone/the-ruby-sanctum/halion" data-npc="39863">Halion</a></td>
</tr>
<tr class="row2 class-5 class-9 class-7 class-2 class-11 class-8 not-common is-equipment" style="display: none">
	<td data-raw="-3 Savianas Tribut"><a href="http://portal.wow-alive.de/item/54563" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/item_icecrownringc.jpg");'> </span> <strong>Savianas Tribut</strong> <span class="icon-heroic-skull"></span> </a></td>
	<td class="align-center" data-raw="271"> 271 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Finger </td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="2"> Heroisch 10 </td>
	<td><a href="/wow/de/zone/the-ruby-sanctum/halion" data-npc="39863">Halion</a></td>
</tr>
<tr class="row1 class-1 class-2 class-6 not-common is-equipment" style="display: none">
	<td data-raw="-3 Vormarsch der Apokalypse"><a href="http://portal.wow-alive.de/item/54578" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_boots_plate_12.jpg");'> </span> <strong>Vormarsch der Apokalypse</strong> <span class="icon-heroic-skull"></span> </a></td>
	<td class="align-center" data-raw="284"> 284 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Füße <em>(Platte)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="3"> Heroisch 25 </td>
	<td><a href="/wow/de/zone/the-ruby-sanctum/halion" data-npc="39863">Halion</a></td>
</tr>
<tr class="row2 class-5 class-9 class-7 class-2 class-11 class-8 not-common is-equipment" style="display: none">
	<td data-raw="-3 Bedeckung der Abduktion"><a href="http://portal.wow-alive.de/item/54556" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_misc_cape_20.jpg");'> </span> <strong>Bedeckung der Abduktion</strong> <span class="icon-heroic-skull"></span> </a></td>
	<td class="align-center" data-raw="271"> 271 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Rücken </td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="2"> Heroisch 10 </td>
	<td><a href="/wow/de/zone/the-ruby-sanctum/halion" data-npc="39863">Halion</a></td>
</tr>
<tr class="row1 class-3 class-7 not-common is-equipment" style="display: none">
	<td data-raw="-3 Zwielichtschuppenschultern"><a href="http://portal.wow-alive.de/item/53113" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_shoulder_113.jpg");'> </span> <strong>Zwielichtschuppenschultern</strong> </a></td>
	<td class="align-center" data-raw="258"> 258 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Schultern <em>(Kette)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="0"> Normal 10 </td>
	<td><a href="/wow/de/zone/the-ruby-sanctum/halion" data-npc="39863">Halion</a></td>
</tr>
<tr class="row2 class-1 class-2 class-6 not-common is-equipment" style="display: none">
	<td data-raw="-3 Treter des Abkömmlings"><a href="http://portal.wow-alive.de/item/54564" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_boots_plate_12.jpg");'> </span> <strong>Treter des Abkömmlings</strong> <span class="icon-heroic-skull"></span> </a></td>
	<td class="align-center" data-raw="271"> 271 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Füße <em>(Platte)</em></td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="2"> Heroisch 10 </td>
	<td><a href="/wow/de/zone/the-ruby-sanctum/halion" data-npc="39863">Halion</a></td>
</tr>
<tr class="row1 class-1 class-2 class-6 not-common is-equipment" style="display: none">
	<td data-raw="-3 Treter der bevorstehenden Wiederbelebung"><a href="http://portal.wow-alive.de/item/54579" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_boots_plate_12.jpg");'> </span> <strong>Treter der bevorstehenden Wiederbelebung</strong> <span class="icon-heroic-skull"></span> </a></td>
	<td class="align-center" data-raw="284"> 284 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Füße <em>(Platte)</em></td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="3"> Heroisch 25 </td>
	<td><a href="/wow/de/zone/the-ruby-sanctum/halion" data-npc="39863">Halion</a></td>
</tr>
<tr class="row2 class-7 not-common is-equipment" style="display: none">
	<td data-raw="-3 Stiefel des gespaltenen Daseins"><a href="http://portal.wow-alive.de/item/53119" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_boots_mail_10.jpg");'> </span> <strong>Stiefel des gespaltenen Daseins</strong> </a></td>
	<td class="align-center" data-raw="258"> 258 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Füße <em>(Kette)</em></td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="0"> Normal 10 </td>
	<td><a href="/wow/de/zone/the-ruby-sanctum/halion" data-npc="39863">Halion</a></td>
</tr>
<tr class="row1 class-2 not-common is-equipment" style="display: none">
	<td data-raw="-3 Ersatzgürtel"><a href="http://portal.wow-alive.de/item/54565" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_belt_70.jpg");'> </span> <strong>Ersatzgürtel</strong> <span class="icon-heroic-skull"></span> </a></td>
	<td class="align-center" data-raw="271"> 271 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Gürtel <em>(Platte)</em></td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="2"> Heroisch 10 </td>
	<td><a href="/wow/de/zone/the-ruby-sanctum/halion" data-npc="39863">Halion</a></td>
</tr>
<tr class="row2 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8" style="display: none">
	<td data-raw="-6 Gesalzenes Wildbret"><a href="http://portal.wow-alive.de/item/33454" class="item-link color-q1"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_misc_food_107_venison.jpg");'> </span> <strong>Gesalzenes Wildbret</strong> </a></td>
	<td class="align-center" data-raw="75"> 75 </td>
	<td class="align-center" data-raw="65"> 65 </td>
	<td> Verbrauchbar </td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="0 1"> Normal </td>
	<td></td>
</tr>
<tr class="row1 class-5 class-9 class-7 class-2 class-11 class-8" style="display: none">
	<td data-raw="-6 Rolle der Willenskraft VII"><a href="http://portal.wow-alive.de/item/37097" class="item-link color-q1"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_01.jpg");'> </span> <strong>Rolle der Willenskraft VII</strong> </a></td>
	<td class="align-center" data-raw="70"> 70 </td>
	<td class="align-center" data-raw="70"> 70 </td>
	<td> Verbrauchbar </td>
	<td data-raw="0"> Extrem Niedrig </td>
	<td data-raw="0 1"> Normal </td>
	<td></td>
</tr>
<tr class="row2 class-3 class-1 class-5 class-9 class-7 class-2 class-4 class-6 class-11 class-8" style="display: none">
	<td data-raw="-5 Rezept: Leckeres Törtchen"><a href="http://portal.wow-alive.de/item/43507" class="item-link color-q2"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_scroll_06.jpg");'> </span> <strong>Rezept: Leckeres Törtchen</strong> </a></td>
	<td class="align-center" data-raw="75"> 75 </td>
	<td class="align-center" data-raw="0"></td>
	<td> Verbrauchbar </td>
	<td data-raw="0"> Extrem Niedrig </td>
	<td data-raw="0 1"> Normal </td>
	<td></td>
</tr>
<tr class="row1 class-11 not-common is-equipment" style="display: none">
	<td data-raw="-3 Armschienen des Phasenwandlers"><a href="http://portal.wow-alive.de/item/54584" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_bracer_40.jpg");'> </span> <strong>Armschienen des Phasenwandlers</strong> <span class="icon-heroic-skull"></span> </a></td>
	<td class="align-center" data-raw="284"> 284 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Handgelenke <em>(Leder)</em></td>
	<td data-raw="2"> Niedrig </td>
	<td data-raw="3"> Heroisch 25 </td>
	<td><a href="/wow/de/zone/the-ruby-sanctum/halion" data-npc="39863">Halion</a></td>
</tr>
<tr class="row2 class-7 class-4 class-11 not-common is-equipment" style="display: none">
	<td data-raw="-3 Baltharus&#39; Gabe"><a href="http://portal.wow-alive.de/item/53103" class="item-link color-q4"> <span  class="icon-frame frame-18 " style='background-image: url("http://portal.wow-alive.de/images/icons/18/inv_jewelry_amulet_06.jpg");'> </span> <strong>Baltharus&#39; Gabe</strong> </a></td>
	<td class="align-center" data-raw="258"> 258 </td>
	<td class="align-center" data-raw="80"> 80 </td>
	<td> Hals </td>
	<td data-raw="3"> Mittel </td>
	<td data-raw="0"> Normal 10 </td>
	<td><a href="/wow/de/zone/the-ruby-sanctum/halion" data-npc="39863">Halion</a></td>
</tr>
