<br /><h2><center><u>Installationsanleitung</u></center></h2><br>
<ul>
Lade dir World of Warcraft und die Addons (TBC & WOTLK)<br>
herunter oder installiert alle über die Orginalen DVD's.<br>
Um die Anleitung einsehen zu können, benötigst Du einen Forum-Account.<br>
<br>
<a href="http://forum.wow-alive.de/showthread.php?t=3981" target="_blank">WoW-Installationsanleitung</a><br>
<br>
Nicht vergessen: Startet das Spiel niemals über den Launcher <br>
sondern immer direkt über die WoW.exe im World of Warcraft - <br>
Stammverzeichnis. (Dafür könnt ihr euch auch per "Rechtsklick <br>
-> Verknüpfung erstellen" eine Verknüpfung für die WoW.exe erstellen<br>
 und diese zB. auf dem Desktop ablegen.)<br>
</ul>
