<ul>
Lade dir World of Warcraft und die Addons (TBC & WOTLK)<br>
herunter oder installiert alle über die Orginalen DVD's.<br>
<br>
WoW Installer  -> http://www.wow-europe.com/de/downloads/client/index.html<br>
<br>
Installation der Software<br>
<br>
Da gibts denke ich nicht viel zu erklären, die herunter-<br>
geladenen Dateien ausführen und die Installation sollte starten<br>
Wenn die Installation aller drei Pakete abgeschlossen ist gehts <br>
weiter mit den benötigten Patches.<br>
<br>
Man braucht folgende Patches bis auf Version 3.2.2a<br>
<br>
WoW-Source Links  -> http://wowsource.4players.de/downloadspatches.php<br>
<br>
Änderung der Realmlist<br>
<br>
In eurem World of Warcraft Ordner: <br>
World of Warcraft/data/de_de/Realmlist.wtf <<< Öffnen<br>
<br>
Ihr könnt diese Datei mit jedem Texteditor öffnen/bearbeiten. <br>
Am besten dem Windows-Editor oder einem anderen gewöhnlichen <br>
Texteditor<br>
<br>
Diese ändert ihr um in<br>
<br>
set realmlist 178.63.89.20:3704<br>
set patchlist 178.63.89.20:3704<br>
<br>
Speichert es ab und schließt es!<br>
<br>
Nicht vergessen: Startet das Spiel niemals über den Launcher <br>
sondern immer direkt über die WoW.exe im World of Warcraft - <br>
Stammverzeichnis. (Dafür könnt ihr euch auch per "Rechtsklick <br>
-> Verknüpfung erstellen" eine Verknüpfung für die WoW.exe erstellen<br>
 und diese zB. auf dem Desktop ablegen.)<br>
</ul>
