/* Account Service Portal */
#content .left-col {width:617px; float:left; margin-left: 30px;}
#content .right-col {width:345px; float:left;}


#content .section-title {
	width:610px; padding:0 0 0 28px; padding-bottom:30px; float:left; }
#content .section-title span {color:#efe3d2; font-size:26px; line-height:32px; letter-spacing:-0.5px; margin-top:20px; display:inline-block;}
#content .section-title p {color:#d3ac6b; font-size:12px; line-height:18px; margin:6px 0 0 0;}

#content .services-content{ margin-top: 30px; margin-right: 10px; } 

#content .services-content .sub-title{ margin: 10px 0px; }
#content .services-content .sub-title span{
	color:#f0e29a; text-transform:uppercase; letter-spacing:-0.5px; font-size:14px;
}

#account-index .content-top { background: url("http://forum.wow-alive.de/static-wow/static-wow/images/services/bg-services-top.jpg") 0 0 no-repeat; }

#account-index #content .content-top {background: url("http://forum.wow-alive.de/static-wow/images/services/bg-services-top.jpg") 0 0 no-repeat; }
#account-index #content .bg-body {background: url("http://forum.wow-alive.de/static-wow/images/services/bg-content-body.jpg") 0 0 repeat-y; height:100%;}
#account-index #content .bg-bottom {background: url("http://forum.wow-alive.de/static-wow/images/services/bg-content-bottom.jpg") 0 100% no-repeat; height:100%;}
#account-index #content .contents-wrapper {background: url("http://forum.wow-alive.de/static-wow/images/services/bg-services-top.jpg") 0 -40px no-repeat; padding-bottom:60px;  height:100%;}

#account-index #content .section-title {width:330px; padding:0 0 0 28px; padding-bottom:70px; float:left; min-height:183px;}
#account-index #content .section-title span {color:#efe3d2; font-size:26px; line-height:32px; letter-spacing:-0.5px; margin-top:40px; display:inline-block;}
#account-index #content .section-title p {color:#d3ac6b; font-size:12px; line-height:18px; margin:6px 0 0 0;}
#account-index #content .left-col {width:647px; float:left; margin-left: 0px;}

/* Account Service Portal Misc */
.main-services {width:647px;}
.main-services-banner {width:277px; height:170px; display:block; position:relative; border:1px solid #372511; margin-bottom:28px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; box-shadow: 0 0 6px #000; -moz-box-shadow: 0 0 6px #000; -webkit-box-shadow: 0 0 6px #000;}
.main-services-banner.left-bnr {float:left; margin-left:27px;}
.main-services-banner.right-bnr {float:right; margin-right:27px;}
.main-services-banner:hover {border:1px solid #cd9000; background-position:0 -170px;}
.main-services-banner .banner-title {font-size:18px; display:block; margin:85px 0 0 14px;}
.main-services-banner .banner-desc {color:#b79855; font-size:11px; line-height:12px; display:block; width:177px; margin:3px 0 0 14px;}
.main-services-banner:hover .banner-desc {color:#fff;}

.main-services-banner .panel {
    background: url("http://forum.wow-alive.de/static-wow/images/layout/bg-panel-layout.png") repeat scroll 0 0 transparent;
    border-radius: 0 0 3px 3px;
    bottom: 0;
    height: 64px;
    padding: 8px 0 14px;
    position: absolute;
    width: 277px;
}
.main-services-banner .panel .wrapper { margin: 0; }
.main-services-banner .panel .banner-title { margin-top: 0; }

.sub-services-section {width:307px; margin:0 0 32px 21px;}
.sub-services-section .sub-title {border-bottom:2px solid #552B12; padding-bottom:6px;}
.sub-services-section .sub-title span {color:#f0e29a; text-transform:uppercase; letter-spacing:-0.5px; font-size:14px;}
.sub-services-section ul  {margin-top:10px;}
.sub-services-section ul li {padding: 1px 0;}
.sub-services-section ul a {line-height:24px; background: url("http://portal.wow-alive.de/templates/Shattered-World/images/services-sprite.gif") no-repeat; display:block; width:100%;}
.sub-services-section ul a:hover {border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; background-color:#3f1806;}
.sub-services-section ul a span {margin-left:46px;}

.sub-services-section .account-security {background-position:7px 2px;}
.sub-services-section .account-recovery {background-position:7px -49px;}
.sub-services-section .account-authenticator {background-position:7px -931px;}
.sub-services-section .account-authenticator-faq {background-position:7px -983px;}
.sub-services-section .account-free-matrix-card {background-position:7px -196px;}
.sub-services-section .account-mobile-security-token {background-position:7px -1222px;}
.sub-services-section .account-customer-service-window {background-position:7px -582px;}
.sub-services-section .get-wow-buy {background-position:7px -1039px;}
.sub-services-section .get-wow-gift {background-position:7px -1099px;}
.sub-services-section .get-wow-free-trial {background-position:7px -243px;}
.sub-services-section .get-wow-online-digital {background-position:7px -293px;}
.sub-services-section .get-wow-language-pack {background-position:7px -341px;}
.sub-services-section .character-transfer {background-position:7px -385px;}
.sub-services-section .character-name-change {background-position:7px -430px;}
.sub-services-section .character-race-change {background-position:7px -480px;}
.sub-services-section .character-faction-change {background-position:7px -532px;}
.sub-services-section .character-customization {background-position:7px -583px;}
.sub-services-section .character-free-move {background-position:7px -632px;}
.sub-services-section .character-ptr {background-position:7px -682px;}
.sub-services-section .etc-raf {background-position:7px -733px;}
.sub-services-section .etc-wow-magazine {background-position:7px -783px;}
.sub-services-section .etc-sor {background-position:7px -835px;}
.sub-services-section .etc-wow-remote {background-position:7px -1163px;}
.sub-services-section .etc-mobile-armory {background-position:7px -1221px;}
.sub-services-section .etc-rewards-visa {background-position:7px -885px;}
.sub-services-section .etc-anti-gold {background-position:7px -1280px;}

/* Account Manage */

/*#content .content-top{
	background: url("http://eu.battle.net/wow/static/images/community/bg-community-top.jpg") 0 0 no-repeat;
}*/
#content .content-bot {
	background: url("http://eu.battle.net/wow/static/images/layout/content-topbot.jpg") -992px bottom no-repeat;
	min-height: 600px;
}

#content .bg-body {
	width: 100%;
	background: url("http://eu.battle.net/wow/static/images/community/bg-community-body2.jpg") 0 0 repeat-y;
}
#content .body-wrapper {
	width: 100%;
	background: url("http://eu.battle.net/wow/static/images/community/bg-community-body3.jpg") 0 100% no-repeat;
	padding-bottom: 30px;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
}

#content .contents-wrapper {
	width: 100%;
	background: url("http://eu.battle.net/wow/static/images/community/bg-community-body1.jpg") 0 0 no-repeat;
	min-height: 698px;
}

#content .section-title p {
	color: #D3AC6B;
	font-size: 12px;
	line-height: 18px;
	margin: 6px 0 0 0;
}