/* Account Service Portal */
#content .left-col {width:617px; float:left; margin-left: 30px;}
#content .right-col {width:345px; float:left;}


.sub-title span {
	color: #F0E29A;
	text-transform: uppercase;
	letter-spacing: -0.5px;
	font-size: 14px;
	margin: 0px 10px;
	line-height: 45px;
}

#content .section-title {
	width:610px; padding:0 0 0 28px; padding-bottom:30px; float:left; }
#content .section-title span {color:#efe3d2; font-size:26px; line-height:32px; letter-spacing:-0.5px; margin-top:20px; display:inline-block;}
#content .section-title p {color:#d3ac6b; font-size:12px; line-height:18px; margin:6px 0 0 0;}

#content .services-content{ margin-top: 30px; margin-right: 10px; } 

#content .services-content .sub-title{ margin: 10px 0px; }
#content .services-content .sub-title span{
	color:#f0e29a; text-transform:uppercase; letter-spacing:-0.5px; font-size:14px;
}

#content .content-bot {
	min-height: 600px;
}

#content .bg-body {
	width: 100%;
}
#content .body-wrapper {
	width: 100%;
	padding-bottom: 30px;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
}

#content .contents-wrapper {
	width: 100%;
	min-height: 698px;

	width: 960px;
min-height: 658px;
padding: 10px 20px;
}

#content .section-title p {
	color: #D3AC6B;
	font-size: 12px;
	line-height: 18px;
	margin: 6px 0 0 0;
}