@charset "utf-8";
/* CSS Document */

.tip { border-bottom: 1px dotted #6A5336; cursor: help; }
	/* faction */
	.color-tooltip-alliance { color: #247FAA; }
	.color-tooltip-horde { color: #b30000; }
	
	/* item quality */
	.color-q0, .color-q0 a { color: #9d9d9d !important; } /* poor (gray) */
	.color-q1, .color-q1 a { color: #ffffff !important; } /* common (white) */
	.color-q2, .color-q2 a { color: #1eff00 !important; } /* uncommon (green) */
	.color-q3, .color-q3 a { color: #0081ff !important; } /* #0070dd rare (blue) */
	.color-q4, .color-q4 a { color: #c600ff !important; } /* #a335ee epic (purple) */
	.color-q5, .color-q5 a { color: #ff8000 !important; } /* lengendary (orange) */
	.color-q6, .color-q6 a { color: #e5cc80 !important; } /* artifact (gold) */
	.color-q7, .color-q7 a { color: #e5cc80 !important; } /* heirloom (gold) */

	/* class */
	.color-c1,  .color-c1 a { color: #c69b6d !important; } /* warrior */
	.color-c2,  .color-c2 a { color: #f48cba !important; } /* paladin */
	.color-c3,  .color-c3 a, .color-g2 { color: #aad372 !important; } /* hunter */
	.color-c4,  .color-c4 a, .color-g1 { color: #fff468 !important; } /* rogue */
	.color-c5,  .color-c5 a { color: #f0ebe0 !important; } /* priest */
	.color-c6,  .color-c6 a { color: #c41e3b !important; } /* death knight */
	.color-c7,  .color-c7 a { color: #2359ff !important; } /* shaman */
	.color-c8,  .color-c8 a, .color-g3 { color: #68ccef !important; } /* mage */
	.color-c9,  .color-c9 a { color: #9382c9 !important; } /* warlock */
	.color-c11, .color-c11 a, .color-g4 { color: #ff7c0a !important; } /* druid */

	/* item details and tooltips */
	.color-tooltip-yellow { color: #ffd100 !important; }
	.color-tooltip-red { color: #f00 !important; }
	.color-tooltip-green { color: #0f0 !important; }
	.color-tooltip-blue { color: #71D5FF !important; }
	.color-tooltip-beige { color: #FFFF98 !important; }
	
	/* difficulty */
	.color-d1, .color-d1 a { color: #ff8040 !important; } /* orange */
	.color-d2, .color-d2 a { color: #ffff00 !important; } /* yellow */
	.color-d3, .color-d3 a { color: #40bf40 !important; } /* green */
	.color-d4, .color-d4 a { color: #808080 !important; } /* gray */
	.color-d5, .color-d5 a { color: #88aaff !important; } /* light blue */
	.color-d6, .color-d6 a { color: #ff0000 !important; } /* red */
	
	/* expansion */
	.color-ex0 { color: #f7ad01 !important; }
	.color-ex1 { color: #5b9b17 !important; }
	.color-ex2 { color: #2588c0 !important; }
	.color-ex3 { color: #DD6800 !important; }
	
	/* skill difficulty */
	.color-s0 { color: red; }
	.color-s1 { color: #FF8040; }
	.color-s2 { color: #FFFF00; }
	.color-s3 { color: #40BF40; }
	.color-s4 { color: #808080; }

/* wow borders */

	/* item quality */
	.border-q0 { border-color: #9d9d9d !important; } /* poor (gray) */
	.border-q1 { border-color: #ffffff !important; } /* common (white) */
	.border-q2 { border-color: #1eff00 !important; } /* uncommon (green) */
	.border-q3 { border-color: #0070dd !important; } /* rare (blue) */
	.border-q4 { border-color: #a335ee !important; } /* epic (purple) */
	.border-q5 { border-color: #ff8000 !important; } /* lengendary (orange) */
	.border-q6 { border-color: #e5cc80 !important; } /* artifact (gold) */
	.border-q7 { border-color: #e5cc80 !important; } /* heirloom (gold) */

/* wow background colors */

	/* gem */
	.bgcolor-g1 { background-color: gray; } /* Meta */
	.bgcolor-g2 { background-color: red; } /* Red */
	.bgcolor-g4 { background-color: yellow; } /* Yellow */
	.bgcolor-g8 { background-color: blue; } /* Blue */
	.bgcolor-g6 { background-color: orange; } /* Orange */
	.bgcolor-g10 { background-color: purple; } /* Purple */
	.bgcolor-g12 { background-color: green; } /* Green */
	.bgcolor-g14 { background-color: white; } /* Prismatic */
.ui-tooltip .frame-36 {position: absolute; left: -56px;top: -10px; }
.item-specs { margin-top: 10px; }
.item-specs li { margin: 1px 0; padding: 0; }

.align-center {text-align: center;}

/* reusable icons */
.icon-wowhead	{ padding-left: 20px; background: url("/templates/Shattered-World/images/icons/wowhead.png") left center no-repeat; }
.icon-gold		{ padding-right: 15px; background: url("/templates/Shattered-World/images/icons/gold.gif") right center no-repeat; }
.icon-silver	{ padding-right: 15px; padding-left: 3px; background: url("/templates/Shattered-World/images/icons/silver.gif") right center no-repeat; }
.icon-copper	{ padding-right: 15px; padding-left: 3px; background: url("/templates/Shattered-World/images/icons/copper.gif") right center no-repeat; }
.icon-rss       { background: url("/templates/Shattered-World/images/icons/rss.gif") left center no-repeat; }
.icon-next      { background: url("/templates/Shattered-World/images/icons/next.gif") 0 0 no-repeat; }
.icon-next:hover{ background-position:0 -18px; }
.icon-dps,
.icon-healer,
.icon-tank { float: right; width: 16px; height: 16px; background: url("/templates/Shattered-World/images/icons/roles.png") no-repeat; }
.icon-dps    { background-position: 0 0; }
.icon-healer { background-position: -16px 0; }
.icon-tank   { background-position: -32px 0; }
.icon-heroic-skull { height: 12px; width: 10px; display: inline-block; background: url("/templates/Shattered-World/images/icons/heroic.gif") 50% 50% no-repeat; margin-left: 5px; }
.icon-daily-quest { padding-left: 10px; background: url("/templates/Shattered-World/images/icons/daily.gif") 0 50% no-repeat; margin-left: 6px; }
.icon-faction-0,
.icon-faction-1 { height: 15px; width: 15px; display: inline-block; vertical-align: middle; margin-left: 6px; background: url("/templates/Shattered-World/images/icons/alliance.png") left center no-repeat; }
.icon-faction-1 { background: url("/templates/Shattered-World/images/icons/horde.png") left center no-repeat; }
.icon-achievement-points { padding-left: 11px; background: url("/templates/Shattered-World/images/icons/achievements.gif") left center no-repeat; margin-left: 4px; }

/* framed icons */
.icon-frame { display: inline-block; overflow: hidden; padding: 1px; background-color: #000; background-position: 1px 1px; background-repeat: no-repeat; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; border: 1px solid #434445; border-bottom-color: #2f3032; border-top-color: #b1b2b4; }
.icon-frame img { display: block; vertical-align: bottom; }
.icon-frame.frame-36,
.icon-frame.frame-50,
.icon-frame.frame-56 { height: 56px; width: 56px; -moz-box-shadow: #000 0 0 10px; -webkit-box-shadow: #000 0 0 10px; box-shadow: #000 0 0 10px; }
.icon-frame.frame-12 { height: 12px; width: 12px; }
.icon-frame.frame-14 { height: 14px; width: 14px; }
.icon-frame.frame-18 { height: 18px; width: 18px; }
.icon-frame.frame-27 { height: 27px; width: 27px; }
.icon-frame.frame-36 { height: 36px; width: 36px; }
.icon-frame.frame-50 { height: 50px; width: 50px; }
.icon-frame-gloss { display: block; height: 76px; width: 76px; background-position: 50% 50%; background-repeat: no-repeat; }
.icon-frame-gloss .frame { display: block; background: url("http://forum.wow-alive.de/static-wow/images/icons/frames/frame-icon.png") no-repeat; height: 76px; width: 76px; }
.circle-frame { border-width: 2px; border-left-color: #B1B2B4; -moz-border-radius: 30px; -webkit-border-radius: 30px; border-radius: 30px; }
.table .icon-frame { vertical-align: middle; }

/* socket icons */
.icon-socket { display: block; position: relative; width: 15px; height: 15px; }
.icon-socket a.gem { display: block; width: 15px; height: 15px; }
.icon-socket a.gem img { display: block; width: 13px; height: 13px; padding: 1px 0 0 1px; }
.icon-socket .empty { position: absolute; left: 1px; top: 1px; width: 13px; height: 13px; }
.icon-socket .frame { position: absolute; left: 0; top: 0; width: 15px; height: 15px; background: url("/templates/Shattered-World/images/icons/sockets.png") no-repeat; }
.icon-socket.socket-1  .empty { background-color: #29292a; } /* Meta */
.icon-socket.socket-2  .empty { background-color: #301010; } /* Red */
.icon-socket.socket-4  .empty { background-color: #403010; } /* Yellow */
.icon-socket.socket-8  .empty { background-color: #102040; } /* Blue */
.icon-socket.socket-14 .empty { background-color: #29292a; } /* Prismatic */
.icon-socket.socket-16 .empty { background-color: red; }     /* Hydraulic */
.icon-socket.socket-32 .empty { background-color: #29292a; } /* Cogwheel */
.icon-socket.socket-1  .frame { background-position:  -45px   0; } /* Meta */
.icon-socket.socket-2  .frame { background-position:      0   0; } /* Red */
.icon-socket.socket-4  .frame { background-position:  -15px   0; } /* Yellow */
.icon-socket.socket-8  .frame { background-position:  -30px   0; } /* Blue */
.icon-socket.socket-6  .frame { background-position:  -90px   0; } /* Orange */
.icon-socket.socket-10 .frame { background-position:  -75px   0; } /* Purple */
.icon-socket.socket-12 .frame { background-position: -105px   0; } /* Green */
.icon-socket.socket-14 .frame { background-position:  -60px   0; } /* Prismatic */

/* item inline links */
.item-link { display: inline-block; line-height: 22px; vertical-align: top; white-space: nowrap; }
.item-link .frame-18 { float: left; margin-right: 5px; }
.item-link .tip { border-bottom: 0; }
.item-link-large { height: 38px; line-height: 38px; }
.item-link-large .frame-36 { float: left; margin-right: 10px; }
.item-link-small, .item-link-small-right { display: inline-block; height: 18px; line-height: 18px; vertical-align: top; }
.item-link-small .frame-14 { float: left; margin-right: 3px; }
.item-link-small-right .count { float: left; }
.item-link-small-right .frame-14 { float: left; margin-left: 4px; }

/* tooltips */
.character-tooltip { min-width: 150px; }
.wiki-tooltip { min-width: 250px; }
.wiki-tooltip .wiki-list { margin-top: 10px; }
.wiki-tooltip .wiki-list li { margin: 2px 0; }
.wiki-tooltip .wiki-list .item-link { line-height: 16px; }
.wiki-tooltip .wiki-list .item-link .frame-14 { float: left; margin-right: 5px; }
.wiki-tooltip .indent { padding-left: 10px }
.wiki-tooltip .indent-small { padding-left: 5px }

.item-specs .item-link { height: 22px; line-height: 22px; margin: 2px 0; font-weight: normal; background-repeat: no-repeat; }
.item-specs { margin-top: 10px; }
.item-specs li { margin: 1px 0; padding: 0; }
.item-specs .indent { padding-left: 10px }
.item-specs .indent-small { padding-left: 5px }
.item-specs .indent-top { padding-top: 10px }
.item-specs .icon-socket { float: left; margin-right: 4px; margin-top: 1px; }
.item-specs .reforge-arrow { position: relative; top: -1px; font-size: 10px; }
.item-specs a.color-q1:hover { text-decoration: underline; }
.item-specs .transmog-name { color:#ff80ff }

/* tooltip */
.ui-tooltip { 
	border: 1px solid #353837; color: #fff; background-color: rgba(15, 15, 15, 0.9); padding: 10px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; -moz-box-shadow: #000 0 0 15px; -webkit-box-shadow: #000 0 0 15px; box-shadow: #000 0 0 15px; font-size: 12px; 
	position: absolute; z-index: 1000; width: auto; height: auto; max-width: 300px;	}
.ui-tooltip h3 { font-size: 16px; font-weight: normal; } /* title of the tooltip */
.ui-tooltip li { clear: both; }
.ui-tooltip .float-right { padding-left: 30px; }
.ui-tooltip .frame-56 { position: absolute; left: -75px; top: -10px; }
.ui-tooltip .tooltip-content { position: relative; width: auto; height: auto; }
.ui-tooltip .tooltip-list,
.ui-tooltip ul { /*margin-top: 10px;*/ }
.ui-tooltip ul li,
.ui-tooltip .tooltip-list li { margin: 1px 0; }
.ui-tooltip .tooltip-list .icon-frame { float: left; margin-right: 5px; }

.ui-tooltip table { border-collapse: collapse; border-spacing: 0; }
.ui-tooltip td { margin: 0; padding: 0 }
.tooltip-frame { background: transparent; border: none; display: none; height: 0; position: absolute; z-index: 999; width: auto; height: auto; max-width: 300px; }

.character-achievementpoints {
	display: block;
	float: left;
	padding-right: 11px;
	background: url("/templates/Shattered-World/images/icons/achievements.gif") no-repeat right center;
}

.character-tooltip { min-width: 150px; }
.character-tooltip .character-achievementpoints { margin-top: 4px; }
.character-tooltip .character-talents { margin-top: 10px; }

.character-talents { display: block; }
.character-talents .icon,
.character-talents .points { float: left; height: 14px; line-height: 15px; }
.character-talents .icon { margin-right: 5px; }
.character-talents .points { color: #F5EBD1; }
.character-talents .points ins { color: #808080; padding: 0 2px; font-weight: normal; text-decoration: none; }

/* menu */
.flyout-menu { z-index: 75; padding: 0; width: auto; position: absolute }
.flyout-menu ul { list-style: none; margin: 0; padding: 0; float: left; }
.flyout-menu ul li { clear: both; position: relative; }
.flyout-menu ul li a { display: block; padding: 5px; text-decoration: none; }
.flyout-menu ul li .flyout-menu { top: -1px; display: none; z-index: 80; }
.flyout-menu .header { padding: 5px; display: block; }
.flyout-menu { background: #161413; opacity: .99; border: 1px solid #353837; padding: 1px; -moz-border-radius: 5px; -moz-box-shadow: 0 0 10px #000; -webkit-border-radius: 5px; -webkit-box-shadow: 0 0 10px #000; border-radius: 5px; box-shadow: 0 0 10px #000 }
.flyout-menu ul { width: 199px; border-right: 1px solid #2A292B; }
.flyout-menu ul:last-child { width: 200px; border-right: 0; }
.flyout-menu ul li { margin: 0; border-bottom: 1px solid #2A292B; }
.flyout-menu ul li:last-child { border-bottom: 0; }
.flyout-menu ul:last-child > li:last-child { border-bottom: 1px solid #2A292B !important; }
.flyout-menu ul:first-child > li:last-child { border-bottom: 0 !important; }
.flyout-menu ul li.divider { background-color: #060606; } /* separator */
.flyout-menu ul li.divider a,
.flyout-menu ul li.divider span { color: #EFE3D2; font-weight: bold; display: block; padding: 4px 8px; }
.flyout-menu ul li a { color: #ffae00; padding: 4px 8px; }
.flyout-menu ul li a .desc { display: block; color: #7b7b7b; font-size: 11px; }
.flyout-menu ul li .opened { color: #d5d5d5; }
.flyout-menu ul li a.children,
.flyout-menu ul li span.children { background: url("../images/icons/flyout-arrows-new.png") 96% -48px no-repeat; font-weight: normal; }
.flyout-menu ul li .opened,
.flyout-menu ul li a:hover,
.flyout-menu ul li span.children:hover { background-color: #1c1b1a !important; background-position: 96% 8px !important; }
.flyout-menu ul li a:hover,
.flyout-menu ul li span.children:hover { color: white; }
.flyout-menu ul li .flyout-menu { left: 195px; top: -2px; }