
#wiki.wiki-item { padding-bottom: 0; }

.wiki .info .title { margin-bottom: 15px; }
.wiki .info .title h2 { font-size: 42px; }
.wiki .directory { padding: 0; }
.wiki .directory .title { margin: 25px; }

.table thead th { padding: 0; background: #4D1A08 url("/templates/Shattered-World/images/table-header.gif") 0 100% repeat-x; border-bottom: 1px solid #1A0F08; border-left: 0px solid #7C2804; border-right: 0px solid #391303; border-top: 0px solid #7C2804; white-space: nowrap; }


/* item detail */
.item-detail { padding-left: 80px; color: #fff; width: 310px; position: relative; }
.item-detail .frame-56 { position: absolute; overflow: hidden; left: 0; top: 5px; }
.item-detail .item-specs { padding-top: 1px; }
.item-detail .faction-related { position: absolute; left: 5px; top: 85px; background: #000; padding: 5px; height: 18px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
.item-detail .stack { display: block; padding: 35px 3px 0 0; text-align: right; font-size: 16px; font-weight: bold; text-shadow: #000 0 0 3px, #000 0 0 3px, #000 0 0 3px; }

/* item browse */
.item-results em { color: #EFC9A0; font-style: normal; }

/* model viewer */
.model-viewer .model,
.model-viewer .model .bg,
.model-viewer .model .loading,
.model-viewer .model .viewer { width: 280px; height: 280px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; background: 0 0 no-repeat; }
.model-viewer .model { background: #3b1c11 url("/templates/Shattered-World/images/wiki/bg-280.jpg") 0 0 no-repeat; margin: 0 auto; position: relative; border: 1px solid #3a1c10; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; -moz-box-shadow: #241209 0 0 10px; -webkit-box-shadow: #241209 0 0 10px; box-shadow: #241209 0 0 10px; }
.model-viewer .model .loading { background: url("/images/canvas-loader-bright.gif") center center no-repeat; }
.model-viewer .model .zoom { position: absolute; right: 10px; bottom: 10px; display: none; width: 23px; height: 21px; background: url("/templates/Shattered-World/images/wiki/zoom.gif") no-repeat; -moz-box-shadow: #241209 0 0 3px; -webkit-box-shadow: #241209 0 0 3px; box-shadow: #241209 0 0 3px; }
.model-viewer .model .zoom:hover { background-position: -23px 0; }

	/* model - draggable */
	.model-viewer .can-drag { cursor: url("/images/grab.cur"), e-resize; }
	.model-viewer .can-drag .zoom { display: block; }
	.model-viewer .dragging { cursor: url("/images/grabbing.cur"), e-resize !important; }
	.model-viewer .can-drag:hover,
	.model-viewer .dragging { border: 1px solid #542818; }

	/* model - load error */
	.model-viewer .load-fail { border-color: #3a1c10 !important; cursor: default !important; }
	.model-viewer .load-fail .loading { background: url("/templates/Shattered-World/images/wiki/error.gif") center center no-repeat !important; }

	/* model buttons */
	.model-viewer .buttons { text-align: right; padding: 10px 10px 0 10px; text-align: center; }
	.model-viewer .buttons a { display: inline-block; width: 14px; height: 14px; margin-left: 5px; background: url("/templates/Shattered-World/images/wiki/button.gif") no-repeat; }
	.model-viewer .buttons a:hover { background-position: -18px 0; }
	.model-viewer .buttons a.button-active { background-position: 100% 0; }