/* *********************************************************************************** */
/* 02. LAYOUT
/* *********************************************************************************** */


/*
 * Body
 */
body {
	background: black url("http://forum.wow-alive.de/static-wow/images/layout/body-bg-baked.jpg") 50% 0 no-repeat;
	-webkit-background-size: 2560px 1600px;
	color: #EFC9A0;
	font: normal 12px/1.5 Arial, Verdana, sans-serif;
}


/*
 * Header
 */
#header {
	padding-top: 26px;
}

#search-bar {
	position: absolute;
	right: 5px;
	top: 75px;
	z-index: 5;
}
#search-form {
	float: right;
	width: 336px;
	background: white;
	padding: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 0 10px #361005;
	-webkit-box-shadow: 0 0 10px #361005;
	box-shadow: 0 0 10px #361005;
}
#search-button {
	border: none;
	outline: none;
	position: absolute;
	top: -6px;
	right: -6px;
	cursor: pointer;
	background: url("http://forum.wow-alive.de/static-wow/images/icons/mag-glass.png") center center no-repeat;
	width: 44px;
	height: 46px;
	z-index: 7;
}
/* search */
#search-field { color: #707070; width: 315px; padding: 3px; border: none; background: transparent }
#search-field.active,
#search-field:focus { font-weight: bold; }

#header #logo {
	height: 115px;
}

#header #logo a {
	width: 275px;
	height: 115px;
	display: block;
	border: none;
	text-indent: -9999px;
	border-image: initial;
}

#header .header-plate {
	position: relative;
	height: 93px;
}

/*
 * Main (container for everything else)
 */
#wrapper {
	width: 1006px;
	margin: 0 auto;
	position: relative;
}
.contents-wrapper{ width:930px;}

/*
 * Content
 */

#content {
	background-color: #1A0F08 !important;
	padding: 0;
	margin: 0 6px;
}

#content .content-header {
	padding: 25px;
	padding-top: 35px;
}
#content .content-header .header {
	color: #EFE3D2;
	font: 52px/85% "Palatino Linotype", Georgia, Times, sans-serif;
	letter-spacing: -1.5px;
	text-shadow: #241209 0 0 5px;
}

#content .content-top {
	background: url("http://forum.wow-alive.de/static-wow/images/layout/content-top.jpg") 0 0 no-repeat;
}
#content .content-trail {
	height: 30px;
	padding: 10px 0 0 22px;
}

#content .section-title { width:610px; padding:0 0 0 28px; padding-bottom:30px; float:left; }
.section-title span { color:#efe3d2; font-size:26px; line-height:32px; letter-spacing:-0.5px; margin-top:20px; display:inline-block;}
.body-wrapper {
	width: 100%;
	padding-bottom: 30px;
	margin-left: 30px;
	margin-top: 30px;
	margin-right: 10px;
}
/* main sidebar navigation list */
.dynamic-menu { margin: 0 10px 0 20px; padding-bottom: 1px; background: url("http://portal.wow-alive.de/templates/Shattered-World/images/sidebar-menu-sep.gif") 0 100% no-repeat; font-size:13px; }
.dynamic-menu li { padding-top: 1px; background: url("http://portal.wow-alive.de/templates/Shattered-World/images/sidebar-menu-sep.gif") 0 0 no-repeat; white-space: nowrap; }
.dynamic-menu li.item-active a { color: #fff; font-weight: bold; background: none; }
.dynamic-menu li.item-active a.has-submenu:hover .arrow { background-position: 100% 9px; }
.dynamic-menu li.item-disabled a { color: #8B5F03; cursor: help; }
.dynamic-menu li.item-disabled a:hover .arrow { background-position: 100% 9px; }
.dynamic-menu li.item-disabled .arrow { background: none !important; }
.dynamic-menu li.has-submenu a .arrow { background: url("http://portal.wow-alive.de/templates/Shattered-World/images/sidebar-menu-arrows.png") 100% 9px no-repeat; }
.dynamic-menu li.has-submenu:hover a .arrow { background-position: 100% -41px; }
.dynamic-menu li.back-to a .arrow { padding-right: 10px; font-style: normal; vertical-align: middle; background: url("http://portal.wow-alive.de/templates/Shattered-World/images/sidebar-menu-arrows.png") 2px -91px no-repeat; padding-left: 18px; }
.dynamic-menu li.back-to:hover a .arrow { background-position: 2px -141px; }
.dynamic-menu li .dynamic-menu { display: none }
.dynamic-menu a { display: block; padding-left: 3px; }
.dynamic-menu a .arrow { display: block; line-height: 30px; text-overflow: ellipsis; white-space: nowrap; display: block; overflow: hidden; }
.dynamic-menu a:hover { background-color: rgba(0, 0, 0, 0.33333); }

.ui-breadcrumb {
	list-style: none;
	margin: 0;
	padding: 0;
	float: left;
	font-size: 12px;
}
.ui-breadcrumb li {
	padding-right: 25px;
	background: url("http://forum.wow-alive.de/static-wow/images/icons/flyout-arrows.gif") 98% -118px no-repeat;
	float: left;
	margin-right: 5px;
}
.ui-breadcrumb li a {
	border-bottom: 1px dotted #6C4D05;
}
.ui-breadcrumb li.last {
	background: none;
}
.ui-breadcrumb li.last a {
	color: white;
	font-weight: bold;
	border-bottom: none;
}

#content .content-bot {
	background: url("http://forum.wow-alive.de/static-wow/images/layout/content-bot.jpg") 0 100% no-repeat;
	min-height: 570px;
}

/*
 * Navigation
 */
#menu { width: 623px; height: 65px; position: absolute; left: 19px; top: 19px; -moz-user-select: none; -webkit-user-select: none; user-select: none }
#menu li { width: 102px; float: left; height: 65px; position:relative; }
#menu li a { height: 65px; display: block; text-align: center; text-transform: uppercase; color: #ffa400 }
#menu li a span { padding-top: 45px; display: block; font: normal 12px Arial, Verdana, serif; text-shadow: #000 0 0 5px; position: relative; top: -5px }
#menu li a:hover,
#menu li a.active { 
	background-image: url("http://forum.wow-alive.de/static-wow/images/layout/menu-tab-baked.jpg"); }
#menu li a:hover { 
	color: white; }
#menu li a.active { 
	color: #fff !important; 
	-moz-box-shadow: 0 0 15px #ff7501; 
	-webkit-box-shadow: 0 0 15px #ff7501; 
	box-shadow: 0 0 15px #ff7501; 
	position: relative; }
#menu li.menu-game,
#menu li.menu-forums { width: 104px }
#menu li.menu-community,
#menu li.menu-media { width: 105px }
#menu li.menu-home a:hover { background-position: 0 -65px }
#menu li.menu-home a.active { background-position: 0 -130px !important }
#menu li.menu-home a span { background-position: 0 -13px }
#menu li.menu-game a:hover { background-position: -102px -65px }
#menu li.menu-game a.active { background-position: -102px -130px !important }
#menu li.menu-game a span { background-position: -102px -13px }
#menu li.menu-community a:hover { background-position: -206px -65px }
#menu li.menu-community a.active { background-position: -206px -130px !important }
#menu li.menu-community a span { background-position: -206px -13px }
#menu li.menu-media a:hover { background-position: -311px -65px }
#menu li.menu-media a.active { background-position: -311px -130px !important }
#menu li.menu-media a span { background-position: -311px -13px }
#menu li.menu-forums a:hover { background-position: -416px -65px }
#menu li.menu-forums a.active { background-position: -416px -130px !important }
#menu li.menu-forums a span { background-position: -416px -13px }
#menu li.menu-services a:hover { background-position: -520px -65px }
#menu li.menu-services a.active { background-position: -520px -130px !important }
#menu li.menu-services a span { background-position: -520px -13px }

#header .user-plate {
	color: white;
	width: 355px;
	height: 140px;
	position: absolute;
	right: 4px;
	bottom: 0;
}
#header .user-plate .user-meta { padding-left: 20px; position: absolute; left: 0; top: 68px; z-index: 3; float: left; }
#header .user-plate .user-meta.meta-empty { padding-left: 85px; padding-top: 6px; }
#header .user-plate .user-meta.meta-login { padding-left: 85px; padding-top: 6px; top: 63px; padding-right: 10px; }

#header .user-plate .character { position: relative; }
#header .user-plate .player-name,
#header .user-plate .guild-name { display: block; text-shadow: 1px 1px 1px black; font-weight: bold; }
#header .user-plate .player-name { color: #b0d715; font-weight: bold; line-height: 100%; margin-bottom: 2px; }
#header .user-plate .character-name { line-height: 100%; font-weight: bold; font-size: 24px; margin: 0; padding-right: 15px; background-position: 100% 10px; letter-spacing: -0.0em; text-shadow: 1px 1px 1px black; letter-spacing: -0.05em; }
#header .user-plate .context-link { background:none; }
#header .user-plate .character-name.context-open,
#header .user-plate .character-name:hover { color: white; }
#header .user-plate .character-name .arrow { background: url("http://forum.wow-alive.de/static-wow/images/layout/cms/char-arrow.png") 0 3px no-repeat; display: inline-block; width: 11px; height: 15px; }
#header .user-plate .character-name:hover .arrow { background-position: 0 -145px; }

#header .user-plate.plate-nochars { background: url("http://forum.wow-alive.de/static-wow/images/layout/cards/no-chars.gif") -3px 103% no-repeat }
#header .user-plate.plate-nochars .user-meta { padding: 15px 165px 0 20px; }

#header .user-plate.plate-alliance { background: url("http://forum.wow-alive.de/static-wow/images/layout/cards/alliance.gif") -3px 103% no-repeat }
#header .user-plate.plate-alliance .player-name { color: #5fb8eb; }
#header .user-plate.plate-alliance .character-name:hover { color: white; text-shadow: 1px 1px 1px black, 0 0 15px #409aff, 0 0 5px #409aff; }

#header .user-plate.plate-horde { background: url("http://forum.wow-alive.de/static-wow/images/layout/cards/horde.gif") -3px 103% no-repeat }
#header .user-plate.plate-horde .player-name { color: #eb1212; }
#header .user-plate.plate-horde .character-name:hover { color: white; text-shadow: 1px 1px 1px black, 0 0 15px #c64040, 0 0 5px #c64040; }

#header .user-plate .ui-context { top: 30px }
#header .user-plate .ui-context a { color: #00B6FF; }
#header .user-plate .ui-context a:hover { color: #fff; }
#header .user-plate .card-overlay { width: 343px; height: 15px; background: url("http://forum.wow-alive.de/static-wow/images/layout/card-overlay.png"); position: absolute; bottom: 0; right: 2px; }
#header .user-plate a.profile-link,
#header .user-plate a.profile-link .hover { display: block; width: 200px; height: 125px; }
#header .user-plate a.profile-link { position: absolute; bottom: 0; right: 2px; }
#header .user-plate a.profile-link .hover { background: url("http://forum.wow-alive.de/static-wow/images/layout/card-model-hover.png") no-repeat; opacity: 0; -webkit-transition: opacity 0.1s linear; -o-transition: all 0.1s linear; -moz-transition: opacity 0.1s linear; transition: opacity 0.1s linear; }
#header .user-plate.plate-horde a.profile-link .hover { background-position: right top; }
#header .user-plate a.profile-link:hover .hover { opacity: 1; }

.category {
	font-size: 22px;
	font-weight: normal;
	letter-spacing: -.05em;
	color: #7E3406;
}

/* tables */
.table {
	padding-bottom: 2px;
	background: url("http://forum.wow-alive.de/static-wow/images/content/table-bg.gif") 50% 100% no-repeat;
}
.table table { width: 100%; table-layout: auto; }
.table th {
	background: #4D1A08 url("http://forum.wow-alive.de/static-wow/images/content/table-header.gif") 0 100% repeat-x;
	border-bottom: 1px solid #1A0F08;
	text-align: left;
}
.table th, .table th a {
	color: #F5EBD1;
	font-weight: bold;
}
.table td {
	padding: 10px;
	color: #F5EBD1;
}
.table .row1 td {
	background: #2B1507;
	border-top: 1px solid #31190A;
}
.table .row2 td {
	background: #231207;
	border-top: 1px solid #30190B;
}
.table tbody tr:hover td,
.table tbody tr.row-active td { background: #180c04; color: #fff }
.table tbody tr.no-results td { padding: 25px 50px; text-align: center; background: #231207; color: #C09A67 }
.table tbody tr.disabled { opacity: 0.33333; }
.table.full-width td:first-child { padding-left: 20px; }
.table.full-width td:last-child { padding-right: 20px; }

.table em { color: #d2ae89; font-style: normal; }

.data-options { color: #855b47; padding: 0 10px; height: 40px; line-height: 40px; background: url("http://forum.wow-alive.de/static-wow/images/content/table-options-bg.jpg") 50% 0 no-repeat }
.data-options strong { color: #FEF092 }
.data-options .input { padding: 1px }
.data-options .option { float: right; padding-left: 15px; position: relative; top: 0px; }
.data-options .option .input { padding-right: 2px }
.data-options .ui-pagination { padding: 0; background: none; height: 20px; display: inline }
.data-options .ui-pagination a { height: 20px; line-height: 20px; color: #ffae00 }

.table-filters { padding: 15px; background: url("http://forum.wow-alive.de/static-wow/images/form/filter-bg.png") 0 0 no-repeat; -moz-border-radius: 7px; -webkit-border-radius: 7px; border-radius: 7px; -moz-box-shadow: 0 0 5px #0e0905; -webkit-box-shadow: 0 0 5px #0e0905; box-shadow: 0 0 5px #0e0905; }
.table-filters .filter { float: left; margin: 0 15px 15px 0; }
.table-filters .filter label { display: block; padding-bottom: 3px; }
.table-filters .filter-buttons { clear: both; text-align: center; }
.table-filters.inline .filter { margin-bottom: 0; }
.table-filters.inline .filter label { display: inline-block; padding: 0 8px 4px 0; }
.table-filters.inline .filter-buttons { padding-top: 10px; }

.table .sort-link,
.table .sort-tab { display: block; padding: 8px 10px; text-align: left; border-left: 1px solid #7c2804; border-top: 1px solid #7c2804; border-right: 1px solid #391303 }
.table .sort-link:hover { color: #fff; background: #6a240b url("http://forum.wow-alive.de/static-wow/images/content/table-header-hover.gif") 0 100% repeat-x; border-top-color: #af3900; border-left-color: #af3900 }
.table .sort-link .arrow { padding-left: 10px; background: url("http://forum.wow-alive.de/static-wow/images/content/table-sort-arrows.gif") 0 -10px no-repeat }
.table .sort-link:hover .arrow { background-position: 0 -115px }
.table .sort-link .arrow.up,
.table .sort-link:hover .arrow.up { background-position: 0 -80px }
.table .sort-link .arrow.down,
.table .sort-link:hover .arrow.down { background-position: 0 -45px }
.table .sort-data.hidden { display: none; } /* table specificity for ie6 */

/* dropdown */
.ui-dropdown { float: left; position: relative; width: 175px }
.ui-dropdown .dropdown-toggler { display: block; height: 30px; overflow: hidden; z-index: 20; padding-right: 30px; }
.ui-dropdown .dropdown-toggler span { padding-left: 10px; height: 30px; line-height: 30px; display: block; }
.ui-dropdown .dropdown-wrapper { clear: both; display: block; position: absolute; z-index: 20; top: 30px; right: 0; width: 150px }
.ui-dropdown .dropdown-wrapper ul { list-style: none; margin: 0; padding: 0 }
.ui-dropdown .dropdown-wrapper li.empty { padding: 5px; }

/* dropdown */
.ui-dropdown { border: none; height: 27px; }
.ui-dropdown .dropdown-toggler { background: url("http://forum.wow-alive.de/static-wow/images/form/dropdown-right.gif") 100% 0 no-repeat; height: 27px }
.ui-dropdown .dropdown-toggler:hover { background: url("http://forum.wow-alive.de/static-wow/images/form/dropdown-right.gif") 100% -30px no-repeat }
.ui-dropdown .dropdown-toggler span { color: #fab000; font-size: 11px; line-height: 27px; padding-left: 10px; height: 27px; display: block; background: url("http://forum.wow-alive.de/static-wow/images/form/dropdown-left.gif") 0 0 no-repeat }
.ui-dropdown .dropdown-toggler:hover span { color: #fff; background: url("http://forum.wow-alive.de/static-wow/images/form/dropdown-left.gif") 0 -30px no-repeat }
.ui-dropdown.opened .dropdown-toggler { background: url("http://forum.wow-alive.de/static-wow/images/form/dropdown-right.gif") 100% -60px no-repeat }
.ui-dropdown.opened .dropdown-toggler span { color: #fffac1; background: url("http://forum.wow-alive.de/static-wow/images/form/dropdown-left.gif") 0 -60px no-repeat }
.ui-dropdown .dropdown-wrapper { background-color: #3e1103; border: 1px solid #601f0c; padding: 5px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px }
.ui-dropdown .dropdown-wrapper ul li a { padding: 5px; color: #fffac1; display: block }
.ui-dropdown .dropdown-wrapper ul li a:hover { text-decoration: none; color: #fff; background: #6e3b0d; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px }

/* fansite */
.hover .fansite-link { visibility: visible; }
.fansite-link { width: 21px; height: 21px; vertical-align: top; display: inline-block; overflow: hidden; background: url("/templates/Shattered-World/images/icons/goto-fansite-button.gif") no-repeat; }
.fansite-link:hover,
.hover .fansite-link { background-position: 0 -21px; }
.fansite-link.fansite-small { width: 16px; height: 16px; background-position: 0 -42px; }
.fansite-link.fansite-small:hover,
.hover .fansite-link.fansite-small { background-position: 0 -58px; }
tr .fansite-link { visibility: hidden; }
tr:hover .fansite-link,
.hover .fansite-link { visibility: visible !important; display: block !important; }
.fansite-group a { padding-right: 12px; margin-right: 5px; background: url("/templates/Shattered-World/images/icons/goto-fansite.gif") no-repeat 100% 3px; }
.fansite-group a:hover { background-position: 100% -18px; }

/* pagination */
.ui-pagination { height: 22px; overflow: hidden; background-position:0 50%; background-repeat:no-repeat }
.ui-pagination li { display: inline-block; margin: 0 1px; }
.ui-pagination li a,
.ui-pagination li.expander { padding: 0 10px; height: 22px; line-height: 22px; display: block; text-align: center; }
.ui-pagination li.expander { display: inline-block; font-weight: bold; }
.ui-pagination li.last-item,
.ui-pagination li.first-item { padding-right: 20px; background: url("/templates/Shattered-World/images/icons/pagination.png") 93% 50% no-repeat; }
.ui-pagination li.last-item { background-position: 4px 50%; padding: 0 1px 0 20px; }
.ui-pagination li.last-item a,
.ui-pagination li.first-item a,
.ui-pagination li.cap-item a { width: auto; padding: 0 8px; }
.ui-pagination.empty-pagination { background:none }

.ui-pagination li a { background: #2b1507; color: #d3ac6b; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px }
.ui-pagination li a:hover { background-color: #4e2f1b; color: white; }
.ui-pagination li.current a { background-color: #ffae00; color: #000; font-weight: bold; }

/* framed icons */
.icon-frame { display: inline-block; overflow: hidden; padding: 1px; background-color: #000; background-position: 1px 1px; background-repeat: no-repeat; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; border: 1px solid #434445; border-bottom-color: #2f3032; border-top-color: #b1b2b4; }
.icon-frame img { display: block; vertical-align: bottom; }
.icon-frame.frame-14 { height: 14px; width: 14px; }
.icon-frame.frame-18 { height: 18px; width: 18px; }
.icon-frame-gloss { display: block; height: 76px; width: 76px; background-position: 50% 50%; background-repeat: no-repeat; }
.icon-frame-gloss .frame { display: block; background: url("http://forum.wow-alive.de/static-wow/icons/frames/frame-icon.png") no-repeat; height: 76px; width: 76px; }
.circle-frame { border-width: 2px; border-left-color: #B1B2B4; -moz-border-radius: 30px; -webkit-border-radius: 30px; border-radius: 30px; }
.table .icon-frame { vertical-align: middle; }

/* context menu */
.ui-context { display: none; overflow: hidden; position: absolute; left: 0; top: 15px; z-index: 9000; opacity: .98; width: 225px; background: #151616; border: 1px solid #262626; font: normal 12px "Arial", sans-serif; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; -moz-box-shadow: #000 0 0 10px; -webkit-box-shadow: #000 0 0 10px; box-shadow: #000 0 0 10px; }
.ui-context a { color: #00B6FF; text-decoration: none; }
.ui-context a:hover { color: #fff; }
.ui-context a.pinned { cursor: default; }
.ui-context .context { padding: 10px; }
.ui-context .context strong { color: #fff; font-size: 14px; }
.ui-context .context span { color: #5d636b; }
.ui-context .context .close { padding: 0; position: absolute; top: 10px; right: 10px; width: 11px; height: 11px; display: block; background: url("http://forum.wow-alive.de/static-wow/local-common/images/context/icons.gif") no-repeat; }
.ui-context .context .close:hover { background-position: 0 -26px; }
.ui-context .context .context-user { padding-bottom: 10px; }
.ui-context .context .context-links { height: 30px; }
.ui-context .context .context-links a { display: block; line-height: 30px; float: left; padding-left: 30px; height: 30px; background: #292a2a; margin-right: 1px; 
background-image: url("http://forum.wow-alive.de/static-wow/images/icons/context.gif");
background-repeat: no-repeat;
font-weight: bold;
}
.ui-context .context .context-links a:hover { background-color: #525252; }
.ui-context .context .context-links .link-first { -moz-border-radius-topleft: 3px; -moz-border-radius-bottomleft: 3px; -webkit-border-top-left-radius: 3px; -webkit-border-bottom-left-radius: 3px; border-top-left-radius: 3px; border-bottom-left-radius: 3px; padding-right: 10px; }
.ui-context .context .context-links .link-last { -moz-border-radius-topright: 3px; -moz-border-radius-bottomright: 3px; -webkit-border-top-right-radius: 3px; -webkit-border-bottom-right-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; }
.ui-context .character-list { padding-top: 1px; color: #5b616a; overflow: hidden; background: url("http://eu.battle.net/wow/static/local-common/images/context/divider.gif") 50% 0 no-repeat; }
.ui-context .character-list.loading-chars { padding: 50px; background: url("http://forum.wow-alive.de/static-wow/local-common/images/loaders/uber-loading.gif") 50% 50% no-repeat; }
.ui-context .character-list .primary { padding-bottom: 2px; }
.ui-context .character-list .primary .char { display: block; padding: 10px; opacity: .50; background: url("http://eu.battle.net/wow/static/local-common/images/context/divider.gif") 50% 100% no-repeat; }
.ui-context .character-list .primary .char span { display: block; }
.ui-context .character-list .primary .char .race,
.ui-context .character-list .primary .char .class,
.ui-context .character-list .primary .char .realm { text-transform: uppercase; color: #5b616a; font-size: 11px; }
.ui-context .character-list .primary .char .name { font-size: 14px; color: #fff; font-weight: bold; }
.ui-context .character-list .primary .char .pin { margin-top: 17px; float: right; width: 16px; height: 16px; display: block; background: url("http://forum.wow-alive.de/static-wow/local-common/images/context/icons.gif") 0 -52px no-repeat; }
.ui-context .character-list .primary .char.pinned .pin { background-position: 0 -83px; }
.ui-context .character-list .primary .char.pinned,
.ui-context .character-list .primary .char:hover { color: #fff; background-color: #080809; opacity: 1; }
.ui-context .character-list .primary .char:last-child { margin: 0; background-image: none; }
.ui-context .character-list .secondary .viewport { width: 185px; float: left; height: 265px; overflow: hidden; position: relative; }
.ui-context .character-list .secondary .viewport a { display: block; padding: 5px; }
.ui-context .character-list .secondary .viewport a .icon-frame { vertical-align: middle; }
.ui-context .character-list .secondary .viewport a:hover { background: #080809; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
.ui-context .character-list .secondary .viewport a.filtered { display: none; }
.ui-context .character-list .secondary .overview { position: absolute; left: 0; top: 0; width: 185px; }
.ui-context .character-list .secondary .scrollbar { position: relative; float: right; width: 15px; }
.ui-context .character-list .secondary .track { background: #080808; height: 100%; width: 13px; position: relative; padding: 1px; -moz-border-radius: 5px; border-radius: 5px; }
.ui-context .character-list .secondary .thumb { height: 20px; width: 13px; cursor: pointer; overflow: hidden; position: absolute; top: 0; background: #24292e; -moz-border-radius: 5px; border-radius: 5px; }
.ui-context .character-list .secondary .thumb .end,
.ui-context .character-list .secondary .disable { display: none; }
.ui-context .character-list .secondary .char-wrapper { padding: 10px; height: 265px; width: 205px; }
.ui-context .no-results { text-align: center; padding: 15px; }
.ui-context .char-wrapper { padding-bottom: 1px; clear: both; background: #0d0e10 url("http://forum.wow-alive.de/static-wow/local-common/images/context/divider.gif") 50% 100% no-repeat; -moz-box-shadow: #000 0 0 5px inset; -webkit-box-shadow: #000 0 0 5px inset; box-shadow: #000 0 0 5px inset; }
.ui-context .filter { text-align: center; }
.ui-context .filter .input { margin-bottom: 5px; }
.ui-context .filter,
.ui-context .manage-chars { padding: 10px 10px 8px 10px; display: block; line-height: 125%; }
.ui-context .manage-chars span { color: #5b616a; }
.ui-context a.manage-chars:hover span { color: #aaa; }
.ui-context a.manage-chars:hover span.plus { background-position: 0 -265px; }
.ui-context .manage-chars .plus { width: 15px; height: 15px; display: block; float: right; margin: 15px 0 15px 10px; background: url("http://forum.wow-alive.de/static-wow/images/context/icons.gif") 0 -114px no-repeat; }

.context-link { background-position: 100% 4px; background-repeat: no-repeat; font-weight: bold; padding-right: 16px; }
/* Context Menu */
.ui-context .context .context-links a { background-image: url("http://forum.wow-alive.de/static-wow/images/icons/context.gif"); background-repeat: no-repeat; font-weight: bold; }
.ui-context .context .context-links .icon-profile { background-position: 0 0; }
.ui-context .context .context-links .icon-posts { background-position: 0 -30px; }
.ui-context .context .context-links .icon-ignore { background-position: 0 -60px; }
.ui-context .context .context-links .icon-ban { background-position: 0 -90px; }
.ui-context .context .context-links .icon-auctions { background-position: 0 -120px; }
.ui-context .context .context-links .icon-events { background-position: 0 -150px; }
.ui-context .context .realm,
.ui-context .character-list .primary .char .realm { display: inline; padding-right: 15px; background: url("http://forum.wow-alive.de/static-wow/images/icons/arrow-up-down.gif") 100% 2px no-repeat; }
.ui-context .context .realm.down,
.ui-context .character-list .primary .char .realm.down { background-position: 100% -14px; }
.ui-context .context .realm.unknown,
.ui-context .character-list .primary .char .realm.unknown { background-position: 100% -28px; }
.context-link { background: url("http://forum.wow-alive.de/static-wow/images/layout/cms/char-arrow.png") 100% 3px no-repeat; padding-right: 14px; color: white; }
.context-link:hover,
.context-link.context-open { color: #ffb100; background-position: 100% -145px; }

#vote-links .poptopic-list a, 
#vote-links .poptopic-list a:first-child {
	padding-left: 8px;
	display: block;
	border-bottom: 0px solid #271B15;
	margin-bottom:5px;
}

/*----------------------------------------------
	Game Specific
----------------------------------------------*/

/* wow factions */
.wow-faction-0, .wow-faction-0 a { color: #0078ff; } /* alliance */
.wow-faction-1, .wow-faction-1 a { color: #b30000; } /* horde */

/* wow expansions */
.wow-exp-0, .wow-exp-0 a { color: #fff468 !important; } /* classic */
.wow-exp-1, .wow-exp-1 a { color: #aad372 !important; } /* the burning crusade */
.wow-exp-2, .wow-exp-2 a { color: #68ccef !important; } /* wrath of the lich king */
.wow-exp-3, .wow-exp-3 a { color: #ff7c0a !important; } /* cataclysm */

/* wow classes */
.wow-class-1, .wow-class-1 a { color: #c69b6d !important; } /* warrior */
.wow-class-2, .wow-class-2 a { color: #f48cba !important; } /* paladin */
.wow-class-3, .wow-class-3 a { color: #aad372 !important; } /* hunter */
.wow-class-4, .wow-class-4 a { color: #fff468 !important; } /* rogue */
.wow-class-5, .wow-class-5 a { color: #f0ebe0 !important; } /* priest */
.wow-class-6, .wow-class-6 a { color: #c41e3b !important; } /* death knight */
.wow-class-7, .wow-class-7 a { color: #2359ff !important; } /* shaman */
.wow-class-8, .wow-class-8 a { color: #68ccef !important; } /* mage */
.wow-class-9, .wow-class-9 a { color: #9382c9 !important; } /* warlock */
.wow-class-11, .wow-class-11 a { color: #ff7c0a !important; } /* druid */

/* wow item quality */
.wow-item-0, .wow-item-0 a { color: #9d9d9d !important; } /* poor (gray) */
.wow-item-1, .wow-item-1 a { color: #ffffff !important; } /* common (white) */
.wow-item-2, .wow-item-2 a { color: #1eff00 !important; } /* uncommon (green) */
.wow-item-3, .wow-item-3 a { color: #0081ff !important; } /* rare (blue) */
.wow-item-4, .wow-item-4 a { color: #c600ff !important; } /* epic (purple) */
.wow-item-5, .wow-item-5 a { color: #ff8000 !important; } /* legendary (orange) */
.wow-item-6, .wow-item-6 a { color: #e5cc80 !important; } /* artifact (gold) */
.wow-item-7, .wow-item-7 a { color: #e5cc80 !important; } /* heirloom (gold) */

/*
 * Specific Pages
 */
 /* 
    Homepage 
*/
#homepage { padding: 0; background: url("http://forum.wow-alive.de/static-wow/images/homepage/shadow.png") repeat-y;}
#homepage #left{ width:646px; }
#homepage #news-updates .news-article { background: no-repeat scroll 0 0 url(http://forum.wow-alive.de/static-wow/images/homepage/news-bg.jpg);}
#box-online{margin-top: 0px; margin-bottom: 20px;}
#homepage #news-updates .news-article.first-child { padding-top:50px; background-image:url(http://forum.wow-alive.de/static-wow/images/homepage/news-bg-first.jpg); }

#box-online table{border: 0px solid #111111;}

#homepage #right { margin: 0px 13px 20px 0; }
#homepage #news-updates h3{color:#FFF8D6; padding-bottom: 10px;}

.vote-box {
    background: url("http://forum.wow-alive.de/images/vote.gif") repeat-y scroll 0 0 transparent;
    border-bottom: 1px solid #49402C;
    border-top: 1px solid #49402C;
    height: 104px;
    margin-left: 6px;
    margin-top: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    position: relative;
    width: 305px;
    z-index: 2;
}
#right { margin: 20px 13px 20px 0; width: 305px; float: right; padding: 10px; line-height: 1.5em; 
		-moz-border-radius: 10px; border-radius: 10px;}
#right a { color: #bd8100 }
#right a:hover { color: #FFF }

#left {
	width: 655px;
	float: left;
}

/* Featured */
.featured-news { line-height: 1.08em; padding: 20px 0 20px 27px; background:50% 0 no-repeat; }
.featured-news .featured { float: left; margin-right: 13px; width: 140px; font-size:13px; }
.featured-news .featured:last-child { margin: 0; }
.featured-news .featured a {  }
.featured-news .featured a:hover, .featured-news .featured a:focus { color: #fff; }
.featured-news .featured a .featured-img { 	height: 90px; display: block; border: 1px solid transparent; background-position:50%; 
											-moz-border-radius:3px; border-radius:3px; }
.featured-news .featured a:hover .featured-img { border-color: #CD9000; }
.featured-news a:hover .featured-img { }
.featured-news .featured a:hover { text-decoration: none; }
.featured-news .featured-desc { padding:7px 0 0 0; display:block; word-wrap:break-word; font-size:12px; font-weight: bold; line-height: normal; }

/* slideshow */
#slideshow { height: 300px; width: 640px; overflow: hidden; position: relative; }
#slideshow .container { height: 300px; width: 640px; position: relative; z-index: 10; }
#slideshow .mask { height: 300px; width: 640px; position: absolute; top: 0; left: 0; z-index: 30; cursor: pointer; 
	background: url("http://forum.wow-alive.de/static-wow/images/layout/slideshow-mask.png") 0 0 no-repeat; }
#slideshow .caption { 
	position: absolute; left: 30px; bottom: 30px; width: 580px; z-index: 35; 
	text-shadow: 0 0 15px black, 0 0 15px black, 0 0 5px black, 0 0 19px black, 0 0 19px black;
}
#slideshow .caption h3{ 
	font-size: 22px; color: #fff8d6; font-weight:bold; 
	text-shadow: 0 0 15px black, 0 0 15px black, 0 0 5px black, 0 0 19px black, 0 0 19px black;
}
#slideshow .caption h3 a { color: #fff8d6; }
#slideshow .caption h3 a:hover { color: #fff }

#slideshow .paging { position: absolute; top: 15px; right: 15px; width: 15px; z-index: 35; }
#slideshow .paging a { display: block; height: 10px; margin-bottom: 5px; background-color: #fff; opacity: .5; -moz-border-radius: 2px; border-radius: 2px }
#slideshow .paging a:hover,
#slideshow .paging a.current { opacity: 1; }
#slideshow .preview { color: #000; text-align: center; width: 100px; padding: 5px; background: #fff; position: absolute; display: none; right: 35px; top: 15px; -moz-border-radius: 5px; border-radius: 5px; z-index: 35; }
#slideshow .preview span { display: block; }
#slideshow .slide { height: 300px; width: 640px; position: absolute; top: 0; left: 0; background-position: 0 0; background-repeat: no-repeat; z-index: 15; }
#slideshow .slide .click-area { width: 640px; height: 300px; position: absolute; bottom: 0; left: 0; z-index: 20; }
#slideshow .slide .click-area embed { z-index: 25; }

#news-updates { background:url(http://forum.wow-alive.de/static-wow/images/homepage/news-btm.jpg) 0 100% no-repeat #23120B; padding-bottom: 20px; }
#homepage #news-updates .news-article.first-child {
	padding-top: 50px;
	background-image: url(http://forum.wow-alive.de/static-wow/images/homepage/news-bg-first.jpg);
}
#homepage #news-updates .news-article {
	background: no-repeat scroll 0 0 url(http://forum.wow-alive.de/static-wow/images/homepage/news-bg.jpg);
	padding: 40px 25px 20px 30px;
}

#news-updates h3 {
	color: #FFF8D6;
	padding-bottom: 10px;
	font-weight: normal;
	font-size: 22px;
	line-height: 1.08em;
}
#news-updates h3, #news-updates .by-line {
	padding-left: 3px;
}
.by-line, .byline {
	color: #855B47;
}

#news-updates .article-left {
	width: 139px;
	height: 127px;
	display: block;
	float: left;
	background-position: center center;
	background-repeat: no-repeat;
	margin: 15px 0 0 0;
}
#news-updates .article-left a {
	display: block;
/*	width: 100%;
	height: 100%;
*/
}

#news-updates .article-left img{
	-moz-box-shadow: 0px 0px 20px -2px #3cf;
	-webkit-box-shadow: 0px 0px 20px -2px #3cf;
	box-shadow: 0px 0px 20px -2px #3cf;
}

#news-updates a:hover, #news-updates a:focus { color: white; }

#news-updates .article-right {
	width: 430px;
	float: left;
	padding: 7px 0 0 14px;
	position: relative;
}

#news-updates .blog-paging {
	padding: 0 15px 15px;
	background: url("http://forum.wow-alive.de/static-wow/images/homepage/news-bg.jpg") 50% 100%;
}

/* Common */
.more { background:url("http://forum.wow-alive.de/static-wow/images/icons/more-arrows.gif") no-repeat scroll 100% 2px transparent; padding-right:12px }
#posts .last-read { background-image:url("http://forum.wow-alive.de/static-wow/images/icons/arrows.gif") }

a.comments-link {
	background: -16px -8px;
	background-image:url(http://forum.wow-alive.de/static-wow/images/layout/cms/blog_icons.gif);
	padding-left: 17px;
	margin-left: 8px;
	display: block;
	float: left;
}
.by-line a.comments-link {
	line-height: 1.2em;
	float: none;
	display: inline;
	background-position: -15px -14px;
}

/* warnings */
#warnings-wrapper { width: 100%; top: 33px; right: 0; position: absolute; z-index: 74; }
.warning { color: #c4bdb0; margin: 0 7px 0 55px; -moz-border-radius-bottomleft: 3px; -webkit-border-bottom-left-radius: 3px; -moz-border-radius-bottomright: 3px; -webkit-border-bottom-right-radius: 3px; -moz-box-shadow: 0 3px 4px #1d1d1d; box-shadow: 0 3px 4px #1d1d1d }
.warning a { color: #ffd800 }
.warning a:hover { color: #fff; }
.warning span { color: #fff }
.warning h3 { color: #fff; }
.warning p { margin: 10px 0 0 0; }
.warning .warning-inner { min-width: 380px; padding: 15px 10px 15px 15px; }
.warning .warning-inner2 { min-width: 380px; background: url("../images/icons/warning.png") 7px 11px no-repeat; padding: 15px 10px 10px 40px; position: relative; }
.warning .warning-close { margin: 4px 0 0 10px; display: block; position: absolute; top: 10px; right: 10px; width: 10px; height: 10px; overflow: hidden; background: url("../images/service-bar/close.gif"); }
.warning.warning-orange { background: #efa800 url("../images/service-bar/bg-orange.gif") 0 0 repeat-x; color:#6F3900; }
.warning.warning-green { background: #4c7141 url("../images/service-bar/bg-green.gif") 0 0 repeat-x }
.warning.warning-red { background: #742E03 url("../images/service-bar/bg-red.gif") 0 0 repeat-x }
#i18n-warning .warning-inner2 { background: url("../images/service-bar/globe.png") 12px 17px no-repeat; }

/*
 * Service Bar
 */
#service { position: absolute; z-index: 75; top: 0; right: 0; }
.service-bar { position: relative; z-index: 75; font-size: 11px; font-family: "Lucida Sans Unicode", "Lucida Grande", "Arial", sans-serif; display: inline-block; text-align: right; -moz-user-select: none; -webkit-user-select: none; user-select: none; }
.service-bar .dropdown-menu { line-height: normal; text-align: left; background-color: #c5c5c5; position: absolute; top: 33px; right: 0; display: none; color: #000; width: 150px; padding: 10px; -moz-border-radius: 2px; border-radius: 2px; -moz-border-radius-topright: 0px; -webkit-border-top-right-radius: 0px; -moz-box-shadow: 0 3px 4px #1b1b1b; box-shadow: 0 3px 4px #1b1b1b }
.service-bar .dropdown-menu a { color: #000; display: block; padding: 5px; -moz-border-radius: 2px; border-radius: 2px }
.service-bar .dropdown-menu a:hover { background: #d6d6d6; color: #000; text-decoration: none }
.service-cell { position: relative; background: url("http://forum.wow-alive.de/static-wow/local-common/images/service-bar/background.png") repeat-x 0 -200px; color: #8694A1; display: block; float: left; line-height: 33px; padding: 0 0 7px 0; }
.service-cell a { color: #00B6FF; text-decoration: none; }
.service-cell a:hover,
.service-cell a:focus { color: #FFF; }
.service-home { background-position: 0 0; background-repeat: no-repeat; }
.service-home a { display: block; line-height: 33px; border-left: 0; text-indent: -9999px; width: 48px; padding: 0 0 0 7px; background: url("http://forum.wow-alive.de/static-wow/local-common/images/service-bar/background.png") no-repeat 0 -40px; }
.service-home.service-maintenance a { background-position: 0 -120px; }
.service-home.service-alert a { background-position: 0 -160px; }
.service-home a:hover,
.service-home a:focus { background-color: transparent; background-position: 0 -80px; }
.service-welcome { padding: 0 15px 7px 15px; }
.service-welcome .employee, span.employee { display: inline-block; vertical-align: middle; width: 27px; height: 32px; background: url("http://portal.wow-alive.de/templates/Shattered-World/images/employee.png") no-repeat center center; }
.service-link { font-size: 10px; text-transform: uppercase; display: block; line-height: 33px; padding: 0 1.5em; border-left: 1px solid #33373B; }
.service-link:hover,
.service-link:focus { background-color: #343434; }
.service-cell .service-link.active { background: #C5C5C5; color: #000; }
.service-news a { display: block; border-right: 1px solid #33373B; border-left: 0; width: 50px; background: url("http://forum.wow-alive.de/static-wow/local-common/images/service-bar/background.png") repeat-x -117px -160px; }
.service-bar .service-news.opened { padding: 0; }
.service-bar .service-news.opened a,
.service-bar .service-news.opened a:hover,
.service-bar .service-news.opened a:focus { background-color: #d37201; height: 40px; border-right-color: #d37201; }
.service-explore { background-position: 100% 0; padding: 0 0 7px 0; }
.service-explore a.dropdown { color: #FFF; text-transform: uppercase; display: block; line-height: 33px; padding: 0 40px 0 1.5em; background: url("http://forum.wow-alive.de/static-wow/local-common/images/service-bar/background.png") repeat-x 100% -40px; }
.service-explore a.dropdown:hover,
.service-explore a.dropdown:focus { background-position: 100% -80px; }
.service-explore a.active,
.service-explore a.active:hover,
.service-explore a.active:focus { background-position: 100% -120px; }

/* explore menu */
.explore-menu { position: absolute; z-index: 85; top: 33px; right: 0; width: 425px; text-align: left; }
.explore-primary { line-height: 1.5; overflow: hidden; padding: 1em 23px 1em 25px; background: url("http://forum.wow-alive.de/static-wow/local-common/images/service-bar/explore-menu.png") repeat-y 0 0; }
.explore-secondary { line-height: 1.1; overflow: hidden; padding: 0 7px 33px 9px; height: 217px; background: url("http://forum.wow-alive.de/static-wow/local-common/images/service-bar/explore-menu.png") repeat-y -425px 0; }
.explore-caption { font-size: 16px; line-height: 1.333; color: #393939; letter-spacing: -1px; margin: 0 0 .5em 0; font-weight: bold; display: block; color: #E8EBF0; font-weight: normal; line-height: 1.333; margin: 0; }
.explore-nav { margin: 0; padding: 0; }
.explore-nav li { list-style: none; }
.explore-nav { width: 50%; float: left; }
.explore-nav a { display: block; color: #94989F; margin: 0 0 .5em 0; padding: 0 0 .75em 0; border-bottom: 3px solid #2A5164; }
.explore-nav a:hover,
.explore-nav a:focus,
.explore-nav a:active { border-color: #FFF; }
.explore-links { width: 40%; float: right; }
.explore-links ul { margin: 0; padding: 0; }
.explore-links ul li { list-style: none; }
.explore-links .explore-caption { margin: 0 0 .25em 0; padding: 0 4px; font-size: 14px; }
.explore-links a { margin: 0 0 .1em 0; color: #94989F; display: block; padding: 2px 4px; -moz-border-radius: 2px; border-radius: 2px; }
.explore-links a:hover,
.explore-links a:focus,
.explore-links a:active { background: #212832; }
.explore-secondary { margin: 0; }
.explore-secondary li { list-style: none; }
.explore-secondary li { width: 136px; float: left; }
.explore-secondary .explore-game-wow { width: 137px; }
.explore-secondary .explore-caption { font-size: 14px; }
.explore-secondary a { display: block; padding: 120px 10px 61px 10px; height: 35px; font-size: 11px; color: #94989F; }
.explore-game a:hover,
.explore-game a:focus { background: url("http://forum.wow-alive.de/static-wow/local-common/images/service-bar/explore-menu.png") repeat-y -859px 0; }

/* buttons */
button::-moz-focus-inner { padding: 0; border: 0; }

.ui-button,
.ui-cancel { background: none; border: 0; cursor: pointer; display: inline-block; height: auto; overflow: visible; padding: 0; margin: 0; vertical-align: middle; outline: none; }
.ui-button span,
.ui-cancel span { outline: none; display: inline-block; padding: 0; margin: 0; font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; font-size: 12px; font-weight: normal; height: 38px; line-height: 38px; text-align: center; text-decoration: none; text-transform: uppercase; white-space: nowrap; cursor: pointer; }
.ui-button span { padding: 0 0 0 28px; background-position: 0 0; }
.ui-button span span { padding: 0 28px 0 0; background-position: 100% -123px; }
.ui-button.hover span,
.ui-button:hover span { background-position: 0 -41px; }
.ui-button.hover span span,
.ui-button:hover span span { background-position: 100% -164px; }
.ui-button.disabled,
.ui-button.processing { cursor: default; }
.ui-button.disabled span,
.ui-button.processing span { background-position: 0 -82px; cursor: default; }
.ui-button.disabled span span,
.ui-button.processing span span { background-position: 100% -205px; cursor: default; }
a.ui-button.imgbutton span { padding: 0 0 0 10px; }
a.ui-button.imgbutton span span { padding: 0 10px 0 0; }
a.ui-button.imgbutton span span span { padding: 0 5px; }
.ui-controls { border: 0; margin: 1.5em 0; padding: 0; overflow: hidden; clear: both; }

/* Buttons */
.ui-button span,
.ui-cancel span { line-height: 38px;}
.ui-button span { font-family: Arial, sans-serif; }
.button1 span { background-image: url("http://forum.wow-alive.de/static-wow/images/buttons/button-1.png"); background-repeat: no-repeat; color: #ffae00 }
.button1.hover span,
.button1:hover span { color: #fff }
.button1.disabled span,
.button1.processing span { color: #953203 }
.button1-next span { background-image: url("http://forum.wow-alive.de/static-wow/images/buttons/button-1-next.png") }
.button1-next span span { padding-right: 40px }
.button1-previous span { background-image: url("http://forum.wow-alive.de/static-wow/images/buttons/button-1-previous.png") }
.button1-previous span span { padding-left: 12px }
.button2-next span { background-image: url("http://forum.wow-alive.de/static-wow/images/buttons/button-2-next.png"); line-height: 26px; padding-left:16px; }
.button2-next span span { padding-right: 27px; margin:0; font-size:11px; text-transform:none; }
.button2-previous span { background-image: url("http://forum.wow-alive.de/static-wow/images/buttons/button-2-previous.png"); line-height: 26px; padding-right:14px !important; }
.button2-previous span span { padding-left: 1px; margin:0; font-size:11px; text-transform:none; }

.button2 span,
.button3 span { padding: 0 0 0 13px; height: 30px; line-height: 30px; font-size: 11px }
.button2 span span,
.button3 span span { padding: 0 13px 0 0 }
.button2 span { background-image: url("http://forum.wow-alive.de/static-wow/images/buttons/button-2.png"); background-repeat: no-repeat; color: #ffae00 }
.button2.hover span,
.button2:hover span { color: #fff }
.button2.disabled span,
.button2.processing span { color: #953203 }
.button3 span { background-image: url("http://forum.wow-alive.de/static-wow/images/buttons/button-3.gif"); background-repeat: no-repeat; color: #00B4FF }
.button3.hover span,
.button3:hover span { color: #fff }
.button3.disabled span,
.button3.processing span { color: #b1bac3 }

/* Sub header */
#sub-header  { color:#7E3406; font-size:24px; letter-spacing:-0.05em; padding-left:30px; }

/* Section title */
.section-title {font-size:24px; letter-spacing:-0.05em;}
.section-title span {color:#f0e29a;}
.section-title p, .section-title .view-all {letter-spacing: normal;}


/*
 * First sidebar
 */

/*
 * Second sidebar
 */
 /* sidebar */
.sidebar-module { padding: 0; margin-bottom: 25px; }

.sidebar-module .date, 
.sidebar-module .dark { color: #71401F; font-size: 11px; }

.sidebar-module .light { color: #FFFFFF; font-size: 11px; }

#sidebar-quicklinks ul li{
	float:left;
	width:150px;
}

.sidebar-module .sidebar-title { margin-bottom: 6px; border-bottom: 2px solid #552b12; padding-bottom: 6px; }
.sidebar-module .sidebar-title h3 { color: #FEF092; text-transform: uppercase; font-size: 14px; font-weight: normal; }
#right .sidebar-module .sidebar-title h3 a { color: #FEF092; padding-right: 20px; background: url("http://forum.wow-alive.de/static-wow/images/icons/next.gif") 100% 50% no-repeat; }
#right .sidebar-module .sidebar-title h3 a:hover { color: #fff; }
.sidebar-module .sidebar-content { padding: 0; }
.sidebar-module .sidebar-content.loading { padding: 40px; background: url("http://forum.wow-alive.de/static-wow/images/loaders/canvas-loader.gif") 50% 50% no-repeat }
.sidebar-module .sidebar-content .empty { color: #C09A67; }
.sidebar-module .sidebar-all { text-align: right; padding-top: 10px }
.sidebar-module .sidebar-all a { padding-right: 12px; background: url("http://forum.wow-alive.de/static-wow/images/icons/more-arrows.gif") 100% 2px no-repeat }
.sidebar-module .sidebar-all a:hover { background-position: 100% -45px }
.sidebar-module .sidebar-error { padding: 10px 0 5px 0; text-align: center; color: #C09A67;}
.sidebar-module .activity-feed li { padding: 10px 0 10px 20px; }

.sidebar-module .desc { padding: 5px 0; }
.sidebar-module .subtitle { color: #71401F; font-weight: normal; padding-top: 5px; }

.sidebar-list { margin: 0; }
.sidebar-list li { padding: 6px; border-bottom: 1px solid #271b15; }
.sidebar-list li:last-child { border-bottom: 0; }
.sidebar-list .icon-frame { float: left; margin-right: 10px; }
.sidebar-cell { padding: 7px 0; border-bottom: 1px solid #271b15; float: left; width: 50%; }
.sidebar-cell span { color: #71401f; }
.sidebar-tile { padding: 6px; display: block; color: #f5d3a2; border-bottom: 1px solid #271b15; }
.sidebar-tile:last-child { border-bottom: 0; }
.sidebar-tile .icon-frame { float: left; margin-right: 10px; }
.sidebar-tile strong { color: #F9EFA2; }
.sidebar-tile:hover { background: #2b1507; color: #fff; }
.sidebar-tile:first-child { margin-top: 5px; }
#sidebar-auctions .float-right { color: #71401F; }
#sidebar-auctions strong { color: white; }
#sidebar-auctions a:hover strong { text-decoration: underline; }
#sidebar-auctions .sidebar-cell { font-weight: bold; }
#sidebar-auctions .sidebar-cell ul { padding-left: 10px; font-weight: normal; }

.sidebar-content .featured-news { padding-top: 0; line-height: 16px; }
.sidebar-content .featured-news a { color: #bd8100; }
.sidebar-content .featured-news .date { color: #71401f; }
.sidebar-content .featured-news .featured { margin-bottom: 0; }
.sidebar-content .featured-news .featured a { padding: 6px 0; padding-right: 20px; border-bottom: 1px solid #271b15; background: url(../images/layout/cms/arrow_r_hover.png) 100% -5px no-repeat; }
.sidebar-content #related-news .featured a { background:none; }
.sidebar-content .featured-news .featured a:hover { background-position: 100% -53px; background-color: #2b1507; }
.sidebar-content .featured-news .featured:last-child a { border-bottom: 0; }
.sidebar-content .featured-news .featured-desc { font-size: 11px; }

#sidebar-realm-status .realm-status { margin: 15px 0 0 50px; height: 30px; background: url("http://forum.wow-alive.de/static-wow/images/icons/status.gif") 0 0 no-repeat; }
#sidebar-realm-status .realm-status .down,
#sidebar-realm-status .realm-status .up { width: 75px; height: 27px; line-height: 27px; float: left; padding: 0 0 0 35px; font-size: 14px; }
#sidebar-realm-status .down,
#sidebar-realm-status .sidebar-title h3 .down { color: #c83424; }
#sidebar-realm-status .up,
#sidebar-realm-status .sidebar-title h3 .up { color: #a3c425; }
#sidebar-realm-status .down-realms { margin: 10px 0 0 20px; list-style: square; color: #c83424; }
#sidebar-realm-status .down-realms li { margin: 5px; }
#sidebar-realm-status .pvp { color: #C33; }
#sidebar-realm-status .rp { color: #3C3; }
#sidebar-realm-status .status-icon { background: url("http://forum.wow-alive.de/static-wow/images/icons/status.png") -1px 0 no-repeat; margin: 0 auto; height: 30px; width: 25px; }
#sidebar-realm-status .status-icon.up { background-position: -111px 0; }

/* sotd */
.sotd { display: block; margin: 15px auto 0 auto; background: #000 50% 50% no-repeat; border: 1px solid #372511; height: 179px; width: 297px;  -moz-box-shadow:0 0 6px #000000; -webkit-box-shadow:0 0 6px #000000; box-shadow:0 0 6px #000000; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
.sotd .image { display: block; height: 137px; width: 295px; border: 1px solid #000; -moz-border-radius-topleft: 4px; -moz-border-radius-topright: 4px; border-top-left-radius: 4px; border-top-right-radius: 4px; }
.sotd .caption { padding: 10px; height: 20px; background: url("http://forum.wow-alive.de/static-wow/local-common/images/opacity-carousel.png") repeat; -moz-border-radius-bottomleft: 4px; -moz-border-radius-bottomright: 4px; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; }
.sotd .caption a,
.sotd .caption span.view { background: url("http://forum.wow-alive.de/static-wow/images/community/community-index-sprite.png") -90px -838px no-repeat; display:inline-block; font-size:11px; padding-left:13px; }
.sotd .caption span.view { background-position: 100% -865px; float: right; padding: 0 13px 0 0; }
.sotd:hover { border-color: #CD9000; }

.bnet-offer-bg { border: 1px solid #372511; overflow: hidden; margin-bottom: 10px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;  -moz-box-shadow:0 0 6px #000000; -webkit-box-shadow:0 0 6px #000000; box-shadow:0 0 6px #000000; width:302px;}
.bnet-offer-bg:hover { border-color: #CD9000; }
.bnet-offer-image { display: block; border: 1px solid #000; overflow: hidden; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
.bnet-offer-image img { display: block; }

.poptopic-list { line-height: 16px; }
.poptopic-list a, .poptopic-list a:first-child { padding-left: 8px; display: block; border-bottom: 1px solid #271b15; }
.poptopic-list a:hover { background-color: #2b1507; }
.poptopic-list a .int { 
	padding: 6px 0; 
	padding-right: 20px; 
	display: block;
	font-size: 11px;
	background: url(http://forum.wow-alive.de/static-wow/images/layout/cms/arrow_r_hover.png) 100% -5px no-repeat; }
.poptopic-list a:hover .int { background-position: 100% -53px; }
.poptopic-list a .title { font-weight:bold; display:block; }
.poptopic-list a .desc { color: #71401f; font-weight: normal; }
.poptopic-list a:last-child { border-bottom: 0; }

/* sidebar promos */
.promo { width: 300px; height: 250px; display: block; position: relative; margin: 0 0 25px 3px; -moz-box-shadow: #000 0 0 15px; -webkit-box-shadow: #000 0 0 15px; box-shadow: #000 0 0 15px; overflow: hidden; }
.promo .buy-now { position: absolute; color: #fff; font-size: 18px; font-weight: bold; bottom: 15px; left: 0; width: 300px; text-align: center; }

.vote-box {
    background: url("http://forum.wow-alive.de/images/vote.gif") repeat-y scroll 0 0 transparent;
    border-bottom: 1px solid #49402C;
    border-top: 1px solid #49402C;
    height: 104px;
    margin-left: 6px;
    margin-top: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    position: relative;
    width: 305px;
    z-index: 2;
}

/* Realm online module */
.horde { color: red; }
.alliance { color: #1583D3; }
#box-online{margin-top: 0px; margin-bottom: 20px;}

div#realm {
	width: 271px;
	height: 73px;
	position: relative;
	margin: 0 auto;
	margin-top: 15px;
}

div#realm div.horde {
	background: url(http://portal.wow-alive.de/templates/Shattered-World/images/badges.png) no-repeat top right;
	width: 51px;
	height: 63px;
	position: absolute;
	top: 10px;
	left: 0;
	z-index: 2;
}

div#realm div.alliance {
	background: url(http://portal.wow-alive.de/templates/Shattered-World/images/badges.png) no-repeat top left;
	width: 54px;
	height: 61px;
	position: absolute;
	top: 12px;
	right: 0;
	z-index: 2;
}
div#realm div.status-bar {
	background: url(http://portal.wow-alive.de/templates/Shattered-World/images/status_bar.png) no-repeat;
	width: 217px;
	height: 27px;
	z-index: 1;
	position: absolute;
	top: 25px;
	padding: 9px 9px 0 9px;
	margin-left: 18px;
}
div.status-bar div.horde-count {
	float: left;
	position: relative;
	background: url(http://portal.wow-alive.de/templates/Shattered-World/images/horde_bg.png) repeat-x;
	height: 18px;
}
div.status-bar div.alliance-count {
	float: right;
	position: relative;
	background: url(http://portal.wow-alive.de/templates/Shattered-World/images/alliance_bg.png) repeat-x;
	height: 18px;
}


/* Form Error */
.form-row { clear: both; position:relative; }
.form-row label { vertical-align: top; cursor: pointer; font-size: 14px; /*color: #202020;*/ display: inline-block; line-height: 32px; width: 40%; text-align: left; }
.form-row label strong { font-weight: normal; display: inline-block; line-height: 1.3;  }
.form-row input,
.form-row select { color: #5a5a5a; min-width: 250px; width: 35%; padding: 2px 7px; margin-top: 5px; height: 20px; border: 1px solid #c0c0c0; font: normal 14px/26px "Lucida Sans Unicode", "Lucida Grande", "Arial", sans-serif;  background: #fff url("../images/form/input-bg.gif") repeat-x; outline: none; }
.form-row select { height: 26px; padding: 5px; background: #fff; min-width: 266px; width: 36.6%; }
.form-row input.tiny-input { min-width: 6em; width: 6em; }
.form-row input.small-input { min-width: 10em; width: 10em; }
.form-row input:hover { background: #fff; }
.form-row input:focus { background: #fff; border-color: #175e7c; color: #5a5a5a; }


/* shadows */
.drop-shadow    { -moz-box-shadow: #888 0 3px 10px; -webkit-box-shadow: #888 0 3px 10px; box-shadow: #888 0 3px 10px; }
.glow-shadow    { -moz-box-shadow: #888 0 0 10px; -webkit-box-shadow: #888 0 0 10px; box-shadow: #888 0 0 10px; }
.glow-shadow-2  { -moz-box-shadow: #b2b2b2 0 0 5px; -webkit-box-shadow: #b2b2b2 0 0 5px; box-shadow: #b2b2b2 0 0 5px; }
.glow-shadow-3  { -moz-box-shadow: #000 0 0 8px; -webkit-box-shadow: #000 0 0 8px; box-shadow: #000 0 0 8px; }

/* borders */ 
.border-2 { -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }
.border-3 { -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
.border-4 { -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
.border-5 { -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }

/* forms */
.input { background: #f1ebd7; color: #171717; padding: 5px; border: none; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px }
.input[disabled],
.input.disabled { opacity: .3; cursor: default }
.input.select { padding: 4px }
.input.textarea { font: 12px/1.5 Arial, Verdana, sans-serif }
.input.checkbox { vertical-align: bottom; background-color:none }

/*
 * Footer
 */
#footer {
	background: black;
	margin: 0 10px;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	font: normal 12px "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
	padding: 25px 0;
}
#footer h3 { color: #70523D; }
#footer a {	color: #552C09; }
#footer a:hover { color: #F5EBD1; }
#footer h3, #footer h3 a {
	font-weight: normal;
	font-size: 13px;
	color: #B2BAC7;
	text-transform: uppercase;
}

#sitemap .column {
	float: left;
	width: 25%;
	padding-bottom: 20px;
}
#sitemap .column ul a {
	display: block;
	margin: 2px 0;
}

#sitemap h3 {
	border-bottom: 2px solid #20140D;
	background: url("http://forum.wow-alive.de/static-wow/images/icons/footer.png") 0 0 no-repeat;
	padding-bottom: 10px;
	margin-bottom: 10px;
	padding-left: 20px;
}
#sitemap h3.bnet { background-position: 0 0 }
#sitemap h3.games { background-position: 2px -50px }
#sitemap h3.classic { background-position: 0 -100px }
#sitemap h3.account { background-position: 2px -150px; padding-left: 23px; }
#sitemap h3.support { background-position: 0 -200px; padding-left: 23px; }


/*
 * Page bottom
 */
#copyright {
	border-color: #20140D;
	color: #70523D;
	border-top: 1px solid #414A56;
	text-transform: uppercase;
	font-size: 10px;
	clear: both;
	padding: 10px 0;
}
#copyright a {
	color: #EEA200;
}
#legal {
	padding: 15px 0;
}

/* toasts */
#toast-container { position: fixed; bottom: 20px; left: 20px; z-index: 100; }
.ui-toast { width: 277px; margin-bottom: 15px; position: relative; }
.ui-toast .toast-top,
.ui-toast .toast-bot { height: 35px; display: block; }
.ui-toast .toast-content { padding: 0 35px; }
.ui-toast .toast-arrow { width: 25px; height: 11px; position: absolute; bottom: 6px; left: 70px; }
.ui-toast .toast-close { width: 11px; height: 11px; position: absolute; top: 20px; right: 20px; overflow: hidden; display: block; background: url("http://forum.wow-alive.de/static-wow/local-common/images/layout/toast-close.gif") no-repeat; }
.ui-toast .toast-close:hover { background-position: 0 -11px }

/* toasts */
.ui-toast .toast-top { background: url("http://forum.wow-alive.de/static-wow/images/layout/toast.png") no-repeat }
.ui-toast .toast-bot { background: url("http://forum.wow-alive.de/static-wow/images/layout/toast.png") 0 100% no-repeat }
.ui-toast .toast-content { color: #000; text-shadow: #e5a14e 1px 1px; background: url("http://forum.wow-alive.de/static-wow/images/layout/toast-bg.png") repeat-y }
.ui-toast .toast-arrow { background: url("http://forum.wow-alive.de/static-wow/images/layout/toast-arrow.png") no-repeat }

/**/
.note{
	padding-left: 30px;
	height: 30px;
	background-image: url("http://forum.wow-alive.de/static-wow/images/icons/context.gif");
	background-repeat: no-repeat;
	background-position: 0 -30px;
	display: inline-block;
	position:relative;
	top: 10px;
}



/* Message */
.talkback-code { 
	background-image:url(http://forum.wow-alive.de/static-wow/images/layout/cms/reply_bg_btm.jpg); 
	background-color:#1a0f08; 
	color:#d3ac6b; 
	background: 50% bottom no-repeat;
	padding: 32px 30px 54px 30px;
	font-size: 11px;
}
.talkback-code-interior { background-image:url(http://forum.wow-alive.de/static-wow/images/layout/cms/code_bg.gif); padding:30px; padding-left:15px;  }
.talkback-code .code-header {
	color: #FFE5A4;
	font-size: 18px;
	font-weight: normal;
}
.talkback-code strong { color:#feba02; }
.talkback-icon { background:url(http://forum.wow-alive.de/static-wow/images/layout/cms/alert_img.png) no-repeat; padding-left:70px; }

/* money color/styles override */
.price { text-align: right; color:#FFF; }
.price .icon-gold { color: #c28a13; display: inline-block; }
.price .icon-silver { color: #63625d; width: 13px; display: inline-block; }
.price .icon-copper { color: #a04d00; width: 13px; display: inline-block; }

/*
 * Prevent overflowing content
 */
#header,
#content,
#navigation,
.region-sidebar-first,
.region-sidebar-second,
.region-footer,
.region-bottom {
  overflow: visible;
  word-wrap: break-word; /* A very nice CSS3 property */
}

/* Autocomplete */
.ui-autocomplete{
	background: #161413;
	border: 1px solid #353837;
	-moz-border-radius: 5px;
	-moz-box-shadow: 0 0 10px #000000;
	-webkit-border-radius: 5px;
	-webkit-box-shadow: 0 0 10px #000000;
	border-radius: 5px;
	box-shadow: 0 0 10px #000000;
	width:200px;
}
.ui-autocomplete .ui-menu-item{
	padding: 2px 5px 2px 5px;
}

/*
 * If a div.clearfix doesn't have any content after it and its bottom edge
 * touches the bottom of the viewport, Firefox and Safari will mistakenly
 * place several pixels worth of space between the bottom of the div and the
 * bottom of the viewport. Uncomment this CSS property to fix this.
 * Note: with some over-large content, this property might cause scrollbars
 * to appear on the #page-wrapper div.
 */
/*
#page-wrapper {
  overflow-y: hidden;
}
*/
.clear {
	clear: both;
	display: block;
	margin: 0;
	padding: 0;
}