@charset "utf-8";

/* profile layout */
.profile-wrapper { color: #c09a67; }
.profile-sidebar-anchor { float: left; width: 0; height: 0; position: relative; }
.profile-sidebar-outer { position: absolute; left: 0; top: 0; }
.profile-sidebar-inner { width: 230px; height: 684px; background: url("http://forum.wow-alive.de/static-wow/images/profile/sidebar-bg.jpg") no-repeat; }
.profile-contents { margin-left: 230px; min-height: 807px; padding-bottom: 40px; }
.profile-section-header { padding: 11px 15px 0 15px; }
.profile-section-header .category { font-size: 26px; padding-bottom: 9px; }
.profile-section-header .category .icon-frame { float: left; margin-top: 10px; margin-right: 7px; }
.profile-section-header .category a { color: #7E3406; }
.profile-section { background: url("http://forum.wow-alive.de/static-wow/images/profile/section-bg.png") no-repeat; padding: 15px; min-height: 400px; }

	/* tab menu */
	.profile-section-header .profile-tabs { height: 50px; margin-bottom: -2px; }
	.profile-section-header .profile-tabs li { height: 50px; display: inline-block; margin-right: 10px; position: relative; }
	.profile-section-header .profile-tabs a,
	.profile-section-header .profile-tabs a .r,
	.profile-section-header .profile-tabs a .m { font-size: 14px; color: #c09a67; display: inline-block; height: 50px; background: url("/images/profile/section-tabs.png") no-repeat; }
	.profile-section-header .profile-tabs a { padding-left: 10px; opacity: 0.80; }
	.profile-section-header .profile-tabs a .r { padding-right: 10px; background-position: 100% -100px; }
	.profile-section-header .profile-tabs a .m { padding: 0 10px; background-position: 0 -50px; background-repeat: repeat-x; line-height: 50px; }
	.profile-section-header .profile-tabs a:hover { background-position: 0 -150px; opacity: 1; }
	.profile-section-header .profile-tabs a:hover span span { color: white; }
	.profile-section-header .profile-tabs a:hover .r { background-position: 100% -250px; }
	.profile-section-header .profile-tabs a:hover .m { background-position: 0 -200px; }
	.profile-section-header .profile-tabs .tab-active a { font-weight: bold; background-position: 0 -300px; opacity: 1; }
	.profile-section-header .profile-tabs .tab-active a .r { background-position: 100% -400px; }
	.profile-section-header .profile-tabs .tab-active a .m { background-position: 0 -350px; color: #fff; }
	.profile-section-header .profile-tabs .has-icons a .m { padding-left: 30px; }
	.profile-section-header .profile-tabs .icon-frame { display: inline-block; vertical-align: middle; }
	
	/* sidebar menu */
	ul.profile-sidebar-menu { width: 196px; margin: 14px 0 0 25px; padding-bottom: 1px; background: url("http://forum.wow-alive.de/static-wow/images/profile/sidebar-menu-sep.gif") left bottom no-repeat; font-size:13px; }
	ul.profile-sidebar-menu li { padding-top: 1px; background: url("http://forum.wow-alive.de/static-wow/images/profile/sidebar-menu-sep.gif") left top no-repeat; white-space: nowrap; }
	ul.profile-sidebar-menu a { display: block; padding-left: 3px; }
	ul.profile-sidebar-menu a.has-submenu .arrow { background: url("http://forum.wow-alive.de/static-wow/images/profile/sidebar-menu-arrows.png") right 9px no-repeat; }
	ul.profile-sidebar-menu a.has-submenu:hover .arrow { background-position: right -41px; }
	ul.profile-sidebar-menu a.back-to .arrow { padding-right: 10px; font-style: normal; vertical-align: middle; background: url("http://forum.wow-alive.de/static-wow/images/profile/sidebar-menu-arrows.png") 2px -91px no-repeat; padding-left: 18px; }
	ul.profile-sidebar-menu a.back-to:hover .arrow { background-position: 2px -141px; }
	ul.profile-sidebar-menu a:hover { background-color: rgba(0, 0, 0, 0.33333); }
	ul.profile-sidebar-menu a .arrow { display: block; line-height: 30px; text-overflow: ellipsis; white-space: nowrap; display: block; overflow: hidden; }
	ul.profile-sidebar-menu a.vault .icon { padding-right: 16px; background: url("http://portal.wow-alive.de/templates/Shattered-World/images/character/sidebar-lock.png") right -49px no-repeat; }
	.opera ul.profile-sidebar-menu a.vault .icon { background-position: 95% -49px; }
	ul.profile-sidebar-menu a.active { color: #fff; font-weight: bold; }
	ul.profile-sidebar-menu a.active:hover { background: none; }
	ul.profile-sidebar-menu a.active.has-submenu:hover .arrow { background-position: right 9px; }

	ul.profile-sidebar-menu li.active a { color: #fff; font-weight: bold; }
	ul.profile-sidebar-menu li.active a:hover { background: none; }
	ul.profile-sidebar-menu li.active a.has-submenu:hover .arrow { background-position: right 9px; }

	ul.profile-sidebar-menu li.disabled a { cursor: help; }
	ul.profile-sidebar-menu li.disabled a, ul.profile-sidebar-menu li.disabled a span { color: #8B5F03 !important; }
	ul.profile-sidebar-menu li.disabled a:hover .arrow { background-position: right 9px; }
	ul.profile-sidebar-menu li.disabled .arrow { background: none !important; }
	ul.profile-sidebar-menu li.disabled a.vault .icon { background-position: right 1px; }
	.opera ul.profile-sidebar-menu li.disabled a.vault .icon { background-position: 95% 1px; }

	ul.profile-sidebar-menu li .icon-frame { float: left; margin-top: 6px; margin-right: 5px; }
	ul.profile-sidebar-menu li .indent { padding-left: 13px; }
	ul.profile-sidebar-menu li .divider, ul.profile-sidebar-menu li .empty { display: block; }
	ul.profile-sidebar-menu li .divider { line-height: 36px; font-size: 14px; color: #98542D; }
	ul.profile-sidebar-menu li .empty { line-height: 30px; color: #694c30; }

	/* sidebar links */
	ul.profile-sidebar-links { margin: 30px 0 0 25px; white-space: nowrap; }
	ul.profile-sidebar-links li { font-size: 11px; line-height: 28px; }
	ul.profile-sidebar-links a { color: #e75a00; padding: 5px 0; }
	ul.profile-sidebar-links a:hover { color: white !important; }

/* view options */
ul.profile-view-options { font-size: 12px; float: right; white-space: nowrap; }
ul.profile-view-options li { float: right; margin: 0 0 0 17px; }
ul.profile-view-options a { display: block; padding: 4px 0 4px 19px; line-height: 16px; background: url("http://forum.wow-alive.de/static-wow/images/icons/view-options.png") no-repeat 0 center; }
ul.profile-view-options li.current a { color: white; font-weight: bold; }
ul.profile-view-options a.disabled { color: #595959; }
ul.profile-view-options a.tabular { background-position: -150px center; }
ul.profile-view-options a.advanced { background-position: 0 center; }
ul.profile-view-options a.has-icon { background: none; padding-left: 0; line-height: 16px; }
ul.profile-view-options .icon { float: left; margin-right: 4px; }
ul.profile-view-options a.tip { cursor: help; border-bottom: 0; }
.profile-section-header ul.profile-view-options { padding-top: 12px; }

/* boxes */
.profile-box-full { background: url("http://portal.wow-alive.de/templates/Shattered-World/images/character/profilebox-borderfade.png") no-repeat; padding: 20px 30px; margin-top: 6px; }
.profile-box-simple { border-top: 2px solid #46230e; padding: 11px 0 11px; margin-top: 5px; }

/* shared between all types of profiles */

	/* big header on summary page */
	.profile-info-anchor { position: relative; height: 218px; background: no-repeat; z-index: 1; }
	.profile-info-anchor, .profile-info { width: 700px; }
	.profile-info { position: absolute; left: 25px; top: 45px; line-height: normal; letter-spacing: -0.05em; }
	.profile-info .name { float: left; font-size: 56px; font-weight: bold; color: white; line-height: 1.1em; position: relative; left: -3px; letter-spacing: -0.05em; }
	.profile-info .name a { color: white; }
	.profile-info .under-name { font-size: 14px; font-weight: normal; line-height: 14px; letter-spacing: normal }
	.profile-info .level strong { font-family: 'Arial Black', Verdana, Arial, sans-serif; font-weight: normal; font-size: 14px; }
	.profile-info .realm { border-bottom: 0; }
	.profile-info .realm a:hover { color: white; }
	.profile-info .comma { color: #cccccc; }
	.profile-info .achievements { margin-top: 20px; }
	.profile-info .achievements a { font-size: 20px; font-family: 'Arial Black', Arial, sans-serif; font-weight: bold; color: white; padding-left: 11px; background: url("http://forum.wow-alive.de/static-wow/images/icons/achievements.gif") left 7px no-repeat; line-height: 23px; }

	/* sidebar info */
	.profile-sidebar-info { margin-left: 25px; margin-top: 10px; line-height: normal; letter-spacing: -0.05em; }
	.profile-sidebar-info .name { font-size: 22px; font-weight: bold; color: white; line-height: 1.1em; }
	.profile-sidebar-info .name a { color: white; }
	.profile-sidebar-info .under-name { font-size: 12px; letter-spacing: normal; }
	.profile-sidebar-info .level strong { font-family: 'Arial Black', Verdana, Arial, sans-serif; font-weight: bold; }
	.profile-sidebar-info .guild { margin-top: 3px; }
	.profile-sidebar-info .guild a { font-size: 14px; font-weight: normal; }
	.profile-sidebar-info .guild a:hover { color: white; }
	.profile-sidebar-info .realm { margin-top: 5px; font-weight: normal; letter-spacing: normal; font-size: 12px; }
	.profile-sidebar-info .realm .tip { border-bottom: 0; }
	.profile-sidebar-info .achievements { margin-top: 5px; }
	.profile-sidebar-info .achievements a { font-size: 14px; font-family: 'Arial Black', Verdana, Arial, sans-serif; font-weight: bold; color: white; padding-left: 17px; background: url("http://forum.wow-alive.de/static-wow/images/icons/achievements.gif") left center no-repeat; }

	/* alliance */
	.profile-wrapper-alliance .realm, .profile-wrapper-alliance .realm a { color: #0078ff; }
	.profile-wrapper-alliance .profile-sidebar-info .name a:hover,
	.profile-wrapper-alliance .profile-info .achievements a:hover { text-decoration:underline; }
	.profile-wrapper-alliance .profile-info-anchor { background-image: url("http://forum.wow-alive.de/static-wow/images/character/summary/sidebar-bg-alliance.png"); }

	/* horde */
	.profile-wrapper-horde .realm, .profile-wrapper-horde .realm a { color: #b30000; }
	.profile-wrapper-horde .profile-sidebar-info .name a:hover,
	.profile-wrapper-horde .profile-info .achievements a:hover { text-decoration: underline; }
	.profile-wrapper-horde .profile-info-anchor { background-image: url("http://forum.wow-alive.de/static-wow/images/character/summary/sidebar-bg-horde.png"); }

/* character-specific stuff */

	/* summary header info */
	.profile-info .title-guild { float: left; padding-left: 11px; padding-top: 10px; }
	.profile-info .title-guild .title { font-size: 14px; color: #e0e0e0; line-height: 25px; }
	.profile-info .title-guild .guild { line-height: 15px;}
	.profile-info .title-guild .guild a { font-size: 20px; }

	/* sidebar portrait */
	.profile-sidebar-crest { background: no-repeat; min-height: 218px; }

	/* model */
	a.profile-sidebar-character-model { display: block; height: 116px; background: no-repeat left bottom; position: relative; }
	a.profile-sidebar-character-model .fade  { position: absolute; width: 230px; height: 20px;  left: 0; bottom: 0; background: url("http://forum.wow-alive.de/static-wow/images/character/model-fade.png") no-repeat center bottom; }
	a.profile-sidebar-character-model .hover { position: absolute; width: 230px; height: 116px; left: 0; top: 0; background: url("http://forum.wow-alive.de/static-wow/images/character/model-hover.png") no-repeat 0 -500px; opacity: 0; -webkit-transition: opacity 0.1s linear; -o-transition: all 0.1s linear; -moz-transition: opacity 0.1s linear; transition: opacity 0.1s linear; }
	a.profile-sidebar-character-model:hover .hover { opacity: 1; }

	/* alliance */
	.profile-wrapper-alliance .profile-sidebar-crest { background-image: url("http://forum.wow-alive.de/static-wow/images/character/sidebar-bg-alliance.gif"); }
	.profile-wrapper-alliance a.profile-sidebar-character-model .hover { background-position: 0 0;  }

	/* horde */
	.profile-wrapper-horde .profile-sidebar-crest { background-image: url("http://forum.wow-alive.de/static-wow/images/character/sidebar-bg-horde.gif"); }
	.profile-wrapper-horde a.profile-sidebar-character-model .hover { background-position: -230px 0; }

	/* links */
	ul.profile-sidebar-links a.viewposts { padding-left: 28px; background: url("http://forum.wow-alive.de/static-wow/images/icons/viewposts.gif") no-repeat 3px center; }
	ul.profile-sidebar-links a.wowhead   { padding-left: 28px; background: url("http://forum.wow-alive.de/static-wow/images/icons/wowhead.png") no-repeat 3px center; }

/* guild-specific stuff */

	/* summary header info */
	.profile-guild-info-anchor .guild-tabard { left: 757px; top: -19px; }
	.profile-guild-info .name { float: none; }

	/* tabard */
	.guild-tabard { width: 222px; height: 240px; position: absolute; background: url("http://forum.wow-alive.de/static-wow/images/loaders/canvas-loader.gif") no-repeat center center; }
	.guild-tabard-default { width: 216px; height:240px; background: url("http://forum.wow-alive.de/static-wow/images/guild/tabards/default-alliance.png") no-repeat;}
	.guild-tabard-default.tabard-horde { background-image: url("http://forum.wow-alive.de/static-wow/images/guild/tabards/default-horde.png") }

	/* sidebar tabard */
	.profile-sidebar-tabard { height: 218px; position: relative; width: 230px; }
	.profile-sidebar-tabard .guild-tabard { left: 7px; top: 0; overflow: hidden; }
	.profile-sidebar-tabard .guild-tabard .tabard-overlay { position: absolute; left: -22px; top: 1px; width: 269px; height: 289px; background: url("/images/guild/tabards/bg_overlay_01.png") no-repeat; }
	.profile-sidebar-tabard .guild-tabard .crest { position: absolute; left: 0; top: 112px; width: 72px; height: 65px; background: no-repeat; }
	.profile-sidebar-tabard .tabard-link { position: absolute; left: 0; top: 0; width: 230px; height: 130px; }
	.profile-sidebar-tabard .profile-sidebar-info { position: absolute; top: 116px; width: 205px; }

	/* alliance */
	.profile-wrapper-alliance .guild-tabard .crest { background-image: url("http://forum.wow-alive.de/static-wow/images/guild/sidebar-crest-alliance.png"); }

	/* horde */
	.profile-wrapper-horde .guild-tabard .crest { background-image: url("http://forum.wow-alive.de/static-wow/images/guild/sidebar-crest-horde.png"); }

/* arena team-specific stuff */

	/* summary header info */
	.profile-arenateam-info .name { float: none; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
	.profile-arenateam-info .name.small-name { font-size: 48px; }
	.profile-arenateam-info .name.tiny-name { font-size: 36px; }
	.profile-arenateam-info .under-name { margin-bottom: 20px; }
	.profile-arenateam-info .rank { font-size: 12px; color: #C09A67; letter-spacing: normal; }
	.profile-arenateam-info .rank .value { font-size: 18px; color: #FEF092; letter-spacing: -0.05em; }
	.profile-arenateam-info .rank .unranked { color: #9D9D9D; font-style: italic; }
	.profile-arenateam-info .rank h3 { font-size: 24px; margin: 0; color: #fff; }
	.profile-arenateam-info .rank h3 a { color: #fff; }
	.profile-arenateam-info .rank h3 a:hover { text-decoration: underline }

	/* flag */
	.arenateam-flag { width: 240px; height: 240px; position: absolute; z-index: 1; left: 745px; top: -19px; background: url("http://forum.wow-alive.de/static-wow/images/loaders/canvas-loader.gif") no-repeat center center; }
	.arenateam-flag-default { width: 240px; height: 240px; background: url("http://forum.wow-alive.de/static-wow/images/arena/banners/default.png") no-repeat;}

	/* simple flag */
	.arenateam-flag-simple { width: 128px; height: 128px; position: absolute; z-index: 1; }
	.arenateam-flag-simple-default { width: 128px; height: 128px; background: url("http://forum.wow-alive.de/static-wow/images/arena/banners/default-simple.png") no-repeat;}

/* recent activity */
.profile-recentactivity a.icon-rss { float: right; width: 12px; height: 27px; margin-top: 2px; }
.profile-section .activity-feed-wide dl { clear: both; }
.profile-section .activity-feed-wide dd { line-height: 20px; width: 590px; }
.profile-section .activity-feed-wide dt { float: right; }
.profile-section .activity-note { color: #71401F; font-style: italic; text-align: center; padding-top: 30px; }

/* "read more" links */
.profile-linktomore { text-align: right; zoom: 1; clear: both; }
.profile-linktomore a {  font-size: 11px; background: none; }

/* event boxes */
.event-summary { margin: 5px 0 0 0; line-height: 1.25; position: relative; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
.event-summary { cursor: pointer; }
/*.event-summary.continued-event { padding: 0; float: left; }*/
.event-summary a { display: block; padding: 8px; }
.event-summary a:hover { background-color: rgba(71, 30, 13, 0.5); }
.event-summary a:hover .name, .event-summary.selected-event .name { color: white; }
.event-summary.continued-event:hover { background: none; color: #fef092; }
.event-summary.selected-event { background: #471e0d !important; }
.event-summary.selected-event .name { font-weight: bold; }
.event-summary.selected-event .time { color: #E9BD7F; }
.event-summary.continued-event.selected-event { background: none; color: #fff; }
.event-summary .name { color:#FFB100; font-size:14px; font-weight:normal; margin:0; width:200px; overflow: hidden; text-overflow: ellipsis;}
.event-summary .time, .event-summary .time-relative, .event-summary .icon { display: block; color: #71401F; font-size: 11px; margin: 0; }
.event-summary .attendees { color: #8e4328; font-size: 11px; margin: 0; }
.event-summary .icon { display: block; width: 28px; height: 28px; overflow: hidden; background: #7e3406; 
	position: absolute; left: 8px; top: 8px; text-indent: -9999px; }
.event-summary .status { position: absolute; top: 8px; right: 8px; text-align: right; }

/* progress bar */
.profile-progress { color: white; background-color: #542b19; width: 100%; margin: 5px auto 10px; text-align: center; height: 22px; position: relative; }
.profile-progress .bar { background: url("/images/character/achievement/bg-progressbar-fill.gif") repeat-x left -40px; display: block; height: 22px; z-index: 1; left: 0; top: 0; position: absolute; -moz-border-radius-bottomright: 0; -webkit-border-bottom-right-radius: 0; border-radius-bottomright: 0; -moz-border-radius-topright: 0; -webkit-border-top-right-radius: 0; border-radius-topright: 0; }
.profile-progress.completed .bar { -moz-border-radius: inherit; -webkit-border-radius: inherit; border-radius: inherit; }
.profile-progress .bar-contents { position: relative; top: 0; left: 0; font-size: 12px; line-height: 22px; z-index: 5; text-shadow: #000 1px 1px 1px ;}

/* dynamic menu styles */
.swipe-container,
#profile-sidebar-menu ul,
.profile-sidebar-menu .root-menu,
.swipe-container .profile-sidebar-menu ul ul { display: none; }
.swipe-container .root-menu { display: block; }

/* filters */
.profile-filters { padding-bottom: 15px; width: 760px; }
.profile-filters .input { width: 175px; padding-right: 25px; color: #707070; background: #F1EBD7; }
.profile-filters .input.active { color: #000; }
.profile-filters .tabs { padding-bottom: 15px; }
.profile-filters .tabs a { display: inline-block; margin-right: 5px; padding: 5px 12px; background: #3a271f; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
.profile-filters .tabs a:hover { background: #412d24; }
.profile-filters .tabs a.tab-active { color: #fff; font-weight: bold; background: #412d24; }
.profile-filters .mode { margin-bottom: 15px; }
.profile-filters .mode label { margin-right: 10px; display: inline-block; }
.profile-filters .mode input { vertical-align: top; margin-top: 1px; }
.profile-filters .advanced-togglers { float: right; }
.profile-filters .advanced { clear: both; margin: 15px 0; background: #1a0d08; padding: 15px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
.profile-filters .advanced .group { float: left; }
.profile-filters .advanced .group-name { display: block; font-size: 14px; color: #98542D; padding-bottom: 7px; margin-top: -5px }
.profile-filters .advanced ul { line-height: 1.8em; }
.profile-filters .advanced input { vertical-align: bottom; }
.profile-filters .advanced p { margin: 0; padding: 0 5px 15px 5px; }
.profile-filters .advanced p .pipe { margin: 0 5px; }

.profile-wrapper .keyword { float: right; position: relative; }
.profile-wrapper .keyword .view,
.profile-wrapper .keyword .reset { display: block; width: 16px; height: 16px; position: absolute; top: 5px; right: 5px; background: url("http://portal.wow-alive.de/templates/Shattered-World/images/wiki/filter.gif") center center no-repeat; }
.profile-wrapper .keyword .reset { background-image: url("http://portal.wow-alive.de/templates/Shattered-World/images/icons/cross-small-brown.gif"); cursor: pointer; }

.chrome .profile-wrapper .keyword .view,
.chrome .profile-wrapper .keyword .reset { top: 7px; }