
#content .bg-body {background:none;}
#content .body-wrapper {background:none;}
#content .contents-wrapper { background:none;}
#content .content-top { background: url("http://forum.wow-alive.de/static-wow/images/layout/content-top.jpg") 0 0 no-repeat; }
#content .left-col { width: 657px; margin-left: 0px; }
#content .right-col { width: 335px; }
#content .services-content .sub-title { margin: 10px 0px; }
#content .services-content .sub-title span{ color:#f0e29a; text-transform:uppercase; letter-spacing:-0.5px; font-size:14px; }
.services-content p { padding: 0px 20px 0px 20px; }

.tab-content{ padding: 20px 0px 30px 30px; }

.tab-content ul li{ margin-left: 30px; }
.tab-content ul li span { font-family: "Courier"; }

.tabs li {
	height: 45px;
	display: inline-block;
	margin-right: 5px;
}

.tabs li a {
	display: inline-block;
	height: 45px;
	line-height: 45px;
	color: #C09A67;
	background: #35190F url("/templates/Shattered-World/images/wiki/tab.jpg") 0 -90px repeat-x;
}
.tabs li a.tab-active {
	color: white;
	font-weight: bold;
	background-color: #611F04;
	background-position: 0 -360px;
}

.tabs li a span {
	display: block;
	background: url("/templates/Shattered-World/images/wiki/tab.jpg") 0 0 no-repeat;
}

.tabs li a.tab-active span {
	background-position: 0 -270px;
}

.tabs li a span span {
	height: 45px;
	padding: 0 20px;
	background-position: 100% -45px;
}

.tabs li a.tab-active span span {
	background-position: 100% -315px;
}

.related {
	margin-top: 30px;
	margin-bottom: 60px;
	background: #1A0F08 url("/templates/Shattered-World/images/wiki/tab-bg.jpg") 0 44px repeat-x;
}

.tabs {
	display: block;
	margin-bottom: -1px;
	padding: 0 15px;
}