@CHARSET "UTF-8";

.data-options {
	color: #855B47;
	padding: 0 10px;
	height: 40px;
	line-height: 40px;
	background: url("/images/content/table-options-bg.jpg") 50% 0 no-repeat;
}

.table thead th {
	padding: 0;
	background: #4D1A08 url("/templates/Shattered-World/images/table-header.gif") 0 100% repeat-x;
	border-bottom: 1px solid #1A0F08;
	border-left: 0px solid #7C2804;
	border-right: 0px solid #391303;
	border-top: 0px solid #7C2804;
	white-space: nowrap;
}
.table thead th span { padding-left: 10px; }


/* structure */
.search .search-left { float: left; width: 230px; }
.search .search-left .forum { margin: 20px; }
.search .search-right { float: right; width: 762px; }
.search .search-header { margin: 20px; }
.search .search-header .header { font-size: 32px; line-height: 100%; margin: 3px 0; }
.search .search-form input { vertical-align: middle; background: #fff; border: 0; padding: 5px; font-size: 18px; width: 400px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }

/* helpers */
.search .helpers { margin: 30px 20px 20px 20px; }
.search .helpers p { margin: 0 0 10px 0; }
.search .helpers .subheader span { color: #fff; }
.search .helpers .sort-active { color: #fff; font-weight: bold; }

/* no results */
.search .no-results { margin: 20px; }
.search .no-results .category { margin-top: 20px; }
.search .no-results ul { list-style: square; margin: 10px 0 0 20px; }
.search .no-results li { margin: 5px 0; }

/* results */
.search .results { padding: 20px 0; }
.search .results:first-child { padding-top: 0; border: 0; }
.search .results .view-all { text-align: right; margin-top: 10px; }
.search .results-grid .category { margin-bottom: 15px; }
.search .results-grid .grid { float: left; width: 30%; padding-right: 3%; }
.search .results-grid .grid .thumbnail { float: left; margin-right: 10px; }
.search .results-grid .grid .thumbnail img { vertical-align: top; display: inline-block; }
.search .result { margin-top: 20px; }
.search .result.has-thumbnail { padding-left: 55px; min-height: 32px; position: relative; }
.search .result.is-article { padding-left: 75px; min-height: 60px; }
.search .result .thumbnail { position: absolute; top: 5px; left: 0; }
.search .result .subcategory .small { font-size: 12px; }
.search .result .subcategory .status { color: #fff; }
.search .result .meta,
.search .result .content { width: 640px; overflow: hidden; }
.search .result.blizzard .content,
.search .result.blizzard .author { color: #039ede; }
.search .result.blizzard .author:hover { color: #fff; }

/* views */
.search .summary { margin: 20px; }
.search .view-list { margin: 20px; }

/* styles */
.search .category a,
.search .subcategory a { text-decoration: underline; }
.search .category a:hover,
.search .subcategory a:hover { text-decoration: none; }
.search .table td:first-child a { display: block; }
.search .table .highlight,
.search .highlight { padding: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; -border-radius: 2px; }

/* ie */
.ie67 .search .results { zoom: 1; }
.ie6 .search .result .thumbnail { left: -75px; }
 
#game-search #content .content-top { background: url("/templates/Shattered-World/images/layout/sidebar-bg.jpg") 0 0 no-repeat; }
.search { min-height: 800px; }

.search .helpers .category { letter-spacing: 0; }
.search .table em { color: #EFC9A0; font-style: normal; }
.search .sublink,
.search .result .author { color: #c88217; }
.search .sublink:hover,
.search .result .author:hover { color: #fff; }
.search .dynamic-menu { margin: 20px; }
.search .results { border-top: 1px solid #2a1d17; }
.search .result .subcategory,
.search .result .meta { color: #754e24; }
.search .data-options { background: none; padding: 0; margin: 20px; height: 20px; line-height: 20px; }
.search .post-results .result { background: url("/templates/Shattered-World/images/layout/search/post-icon.gif") 0 5px no-repeat; padding-left: 50px; }
.search .results-grid .grid { color: #754e24; }

.search .subheader { font-size: 24px; color: #7E3406; }
.search .search-right .subheader span { color: #FEF092; }
.search .category { font-size: 16px; font-weight: normal; letter-spacing: 0; }

.ie6 #content .content-bot { height: 800px; }

