@charset "utf-8";
/* CSS Document */

#content .content-top { background: url("http://forum.wow-alive.de/static-wow/images/game/landing/bg-top.jpg") 0 0 no-repeat; }
#content .content-bot {background: url("http://forum.wow-alive.de/static-wow/images/game/landing/bg-bottom.jpg") 0 100% no-repeat; min-height: 900px; }

#content .left-col { width: 647px; float: left; }
#content .right-col { width: 345px; float: left; }

.section-title {
height: 253px;
padding-left: 28px;
}
.section-title span {
color: #EFE3D2;
font-size: 26px;
line-height: 32px;
display: block;
padding-top: 40px;
}
.section-title p {
color: #D3AC6B;
font-size: 12px;
line-height: 18px;
margin: 10px 0 0 0;
width: 330px;
}
.main-game-contents {width:647px;}
.main-content-banner {width:277px; height:170px; display:block; border:1px solid #372511; margin-bottom:28px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; box-shadow: 0 0 6px #000; -moz-box-shadow: 0 0 6px #000; -webkit-box-shadow: 0 0 6px #000;}
a.main-content-banner{position:relative;}
.main-content-banner.left-bnr {float:left; margin-left:27px;}
.main-content-banner.right-bnr {float:right; margin-right:27px;}
.main-content-banner:hover {border:1px solid #cd9000; background-position:0 -170px;}
.main-content-banner .banner-title {font-size:18px; display:block; margin:85px 0 0 14px;}
.main-content-banner .banner-desc {color:#b79855; font-size:11px; line-height:12px; display:block; width:177px; margin:3px 0 0 14px;}
.main-content-banner:hover .banner-title,
.main-content-banner:hover .banner-desc,
.main-content-banner:hover .view-all {color:#fff;}
.main-content-banner .panel {width: 277px; height: 64px; background: url("http://forum.wow-alive.de/static-wow/images/layout/bg-panel-layout.png") repeat scroll 0% 0% transparent; position: absolute; bottom: 0px; -moz-border-radius: 0pt 0pt 3px 3px; padding: 8px 0pt 14px;}
.main-content-banner .panel .banner-title{margin-top: 0px;}
.main-content-banner .panel .wrapper {margin: 0px;}
.main-content-banner .panel .view-all {
	margin-left: 14px;
	display: block;
	float: left;
	background: url("http://forum.wow-alive.de/static-wow/images/community/community-index-sprite.png") 100% -866px no-repeat;
	padding-right: 13px;
	max-width: 180px;
}

.sub-game-contents {
width: 307px;
margin: 0 0 44px 21px;
}
.game-services {
margin-top: 40px;
}

.sub-services-section {width:307px; margin:0 0 32px 21px;}
.sub-services-section .sub-title {border-bottom:2px solid #552B12; padding-bottom:6px;}
.sub-services-section .sub-title span {color:#f0e29a; text-transform:uppercase; letter-spacing:-0.5px; font-size:14px;}
.sub-services-section ul  {margin-top:10px;}
.sub-services-section ul li {padding: 1px 0;}
.sub-services-section ul a {line-height:24px; background: url("http://portal.wow-alive.de/templates/Shattered-World/images/services-sprite.gif") no-repeat; display:block; width:100%;}
.sub-services-section ul a:hover {border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; background-color:#3f1806;}
.sub-services-section ul a span {margin-left:46px;}

.sub-services-section .account-security {background-position:7px 2px;}
.sub-services-section .account-recovery {background-position:7px -49px;}
.sub-services-section .account-authenticator {background-position:7px -931px;}
.sub-services-section .account-authenticator-faq {background-position:7px -983px;}
.sub-services-section .account-free-matrix-card {background-position:7px -196px;}
.sub-services-section .account-mobile-security-token {background-position:7px -1222px;}
.sub-services-section .account-customer-service-window {background-position:7px -582px;}
.sub-services-section .get-wow-buy {background-position:7px -1039px;}
.sub-services-section .get-wow-gift {background-position:7px -1099px;}
.sub-services-section .get-wow-free-trial {background-position:7px -243px;}
.sub-services-section .get-wow-online-digital {background-position:7px -293px;}
.sub-services-section .get-wow-language-pack {background-position:7px -341px;}
.sub-services-section .character-transfer {background-position:7px -385px;}
.sub-services-section .character-name-change {background-position:7px -430px;}
.sub-services-section .character-race-change {background-position:7px -480px;}
.sub-services-section .character-faction-change {background-position:7px -532px;}
.sub-services-section .character-customization {background-position:7px -583px;}
.sub-services-section .character-free-move {background-position:7px -632px;}
.sub-services-section .character-ptr {background-position:7px -682px;}
.sub-services-section .etc-raf {background-position:7px -733px;}
.sub-services-section .etc-wow-magazine {background-position:7px -783px;}
.sub-services-section .etc-sor {background-position:7px -835px;}
.sub-services-section .etc-wow-remote {background-position:7px -1163px;}
.sub-services-section .etc-mobile-armory {background-position:7px -1221px;}
.sub-services-section .etc-rewards-visa {background-position:7px -885px;}
.sub-services-section .etc-anti-gold {background-position:7px -1280px;}