.sb_passive_container { 
	bottom:0; 	
	padding:0px; 	
	margin:0px; 	
	position:fixed; 	
	top:35%; 	
	cursor:pointer; 	
	left:0px; 	
	height: 101px; 	
	z-index:2000000000; 	
	background:none; 	
	line-height:normal; 
} 

#ts_overlay{left: 0px; top: 0px; width: 319px; display:none;}

#ts_label { 	
	background:transparent url(http://portal.wow-alive.de/images/ts_label_img.png) 0px 0px no-repeat; 
	width:20px;	height:80px; 
	position:absolute; 	left:11px; 	top: 19px; 	z-index:1; 
} 
/* alternative */
#ts_label { 	
	background:transparent url(http://portal.wow-alive.de/images/ts_label_text.png) 0px 0px no-repeat; 
	left:11px; 	top: 11px;
} 
.sb_passive_count { 	background-color:#FF0000;     box-shadow: 0 1px 2px #999;     -webkit-box-shadow: #999 0 1px 2px;     -moz-box-shadow: 0 1px 2px #999;     filter: progid:DXImageTransform.Microsoft.dropShadow(color=#999999, offX=0, offY=1, Positive=true); 	top:-3px; 	color:#FFFFFF; 	font-family:"lucida grande",tahoma,verdana,arial,sans-serif; 	font-size:11px; 	font-weight:bold; 	text-decoration:none; 	text-transform:none; 	letter-spacing:0px; 	font-stretch:normal; 	position:absolute; 	margin:0;     padding:1px 5px;     -moz-border-radius:8px;     -webkit-border-radius:8px; 	line-height:normal; 	text-align:left; 	z-index:2; } 
.sb_passive_1n {     left:20px;     padding:1px 5px !important; } 
.sb_passive_2n { 	left:15px; 	padding:1px 4px !important; } 
.sb_passive_3n { 	left:10px; 	padding:1px 4px !important; } 

#sb_passive_large {     position:absolute;     top:0px; 	left:0px; 	height:101px; 	width:38px; 	border: none; 	margin:0; 	padding:0; 	background:transparent url(http://portal.wow-alive.de/images/passive_tab.png) 0px 0px no-repeat; 	opacity:.95; } 
.sb_passive_container.sb_open #ts_label { 	left:8px; } 
.sb_passive_container.sb_open .sb_passive_1n { 	left:15px; } 
.sb_passive_container.sb_open .sb_passive_2n {     left:10px; } 
.sb_passive_container.sb_open .sb_passive_3n {     left:5px; } 
#sb_passive_large.sb_open { 	background-position: 0px -101px !important; } 
.sb_passive_container.sb_open #sb_passive_large { 	background-position: -5px -202px !important; } 
.sb_passive_container.sb_open #sb_passive_large.sb_open { 	background-position: -5px -303px !important; } 
.sb_overlay { 	width: 420px; 	min-width:289px; 	z-index: 1000000000; 	opacity:0.95; 	background-color:#333333; overflow: auto; border-right:#333 1px solid ; 	position: fixed; 	top: 0px; 	left:-420px; 	padding:0px; 	margin:0px; 	height: 100%; } 
.sb_content { 	z-index: 2000000000; 	margin: 0px;  	padding: 0px;  	position: fixed;  	width: 400px; 	scrolling: no; 	min-width:269px; 	top: 0px; 	left:-410px; 	height: 100%;  	border:none; } 

/* loading animations */
.sb_n_load { 	opacity:0.6; 	filter2: alpha(opacity=60); } 

#ts_overlay.sb_n_load img{display:none;}
#ts_overlay .ts_waitload_overlay { 	display:none; margin:30px 150px; top:35%; position:absolute; } 
#ts_overlay.sb_n_load .ts_waitload_overlay { 	display:inline; } 


.sb_waitload { 	display:none; 	position:absolute; 	top:39px; 	left:11px; } 
.sb_n_load .sb_waitload { 	display:inline; } 
