@CHARSET "UTF-8";

@charset "utf-8";

/* layout */
.talentcalc { position: relative; }
.talentcalc-tree-wrapper { float: left; width: 228px; margin-right: 25px; position: relative; }
.talentcalc-tree-wrapper.tree-last { margin-right: 0 !important; }
.talentcalc-tree-wrapper.tree-specialization .talentcalc-tree-header .icon .frame { background-position: 0 -50px; }
.talentcalc-pet .talentcalc-tree-wrapper { margin-right: 0 !important; }

/* choose a spec text */
.talentcalc-choosetext { font-size: 22px; text-align: center; margin-bottom: 25px; }

/* tree header */
.talentcalc-tree-header { height: 40px; margin-top: 4px; margin-bottom: 8px; }
.talentcalc-tree-header .points, .talentcalc-tree-header .name { float: left; height: 32px; line-height: 32px; }
.talentcalc-tree-header .icon { float: left; margin-right: 12px; }
.talentcalc-tree-header .icon-frame-treeheader { display: block; width: 32px; height: 32px; position: relative;  }
.talentcalc-tree-header .icon-frame-treeheader img { display: block; width: 26px; height: 26px; padding: 3px 0 0 3px; }
.talentcalc-tree-header .icon-frame-treeheader .frame { position: absolute; left: -9px; top: -9px; width: 50px; height: 50px; 
	background: url("/images/character/talent-calculator/tree-icon-frame.png") left top no-repeat; }
.talentcalc-tree-header .points { font-size: 16px; color: white; margin-right: 8px; }
.talentcalc-tree-header .name { font-size: 16px; width: 150px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.talentcalc-tree-header .roles { display: block; position: absolute; left: 3px; top: 19px; width: 32px; height: 16px; }

/* tree */
.talentcalc-tree { position: relative; background: black left top no-repeat; border: 1px solid black; }
.talentcalc-tree, .talentcalc-tree-overview { -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
.talentcalc-tree-wrapper.tree-specialization .talentcalc-tree,
.talentcalc-tree-wrapper.tree-specialization .talentcalc-tree-overview { border: 1px solid #ffd200; }

/* tree button */
.talentcalc-tree-button { position: absolute; left: 0; top: 2px; }
.talentcalc-tree-button button span span { width: 174px; }

/* tree overview */
.talentcalc-tree-overview { position: absolute; left: 0; top: 52px; border: 1px solid black; background: rgba(0, 0, 0, 0.9); z-index: 1; }
.talentcalc-tree-overview .icon-wrapper { position: absolute; width: 1px; height: 1px; left: 50%; top: 0; }
.talentcalc-tree-overview .icon-wrapper .icon { position: absolute; left: -28px; top: 30px; }
.talentcalc-tree-overview .icon-wrapper .icon,
.talentcalc-tree-overview .icon-wrapper .texture,
.talentcalc-tree-overview .icon-wrapper .texture-color { 
	width: 56px; height: 56px; -moz-border-radius: 28px; -webkit-border-radius: 28px; border-radius: 28px; }
.talentcalc-tree-overview .icon-wrapper .texture ,
.talentcalc-tree-overview .icon-wrapper .texture-color{ 
	display: block; background: center center no-repeat; }
.talentcalc-tree-overview .icon-wrapper .frame { position: absolute; left: -4px; top: -4px; width: 64px; height: 64px; 
	background: url("/images/character/talent-calculator/tree-overview-icon-frame.png") no-repeat; }
.talentcalc-tree-overview ul.spells { position: absolute; left: 20px; top: 100px; }
.talentcalc-tree-overview ul.spells li { line-height: 22px; padding: 3px 0; color: #F5EBD1; cursor: help; }
.talentcalc-tree-overview ul.spells li.is-ability { line-height: 48px; font-weight: bold; }
.talentcalc-tree-overview ul.spells .icon, .talentcalc-tree-overview ul.spells .name { float: left; height: 22px; }
.talentcalc-tree-overview ul.spells .icon { margin-right: 5px; }
.talentcalc-tree-overview ul.spells li.is-ability .icon { margin-right: 2px; }
.talentcalc-tree-overview ul.spells li.is-ability .icon, .talentcalc-tree-overview ul.spells li.is-ability .name { height: 48px; }
.talentcalc-tree-overview ul.spells .icon-frame-ability { float: left; position: relative; width: 43px; height: 48px; }
.talentcalc-tree-overview ul.spells .icon-frame-ability img { display: block; width: 28px; height: 28px; padding: 10px 0 0 5px; }
.talentcalc-tree-overview ul.spells .icon-frame-ability .frame { position: absolute; left: -5px; top: 0; width: 48px; height: 48px; 
	background: url("/images/character/talent-calculator/tree-overview-icon-ability-frame.png") no-repeat; }
.talentcalc-tree-overview ul.spells .name { font-size: 11px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; width: 160px; }
.talentcalc-tree-overview .description { position: absolute; left: 20px; top: 300px; color: #F5EBD1; font-size: 11px; width: 188px; height: 75px; overflow: hidden; text-overflow: ellipsis; }

.talentcalc-tree-wrapper.tree-nonspecialization .talentcalc-tree-overview ul.spells li,
.talentcalc-tree-wrapper.tree-nonspecialization .talentcalc-tree-overview .description { color: #8d8d8d; }
.talentcalc-tree-wrapper.tree-nonspecialization .talentcalc-tree-overview ul.spells li .icon .icon-frame-ability .frame { background-position: -48px 0; }

/* cells */
.talentcalc-cells-wrapper { position: absolute; left: 2px; top: 6px; }

/* cell */
.talentcalc-cell { position: absolute; width: 53px; height: 53px; }

	/* icon */
	.talentcalc-cell .icon { position: absolute; left: 8px; top: 8px; width: 36px; height: 36px; border: 1px solid #545557; }
	.talentcalc-cell .icon .texture,
	.talentcalc-cell .icon .texture-color { 
		display: block; width: 36px; height: 36px; background: no-repeat; }
	.talentcalc-cell .icon .texture-color { position: absolute; top: 0px; left: 0px; display:none; }
	.talentcalc-cell .icon .ability { position: absolute; left: -9px; top: -9px; width: 54px; height: 54px; 
		background: url("/images/character/talent-calculator/icon-frame-ability.png") no-repeat -54px 0; }
	.talentcalc-cell .icon .frame { position: absolute; left: -6px; top: -5px; width: 47px; height: 46px; 
		background: url("/images/character/talent-calculator/icon-frame.png") no-repeat; }
	.talentcalc-cell.talent-partial .icon .texture,
	.talentcalc-cell.talent-full .icon .texture { display: none; }
	.talentcalc-cell.talent-partial .icon .texture-color,
	.talentcalc-cell.talent-full .icon .texture-color { display: block; }
	.talentcalc-cell.talent-partial .icon .ability,
	.talentcalc-cell.talent-full .icon .ability { background-position: 0 0; }
	.talentcalc-cell.talent-partial .icon { border-color: #17c815; }
	.talentcalc-cell.talent-partial .icon .frame { background-position: -47px top; }
	.talentcalc-cell.talent-full .icon { border-color: #c7a200; } 
	.talentcalc-cell.talent-full .icon .frame { background-position: -94px top; }
	
	/* points */
	.talentcalc-cell .points { position: absolute; left: 37px; top: 34px; width: 14px; height: 15px; line-height: 14px; display: none; font-family: Arial, sans-serif; font-size: 11px; font-weight: bold; border: 1px solid #545557; text-align: center; background: black; }
	.talentcalc-cell .points .frame { position: absolute; left: -4px; top: -4px; width: 22px; height: 22px; 
		background: url("/images/character/talent-calculator/points-frame.png") no-repeat; }
	.talentcalc-cell.talent-partial .points { display: block; border-color: #17c815; color: #6fff5b; }
	.talentcalc-cell.talent-partial .points .frame { }
	.talentcalc-cell.talent-full .points { display: block; border-color: #c7a200; color: #ffd200; }
	.talentcalc-cell.talent-full .points .frame { background-position: -22px top;  }
	
	/* arrow */
	.talentcalc-cell .arrow { position: absolute; }
	.talentcalc-cell .arrow ins { position: absolute; top: 0; width: 37px; height: 100%; 
		background: url("/images/character/talent-calculator/arrow-down.png") no-repeat; }
	.talentcalc-cell .arrow em { position: absolute; left: 0; top: -20px; width: 100%; height: 20px; 
		background: url("/images/character/talent-calculator/arrow-corner.png") no-repeat; }
	
	.talentcalc-cell .arrow-down { background: url("/images/character/talent-calculator/arrow-down.png") 13px bottom no-repeat; }
	.talentcalc-cell.talent-arrow .arrow-down { background-position: -37px bottom; }
	
	.talentcalc-cell .arrow-left { background: url("/images/character/talent-calculator/arrow-horiz.png") left 12px no-repeat; }
	.talentcalc-cell.talent-arrow .arrow-left { background-position: left -38px; }
	
	.talentcalc-cell .arrow-right { background: url("/images/character/talent-calculator/arrow-horiz.png") right 12px no-repeat; }
	.talentcalc-cell.talent-arrow .arrow-right { background-position: right -38px; }
	
	.talentcalc-cell .arrow-left-down ins { left: 0; background-position: 13px bottom; }
	.talentcalc-cell.talent-arrow .arrow-left-down ins { background-position: -37px bottom; }
	.talentcalc-cell .arrow-left-down em { background-position: left 12px; }
	.talentcalc-cell.talent-arrow .arrow-left-down em { background-position: left -38px; }
	
	.talentcalc-cell .arrow-right-down ins { right: 0; background-position: 11px bottom; }
	.talentcalc-cell.talent-arrow .arrow-right-down ins { background-position: -39px bottom; }
	.talentcalc-cell .arrow-right-down em { background-position: right 12px; }
	.talentcalc-cell.talent-arrow .arrow-right-down em { background-position: right -38px; }

	/* interact area */
	.talentcalc-cell a.interact { position: absolute; left: 7px; top: 7px; width: 40px; height: 40px; cursor: default; }
	.talentcalc-cell a.interact .hover { display: block; width: 36px; height: 36px; margin: 2px 0 0 2px; }
	.talentcalc-cell a.interact:hover .hover { background-color: rgba(255, 255, 255, 0.2); }
	.talentcalc-cell.talent-partial a.interact,
	.talentcalc-cell.talent-full a.interact { cursor: pointer; }
	.talentcalc-locked .talentcalc-cell a.interact { cursor: default; }

.talentcalc-top { margin-bottom: 20px; clear: both; padding: 0 0 5px 0; border-bottom: 1px solid #2b190e;  }
.talentcalc-bottom { margin-top: 20px; clear: both; padding: 10px 0; border-top: 1px solid #2b190e; }
.talentcalc-bottom .export,
.talentcalc-bottom .calcmode,
.talentcalc-top .reset { float: right;  margin: 0;}
.talentcalc-top .reset .icon { display: inline-block; width: 15px; height: 15px; padding: 0; vertical-align: middle; 
	background: url("/images/character/talent-calculator/icons.gif") -400px -1px no-repeat; }
	
/* info */
.talentcalc-info { color: #855b47; }
.talentcalc-info div { display: inline-block; margin-right: 30px; }
.talentcalc-info .value { color: #e9bd7f; font-family: Arial, sans-serif; font-weight: normal; }
.talentcalc-info span ins { color: #855b47; padding-left: 3px; font-weight: normal; text-decoration: none; }
.talentcalc-bottom .export a,
.talentcalc-bottom .calcmode a,
.talentcalc-info .print a { background: url("/images/character/talent-calculator/icons.gif") 0 -1px no-repeat; padding-left: 20px; }
.talentcalc-bottom .export a { background-position: -200px -26px; }
.talentcalc-info .print a { background-position: -400px -26px; }
.talentcalc-info .third-party { height: 21px; padding-top: 5px; }
.talentcalc-bottom .beastmastery { color: #855b47; float: left; }
.talentcalc-bottom .beastmastery input,
.talentcalc-bottom .beastmastery .icon-frame { vertical-align: middle; }
.talentcalc-bottom .beastmastery .icon-frame { margin-right: 3px; }
.talentcalc-info .classlist a { font-size: 14px; }

/* popup */
.talentcalc-popup label { display: block; margin-bottom: 2px; font-weight: bold; }
.talentcalc-popup .input { width: 98%; }
.talentcalc-popup .notice { color: #A4704E; margin-top: 5px; }

/* glyphs */
.talentcalc-glyphs { float: left; margin-left: 25px; height: 420px; width: 165px; padding: 10px; background: rgba(0, 0, 0, 0.5);
	-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
.talentcalc-glyphs ul { margin-top: 10px; }
.talentcalc-glyphs ul li { padding-top: 8px; }
.talentcalc-glyphs ul li a.item-link { display: block; width: 145px; overflow: hidden; }
.talentcalc-glyphs ul li.glyph-title { color: #71401f; font-size: 14px; }
.talentcalc-glyphs ul .item-link-large { display: inline-block; }
.talentcalc-glyphs ul .close { float: right; display: none; margin-top: 6px; width: 20px; height: 12px; 
	background: url("/images/icons/cross-small.gif") center top no-repeat; }
.talentcalc-glyphs ul li.glyph-chosen:hover .close { display: block; }
.talentcalc-glyphs-header { font-size: 16px; }
.talentcalc-glyphs.locked { opacity: .5; }
.talentcalc-glyphs.locked .color-q0:hover,
.talentcalc-glyphs.locked .color-q0 span,
.talentcalc-glyphs.locked .color-q0 { color: #9D9D9D !important; cursor: default; }

.talentcalc-glyphselector { height: 433px; width: 730px; top: 55px; position: absolute; }
.talentcalc-glyphselector .scroller { height: 431px; overflow: auto; background: #381a0f; }
.talentcalc-glyphselector ul li { clear: both; white-space: nowrap; overflow: hidden; }
.talentcalc-glyphselector ul li:nth-child(odd) { background: #30160c; }
.talentcalc-glyphselector ul li a { display: block; padding: 5px; line-height: 20px; height: 20px; color: #fef092; clear: both; }
.talentcalc-glyphselector ul li a:hover { background: #261109; }
.talentcalc-glyphselector ul li .icon-frame { float: left; margin-right: 5px; }
.talentcalc-glyphselector ul li .description { font-size: 11px; display: block; width: 70%; float: left; overflow: hidden; }
.talentcalc-glyphselector ul li .name { display: block; width: 25%; color: #fff; float: left; font-weight: bold; overflow: hidden; }


.profile-section { background-image: url("/images/profile/section-bg-tabs.png"); }

/* view options */
.active-spec { position: absolute; left: 15px; top: 25px; width: 15px; height: 11px; background: url("/images/character/summary/talents-check.gif") no-repeat; }

/* character talents */
.character-talents-wrapper { }

/* character glyphs */
.character-glyphs { padding-top: 20px; }
.character-glyphs ul {margin-top: 5px; }
.character-glyphs li { border-top: 1px solid #331509; line-height: 31px; padding: 5px 0; white-space: nowrap; }
.character-glyphs li a { display: block; }
.character-glyphs li.filled { color: #F5EBD1; }
.character-glyphs li.locked { color: #5d442b; }
.character-glyphs .icon { float: left; padding-right: 6px; height: 31px; }
.character-glyphs .name { float: left; width: 167px; overflow: hidden; text-overflow: ellipsis; }
.character-glyphs-column { float: left; width: 204px; margin-right: 30px; }
.character-glyphs-column.glyphs-minor { float: right; margin-right: 0; }

#talentcalc-character .talentcalc-bottom { border: none; padding: 0; }
