
.color-green { color: #40bf40; }
.color-yellow { color: #ffff00; }
.reagent { color: #fff; font-weight: bold; font-size: 13px; text-align: right; border-bottom: 0 !important; line-height: 23px;
	text-shadow: 0 0 3px #000, 0 0 3px #000, 0 0 2px #000, 0 0 2px #000, 0 0 1px #000; }
.reagent-list { padding-top: 5px; }
.faction { float: right; margin-left: 5px; }

.wiki-tooltip { min-width: 250px; }

/* main */
.wiki .term { color: #98562a; }
.wiki .has-tip { border-bottom: 1px dotted #565656; cursor: help; }
.wiki a.has-tip { cursor: pointer; }
.wiki .fact-list { margin-left: 5px; }
.wiki .fact-list li { margin: 8px 0; padding-left: 15px; background: url("/templates/Shattered-World/images/icons/bullet2.gif") 0 5px no-repeat; }
.wiki .fact-list .button-holder { padding-top: 6px; }
.wiki .learn-more li { margin-bottom: 10px; color: #B79855; }

/* sidebar */
.wiki .sidebar { float: right; width: 308px; padding: 25px; min-height: 460px; background: url("/templates/Shattered-World/images/wiki/sidebar-small.png") 0 0 repeat-x; }
.wiki .sidebar .snippet { margin: 30px 0; }
.wiki .sidebar .snippet:first-child { margin-top: 0; }
.wiki .sidebar .snippet h3,
.wiki .notes h3 { color: #854a26; border-bottom: 1px solid #4b2a17; font-size: 16px; font-weight: normal; padding-bottom: 5px; margin-bottom: 10px; }

/* media frame */
.media-frame { display: inline-block; width: auto; border-collapse: collapse; -moz-box-shadow: #000 0 0 10px; -moz-border-radius: 10px; -webkit-box-shadow: #000 0 0 10px; -webkit-border-radius: 10px; box-shadow: #000 0 0 10px; border-radius: 10px; }
.media-frame .tl,
.media-frame .tr,
.media-frame .bl,
.media-frame .br { width: 11px; height: 11px; background: url("/templates/Shattered-World/images/wiki/media-frame-corners.gif") no-repeat; }
.media-frame .tr { background-position: -11px 0; }
.media-frame .bl { background-position: 0 -11px; }
.media-frame .br { background-position: -11px -11px; }
.media-frame .tm,
.media-frame .bm { height: 11px; background: url("http://portal.wow-alive.de/templates/Shattered-World/images/wiki/media-frame-tb.gif") 0 0 repeat; }
.media-frame .bm { background-position: 0 -11px; }
.media-frame .ml,
.media-frame .mr { width: 11px; background: url("/templates/Shattered-World/images/wiki/media-frame-lr.gif") 0 0 repeat; }
.media-frame .mr { background-position: -11px 0; }
.media-frame .mm { background: #000; }
.media-frame .mm img { display: block }
.media-frame .caption { padding: 15px 10px 5px 10px; background: url("/templates/Shattered-World/images/wiki/media-frame-tb.gif") 0 -11px repeat-x; margin: 0 -2px; }
.media-frame .view-all { float: right; padding-right: 17px; background: url("/templates/Shattered-World/images/icons/bullet.gif") 100% 50% no-repeat }
.media-frame .magnifying-wrapper { position:relative }
.media-frame .magnifying-wrapper .magnifying-glass { position:absolute; display:block; width:63px; height:51px; top:-18px; right:-14px; background:url("/templates/Shattered-World/images/wiki/ui.png") -81px -156px no-repeat }
.media-frame:hover .magnifying-wrapper .magnifying-glass,
.media-frame .magnifying-wrapper:hover .magnifying-glass { background-position:-81px -207px }

.wiki .sidebar .media-frame { margin-left: 10px; }
.wiki .sidebar .thumbnail { display: block; vertical-align: top; position: relative; }
.wiki .sidebar .thumbnail .view { display: block; height: 40px; width: 60px; position: absolute; right: -10px; top: -16px; background: url("/templates/Shattered-World/images/wiki/ui.png") -80px -158px no-repeat; }
.wiki .sidebar .thumbnail:hover .view { background-position: -80px -209px; }

/* info */
.wiki .info { float: left; width: 580px; padding: 25px; padding-top: 35px; }
.wiki .info p.intro { color: #b79855; font-size: 16px; margin: 25px 0; line-height: 2em; }
.wiki .info .lore, .wiki .info .lore p, .wiki .info .notes, .wiki .info .notes p { line-height: 1.9em; }
.wiki .info .lore p, .wiki .info .notes p { margin: 1em 0; }
.wiki .info .notes { margin-top: 30px; }

/* title */
.wiki .title { margin-bottom: 30px; }
.wiki .title .parent { font-size: 14px; display: block; padding-bottom: 10px; }
.wiki .title h2 { color: #efe3d2; font: 52px/100% "Palatino Linotype", Georgia, Times, sans-serif; letter-spacing: -1.5px; text-shadow: #241209 0 0 5px; }
.wiki .title .type { font-size: 16px; }
.wiki .expansion-name { font-style: italic; display: block; padding-top: 8px; }

/* box / panel */
.wiki .panel .panel-title { text-transform: uppercase; font-size: 22px; line-height: 100%; letter-spacing: -1px; font-weight: bold; color: #efe3d2; }
.wiki .panel { opacity: .95; color: #b79855; margin: 25px 0; margin-bottom: 0; padding: 25px; background: #211309 url("/templates/Shattered-World/images/wiki/box-bg.jpg") 0 0 no-repeat; 
	-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
	-moz-box-shadow: #0d0703 0 0 5px; -webkit-box-shadow: #0d0703 0 0 5px; box-shadow: #0d0703 0 0 5px; }

/* directory */
.wiki.directory { min-height: 850px; padding-bottom: 25px; }
.wiki.directory .title { padding: 25px; padding-top: 35px; padding-bottom: 50px; margin: 0; }
.wiki.directory .desc { width: 50%; color: #a4704e; margin-top: 25px; line-height: 2em; }

/* directory - nav */
.wiki.directory .navigation { width: 230px; float: left; }
.wiki.directory .navigation li { height: 45px; border-bottom: 1px solid #140200; }
.wiki.directory .navigation li a { display: block; height: 45px; line-height: 45px; padding-left: 10px; border-left: 3px solid white; background: url("/templates/Shattered-World/images/wiki/directory-tabs.png") 0 0 no-repeat; }
.wiki.directory .navigation li a:hover { background-position: 0 -45px; }
.wiki.directory .navigation li a.nav-active { background-position: 0 -90px; font-weight: bold; color: white; }
.wiki.directory .navigation li a.expansion-0 { border-color: #766328; }
.wiki.directory .navigation li a.expansion-1 { border-color: #4ea12d; }
.wiki.directory .navigation li a.expansion-2 { border-color: #20aeff; }
.wiki.directory .navigation li a.expansion-3 { border-color: #ee5900; }

/* directory - groups */
.wiki.directory .groups { float: right; width: 680px; margin-right: 42px; }
.wiki.directory .groups .group { opacity: .95; padding: 1px; background: #211309 url("/templates/Shattered-World/images/wiki/box-bg.jpg") 0 0 no-repeat; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; -moz-box-shadow: #0d0703 0 0 10px; -webkit-box-shadow: #0d0703 0 0 10px; box-shadow: #0d0703 0 0 10px; margin-bottom: 100px; }
.wiki.directory .groups .group .group-column { float: left; width: 50%; }
.wiki.directory .groups .group .group-column h3 { padding: 15px 25px; color: #f9e3d5; text-transform: uppercase; font-weight: normal; font-size: 14px; border-bottom: 1px solid #0a0603; }
.wiki.directory .groups .group .group-column ul { padding: 10px 25px; }
.wiki.directory .groups .group .group-column ul li { margin: 10px 0; }
.wiki.directory .groups .group .group-column ul li.child { padding-left: 20px; background-image: url("/templates/Shattered-World/images/icons/bullet2.gif"); background-position: 5px 50%; background-repeat: no-repeat; }
.wiki.directory .groups .group .group-column ul a { display: block; line-height: 20px; }
.wiki.directory .groups .group .group-column .separator { color: #98542D; font-size: 16px; padding-top: 8px; display: block; }
.wiki.directory .groups .group .group-column li:first-child > .separator { padding-top: 0; }

/* related */
.wiki .related { margin-top: 30px; background: url("/templates/Shattered-World/images/wiki/tab-bg.jpg") 0 44px repeat-x; }
.wiki .related .data-options-top .data-options { background: none; margin: 5px 0; }
.wiki .related .data-options { padding: 0 15px; }
.wiki .related .tabs { display: block; margin-bottom: -1px; padding: 0 15px; }
.wiki .related .tabs li { height: 45px; display: inline-block; margin-right: 5px; }
.wiki .related .tabs li a { display: inline-block; height: 45px; line-height: 45px; color: #c09a67; background: #35190f url("/templates/Shattered-World/images/wiki/tab.jpg") 0 -90px repeat-x; }
.wiki .related .tabs li a em { font-style: normal; }
.wiki .related .tabs li a span { display: block; background: url("/templates/Shattered-World/images/wiki/tab.jpg") 0 0 no-repeat; }
.wiki .related .tabs li a span span { height: 45px; padding: 0 20px; background-position: 100% -45px; }
.wiki .related .tabs li a:hover { color: #fff; background-color: #48281b; background-position: 0 -225px; }
.wiki .related .tabs li a:hover span { background-position: 0 -135px; }
.wiki .related .tabs li a:hover span span { background-position: 100% -180px; }
.wiki .related .tabs li a.tab-active { color: #fff; font-weight: bold; background-color: #611f04; background-position: 0 -360px; }
.wiki .related .tabs li a.tab-active span { background-position: 0 -270px; }
.wiki .related .tabs li a.tab-active span span { background-position: 100% -315px; }
.wiki .related .tabs.tabs-small li a span span { padding: 0 10px; }

/* grid */
.wiki .grid-view { padding: 0 25px; }
.wiki .grid-title .header { margin-bottom: 15px; font-size: 18px; text-transform: uppercase; font-weight: bold; }

.wiki .grid { float: left; display: block; border: 1px solid #2f2219; background: #211309; padding: 15px 15px 15px 190px; height: 105px; width: 250px; margin: 0 0 25px 25px;
	-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
	-moz-box-shadow: #0d0703 0 0 5px; -webkit-box-shadow: #0d0703 0 0 5px; box-shadow: #0d0703 0 0 5px; }
.wiki .grid.end { margin-left: 0; }
.wiki .grid:hover { border-color: #443224; }
.wiki .grid strong { display: block; font-size: 18px; font-weight: normal; }
.wiki .grid em { display: block; font-size: 11px; margin-bottom: 10px; }
.wiki .grid span { color: #B79855; font-size: 11px; }

/* related - paging */
.wiki .related .data-options .ui-pagination a { background: rgba(255, 255, 255, 0.1); }
.wiki .related .data-options .ui-pagination a:hover { background: rgba(255, 255, 255, 0.2); }
.wiki .related .data-options .ui-pagination .current a { font-weight: bold; color: #fff; background: rgba(255, 255, 255, 0.2); }

/* related - filters */
.wiki .related .filters { padding: 1px 15px 0 15px; }
.wiki .related .filters .advanced-toggle { float: right; padding-right: 25px; background: url("/templates/Shattered-World/images/icons/toggler.gif") 100% -58px no-repeat; }
.wiki .related .filters .advanced-toggle:hover { background-position: 100% -174px; }
.wiki .related .filters .advanced-toggle.opened { background-position: 100% 0; }
.wiki .related .filters .advanced-toggle.opened:hover { background-position: 100% -116px; }
.wiki .related .filters .filter-tabs { margin-top: 15px; float: left; }
.wiki .related .filters .filter-tabs a { display: inline-block; padding: 5px 10px; margin-right: 5px; background: #4c1f1a; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
.wiki .related .filters .filter-tabs a:hover { background: #5f322b; }
.wiki .related .filters .filter-tabs a.tab-active { font-weight: bold; color: #fff; background: #5f322b; }
.wiki .related .filters .filter { float: left; margin: 15px 15px 0 0; }
.wiki .related .filters .filter label { display: inline-block; padding: 0 5px 4px 0; }
.wiki .related .filters .keyword { float: right; margin-top: 15px; position: relative; }
.wiki .related .filters .keyword .input { width: 175px; padding-right: 25px; background: #fff; color: #707070; }
.wiki .related .filters .keyword input.focus { color: black; }
.wiki .related .filters .keyword .view,
.wiki .related .filters .keyword .reset { display: block; width: 16px; height: 16px; position: absolute; top: 5px; right: 5px; background: url("/templates/Shattered-World/images/wiki/filter.gif") center center no-repeat; }
.wiki .related .filters .keyword .reset { background-image: url("/templates/Shattered-World/images/icons/cross-small-brown.gif"); cursor: pointer; }

#related-content.loading { padding: 100px 50px; background: url("/templates/Shattered-World/images/loaders/canvas-loader.gif") 50% 50% no-repeat; }
#related-recipes table tbody td { padding-top: 8px; padding-bottom: 8px; }

/* comments overwrite */
#wiki #page-comments { margin: 0; }
#wiki #page-comments h3 { display: none; }
#wiki .comments-container { background: none; }


#content .content-top { background: url("/templates/Shattered-World/images/wiki/zone/index-bg.jpg") 0 0 no-repeat; }

/* portrait */
.boss-portrait { display: block; overflow: hidden; width: 58px; height: 58px; margin: 1px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; -moz-box-shadow: #0d0703 0 0 5px; -webkit-box-shadow: #0d0703 0 0 5px; box-shadow: #0d0703 0 0 5px; background-color: #3b1c11; background-position: 0 0; }
a:hover .boss-portrait { border: 1px solid #cd9000; margin: 0; }

/* bosses box */
.zone-bosses .boss-column-text { padding-top: 25px; float: left; width: 50%; }
.zone-bosses .boss-column-text ul { line-height: 1.8em; }
.zone-bosses .boss-column-text a { display: block; }
.zone-bosses .boss-column-portrait { float: left; padding-top: 25px; }
.zone-bosses .wing-name { display: block; padding-bottom: 2px; color: #98542D; font-size: 16px; font-weight: normal; }
.zone-bosses .boss-avatar { margin-top: 12px; position: relative; }
.zone-bosses .boss-avatar:first-child { margin-top: 0; }
.zone-bosses .boss-avatar a { display: block; width: 170px; min-height: 60px; margin-right: 10px; padding: 0 15px 0 70px;  }
.zone-bosses .boss-avatar a .boss-portrait { position: absolute; left: 0; top: 0; }
.zone-bosses .boss-avatar a .side-icons span { margin-left: 0; }
.zone-bosses .boss-avatar a .side-icons,
.zone-bosses .boss-avatar a .boss-name,
.zone-bosses .boss-avatar a .boss-details { padding-top: 5px; }
.zone-bosses .boss-avatar a .boss-meta { color: #967648; }
.zone-bosses .boss-avatar a:hover { background: #180c04; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }

/* directory */
.wiki.directory .groups .group .group-column ul { border-top: 1px solid #432615; }
.wiki.directory .groups .group .group-column:first-child ul { background: url("/templates/Shattered-World/images/wiki/directory-separator.png") right top no-repeat;  }
.wiki.directory .groups .group .name { display: block; line-height: 24px; }
.wiki.directory .groups .group .patch { display: block; font-size: 11px; line-height: 10px; color: #98542D; }
.wiki.directory .groups .group .level-range { color: #71401F; font-style: normal; font-size: 10px; margin-top: 2px; float: right; white-space: nowrap; }
.wiki.directory .groups .group .zone-thumbnail { float: left; display: block; overflow: hidden; width: 38px; height: 38px; margin: 1px 11px 1px 1px;
	background-color: #3b1c11; background-image: url("/templates/Shattered-World/images/wiki/zone/thumbnails.png"); background-repeat: no-repeat;
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
	-moz-box-shadow: #0d0703 0 0 5px; -webkit-box-shadow: #0d0703 0 0 5px; box-shadow: #0d0703 0 0 5px; }
.wiki.directory .groups .group a:hover .zone-thumbnail { border: 1px solid #cd9000; margin: 0 10px 0 0; }

/* floors */
#map-floors { width: 265px; height: 177px; }


/* Comments */
#comments-page .title { font-size:21px; padding:8px 15px; font-weight:normal;  }

#page-comments { clear:both; margin-top:20px; padding:20px 0 65px; font-family:Verdana, Geneva, sans-serif; background-repeat:no-repeat; background-position:50% 0; }
.page-comment-interior { background-repeat:no-repeat; background-position:50% 100%; }
.page-nav-container { padding-top:90px; }
.page-nav-int { position:relative; }

#page-comments h3 { color:white; text-transform:none; padding-bottom:15px; font-size:18px; font-weight:normal; }
#page-comments .comment-cm { float:right; text-align:right; width:45%; }
#page-comments .comment-cm form { display:inline; }
#page-comments .comment { 	font-size: 11px; line-height: 24px; margin-bottom:12px; position:relative; 
							-moz-border-radius: 5px; border-radius: 5px;
							color: #C09A67;
							background-color: #2B1507; }

#page-comments .comment-interior { padding: 15px 15px 15px 95px;   }
#page-comments .comment .user {  font:12px Arial, Helvetica; line-height:15px; font-weight:bold;}
#page-comments .comment .user .character, #page-comments .comment .user .character a { }
#page-comments .comment .user .time a { font-size:11px; margin-left:13px;  }
#page-comments .comment .user .time a:hover { text-decoration:underline; }
#page-comments .comment .rating-value { font-size:11px; opacity:0.7; }
#page-comments .new-post .user { }
#page-comments .new-post .user .character, #page-comments .new-post .user .character a { }
#page-comments .user img { vertical-align:middle; }
#page-comments .comment .content { padding-top:8px; word-wrap:break-word; }
#page-comments #page-comments .blizzard .context-link { color:#FFF }
#page-comments #page-comments .blizzard .content {  }
#page-comments .comment-ta { padding:4px; background:white; -moz-border-radius:4px; border-radius:4px;  }
#page-comments textarea, #page-comments .auto-expand { font:12px/20px Verdana, Helvetica, Arial; width:98%;  margin:0; border:none; resize: none; }
#page-comments .auto-expand { overflow:hidden; min-height:66px }
#page-comments div.auto-expand { position:absolute; display:none; }
#page-comments .comment .comment-actions { padding-top:5px; text-align:right; visibility:hidden; }

/* Rating specific styles */
#page-comments .comment:hover .comment-actions, #page-comments .comment:hover .rate-btn, #page-comments .iehover .comment-actions, #page-comments .iehover .rate-btn { visibility:visible; }
#page-comments .comment .status-text { position:absolute; top:14px; left:16px; display:none; }

#page-comments .nested { padding-left:85px; }
#page-comments .nested .nested { padding-left:0; }

#page-comments .reply { width:85%; }
#page-comments .new-post {	background: repeat-x; padding:4px; margin-bottom:12px;
							-moz-border-radius:4px; border-radius:4px }
#page-comments .new-post .comment {	background: repeat-x; margin-bottom:0; }
#page-comments .new-post .ui-button {  }
#page-comments .new-post .avatar.half, #page-comments .nested .avatar.full  { display:none; }
#page-comments .nested .new-post .avatar.half { display:block; }

#page-comments .portrait-b,
#page-comments .portrait-c { top: 15px; left: 15px; position: absolute; }

#page-comments .avatar-interior { background:none; }

.disabled-comments-msg { padding:20px; text-align:center; -moz-border-radius:10px; border-radius:10px; margin-bottom:20px; }


 /* paging for comments */
.comments-container .ui-pagination { float:right; margin-bottom:20px }

/* thumbnails */
.thumb-ahnkahet-the-old-kingdom { background-position: -960px 0; }
.thumb-ahnqiraj-temple { background-position: -2040px 0; }
.thumb-auchenai-crypts { background-position: -760px 0; }
.thumb-azjolnerub { background-position: -1000px 0; }
.thumb-baradin-hold { background-position: -2800px 0; }
.thumb-blackfathom-deeps { background-position: 0 0; }
.thumb-blackrock-caverns { background-position: -1600px 0; }
.thumb-blackrock-depths { background-position: -40px 0; }
.thumb-blackrock-spire { background-position: -80px 0; }
.thumb-black-temple { background-position: -2360px 0; }
.thumb-blackwing-descent { background-position: -2880px 0; }
.thumb-blackwing-lair { background-position: -1960px 0; }
.thumb-deadmines { background-position: -120px 0; }
.thumb-dire-maul { background-position: -160px 0; }
.thumb-draktharon-keep { background-position: -1080px 0; }
.thumb-firelands { background-position: -2960px 0; }
.thumb-gnomeregan { background-position: -200px 0; }
.thumb-grim-batol { background-position: -1640px 0; }
.thumb-gruuls-lair { background-position: -2120px 0; }
.thumb-gundrak { background-position: -1160px 0; }
.thumb-halls-of-lightning { background-position: -1200px 0; }
.thumb-halls-of-origination { background-position: -1680px 0; }
.thumb-halls-of-reflection { background-position: -1240px 0; }
.thumb-halls-of-stone { background-position: -1280px 0; }
.thumb-hellfire-ramparts { background-position: -840px 0; }
.thumb-icecrown-citadel { background-position: -2720px 0; }
.thumb-karazhan { background-position: -2080px 0; }
.thumb-lost-city-of-the-tolvir { background-position: -1720px 0; }
.thumb-magisters-terrace { background-position: -880px 0; }
.thumb-magtheridons-lair { background-position: -2160px 0; }
.thumb-manatombs { background-position: -760px 0; }
.thumb-maraudon { background-position: -240px 0; }
.thumb-molten-core { background-position: -1920px 0; }
.thumb-naxxramas { background-position: -2440px 0; }
.thumb-onyxias-lair { background-position: -2680px 0; }
.thumb-opening-of-the-dark-portal { background-position: -800px 0; }
.thumb-pit-of-saron { background-position: -1400px 0; }
.thumb-ragefire-chasm { background-position: -280px 0; }
.thumb-razorfen-downs { background-position: -320px 0; }
.thumb-razorfen-kraul { background-position: -360px 0; }
.thumb-ruins-of-ahnqiraj { background-position: -2000px 0; }
.thumb-scarlet-monastery { background-position: -400px 0; }
.thumb-scholomance { background-position: -440px 0; }
.thumb-serpentshrine-cavern { background-position: -2240px 0; }
.thumb-sethekk-halls { background-position: -760px 0; }
.thumb-shadowfang-keep { background-position: -480px 0; }
.thumb-shadow-labyrinth { background-position: -760px 0; }
.thumb-stormwind-stockade { background-position: -520px 0; }
.thumb-stratholme { background-position: -560px 0; }
.thumb-sunken-temple { background-position: -600px 0; }
.thumb-tempest-keep { background-position: -2280px 0; }
.thumb-the-arcatraz { background-position: -2280px 0; }
.thumb-the-bastion-of-twilight { background-position: -2840px 0; }
.thumb-the-battle-for-mount-hyjal { background-position: -2320px 0; }
.thumb-the-blood-furnace { background-position: -840px 0; }
.thumb-the-botanica { background-position: -2280px 0; }
.thumb-the-culling-of-stratholme { background-position: -1040px 0; }
.thumb-the-escape-from-durnholde { background-position: -800px 0; }
.thumb-the-eye-of-eternity { background-position: -2560px 0; }
.thumb-the-forge-of-souls { background-position: -1120px 0; }
.thumb-the-mechanar { background-position: -2280px 0; }
.thumb-the-nexus { background-position: -1320px 0; }
.thumb-the-obsidian-sanctum { background-position: -2480px 0; }
.thumb-the-oculus { background-position: -1360px 0; }
.thumb-the-ruby-sanctum { background-position: -2760px 0; }
.thumb-the-shattered-halls { background-position: -840px 0; }
.thumb-the-slave-pens { background-position: -2240px 0; }
.thumb-the-steamvault { background-position: -2240px 0; }
.thumb-the-stonecore { background-position: -1760px 0; }
.thumb-the-sunwell { background-position: -2400px 0; }
.thumb-the-underbog { background-position: -2240px 0; }
.thumb-the-vortex-pinnacle { background-position: -1840px 0; }
.thumb-throne-of-the-four-winds { background-position: -2920px 0; }
.thumb-throne-of-the-tides { background-position: -1800px 0; }
.thumb-trial-of-the-champion { background-position: -1440px 0; }
.thumb-trial-of-the-crusader { background-position: -2640px 0; }
.thumb-uldaman { background-position: -620px 0; }
.thumb-ulduar { background-position: -2600px 0; }
.thumb-utgarde-keep { background-position: -1480px 0; }
.thumb-utgarde-pinnacle { background-position: -1520px 0; }
.thumb-vault-of-archavon { background-position: -2520px 0; }
.thumb-violet-hold { background-position: -1560px 0; }
.thumb-wailing-caverns { background-position: -680px 0; }
.thumb-zulaman { background-position: -920px 0; }
.thumb-zulfarrak { background-position: -720px 0; }
.thumb-zulgurub { background-position: -1880px 0; }
.thumb-well-of-eternity { background-position: -3040px 0; }
.thumb-end-time { background-position:-3120px 0 }
.thumb-dragon-soul { background-position:-3000px 0 }
.thumb-hour-of-twilight { background-position:-3080px 0 }

/* ie */
.ie6 .wiki.directory .groups .group .name { float: left; }