



<div class="content-bot">
	
	<div id="wiki" class="wiki directory wiki-index">

		<div class="title">
			<h2>Spielguide</h2>

			<p class="desc">Dieser Bereich dient als Guide für deine epischen Reisen durch die Welt von World of Warcraft - von den allerersten Quests bis hin zu dem Ruhm, der dich als wahrer Champion von Azeroth erwartet.</p>
			<!--
			<a href="guide/" class="beginners-guide">
				<strong>Anfängerguide</strong>
				<span>Unser vollständiger Anfängerguide informiert euch über alle Belange, die ihr für einen erfolgreichen Start benötigt.</span>
			</a>-->
		</div>

		<div class="index">
			<div class="panel">

	<div class="column" style="width: 295px;">
		<div class="box first-child">
			<h2 class="header "><a href="/wow/de/game/race/">Völker</a></h2>

			<h4 class="subcategory ">Allianz</h4>
			<ul class="double">
			<li>
				<a href="race/draenei">
					<span class="icon-frame frame-14 ">
						<img src="http://eu.media.blizzard.com/wow/icons/18/race_draenei_male.jpg" alt="" width="14" height="14" />
					</span>
					Draenei
				</a>
			</li>
			<li>
				<a href="race/gnome">
					<span class="icon-frame frame-14 ">
						<img src="http://eu.media.blizzard.com/wow/icons/18/race_gnome_male.jpg" alt="" width="14" height="14" />
					</span>
					Gnome
				</a>
			</li>
			<li>
				<a href="race/human">
					<span class="icon-frame frame-14 ">
						<img src="http://eu.media.blizzard.com/wow/icons/18/race_human_male.jpg" alt="" width="14" height="14" />
					</span>
					Menschen
				</a>
			</li>
			</ul>
	
			<ul class="double">
			<li>
				<a href="race/night-elf">
					<span class="icon-frame frame-14 ">
						<img src="http://eu.media.blizzard.com/wow/icons/18/race_night-elf_male.jpg" alt="" width="14" height="14" />
					</span>
					Nachtelfen
				</a>
			</li>
			<li>
				<a href="race/worgen">




		<span class="icon-frame frame-14 ">
			<img src="http://eu.media.blizzard.com/wow/icons/18/race_worgen_male.jpg" alt="" width="14" height="14" />
		</span>
						Worgen
					</a>
				</li>
				<li>
					<a href="race/dwarf">




		<span class="icon-frame frame-14 ">
			<img src="http://eu.media.blizzard.com/wow/icons/18/race_dwarf_male.jpg" alt="" width="14" height="14" />
		</span>
						Zwerge
					</a>
				</li>
		</ul>

	<span class="clear"><!-- --></span>
			<br />

				<h4 class="subcategory ">Horde</h4>




		<ul class="double">
				<li>
					<a href="race/blood-elf">




		<span class="icon-frame frame-14 ">
			<img src="http://eu.media.blizzard.com/wow/icons/18/race_blood-elf_male.jpg" alt="" width="14" height="14" />
		</span>
						Blutelfen
					</a>
				</li>
				<li>
					<a href="race/goblin">




		<span class="icon-frame frame-14 ">
			<img src="http://eu.media.blizzard.com/wow/icons/18/race_goblin_male.jpg" alt="" width="14" height="14" />
		</span>
						Goblins
					</a>
				</li>
				<li>
					<a href="race/orc">




		<span class="icon-frame frame-14 ">
			<img src="http://eu.media.blizzard.com/wow/icons/18/race_orc_male.jpg" alt="" width="14" height="14" />
		</span>
						Orcs
					</a>
				</li>
		</ul>
		<ul class="double">
				<li>
					<a href="race/tauren">




		<span class="icon-frame frame-14 ">
			<img src="http://eu.media.blizzard.com/wow/icons/18/race_tauren_male.jpg" alt="" width="14" height="14" />
		</span>
						Tauren
					</a>
				</li>
				<li>
					<a href="race/troll">




		<span class="icon-frame frame-14 ">
			<img src="http://eu.media.blizzard.com/wow/icons/18/race_troll_male.jpg" alt="" width="14" height="14" />
		</span>
						Trolle
					</a>
				</li>
				<li>
					<a href="race/forsaken">




		<span class="icon-frame frame-14 ">
			<img src="http://eu.media.blizzard.com/wow/icons/18/race_forsaken_male.jpg" alt="" width="14" height="14" />
		</span>
						Verlassene
					</a>
				</li>
		</ul>

	<span class="clear"><!-- --></span>
		</div>

		<div class="box">
				<h2 class="header "><a href="/wow/de/game/class/">Klassen</a></h2>



		<ul class="double">
				<li>
						<a href="class/druid">




		<span class="icon-frame frame-14 ">
			<img src="http://eu.media.blizzard.com/wow/icons/18/class_druid.jpg" alt="" width="14" height="14" />
		</span>
							Druide
						</a>
				</li>
				<li>
						<a href="class/warlock">




		<span class="icon-frame frame-14 ">
			<img src="http://eu.media.blizzard.com/wow/icons/18/class_warlock.jpg" alt="" width="14" height="14" />
		</span>
							Hexenmeister
						</a>
				</li>
				<li>
						<a href="class/hunter">




		<span class="icon-frame frame-14 ">
			<img src="http://eu.media.blizzard.com/wow/icons/18/class_hunter.jpg" alt="" width="14" height="14" />
		</span>
							Jäger
						</a>
				</li>
				<li>
						<a href="class/warrior">




		<span class="icon-frame frame-14 ">
			<img src="http://eu.media.blizzard.com/wow/icons/18/class_warrior.jpg" alt="" width="14" height="14" />
		</span>
							Krieger
						</a>
				</li>
				<li>
						<a href="class/mage">




		<span class="icon-frame frame-14 ">
			<img src="http://eu.media.blizzard.com/wow/icons/18/class_mage.jpg" alt="" width="14" height="14" />
		</span>
							Magier
						</a>
				</li>
		</ul>
		<ul class="double">
				<li>
						<a href="class/paladin">




		<span class="icon-frame frame-14 ">
			<img src="http://eu.media.blizzard.com/wow/icons/18/class_paladin.jpg" alt="" width="14" height="14" />
		</span>
							Paladin
						</a>
				</li>
				<li>
						<a href="class/priest">




		<span class="icon-frame frame-14 ">
			<img src="http://eu.media.blizzard.com/wow/icons/18/class_priest.jpg" alt="" width="14" height="14" />
		</span>
							Priester
						</a>
				</li>
				<li>
						<a href="class/shaman">




		<span class="icon-frame frame-14 ">
			<img src="http://eu.media.blizzard.com/wow/icons/18/class_shaman.jpg" alt="" width="14" height="14" />
		</span>
							Schamane
						</a>
				</li>
				<li>
						<a href="class/rogue">




		<span class="icon-frame frame-14 ">
			<img src="http://eu.media.blizzard.com/wow/icons/18/class_rogue.jpg" alt="" width="14" height="14" />
		</span>
							Schurke
						</a>
				</li>
				<li>
						<a href="class/death-knight">




		<span class="icon-frame frame-14 ">
			<img src="http://eu.media.blizzard.com/wow/icons/18/class_death-knight.jpg" alt="" width="14" height="14" />
		</span>
							Todesritter
						</a>
				</li>
		</ul>

	<span class="clear"><!-- --></span>
		</div>
	</div>

	<div class="column" style="margin: 0 19px; width: 235px;">
			<div class="box first-child">
					<h2 class="header "><a href="/wow/de/zone/">Dungeons &amp; Schlachtzüge</a></h2>


				<ul>
						<li><a href="/wow/de/zone/#expansion=3">Cataclysm</a></li>
						<li><a href="/wow/de/zone/#expansion=2">Wrath of the Lich King</a></li>
						<li><a href="/wow/de/zone/#expansion=1">The Burning Crusade</a></li>
						<li><a href="/wow/de/zone/#expansion=0">Classic</a></li>
				</ul>
			</div>

			<div class="box">
					<h2 class="header "><a href="/wow/de/faction/">Fraktionen</a></h2>


				<ul>
						<li><a href="/wow/de/faction/#expansion=3">Cataclysm</a></li>
						<li><a href="/wow/de/faction/#expansion=2">Wrath of the Lich King</a></li>
						<li><a href="/wow/de/faction/#expansion=1">The Burning Crusade</a></li>
						<li><a href="/wow/de/faction/#expansion=0">Classic</a></li>
				</ul>
			</div>

			<div class="box">
					<h2 class="header "><a href="lore/">Grenzenloses Universum</a></h2>


				<ul>
					<li><a href="lore/#latest-story-so-far">Die Geschichte von Warcraft</a></li>
					<li><a href="lore/#latest-short-story">Kurzgeschichten</a></li>
					<li><a href="lore/#leader-story">Die Geschichte der Anführer</a></li>
				</ul>
			</div>
	</div>

	<div class="column" style="width: 315px;">
			<div class="box first-child">
					<h2 class="header "><a href="/wow/de/profession/">Berufe</a></h2>


					<h4 class="subcategory ">Primär</h4>


		<ul class="double">
				<li>
					<a href="/wow/de/profession/alchemy">




		<span class="icon-frame frame-14 ">
			<img src="http://eu.media.blizzard.com/wow/icons/18/trade_alchemy.jpg" alt="" width="14" height="14" />
		</span>
						Alchemie
					</a>
				</li>
				<li>
					<a href="/wow/de/profession/mining">




		<span class="icon-frame frame-14 ">
			<img src="http://eu.media.blizzard.com/wow/icons/18/inv_pick_02.jpg" alt="" width="14" height="14" />
		</span>
						Bergbau
					</a>
				</li>
				<li>
					<a href="/wow/de/profession/engineering">




		<span class="icon-frame frame-14 ">
			<img src="http://eu.media.blizzard.com/wow/icons/18/trade_engineering.jpg" alt="" width="14" height="14" />
		</span>
						Ingenieurskunst
					</a>
				</li>
				<li>
					<a href="/wow/de/profession/inscription">




		<span class="icon-frame frame-14 ">
			<img src="http://eu.media.blizzard.com/wow/icons/18/inv_inscription_tradeskill01.jpg" alt="" width="14" height="14" />
		</span>
						Inschriftenkunde
					</a>
				</li>
				<li>
					<a href="/wow/de/profession/jewelcrafting">




		<span class="icon-frame frame-14 ">
			<img src="http://eu.media.blizzard.com/wow/icons/18/inv_misc_gem_01.jpg" alt="" width="14" height="14" />
		</span>
						Juwelenschleifen
					</a>
				</li>
				<li>
					<a href="/wow/de/profession/herbalism">




		<span class="icon-frame frame-14 ">
			<img src="http://eu.media.blizzard.com/wow/icons/18/trade_herbalism.jpg" alt="" width="14" height="14" />
		</span>
						Kräuterkunde
					</a>
				</li>
		</ul>
		<ul class="double">
				<li>
					<a href="/wow/de/profession/skinning">




		<span class="icon-frame frame-14 ">
			<img src="http://eu.media.blizzard.com/wow/icons/18/inv_misc_pelt_wolf_01.jpg" alt="" width="14" height="14" />
		</span>
						Kürschnerei
					</a>
				</li>
				<li>
					<a href="/wow/de/profession/leatherworking">




		<span class="icon-frame frame-14 ">
			<img src="http://eu.media.blizzard.com/wow/icons/18/trade_leatherworking.jpg" alt="" width="14" height="14" />
		</span>
						Lederverarbeitung
					</a>
				</li>
				<li>
					<a href="/wow/de/profession/blacksmithing">




		<span class="icon-frame frame-14 ">
			<img src="http://eu.media.blizzard.com/wow/icons/18/trade_blacksmithing.jpg" alt="" width="14" height="14" />
		</span>
						Schmieden
					</a>
				</li>
				<li>
					<a href="/wow/de/profession/tailoring">




		<span class="icon-frame frame-14 ">
			<img src="http://eu.media.blizzard.com/wow/icons/18/trade_tailoring.jpg" alt="" width="14" height="14" />
		</span>
						Schneiderei
					</a>
				</li>
				<li>
					<a href="/wow/de/profession/enchanting">




		<span class="icon-frame frame-14 ">
			<img src="http://eu.media.blizzard.com/wow/icons/18/trade_engraving.jpg" alt="" width="14" height="14" />
		</span>
						Verzauberkunst
					</a>
				</li>
		</ul>

	<span class="clear"><!-- --></span>
				<br />

					<h4 class="subcategory ">Sekundär</h4>


		<ul class="double">
				<li>
					<a href="/wow/de/profession/fishing">




		<span class="icon-frame frame-14 ">
			<img src="http://eu.media.blizzard.com/wow/icons/18/trade_fishing.jpg" alt="" width="14" height="14" />
		</span>
						Angeln
					</a>
				</li>
				<li>
					<a href="/wow/de/profession/archaeology">




		<span class="icon-frame frame-14 ">
			<img src="http://eu.media.blizzard.com/wow/icons/18/trade_archaeology.jpg" alt="" width="14" height="14" />
		</span>
						Archäologie
					</a>
				</li>
		</ul>
		<ul class="double">
				<li>
					<a href="/wow/de/profession/first-aid">




		<span class="icon-frame frame-14 ">
			<img src="http://eu.media.blizzard.com/wow/icons/18/spell_holy_sealofsacrifice.jpg" alt="" width="14" height="14" />
		</span>
						Erste Hilfe
					</a>
				</li>
				<li>
					<a href="/wow/de/profession/cooking">




		<span class="icon-frame frame-14 ">
			<img src="http://eu.media.blizzard.com/wow/icons/18/inv_misc_food_15.jpg" alt="" width="14" height="14" />
		</span>
						Kochkunst
					</a>
				</li>
		</ul>

	<span class="clear"><!-- --></span>
			</div>

		<div class="box" id="tools">
				<h2 class="header "><a href="#tools">Tools</a></h2>


			<ul>
				<li><a href="/wow/de/tool/talent-calculator">Talentrechner</a></li>
				<li><a href="/wow/de/tool/pet-calculator">Begleitertalenterechner</a></li>
			</ul>

	<span class="clear"><!-- --></span>
		</div>
	</div>

	<span class="clear"><!-- --></span>
			</div>

			<div class="extras">
				<ul>
						<li class="pvp">
							<a href="/wow/de/pvp/arena/">
								<span class="icon"></span>
								PvP<br />
								<span>Seht euch die derzeitigen Ranglisten für gewertete Schlachtfelder und die Arena an.</span>
							</a>
						</li>
						<li class="realm">
							<a href="/wow/de/status">
								<span class="icon"></span>
								Realmstatus<br />
								<span>Informiert euch über den aktuellen Status aller Realms von World of Warcraft.</span>
							</a>
						</li>
						<li class="patches">
							<a href="patch-notes/">
								<span class="icon"></span>
								Patchnotes<br />
								<span>Informationen zum Wachstum des Spiels mit jedem Inhaltspatch sowie zu zukünftigen Änderungen.</span>
							</a>
						</li>
				</ul>

	<span class="clear"><!-- --></span>
			</div>
		</div>


	<span class="clear"><!-- --></span>
	</div>
</div>