<br /><h2><center><u>Voraussetzungen für den Transfer</u></center></h2><br>
<br>
Du hast auf einem anderen Server einen Charakter den du nicht velieren willst? <br>
<br><br>
<center><h2>Wir machen dir das möglich...</h2></center>
<p><br>
	<br>
	Lies hier zu ende und fülle dann den Charakter-Transfer aus. Falls du mit deiner Gilde zu uns wechseln möchtest, melde dich bitte bei Eisdrache, Chibiusa oder Erdgeist. Hier bieten wir spezielle Konditionen betreffend Gildenbank etc. an.<br>
	<br>
	<u>Die Anforderungen sind wie folgt:</u><br>
</p>
<ol>
	<li> Der Server von dem ihr kommt darf von den Rates nicht höher sein wie 13x Dieser Server darf nicht Instant- oder Funserver sein.<br>
	</li>
	<li> Login Screen (wo die ganzen Charaktere abgebildet sind) muss ebenfalls vorhanden sein.<br>
	</li>
	<li> Wichtig ist auch ein IngameScreen auf dem alten Server, auf dem Ihr zuerst <b>/played</b> eingebt und dann <b>'WoW-ALive'</b> sagt. Jedes Ausrüstungsteil und Item das du auf unseren Server bringen willst musst du mit einem Screen belegen.</li>
</ol>
		<p>Was wir Euch bieten:<br></p>
		<br>
		<p class="important">
		&nbsp;* Es werden maximal bis zu 5 Charaktere transferiert<br><br>
		&nbsp;&nbsp;&nbsp;&nbsp;</span>Abhängig von den Rates deines alten Servers kannst du hier sehen was für einen Transfer zu bekommst:</p>
		<p>&nbsp;</p>
		<ul class="important">
			<li>P-Server mit einer Spielversion &gt;3.3.5: KEIN TRANSFER</li>
			<li><span>x15 und höher: KEIN TRANSFER&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></li>
			<li><span>x13: Transferleistung = 1 Char max 219er (keine Legendary). <br>
			Unter 15 Tage Spielzeit: kein Transfer. <br>
			Ab&nbsp;15 Tage bis 29 Tage Itemlevel 200<br>
			</span></li>
			<li><span>x10- x12: Transferleistung = 2 chars max 219er (keine Legendary) <br>
			unter 15 Tage kein Transfer <br>
			ab&nbsp;15 Tage bis 24 Tage Itemlevel 200</span></li>
			<li><span>x8 - x9: Transferleistung = 3 chars max 232er (keine Legendary) <br>
			unter 10 Tage kein Transfer <br>
			ab 10 Tage - 19 Tage Itemlevel 219</span></li>
			<li><span>x5 - x7:  Transferleistung = 4 chars max 245er (keine Legendary)</span></li>
			<li><span>2x - x5:  Volle Transferleistung = 5 chars max 245er (kein Legendary)<br>
			</span></li>
			<li><span>OFFI: Volle Transferleistung = 5 chars max 245er bzw PVP-Setteile max 251, non set 245 (kein Legendary)</span></li>
		</ul>
		
		<p class="important">
			<br>
			<b><u>Spieler von Server mit doppelten Talent-punkte, erhalten max. Itemlevel 200</u></b><br>
			<br>
			&nbsp;
		</p>
		
		<ul class="important">
			<li><span>4 Netherstofftaschen<br>
			</span></li>
			<li><span>max 10k (Zehntausend) Gold (Screen vom gold)<br>
			</span></li>
			<li><span>KLASSE der Chars muss den Screens entsprechen, Rasse /Fraktion kann freigewählt werden<br>
			</span></li>
			<li><span>Maxskill der Waffen dem Level entsprechend<br>
			</span></li>
			<li><span>1 Reitmount (Screen)<br>
			</span></li>
			<li><span>1 Flugmount (Screen<br>
			</span></li>
			<li><span>2 Berufe + Sekundäre Berufe 1:1 (Screen)<br>
			</span></li>
			<li><span>Taxicheat, durch den alle Flugrouten freigeschaltet werden bis ihr euch ausloggt<br>
			</span></li>
			<li><span>Von privaten Servern werden die Mounts/Haustiere transferiert, die auch bei uns erhältlich sind!<br>
			</span></li>
			<li><span>Es werden 10 RandomItems aus dem Inventar wiederhergestellt (max 3/slot jedoch insg. 9 Stück &nbsp;&nbsp;&nbsp;pro Transfer bei z.B. Epic-Edelsteinen). Wenn Equip eingetragen wird, dieses mit Screen´s nachweisen und ggf. herunter stufen (Max itemlvl 245) Ursaronit 1/slot max. 3 pro Transfer </span></li>
		</ul>
		<br/>
		<p><span>Vom Transfer ausgeschlossen sind:</span></p>
		<ol class="important">
		<li><span>		Erfolge, Titel<br></span></li>
		<li><span>Jegliche Art von Marken und Emblemen<br></span></li>
		<li><span>Mounts/Haustiere von anderen P-Servern, die bei uns nicht erhältlich sind</span></li>
		</ol>
		<p>Bei Betrugsversuch behalten wir uns das Recht vor den Transfer abzulehnen und weitere Maßnahmen zu ergreifen, bis hin zum Löschen des Accounts.<br>
			<br>
			Es werden nur Charaktere transferiert die von uns sorgfältig überprüft worden sind. Wir behalten uns das Recht vor, von einem Transfer abzusehen!<br>
			<br>
			Du musst mit deinem DK die Questreihe im Startgebiet absolviert haben, um für einen Transfer zugelassen zu werden. Für den Transfer eines Todesritter, musst du online sein. Sollte euer erster Chartransfer ein Todesritter sein, meldet euch nach dem absenden des Formulars bei einem Transfer-GM im TS oder Ingame.<br>
			<br>
			Sucht bei Wow-head eurer Item raus. Dann kopiert die Nummer die oben in der URL steht bei uns als ID rein. Somit können wir euch direkt die Items adden beim Transfer. Jedes Item das geaddet werden soll muss über einen Screen natürlich auch belegt werden.<br>
			<br>
			<u class="important"><b>Es wird kein PvP oder PvE Equip transferiert, dass nicht vorhanden ist.</b></u><br>
			Beispiel: Dein Char hat ausschließlich PVE Equip, du willst es aber in PVP Equip wandeln beim Transfer, dies ist nicht möglich.<br>
			<br>
			<u><b>Der Transfer ist abgeschlossen sobald</u><br>
			Ihr nach Dalaran geportet werdet und die Frage: <b>"Hast du alles?"</b> mit <b>"ja"</b> beantwortet. Ein Umtausch, Fraktionswechsel oder ähnliches ist dann nicht mehr möglich.<br>
			<br>
			Nach Ablauf der Frist sind keine Korrekturen mehr möglich.<br>
			<br>
			Die Charaktere werden gemäß Screens erstellt und auf euren Account transferiert. Falls dies nicht in 3 Tagen passiert meldet euch bei einem Transfer-GM. In den meisten Fällen waren die Screens nicht ausreichend. Kein Transfer von P-Server auf dem Stand höher als 3.3.5a!<br>
			<br>
			Solltet ihr weitere Fragen zum Transfer haben, könnt ihr euch gerne bei einem Transfer-GM im TS oder Ingame melden<br>
			<br>
			Mit freundlichen Grüßen<br>
			<br>
			Das WoW-Alive-Team<br>
</p>
	</li>
</ol>
