<br />
<h2><center><u>Nutzungsbedingungen</u></center></h2><br>                                  
<br>
§1. Account<br>
Pro Person darf nur 1 Account angelegt werden. (Gamemaster sind dabei eine Ausnahme).Das Verkaufen des Accounts gegen Geld, Gold oder andere Wertgegenstände ist untersagt.Die Benutzung von Scripts/Addons, die eine Steuerung von mehr als 1 Charakter erlauben (Multiboxing), ist verboten. Auch das Einloggen mit mehr als einem Account pro Person ist verboten.<br>
<br>
§ 1.1 Multi Accounting Ausnahmen<br>
Das Benutzen von mehr als 1 Account über eine gemeinsame Internet-Verbindung (z.b. von einer Lan-Party) muss 3 Tage vor Beginn der gemeinsamen Internetnutzung über das Forum mitgeteilt werden. Die Teilnehmer-Liste bestehend aus den Account-Namen ist 1 Stunde vor Beginn vollständig einzureichen, um eventuelle Accountsperrungen zu verhindern.<br>
<br>
§2. Charakternamen und Beleidigung<br>
Verboten sind vulgäre, sexistische, pornografische sowie rassistische Charakternamen. Ein Verstoß wird mit Informierung und Warnung versorgt. Bei mehrfachen Beleidigungen etc. wird der Player Leveldown gesetzt. Jedoch falls das öfters vorkommt, oder beleidigende äußerungen gegenüber Familien vorkamen, kann auch mit Bann gehandelt werden. Dieser wird erst nach einer Absprache der Gamemaster vollzogen.<br>
<br>
§3. Inaktivität<br>
Ungenutzte Accounts können nach 8 Wochen gelöscht werden, wir machen in der Regel aber keine Löschungen. Bei geplanter längerer Abwesenheit kann zur Sicherheit aber die Leitung informiert werden, um eine Account zu schützen.<br>
<br>
§4. Accountsharing<br>
Das Weitergeben der Accountdaten bzw. eines Accounts an Dritte ist untersagt. Ebenso das Tauschen von Accounts.<br>
<br>
§5. Einverständnis<br>
Mit dem Erstellen eines Accounts auf dem WoW Alive Server akzeptierst du alle Regeln und bist jederzeit zur Verantwortung zu ziehen.<br>
<br>
§6. Kommunikation<br>
<br>
6.1 Diese Regeln beziehen sich auf den Chat des WoW Alive Servers, auf das Forum und sind auch im Spiel zu befolgen. Die Kommunikation zwischen Spielern sollte gepflegt und höflich bleiben, das Beleidigen anderer Spieler ist untersagt und wird nach Ermessen bestraft. Kritik ist immer konstruktiv zu äußern, infantiles Rumgemeckere sowie unangebrachte Kommentare werden nicht geduldet.<br>
<br>
6.2 Um Items, Skills, Spells, Wiederbeleben oder ähnliches zu betteln ist verboten und wird je nach Ermessen vom Team geahndet. Das Beleidigen von Teammitgliedern in welcher Art auch immer führt zu Warnungen, welche bei wiederholten Vorfällen auch zu einem Bann führen kann.<br>
<br>
6.3 Da wir einen PVE/PVP Server haben, haben wir den PVP vom SNG getrennt. /join WeltVerteidigung um den PVP channel zu betreten. GM's k&ouml;nnen dich aus dem PVP/SNG Channel ausschliessen falls du dich nicht an diese Regel h&auml;lst.<br>
<br>
§7. Loot- und Monsterklau<br>
Es ist untersagt anderen Spielern den Loot zu stehlen, weiterhin ist es Verboten anderen Spielern die Monster zu stehlen. Beispiel: Spieler A greift das Monster an. Spieler B (kommt hinzu und) wartet bis das Monster stark geschwächt ist und tötet es dann. Jedoch ist es erlaubt, dass sich ein Lowie von einem Highleveler "ziehen" lässt in einem, für den Lowie eigentlich nicht zu bewältigen Gebietes, ist der erste Teil des §7 außer Kraft gesetzt. Jedoch erst nach Absprache der beiden Spieler.<br>
<br>
§8. Player vs. Player (PvP)<br>
<br>
8.1 - PvP, Spieler vs. Spieler in der eigenen Fraktion: Das Duellieren zweier oder mehrerer Spieler ist jeder Zeit gestattet, jedoch sollte bitte nicht übertrieben werden.<br>
<br>
8.2 - Leichencamping: Das sogenannte Leichencamping ist auf dem Realm untersagt, diese Regel tritt ein wenn ein Spieler von einem anderen Spieler durchgängig am Spielen behindert wird. Sollten beide Spieler jedoch aktiv am PVP teilhaben kann hiervon nicht die Rede sein.<br>
<br>
8.3 - Battlegrounds: Battlegrounds sind Zonen, die dem Kampf zwischen Horde und Allianz dienen. In diesen Zonen darf der Feind attackiert werden, ohne vorher dessen Einverständnis zu erfragen.<br>
<br>
8.4 Level: Ein Spieler unter Level 10 darf in den Startgebieten nicht attackiert werden. Außer der Lowleveler greift zuerst an.<br>
<br>
8.5 Raids (Schlachtzüge): Das angreifen einer gegnerische Stadt ist zu jeder Zeit erlaubt. Beachtet jedoch, dass ihr von jedem Feind angegriffen werden dürft. Die oben genannten Regeln schützen weiterhin die beheimateten Spieler. Für euch gelten diese Regeln allerdings nicht mehr, sobald ihr im Feindgebiet seid.<br>
<br>
8.6 Arena: Untersagt ist jegliche Ausnutzung von Bugs und Hacks, die einen Spielvorteil bringen. Desweiteren ist das bewusste Absprechen zu Arenakämpfen untersagt, insofern "Wintrading" bzw. "Arenapushing" betrieben wird.<br>
<br>
8.7 PvP vor Instanzen: Es ist nicht erlaubt Spieler vor Instanzen zu Campen. Campen bedeutet in diesem Fall, dass ein Spieler maximal zwei mal von der gegnerischen Fraktion getötet werden darf. Sollte diese Regel missachtet werden, behalten sich die GMs vor nach eigenem ermessen einzugreifen.<br>
<br>
§9. Fehler im Spiel<br>
Gefundene Bugs sind unmittelbar im Bugtracker zu melden. Das bewusste Ausnutzen von Fehler im Spiel zum eigenen Vorteil kann empfindliche Strafen nach sich ziehen je nach Schweregrad der Ausnutzung.<br>
<br>
§10. Serverabstürze<br>
Sollten durch einen unerwarteten Serverdown einige Items der User verloren gehen, können sie nicht durch das Team ersetzt werden. Auch während eines Serverabsturzes angegriffene Bosse werden nicht auf auf ihre letzte Lebensenergie zurückgesetzt.<br>
<br>
§11. Hacksoftware<br>
Jegliche Benutzung von Software oder ähnlichem das Vorteile bringt, zieht einen permanenten Bann nach sich. Davon ausgeschlossenen sind Addons welche auf offiziellen WoW Servern erlaubt sind.<br>
<br>
(§12. Spaß am Spiel)<br>
Habt Spaß am Spiel, darum geht es ja letztlich natürlich, idealerweise nicht auf Kosten Anderer.<br>
<br>
Weitere Informationen<br>
<br>
GameMaster sind keine Informationsbörse wo man einzelne Quest etc. nachfragen kann. Wir geben lediglich Support und werden es auch so beibehalten, wenn ihr mal nicht weiterwisst schaut ins Internet (Bsp: Wowhead).<br>
<br>
Dieser Server ist ein kostenloses Projekt. Daher habt ihr kein Recht
Anprüche zu stellen oder auf unangebrachte Weise zu kritisieren.
Wenn ihr meint ihr könnt unter bestimmten Umständen nicht zocken,
dann müsst ihr das auch nicht. Niemand zwingt euch. Wir werden
jeden konstruktiven Vorschlag zur Kenntnis nehmen und bearbeiten.<br>

