<br />
<h2><center><u>Werbe einen Spieler</u></center></h2><br>                                  
<br>
Wir wollen dich belohnen wenn du einen Spieler auf den Server bringst. Deswegen haben wir eine Aktion bei der wir dich f&uuml;r einen neuen Spieler belohnen.<br><br> 
Und das geht so:<br><br>
Der neue Spieler gibt bei der <a href="http://portal.wow-alive.de/index.php?n=account&sub=fwfv">Werbe-Aktion</a> den Accountnamen vom Werber
an. Sobald er 24h Playtime auf seinem Account hat bekommt der Werber als Belohnung die ersten 300 Alive-Cash gutgeschrieben. Hat der geworbener Spieler 
mehr als 48h Playtime auf seinem Account werden zus&auml;tzliche 500 Alive-Cash gutgeschrieben. Dies entspricht fast einen Monat 2 mal t&auml;glich auf allen 
Voteseiten f&uuml;r den Server zu voten!<br>
<br><br><br>
<center><img src="http://portal.wow-alive.de/images/wotlk.png"><br><br><br>
<a href="http://portal.wow-alive.de/index.php?n=account&sub=fwfv">Werbe-Aktion Registrierung</a><br>
<a href="http://portal.wow-alive.de/index.php?n=account&sub=register">Normale Registrierung</a><br><br><br><br><br><br><br>

